<template>
    <div class="your_profile">
        <form v-if="$route.query.user=='agent' && !thumbsUp" @submit.prevent="getStartedProfileValidationAgent" data-vv-scope="get_started_profile_validation_agent" novalidate>
            <h2 style="font-weight: 600;">Basic Profile Information</h2>
            <div class="form-row">
                <div class="col-md-3 order-md-2 mb-3 bottom-class-profile-for-mobile">
                    <div class="form-group">
                        <div class="user-img">
                            <div class="ih-item circle effect1 ">
                                <a href="#">
                                    <div class="box">
                                        <input type="file" v-validate="'ext:jpeg,jpg,png,bmp'" @change="onImageChange($event)" data-vv-as="image" name="image" id="file-5" class="inputfile inputfile-4" />
                                        <label for="file-5">
                                            <figure>
                                                <img v-if="imageUploaded == false && (this.image == '' || this.image == null)" class="image-class img-fluid" src="../../assets/img/borker.png" alt="1"/>
                                                <img v-else class="image-class img-fluid" :src="image" alt="2" />
                                            </figure>
                                            <div class="info custom-image-style-form">
                                                <div class="info-back custom-image-style-form">
                                                    <h3> Choose <br /> Picture </h3>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <label v-if="!errors.has('get_started_profile_validation_agent.image')" for="file-5"><p>Add/Change Profile Picture</p></label>
                                    <i v-show="errors.has('get_started_profile_validation_agent.image')" class="fa fa-warning"></i>
                                    <span v-show="errors.has('get_started_profile_validation_agent.image')" :class="{ red: errors.has('get_started_profile_validation_agent.image') }" >{{ errors.first("get_started_profile_validation_agent.image") }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 order-md-1">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="first name" v-model="firstname" v-validate="'required|min:2'" :class="{ red: errors.has('get_started_profile_validation_agent.first name') }"/>
                                <label for="text" class="profile-label-changed" >First Name</label>
                                <i v-show="errors.has('get_started_profile_validation_agent.first name')" class="fa fa-warning"></i>
                                <span v-show="errors.has('get_started_profile_validation_agent.first name')" :class="{ red: errors.has('get_started_profile_validation_agent.first name') }" >{{ errors.first("get_started_profile_validation_agent.first name") }}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="last name" v-model="lastname" v-validate="'min:1'" :class="{ red: errors.has('get_started_profile_validation_agent.last name') }"/>
                                <label for="text" class="profile-label-changed">Last Name</label>
                                <i v-show="errors.has('get_started_profile_validation_agent.last name')" class="fa fa-warning"></i>
                                <span v-show="errors.has('get_started_profile_validation_agent.last name')" :class="{ red: errors.has('get_started_profile_validation_agent.last name') }" >{{ errors.first("get_started_profile_validation_agent.last name") }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">What type of Agent are you?</label>
                        <select class="form-control selectpicker" name="agent type" title="" ref="agentNameSelectPicker" v-model="agentName" v-validate="'required'"  :class="{ red: errors.has('get_started_profile_validation_agent.agent type') }">
                            <option value="1">Independent Agency- Producer</option>
                            <option value="2">Independent Agency Owner</option>
                            <option value="3">Captive Agency Producer</option>
                            <option value="4">Captive Agency Owner</option>
                            <option value="5">Other- Please describe</option>
                        </select>
                        <i v-show="errors.has('get_started_profile_validation_agent.agent type')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.agent type')" :class="{ red: errors.has('get_started_profile_validation_agent.agent type') }">{{ errors.first("get_started_profile_validation_agent.agent type") }}</span>
                    </div>
                    <div class="form-group" v-if="agentName == '5'">
                        <input type="text" name="other" v-model="otherAgent" class="form-control" v-validate="'required'" :class="{ red: errors.has('get_started_profile_validation_agent.other ') }"/>
                        <label for="text" class="profile-label-changed">Other - Please Describe</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.other ')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.other ')" :class="{ red: errors.has('get_started_profile_validation_agent.other ') }">{{ errors.first("get_started_profile_validation_agent.other") }}</span>
                    </div>
                    <div class="form-group">
                        <input type="text" v-model="agencyName" name="agency name" class="form-control" v-validate="'required|min:3'" :class="{ red: errors.has('get_started_profile_validation_agent.agency name') }"/>
                        <label for="text" class="profile-label-changed">Agency Name</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.agency name')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.agency name')" :class="{ red: errors.has('get_started_profile_validation_agent.agency name') }">{{ errors.first("get_started_profile_validation_agent.agency name") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="street 1" class="form-control" v-model="street1" v-validate="''" :class="{ red: errors.has('get_started_profile_validation_agent.street 1') }"/>
                        <label for="text" class="profile-label-changed">Street 1</label >
                        <i v-show="errors.has('get_started_profile_validation_agent.street 1')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.street 1')" :class="{ red: errors.has('get_started_profile_validation_agent.street 1') }">{{ errors.first("get_started_profile_validation_agent.street 1") }}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" name="street 2" class="form-control" v-model="street2" v-validate="'min:3'" :class="{ red: errors.has('get_started_profile_validation_agent.street 2') }"/>
                        <label for="text" class="profile-label-changed">Street 2</label >
                        <i v-show="errors.has('get_started_profile_validation_agent.street 2')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.street 2')" :class="{ red: errors.has('get_started_profile_validation_agent.street 2') }">{{ errors.first("get_started_profile_validation_agent.street 2") }}</span>
                    </div>
                </div>
                <div class="col-lg-1 col-1" style="display: flex;justify-content: center;padding: 15px 0px 0px 0px">
                    <p>#</p>
                </div>
                <div class="col-lg-4 col-md-4 col-10">
                    <div class="form-group">
                        <input type="text" v-model="suite" name="suite" class="form-control" v-validate="''" :class="{ red: errors.has('get_started_profile_validation_agent.suite') }"/>
                        <label for="text" class="profile-label-changed">Suite</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.suite')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.suite')" :class="{ red: errors.has('get_started_profile_validation_agent.suite') }">{{ errors.first("get_started_profile_validation_agent.suite") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" style="padding-bottom: 16px;" v-model="city"  name="city"  class="form-control" v-validate="'min:3'" :class="{ red: errors.has('get_started_profile_validation_agent.city') }"/>
                        <label for="text" class="profile-label-changed">City</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.city')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.city')" :class="{ red: errors.has('get_started_profile_validation_agent.city') }">{{ errors.first("get_started_profile_validation_agent.city") }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">State</label>
                        <select class=" form-control selectpicker" title="" name="address state" data-size="5" ref="addressStateSelectPicker" v-model="addressState" id="exampleFormControlSelect2" v-validate="''" :class="{ red: errors.has('get_started_profile_validation_agent.address state') }" >
                            <option :value="data.id" v-for="data in locationList" :key="data.id">{{ data.location_name }}</option>
                        </select>
                        <i v-show="errors.has('get_started_profile_validation_agent.address state')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.address state')" :class="{ red: errors.has('get_started_profile_validation_agent.address state') }">{{ errors.first("get_started_profile_validation_agent.address state") }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" style="padding-bottom: 16px;" maxLength="5" v-model="zip" name="zip" class="form-control" v-validate="{ max: 5, regex: /(^\d{5}$)|(^\d{5}-\d{4}$)/ }" :class="{ red: errors.has('get_started_profile_validation_agent.zip') }"/>
                        <label for="text" class="profile-label-changed">Zip</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.zip')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.zip')" :class="{ red: errors.has('get_started_profile_validation_agent.zip') }">{{ errors.first("get_started_profile_validation_agent.zip") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" v-model="phoneNumber" name="phone number" maxLength="10" v-phone-number-format class="form-control" v-validate="'required|length:10|numeric'" :class="{ red: errors.has('get_started_profile_validation_agent.phone number') }"/>
                      <label for="text" class="profile-label-changed">Phone Number</label>
                      <i v-show="errors.has('get_started_profile_validation_agent.phone number')" class="fa fa-warning"></i>
                      <span v-show="errors.has('get_started_profile_validation_agent.phone number')" :class="{ red: errors.has('get_started_profile_validation_agent.phone number') }">{{ errors.first("get_started_profile_validation_agent.phone number") }}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" v-model="agencyPhoneNumber" name="agency phone number" v-phone-number-format maxLength="10" class="form-control" v-validate="'length:10|numeric'" :class="{ red: errors.has('get_started_profile_validation_agent.agency phone number') }"/>
                        <label for="text" class="profile-label-changed">Agency Phone Number</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.agency phone number')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.agency phone number')" :class="{ red: errors.has('get_started_profile_validation_agent.agency phone number') }">{{ errors.first("get_started_profile_validation_agent.agency phone number") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">State(s) licensed (select multple if necessary)</label>
                        <select class=" form-control selectpicker" name="state licensed" data-size="5" title="" ref="stateLicencedSelectPicker" v-model="stateLicenced" id="exampleFormControlSelect4" v-validate="''" :class="{ red: errors.has('get_started_profile_validation_agent.state licensed') }" multiple>
                            <option :value="data.id" v-for="data in locationList" :key="data.id">{{ data.location_name }}</option>
                        </select>
                        <i v-show="errors.has('get_started_profile_validation_agent.state licensed')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.state licensed')" :class="{ red: errors.has('get_started_profile_validation_agent.state licensed') }">{{ errors.first("get_started_profile_validation_agent.state licensed") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="agent license" v-model="agentLicence" class="form-control" v-validate="''" :class="{ red: errors.has('get_started_profile_validation_agent.agent license') }"/>
                        <label for="text" class="profile-label-changed">Agent License #</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.agent license')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.agent license')" :class="{ red: errors.has('get_started_profile_validation_agent.agent license') }">{{ errors.first("get_started_profile_validation_agent.agent license") }}</span>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="form-group">
                        <input type="text" name="year licensed" class="form-control" v-numberOnly v-validate="'max:4|min_value:1800|numeric|max_value_custom'" v-model="yearLicenced" :class="{ red: errors.has('get_started_profile_validation_agent.year licensed') }" maxLength="4"/>
                        <label for="text" class="profile-label-changed">Year licensed</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.year licensed')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.year licensed')" :class="{ red: errors.has('get_started_profile_validation_agent.year licensed') }">{{ errors.first("get_started_profile_validation_agent.year licensed") }}</span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">Professional Designation Held (select multple if necessary)</label>
                        <select class=" form-control selectpicker" name="professional designation" data-size="5" title="" ref="professionalDesignationSelectPicker" v-model="professionDesign" id="exampleFormControlSelect3" v-validate="''" :class="{red: errors.has('get_started_profile_validation_agent.professional designation')}" multiple>
                            <option :value="data.id" v-for="data in professsionalDesignation" :key="data.id">{{ data.professional_designations }}</option>
                        </select>
                        <i v-show="errors.has('get_started_profile_validation_agent.professional designation')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.professional designation')" :class="{ red: errors.has('get_started_profile_validation_agent.professional designation')}">{{ errors.first("get_started_profile_validation_agent.professional designation") }}</span>
                    </div>
                    <div class="form-group" v-if="professionDesign.indexOf(17) > -1">
                        <input type="text" name="other professional designation" v-model="otherProfessionalDesignation" class="form-control" maxlength="5" v-validate="'min:4'" :class="{ red: errors.has('get_started_profile_validation_agent.other professional designation') }"/>
                        <label for="text" class="profile-label-changed">Other Professional Designation Held</label>
                        <i v-show="errors.has('get_started_profile_validation_agent.other professional designation')" class="fa fa-warning"></i>
                        <span v-show="errors.has('get_started_profile_validation_agent.other professional designation')" :class="{ red: errors.has('get_started_profile_validation_agent.other professional designation')}">{{ errors.first("get_started_profile_validation_agent.other professional designation") }}</span>
                    </div>
                </div>
            </div>
            <button type="submit" id="btn_set_profile" class="btn btn-primary">Finish</button>
        </form>
        <form v-if="$route.query.user=='broker' && !thumbsUp" @submit.prevent="getStartedProfileValidationBroker" data-vv-scope="get_started_profile_validation_broker" novalidate>
            <h2 style="font-weight: 600;">Basic Profile Information</h2>
                <!-- <div class="info-text" style="font-size: 18px;color: #607289; margin-bottom: 60px;">Personal Info</div> -->
                <div class="form-row">
                  <div class="col-md-3 order-md-2 mb-3 bottom-class-profile-for-mobile">
                    <div class="form-group">
                      <div class="user-img">
                        <div class="ih-item circle effect1 ">
                          <a href="#">
                            <div class="box">
                              <input
                                type="file"
                                v-validate="'ext:jpeg,jpg,png,bmp'"
                                @change="onImageChange($event)"
                                data-vv-as="image"
                                name="image"
                                id="file-5"
                                class="inputfile inputfile-4"
                              />
                              <label for="file-5">
                                <figure>
                                  <img
                                    v-if="imageUploaded == false && (this.image == '' || this.image == null)"
                                    class="image-class img-fluid"
                                    src="@/assets/img/borker.png"
                                    alt="1"
                                  />
                                  <img v-else class="image-class img-fluid" :src="image" alt="2" />
                                </figure>
                                <div class="info custom-image-style-form">
                                  <div class="info-back custom-image-style-form">
                                    <h3>
                                      Choose <br />
                                      Picture
                                    </h3>
                                  </div>
                                </div>
                              </label>
                            </div>
                            <label v-if="!errors.has('get_started_profile_validation_broker.image')" for="file-5"
                              ><p>Add/Change Profile Picture</p></label
                            >
                            <i v-show="errors.has('get_started_profile_validation_broker.image')" class="fa fa-warning"></i>
                            <span
                              v-show="errors.has('get_started_profile_validation_broker.image')"
                              :class="{ red: errors.has('get_started_profile_validation_broker.image') }"
                              >{{ errors.first("get_started_profile_validation_broker.image") }}</span
                            >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 order-md-1">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            name="first name"
                            v-model="firstname"
                            v-validate="'required|min:2'"
                            :class="{ red: errors.has('get_started_profile_validation_broker.first name') }"
                          />
                          <label
                            for="text"
                            class="profile-label-changed"
                            >First name</label
                          >
                          <i v-show="errors.has('get_started_profile_validation_broker.first name')" class="fa fa-warning"></i>
                          <span
                            v-show="errors.has('get_started_profile_validation_broker.first name')"
                            :class="{ red: errors.has('get_started_profile_validation_broker.first name') }"
                            >{{ errors.first("get_started_profile_validation_broker.first name") }}</span
                          >
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            name="last name"
                            v-model="lastname"
                            v-validate="'min:1'"
                            :class="{ red: errors.has('get_started_profile_validation_broker.last name') }"
                          />
                          <label
                            for="text"
                            class="profile-label-changed"
                            >Last name</label
                          >
                          <i v-show="errors.has('get_started_profile_validation_broker.last name')" class="fa fa-warning"></i>
                          <span
                            v-show="errors.has('get_started_profile_validation_broker.last name')"
                            :class="{ red: errors.has('get_started_profile_validation_broker.last name') }"
                            >{{ errors.first("get_started_profile_validation_broker.last name") }}</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">Brokerage Name</label>
                      <v-select
                        taggable
                        name="brokerage name"
                        :options="excludeBrokerageList"
                        v-model="brokerageName"
                        v-validate="''"
                        :class="{ red: errors.has('account_profile_validation_broker.brokerage name') }"
                        maxHeight="200px"
                      >
                      </v-select>
                      <i v-show="errors.has('account_profile_validation_broker.brokerage name')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('account_profile_validation_broker.brokerage name')"
                        :class="{ red: errors.has('account_profile_validation_broker.brokerage name') }"
                        >{{ errors.first("account_profile_validation_broker.brokerage name") }}</span
                      >
                    </div>
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">Company Name</label>
                      <v-select
                        taggable
                        name="company name"
                        v-model="companyName"
                        :options="excludeCompanyList"
                        v-validate="''"
                        :class="{ red: errors.has('account_profile_validation_broker.brokerage name') }"
                        maxHeight="200px"
                      >
                      </v-select>
                      <i v-show="errors.has('account_profile_validation_broker.brokerage name')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('account_profile_validation_broker.brokerage name')"
                        :class="{ red: errors.has('account_profile_validation_broker.brokerage name') }"
                        >{{ errors.first("account_profile_validation_broker.brokerage name") }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 col-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="street 1"
                        v-model="street1"
                        class="form-control"
                        v-validate="'min:3'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.street 1') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Street 1</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.street 1')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.street 1')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.street 1') }"
                        >{{ errors.first("get_started_profile_validation_broker.street 1") }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-3 col-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="street 2"
                        v-model="street2"
                        class="form-control"
                        v-validate="'min:3'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.street 2') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Street 2</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.street 2')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.street 2')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.street 2') }"
                        >{{ errors.first("get_started_profile_validation_broker.street 2") }}</span
                      >
                    </div>
                  </div>
                  <div class="col-lg-1 col-1" style="display: flex;justify-content: center;padding: 10px 0px 0px 0px;">
                    <p>#</p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-10">
                    <div class="form-group">
                      <input
                        type="text"
                        name="suite"
                        v-model="suite"
                        class="form-control"
                        v-validate="'min:3'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.name') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Suite</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.suite')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.suite')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.suite') }"
                        >{{ errors.first("get_started_profile_validation_broker.suite") }}</span
                      >
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="city"
                        v-model="city"
                        class="form-control"
                        v-validate="'min:3'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.city') }"
                      />
                      <label for="text" class="profile-label-changed"
                        >City</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.city')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.city')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.city') }"
                        >{{ errors.first("get_started_profile_validation_broker.city") }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="text" class="profile-label-changed">State</label>
                      <select
                        class=" form-control selectpicker"
                        name="state"
                        data-size="5"
                        title=""
                        ref="addressStateSelectPicker"
                        v-model="addressState"
                        id="exampleFormControlSelect6"
                        v-validate="''"
                        :class="{ red: errors.has('get_started_profile_validation_broker.state') }"
                      >
                        <option :value="data.id" v-for="data in locationList" :key="data.id">{{ data.location_name }}</option>
                      </select>
                      <i v-show="errors.has('get_started_profile_validation_broker.state')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.state')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.state') }"
                        >{{ errors.first("get_started_profile_validation_broker.state") }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input
                        type="text"
                        name="zip"
                        v-model="zip"
                        class="form-control"
                        maxlength="5"
                        v-validate="{ max: 5, regex: /(^\d{5}$)|(^\d{5}-\d{4}$)/ }"
                        :class="{ red: errors.has('get_started_profile_validation_broker.zip') }"
                      />
                      <label for="text" class="profile-label-changed"
                        >Zip</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.zip')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.zip')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.zip') }"
                        >{{ errors.first("get_started_profile_validation_broker.zip") }}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="website"
                        name="website"
                        class="form-control"
                        v-validate="{
                          regex: /^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/
                        }"
                        :class="{ red: errors.has('get_started_profile_validation_broker.website') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Website</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.website')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.website')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.website') }"
                        >{{ errors.first("get_started_profile_validation_broker.website") }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="brokerageSpeciality"
                        name="brokerage speciality"
                        class="form-control"
                        v-validate="'min:3'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.brokerage speciality') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Brokerage Speciality</label
                      >
                      <i
                        v-show="errors.has('get_started_profile_validation_broker.brokerage speciality')"
                        class="fa fa-warning"
                      ></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.brokerage speciality')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.brokerage speciality') }"
                        >{{ errors.first("get_started_profile_validation_broker.brokerage speciality") }}</span
                      >
                    </div>
                  </div>
                </div>
                <!-- <div class="form-row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="about"
                        name="about"
                        class="form-control"
                        v-validate="'min:10'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.about') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Tell something about you</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.about')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.about')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.about') }"
                        >{{ errors.first("get_started_profile_validation_broker.about") }}</span
                      >
                    </div>
                  </div>
                </div> -->
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="brokerPhoneNumber"
                        name="phone number"
                        v-phone-number-format
                        class="form-control"
                        maxlength="10"
                        v-validate="'required|length:10|numeric'"
                        :class="{ red: errors.has('get_started_profile_validation_broker.phone number') }"
                      />
                      <label
                        for="text"
                        class="profile-label-changed"
                        >Phone Number</label
                      >
                      <i v-show="errors.has('get_started_profile_validation_broker.phone number')" class="fa fa-warning"></i>
                      <span
                        v-show="errors.has('get_started_profile_validation_broker.phone number')"
                        :class="{ red: errors.has('get_started_profile_validation_broker.phone number') }"
                        >{{ errors.first("get_started_profile_validation_broker.phone number") }}</span
                      >
                    </div>
                  </div>
                </div>
                <button type="submit" id="btn_set_profile1" class="btn btn-primary">Finish</button>
        </form>
        <thumbs-up :step="2" v-if="thumbsUp && $route.query.user == 'agent'"/>
        <thumbs-up :step="1" v-if="thumbsUp && $route.query.user == 'broker'"/>
    </div>
</template>

<script>
import ThumbsUp from '@/components/NexaQuestionnaire/ThumbsUp'
import store from '@/store';
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import { bus } from '@/main';
import VeeValidate from "vee-validate";
VeeValidate.Validator.extend("max_value_custom", {
  getMessage: field => `The value must be less than current year.`,
  validate: value => {
    var d = new Date();
    var n = d.getFullYear();
    if (value > n) {
      return false;
    } else {
      return true;
    }
  }
});
export default {
    components:{
      ThumbsUp
    },
    data(){
        return{
            locationList: store.state.states,
            professsionalDesignation: store.state.professionalDesignations,
            imageUploaded: false,
            image: null,
            // firstname: '',
            // lastname: '',
            agentName: null,
            otherAgent: '',
            street1: '',
            street2: '',
            suite: '',
            agencyName: '',
            city: '',
            addressState: '',
            zip: '',
            agencyPhoneNumber: '',
            phoneNumber: '',
            stateLicenced: [],
            yearLicenced: '',
            agentLicence: '',
            otherProfessionalDesignation: '',
            professionDesign: [],
            brokerageName: [],
            companyName: [],
            website: '',
            brokerageSpeciality: '',
            about: '',
            brokerPhoneNumber: '',
            thumbsUp: false,
        }
    },
    mounted(){
      if (this.userDetails.progress_status == 1) {
            this.firstname = this.userDetails.first_name;
            this.lastname = this.userDetails.last_name;
            if (this.userDetails.profile_pic != null) {
                this.image = process.env.VUE_IMAGE_URL + this.userDetails.profile_pic;
            } else {
                this.image = this.userDetails.linkedin_pic;
            }
            bus.$emit('sideBarUp',0);
        } else if (this.userDetails.progress_status == 4 || this.userDetails.progress_status == 2) {
            this.firstname = this.userDetails.first_name;
            this.lastname = this.userDetails.last_name;
            // this.getProfileDetails();
            bus.$emit('sideBarUp',1);
            if (this.userDetails.profile_pic != null) {
                this.image = process.env.VUE_IMAGE_URL + this.userDetails.profile_pic;
            } else {
                this.image = this.userDetails.linkedin_pic;
            }
        } else if (this.userDetails.progress_status == 6 || this.userDetails.progress_status == 5) {
            this.firstname = this.userDetails.first_name;
            this.lastname = this.userDetails.last_name;
            // this.getProfileDetails();
            bus.$emit('sideBarUp',2);
            if (this.userDetails.profile_pic != null) {
                this.image = process.env.VUE_IMAGE_URL + this.userDetails.profile_pic;
            } else {
                this.image = this.userDetails.linkedin_pic;
            }
        }
      bus.$on('broker-login-success',()=>{
            if(this.userDetails.user_type==2){
                this.thumbsUp=false
            }
        })
      bus.$on('forceUpdate', ()=>{
        if (this.userDetails.profile_pic != null) {
            this.image = process.env.VUE_IMAGE_URL + this.userDetails.profile_pic;
        } else {
            this.image = this.userDetails.linkedin_pic;
        }
        this.$forceUpdate();
      })
      bus.$on('thumbsUpDeactivate',()=>{
            this.thumbsUp=false
        })
        $(this.$refs.agentNameSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.stateLicencedSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.addressStateSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.professionalDesignationSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.brokerageNameSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
    },
    updated(){
        $(this.$refs.agentNameSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.stateLicencedSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.addressStateSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.professionalDesignationSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
        $(this.$refs.brokerageNameSelectPicker).selectpicker({ refresh: true, dropupAuto: false });
    },
    computed:{
        userDetails() {
            return store.state.currentUserDetails;
        },
        excludeBrokerageList() {
            return store.state.brokerageList;
        },
        excludeCompanyList() {
            return store.state.companyList;
        },
        firstname:{
          get: function() {
            return this.userDetails.first_name!=null||this.userDetails.first_name!=''?this.userDetails.first_name:''
          },
          set: function(value) {
            var data = this.userDetails
            data.first_name = value
            store.commit('currentUserDetailsAdd',data)
          }
        },
        lastname:{
          get: function() {
            return this.userDetails.last_name!=null||this.userDetails.last_name!=''?this.userDetails.last_name:''
          },
          set: function(value) {
            var data = this.userDetails
            data.last_name = value
            store.commit('currentUserDetailsAdd',data)
          }
        }
    },
    methods:{
        getStartedProfileValidationAgent() {
        this.$validator.validateAll("get_started_profile_validation_agent").then(result => {
            if (result) {
            var data = {
                user_id: this.userDetails.user_id,
                user_type: this.userDetails.user_type,
                first_name: this.firstname,
                last_name: this.lastname,
                agent_type: { type: this.agentName, agent_type_others: this.otherAgent },
                agency_name: this.agencyName,
                linkedin_pic: this.userDetails.linkedin_pic,
                image: this.userDetails.profile_pic,
                street_1: this.street1,
                street_2: this.street2,
                suite: this.suite,
                address_state: this.addressState,
                city: this.city,
                zipcode: this.zip,
                phone_number: this.phoneNumber,
                license: this.agentLicence,
                fax: this.fax,
                state: this.stateLicenced,
                progress_status: 3,
                agency_phone_number: this.agencyPhoneNumber,
                year_of_license: this.yearLicenced,
                professional_designations: { designation_id: this.professionDesign, comment: this.otherProfessionalDesignation }
            };
            if (this.imageUploaded == true) {
                postMethods.imageDataSubmit(this.image2).then(res => {
                data.image = res;
                this.userDetails.profile_pic = res;
                this.userDetails.first_name = this.firstname;
                this.userDetails.last_name = this.lastname;
                store.commit("currentUserDetailsAdd", this.userDetails);
                postMethods.postProfile(data, this.userDetails.token).then(res => {
                    if (res.error == false) {
                    toastr.success(res.message);
                    getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
                    this.thumbsUp=true
                    } else {
                    toastr.error(res.message);
                    }
                });
                });
            } else {
                postMethods.postProfile(data, this.userDetails.token).then(res => {
                if (res.error == false) {
                    toastr.success(res.message);
                    getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
                    this.thumbsUp=true
                } else {
                    toastr.error(res.message);
                }
                });
            }
            } else {
            toastr.error("Missing Fields. Please see below and try again.");
            }
        });
        },
        getStartedProfileValidationBroker() {
          this.$validator.validateAll("get_started_profile_validation_broker").then(result => {
              if (result) {
              var data = {
                  user_id: this.userDetails.user_id,
                  first_name: this.firstname,
                  last_name: this.lastname,
                  progress_status: 2,
                  brokerage_name: this.brokerageName,
                  company_name: this.companyName,
                  about: this.about,
                  linkedin_pic: this.userDetails.linkedin_pic,
                  image: this.userDetails.profile_pic,
                  user_type: this.userDetails.user_type,
                  street_1: this.street1,
                  street_2: this.street2,
                  suite: this.suite,
                  address_state: this.addressState,
                  city: this.city,
                  zipcode: this.zip,
                  website: this.website,
                  phone_number: this.brokerPhoneNumber,
                  speciality: this.brokerageSpeciality
              };
              if (this.imageUploaded == true) {
                  postMethods.imageDataSubmit(this.image2).then(res => {
                  data.image = res;
                  this.userDetails.profile_pic = res;
                  this.userDetails.first_name = this.firstname;
                  this.userDetails.last_name = this.lastname;
                  store.commit("currentUserDetailsAdd", this.userDetails);
                  postMethods.postProfile(data, this.userDetails.token).then(res => {
                      if (res.error == false) {
                        getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
                      toastr.success(res.message);
                      store.dispatch("getBrokerageList");
                      store.dispatch("getCompanyList");
                      this.thumbsUp=true
                      } else {
                      toastr.error(res.message);
                      }
                  });
                  });
              } else {
                  postMethods.postProfile(data, this.userDetails.token).then(res => {
                  if (res.error == false) {
                    getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
                      toastr.success(res.message);
                      store.dispatch("getBrokerageList");
                      store.dispatch("getCompanyList");
                      this.thumbsUp=true
                  } else {
                      toastr.error(res.message);
                  }
                  });
              }
              } else {
              toastr.error("Missing Fields. Please see below and try again.");
              }
          });
        },
        onImageChange($event) {
        if ($event.target.files[0]) {
            this.image = $event.target.files[0];
            this.image2 = $event.target.files[0];
            if (this.image) {
            this.imageUploaded = true;
            } else {
            this.imageUploaded = false;
            }

            this.createImage(this.image);
        }
        },
        createImage(file) {
        var image = new Image();
        var reader = new FileReader();

        reader.onload = e => {
            this.image = e.target.result;
        };
        reader.readAsDataURL(file);
        },
    },
}
</script>

<style>
@import "../../assets/css/ihover.css";
.ih-item.circle {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.ih-item.circle.effect1 .info {
  top: 0px;
  bottom: 0;
  left: 15px;
  right: 0;
  background: #333333;
  background: #72acf09c;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
  color: #fff;
  text-transform: unset;
  position: relative;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0px 20px;
  padding: 34px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

select option[selected] {
  background-color: #4e97f1;
}
.nothing-selected{
    color: #c4ccd4 !important;
}
.v-select .dropdown-toggle {
    border-top: 1px solid rgb(255, 255, 255) !important;
    border-left: 1px solid rgb(255, 255, 255) !important;
    border-right: 1px solid rgb(255, 255, 255) !important;
    border-bottom: solid 1px #d8dfe4 !important;
}
</style>