<template>
	<div class="inside-questionnaire">
		<div v-if="userDetails.user_type==1">
			<div v-if="teamBuilding==1 || teamBuilding == 0">
				<h1>Build Your Team</h1>
				<h4
					class="pt-5"
				>Here we are going to invite all the wholesale brokers you currently work with, that can or have helped you write business.</h4>
				<h4>
					Include as many as you can think of, the more you have, the better chance you will be able to write this (and future) accounts.
					<span
						style="display: flex;font-size: small;justify-content: center;"
					>(Don't worry this information is completely private, nobody has access to your team other than you.)</span>
				</h4>
				<br />
				<h4 class="text-center">{{userDetails.first_name}}'s GLOBAL TEAM</h4>
				<br />
				<form
					class="pt-5"
					@submit.prevent="inviteCreateTeamValidationCheck"
					data-vv-scope="get_started_agent_create_team"
					novalidate
				>
					<div class="row">
						<div class="col-lg-5 col-5">
							<input type="text" class="form-control" v-model="invitationNameCreate[0]" placeholder="Name" />
							<span :class="{red:invitationnamecreateerror[0]}">{{invitationnamecreatemessage[0]}}</span>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[0]"
								placeholder="Email"
							/>
							<span :class="{red:invitationemailcreateerror[0]}">{{invitationemailcreatemessage[0]}}</span>
						</div>
						<div class="col-lg-1 col-1">
							<i
								@click="addCheckboxCreate()"
								class="fa fa-plus-square fa-2x"
								style="color:#0077b5;padding-top: 4px;cursor:pointer;"
								aria-hidden="true"
							></i>
						</div>
					</div>
					<div class="row" v-for="(value,i) in arrayValueCreate" :key="i">
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationNameCreate[i+1]"
								placeholder="Name"
							/>
							<span :class="{red:invitationnamecreateerror[i+1]}">{{invitationnamecreatemessage[i+1]}}</span>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[i+1]"
								placeholder="Email"
							/>
							<span :class="{red:invitationemailcreateerror[i+1]}">{{invitationemailcreatemessage[i+1]}}</span>
						</div>
						<div class="col-lg-1 col-1">
							<i
								@click="deleteCheckboxCreate(i+1)"
								class="fa fa-minus-square-o fa-2x"
								style="color:red;padding-top: 4px;cursor:pointer;"
								aria-hidden="true"
							></i>
						</div>
					</div>
					<div class="row" style="margin: 0 auto; display:flex;padding-top:5%;">
						<button
							type="submit"
							:disabled="buildButton"
							id="btn_create_team1"
							class="btn btn-primary"
							style="white-space: inherit;"
						>{{buildButtonValue}}</button>
						<!-- <div class="col-lg-6 col-6" style="display: flex;">
                    <button type="button" id="btn_create_team1skip"  class="btn btn-primary " @click="skipCreateTeam()">Skip</button> 		
						</div>-->
					</div>
				</form>
			</div>
			<div v-if="teamBuilding==2">
				<h1>Build Your Team</h1>
				<h5
					class="pt-3"
				>Great! Now your team will start to build. The more team members you have the more people you can choose to view this market search. So, lets now choose who will see this search</h5>
				<p
					class="pt-3"
				>Put a check in the box to the right if you want them to be able to view this submission when the created their account:</p>
				<br />
				<h4 class="text-center">{{userDetails.first_name}}'s GLOBAL TEAM</h4>
				<br />
				<form
					class="pt-5"
					@submit.prevent="sendInvites"
					data-vv-scope="get_started_agent_create_team"
					novalidate
				>
					<div class="row">
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationNameCreate[0]"
								placeholder="Name"
								readonly
							/>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[0]"
								placeholder="Email"
								readonly
							/>
						</div>
						<div class="col-lg-1 col-1">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:id="'invitationCheckbox'+0"
										class="custom-control-input"
										:value="primaryKeySelected[0]"
										v-model="invitationCheckBox"
									/>
									<label :for="'invitationCheckbox'+0" class="custom-control-label"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row" v-for="(value,i) in arrayValueCreate" :key="i">
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationNameCreate[i+1]"
								placeholder="Name"
								readonly
							/>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[i+1]"
								placeholder="Email"
								readonly
							/>
						</div>
						<div class="col-lg-1 col-1">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:id="'invitationCheckbox'+(i+1)"
										class="custom-control-input"
										:value="primaryKeySelected[i+1]"
										v-model="invitationCheckBox"
									/>
									<label :for="'invitationCheckbox'+(i+1)" class="custom-control-label"></label>
								</div>
							</div>
						</div>
					</div>
					<h5>As your team begins to join, you can begin to communicate with them inside messaging center</h5>
					<h5>Lets take a look at messaging center now...</h5>
					<div class="row" style="margin: 0 auto; display:flex;padding-top:5%;">
						<button
							type="submit"
							:disabled="buildButton2"
							id="btn_create_team1"
							class="btn btn-primary"
						>{{buildButtonValue2}}</button>
						<!-- <div class="col-lg-6 col-6" style="display: flex;">
                    <button type="button" id="btn_create_team1skip"  class="btn btn-primary " @click="skipCreateTeam()">Skip</button> 		
						</div>-->
					</div>
				</form>
			</div>
		</div>
		<div v-if="userDetails.user_type==2">
			<div v-if="teamBuilding==1 && brokerClick==0">
				<h1 class="mb-5 text-center">Welcome {{userDetails.first_name}}!</h1>
				<h4
					class="mb-3"
				>Nexa gives you two powerful (and simple) ways to help YOU write more business each year.</h4>
				<h4 class="mb-3">First, Nexa is going to help you get more submissions from your current Agents.</h4>
				<h4
					class="mb-3"
				>Second, Nexa can help you grow your network of Agents, so you can get more submissions from Agents you’ve never worked with.</h4>
				<div class="row mt-5">
					<button type="submit" @click="changeBrokerView()" class="btn btn-primary" :disabled="brokerFirstButtonDisabled">{{brokerFirstButtonvalue}}</button>
				</div>
			</div>
			<div v-if="teamBuilding==1 && brokerClick==1">
				<h1 class="mb-5 text-center">Welcome {{userDetails.first_name}}!</h1>
				<h4 class="mb-3">First, we need to build your Global Team.</h4>
				<h4 class="mb-3">Your Global Team is all the Agents you work with currently.</h4>
				<h4
					class="mb-3"
				>To start we recommend adding your top 10-15 Agents (you can add more later- and don't worry your Global Team is only visible to you).</h4>
				<br />
				<h4 class="text-center">{{userDetails.first_name}}'s GLOBAL TEAM</h4>
				<br />
				<form
					class="pt-5"
					@submit.prevent="inviteCreateTeamValidationCheck"
					data-vv-scope="get_started_agent_create_team"
					novalidate
				>
					<div class="row">
						<div class="col-lg-5 col-5">
							<input type="text" class="form-control" v-model="invitationNameCreate[0]" placeholder="Name" />
							<span :class="{red:invitationnamecreateerror[0]}">{{invitationnamecreatemessage[0]}}</span>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[0]"
								placeholder="Email"
							/>
							<span :class="{red:invitationemailcreateerror[0]}">{{invitationemailcreatemessage[0]}}</span>
						</div>
						<div class="col-lg-1 col-1">
							<i
								@click="addCheckboxCreate()"
								class="fa fa-plus-square fa-2x"
								style="color:#0077b5;padding-top: 4px;cursor:pointer;"
								aria-hidden="true"
							></i>
						</div>
					</div>
					<div class="row" v-for="(value,i) in arrayValueCreate" :key="i">
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationNameCreate[i+1]"
								placeholder="Name"
							/>
							<span :class="{red:invitationnamecreateerror[i+1]}">{{invitationnamecreatemessage[i+1]}}</span>
						</div>
						<div class="col-lg-5 col-5">
							<input
								type="text"
								class="form-control"
								v-model="invitationEmailCreate[i+1]"
								placeholder="Email"
							/>
							<span :class="{red:invitationemailcreateerror[i+1]}">{{invitationemailcreatemessage[i+1]}}</span>
						</div>
						<div class="col-lg-1 col-1">
							<i
								@click="deleteCheckboxCreate(i+1)"
								class="fa fa-minus-square-o fa-2x"
								style="color:red;padding-top: 4px;cursor:pointer;"
								aria-hidden="true"
							></i>
						</div>
					</div>
					<div class="row" style="margin: 0 auto; display:flex;padding-top:5%;">
						<button
							type="submit"
							:disabled="buildButton"
							id="btn_create_team1"
							class="btn btn-primary"
							style="white-space: inherit;"
						>{{buildButtonValue}}</button>
						<!-- <div class="col-lg-6 col-6" style="display: flex;">
                    <button type="button" id="btn_create_team1skip"  class="btn btn-primary " @click="skipCreateTeam()">Skip</button> 		
						</div>-->
					</div>
				</form>
				<!-- <div class="row mt-5">
					<button type="submit" @click="teamBuilding=1" class="btn btn-primary">Build My Team!</button>
				</div> -->
			</div>
		</div>
	</div>
</template>

<script>
function isBelowThreshold(currentValue) {
	return currentValue == false;
}
import VeeValidate from "vee-validate";
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import store from "@/store";
import router from "@/router";
import { bus } from "@/main";
export default {
	data() {
		return {
			invitationNameCreate: [],
			invitationemailcreateerror: [],
			invitationemailcreatemessage: [],
			invitationnamecreateerror: [],
			invitationnamecreatemessage: [],
			invitationEmailCreate: [],
			invitationCheckBox: [],
			arrayValueCreate: 0,
			buildButtonValue: "Add Team Members & Send Invitations to Nexa",
			buildButton: false,
			buildButtonValue2: "Next",
			buildButton2: false,
			teamBuilding: 1,
			brokerClick: 0,
			primaryKeySelected: [],
			brokerFirstButtonDisabled: false,
			brokerFirstButtonvalue: 'Next'
		};
	},
	watch: {
		invitationNameCreate(newval, oldval) {
			for (var i = 0; i < newval.length; i++) {
				if (newval[i]) {
					this.invitationnamecreateerror[i] = false;
					this.invitationnamecreatemessage[i] = "";
				} else {
					this.invitationnamecreateerror[i] = true;
					this.invitationnamecreatemessage[i] = "Required";
				}
			}
		},
		invitationEmailCreate(newval, oldval) {
			for (var i = 0; i < newval.length; i++) {
				if (newval[i] && this.validEmail(newval[i])) {
					this.invitationemailcreateerror[i] = false;
					this.invitationemailcreatemessage[i] = "";
					// this.emailCheck(newval[i],i)
				} else {
					if (!this.validEmail(newval[i])) {
						this.invitationemailcreateerror[i] = true;
						this.invitationemailcreatemessage[i] =
							"Needs a valid email";
					} else {
						this.invitationemailcreateerror[i] = false;
						this.invitationemailcreatemessage[i] = "";
					}
				}
			}
		}
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		if (this.userDetails.user_type == 2) {
			this.teamBuilding = 1;
			this.buildButtonValue2 = "Next";
		}
		
		bus.$on("forceUpdate", () => {
			this.$forceUpdate();
		});
	},
	methods: {
		
		emailCheckStatus(email) {
			var resp = null;
			getMethods
				.UserTypeCheckStatus({
					user_type: this.userDetails.user_type,
					email_address: email
				})
				.then(res => {
					resp = res;
				});
			return resp;
		},
		emailCheck(email, j) {
			getMethods
				.UserTypeCheck({
					user_type: this.userDetails.user_type,
					email_address: email
				})
				.then(res => {
					if (res.body.error == false) {
						this.invitationemailcreateerror[j] = false;
						this.invitationemailcreatemessage[j] = "";
					} else {
						this.invitationemailcreateerror[j] = true;
						this.invitationemailcreatemessage[j] = res.body.message;
					}
				});
		},
		validEmail(email) {
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		},
		addCheckboxCreate() {
			this.arrayValueCreate = this.arrayValueCreate + 1;
		},
		deleteCheckboxCreate(i) {
			this.arrayValueCreate = this.arrayValueCreate - 1;
			this.invitationEmailCreate.splice(i, 1);
			this.invitationNameCreate.splice(i, 1);
			this.invitationemailcreateerror.splice(i, 1);
			this.invitationemailcreatemessage.splice(i, 1);
			this.invitationnamecreateerror.splice(i, 1);
			this.invitationnamecreatemessage.splice(i, 1);
		},
		changeBrokerView() {
			this.brokerFirstButtonvalue = "Loading..."
			this.brokerFirstButtonDisabled = true
			var data = {
					name: this.invitationNameCreate,
					email: this.invitationEmailCreate,
					user_id: this.userDetails.user_id,
					user_type: this.userDetails.user_type,
					progress_status: 3,
					flag: 1,
				};
				postMethods
					.postProfile(data, this.userDetails.token)
					.then(res => {
						if (res.error == false) {
							this.brokerClick=1
							this.brokerFirstButtonvalue = "Next";
							this.brokerFirstButtonDisabled = false
							getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
						} else {
							this.brokerFirstButtonvalue = "Next";
							this.brokerFirstButtonDisabled = false
							toastr.error(res.message);
						}
					})
					.catch((res)=>{
						this.brokerFirstButtonvalue = "Next";
						this.brokerFirstButtonDisabled = false
						toastr.error(res.message);
					});
		},
		sendInvites() {
			this.buildButtonValue2 = "Loading...";
			this.buildButton2 = true;
			if (this.userDetails.user_type == 1) {
				var data = {
					name: this.invitationNameCreate,
					email: this.invitationEmailCreate,
					user_id: this.userDetails.user_id,
					user_type: this.userDetails.user_type,
					progress_status: 5,
					flag: 1,
					direct_send: this.invitationCheckBox
				};
				postMethods
					.postProfile(data, this.userDetails.token)
					.then(res => {
						if (res.error == false) {
							this.buildButtonValue2 = "Next";
							this.buildButton2 = false;
							getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
							toastr.success(res.message);
							localStorage.removeItem("agentData");
							router.push({
								name: "agentdashboardintro",
								query: { route: "direct" }
							});
							
						} else {
							this.buildButtonValue2 = "Next";
							this.buildButton2 = false;
							toastr.error(res.message);
						}
					})
					.catch((res)=>{
						this.buildButtonValue2 = "Next";
						this.buildButton2 = false;
						toastr.error(res.message);
					});
			} else {
				this.buildButtonValue2 = "Next";
				this.buildButton2 = false;
				bus.$emit("sideBarUp", 2);
			}
		},
		inviteCreateTeamValidationCheck() {
			if (this.arrayValueCreate > 0) {
				if (
					this.invitationEmailCreate.length - 1 !=
						this.arrayValueCreate &&
					this.invitationNameCreate.length - 1 !=
						this.arrayValueCreate
				) {
					for (var i = 0; i < this.arrayValueCreate; i++) {
						if (
							!this.invitationNameCreate[i] &&
							!this.invitationEmailCreate[i]
						) {
							this.invitationEmailCreate.splice(i, 1);
							this.invitationNameCreate.splice(i, 1);
							this.invitationemailcreateerror.splice(i, 1);
							this.invitationemailcreatemessage.splice(i, 1);
							this.invitationnamecreateerror.splice(i, 1);
							this.invitationnamecreatemessage.splice(i, 1);
						}
					}
					this.arrayValueCreate =
						this.invitationEmailCreate.length ==
						this.invitationNameCreate.length
							? this.invitationNameCreate.length - 1
							: this.invitationEmailCreate.length >
							  this.invitationNameCreate.length
							? this.invitationEmailCreate.length - 1
							: this.invitationNameCreate.length;
				}
			}
			if (
				this.invitationemailcreateerror.every(isBelowThreshold) &&
				this.invitationemailcreatemessage.every(isBelowThreshold)
			) {
				var data = {
					name: this.invitationNameCreate,
					email: this.invitationEmailCreate,
					user_id: this.userDetails.user_id,
					user_type: this.userDetails.user_type,
					progress_status: 4,
					flag: 1
				};
				this.buildButtonValue = "Loading...";
				this.buildButton = true;
				postMethods
					.postProfile(data, this.userDetails.token)
					.then(res => {
						if (res.error == false) {
							if(this.userDetails.user_type == 2){
								bus.$emit("sideBarUp", 3);
							}else{
								this.primaryKeySelected = res.data;
								this.teamBuilding = 2;
							}
							this.buildButtonValue = "Add Team Members & Send Invitations to Nexa";
							this.buildButton = false;
							getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token);
							
						} else {
							this.buildButtonValue = "Add Team Members & Send Invitations to Nexa";
							this.buildButton = false;
							toastr.error(res.message);
						}
					})
					.catch((res)=>{
						this.buildButtonValue = "Add Team Members & Send Invitations to Nexa";
						this.buildButton = false;
					});
			} else {
				this.buildButtonValue = "Add Team Members & Send Invitations to Nexa";
				this.buildButton = false;
				toastr.error("Some mandatory fields are missing");
			}
		}
	}
};
</script>

<style>
</style>
