<template>
	<div class="margin-top-questionnaire">
		<div class="row inside-questionnaire" v-if="!filterValue">
			<h1 class="text-center pb-3">Build a Filter</h1>
			<h4>Now we're going to build your first filter. Filters help you keep constantly on the look out for submissions from specific classes of business whether it's from your existing teams or the open market.</h4>
			<h4>In other words, you're going to get highly targeted leads coming from agents in your network and agents outside of your network.</h4>
			<!-- <h4>
				If you would like to use this feature,
				<a @click="filterValue=true" id="text">Click here</a>
			</h4>
			<h4>Otherwise you will only be able to view submissions from your existing team members, which is great too!</h4>
			<h4>
				If you’d like to see submissions from only your existing team,
				<a
					@click="dashboard()"
					href="#"
				>Click here</a>
			</h4>-->
			<div class="col-lg-6 col-12">
				<button
					type="button"
					data-qid="0"
					@click="dashboard()"
					data-direction="down"
					class="mt-5 btn btn-primary basic-ques-btn-questionnaire"
				>Skip for now</button>
			</div>
			<div class="col-lg-6 col-12">
				<button
					type="button"
					data-qid="0"
					@click="filterValue=true"
					data-direction="down"
					class="mt-5 btn btn-primary basic-ques-btn-questionnaire"
				>Next</button>
			</div>
		</div>

		<div v-if="filterValue">
			<div
				id="first-basic-ques"
				class="basic-ques basic-question slider-wrap-ques text-center inside-questionnaire"
				v-show="ques_no==0"
				:class="{'active':ques_no==0}"
			>
				<h1 class="mb-5">Build a Filter</h1>
				<h5 class="mb-5">Now we are going to build the first filter. Lets name this first</h5>
				<input
					type="text"
					id="marketSearch"
					style="display: flex;justify-content:center;margin:0 auto;"
					class="form-control"
					v-model="marketSearch"
					placeholder="ABC ENTERPRISE LLC"
				/>
				<button
					type="button"
					data-qid="0"
					@click="updateQuesNo()"
					:disabled="marketSearch==null || marketSearch == ''"
					id="btn-first-ques"
					data-direction="down"
					class="mt-5 btn btn-primary basic-ques-btn-questionnaire"
				>Ok, let's do it</button>
			</div>
			<div
				id="basic-ques-0"
				class="basic-ques basic-question"
				v-show="ques_no==1"
				:class="{'active':ques_no==1}"
			>
				<h2 class="pb-5">Great now please select what industry would you like to give for your filter</h2>
				<div class="input-group" style="display: -webkit-inline-box;width: 100%;">
					<autocomplete
						anchor="value"
						label="writer"
						:onSelect="getData"
						:url="InterestListDataUrl"
						placeholder="Let’s find more business! What industry would you like to target?"
						:classes="{ wrapper: 'input-group', input: 'autocomplete-test', list: 'autocomplete-items-for-nexa', item: 'autocomplete-items-for-nexa' }"
						:on-select="getData"
					></autocomplete>
					<div class="input-group-append">
						<button
							class="btn btn-primary button-front-height"
							style="display: inline-block;line-height: 15px;text-align: center;"
							@click="formQuestion(0),updateQuesNo(),updateGlobalQuesNo()"
							type="button"
							:disabled="disabledButton"
							id="btn-first-ques"
							data-direction="down"
						>Get Started</button>
					</div>
				</div>
			</div>
			<div
				id="basic-ques-1"
				class="basic-ques basic-question"
				v-show="ques_no==2"
				:class="{'active':ques_no==2}"
			>
				<div class="form-group">
					<h2 class="all-counting-steps">
						<span class="number">1.</span>
						<span>What State(s) would you like to target for this industry type?</span>
					</h2>
					<div class="form-group multipal-states">
						<label for="exampleFormControlTextarea1">
							Please indicate which states
							<span class="color-chng">(Select Multple if Necessary)</span>
						</label>
						<v-select
							multiple
							v-model="operateMultipleState"
							placeholder="Texas, Pennsylvania"
							:options="options"
							maxHeight="155px"
						></v-select>
						<span :class="{red:opererror}">{{opermessage}}</span>
					</div>
					<button
						type="button"
						id="btn-ques-1"
						@click="formQuestion(1),updateQuesNo(),updateGlobalQuesNo()"
						:disabled="operateMultipleState.length==0"
						data-direction="down"
						class="btn btn-primary basic-ques-btn-broker-questionnaire"
					>Next</button>
				</div>
			</div>
			<div
				id="basic-ques-1"
				class="basic-ques basic-question"
				v-show="ques_no==3"
				:class="{'active':ques_no==3}"
			>
				<div class="form-group">
					<h2 class="all-counting-steps">
						<span class="number">2.</span>
						<span>Would you like to exclude any state(s) on this filter?</span>
					</h2>
					<div class="form-group states">
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio8123"
								value="1"
								v-model="exclude_state"
								name="customRadio1234"
								class="custom-control-input"
								checked="checked"
							/>
							<label class="custom-control-label" for="customRadio8123">Yes</label>
						</div>
						<div class="form-group custom-control statesslider" v-if="exclude_state=='1'">
							<div class="heading">
								You can select multiple states to exclude
								<span
									class="color-chng"
								>(Select Multple if Necessary)</span>
							</div>
							<select
								class="form-control selectpicker"
								data-size="4"
								title="State(s) Licenced"
								ref="brokerStateSelectPicker"
								v-model="accountLocation"
								id="exampleFormControlSelect1"
								multiple
							>
								<option
									:value="data.id"
									v-for="(data) in locationList"
									:key="data.id"
								>{{ data.location_name }}</option>
							</select>
						</div>
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio12333"
								value="0"
								v-model="exclude_state"
								name="customRadio1234"
								class="custom-control-input"
							/>
							<label class="custom-control-label" for="customRadio12333">No</label>
						</div>
					</div>
					<button
						type="button"
						data-qid="1"
						id="btn-ques-1"
						@click="formQuestion(2),updateQuesNo(),updateGlobalQuesNo()"
						:disabled="exclude_state==null"
						data-direction="down"
						class="btn btn-primary basic-ques-btn-broker-questionnaire"
					>Next</button>
				</div>
			</div>
			<div
				id="basic-ques-2"
				class="basic-ques basic-question"
				v-show="ques_no==4"
				:class="{'active':ques_no==4}"
			>
				<div class="form-group">
					<h2 class="all-counting-steps">
						<span class="number">3.</span>
						<span>Would you like to target coastal exposures?</span>
					</h2>
					<div class="radio-box">
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio124"
								value="1"
								v-model="coastalExposure"
								name="customRadio124"
								class="custom-control-input"
								checked="checked"
							/>
							<label class="custom-control-label" for="customRadio124">Yes</label>
						</div>
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio2123"
								value="2"
								v-model="coastalExposure"
								name="customRadio124"
								class="custom-control-input"
							/>
							<label class="custom-control-label" for="customRadio2123">No</label>
						</div>
					</div>
				</div>
				<button
					type="button"
					id="btn-ques-2"
					@click="formQuestion(3),updateQuesNo(),updateGlobalQuesNo()"
					:disabled="coastalExposure==null"
					data-direction="down"
					class="btn btn-primary basic-ques-btn-broker-questionnaire"
				>Next</button>
			</div>

			<div
				id="basic-ques-3"
				class="basic-ques basic-question"
				v-show="ques_no==5"
				:class="{'active':ques_no==5}"
			>
				<div class="form-group">
					<h2 class="all-counting-steps">
						<span class="number">4.</span>
						<span>Which lines of coverage would you like to target?</span>
					</h2>
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="1"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck1"
									/>
									<label class="custom-control-label" for="customCheck1">General Liability</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="4"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck2"
									/>
									<label class="custom-control-label" for="customCheck2">Property</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="8"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck3"
									/>
									<label class="custom-control-label" for="customCheck3">Auto</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="10"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck4"
									/>
									<label class="custom-control-label" for="customCheck4">Worker's Comp</label>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="2"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck5"
									/>
									<label class="custom-control-label" for="customCheck5">Professional/E&O</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="5"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck6"
									/>
									<label class="custom-control-label" for="customCheck6">Umbrella</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="9"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck7"
									/>
									<label class="custom-control-label" for="customCheck7">Crime</label>
								</div>
								<div class="custom-control custom-checkbox">
									<input
										type="checkbox"
										:value="11"
										class="custom-control-input"
										v-model="line_coverage"
										id="customCheck8"
									/>
									<label class="custom-control-label" for="customCheck8">EPL/D&O</label>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="form-group">
								<div class="form-group">
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											:value="3"
											class="custom-control-input"
											v-model="line_coverage"
											id="customCheck9"
										/>
										<label class="custom-control-label" for="customCheck9">Cyber</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											:value="6"
											class="custom-control-input"
											v-model="line_coverage"
											id="customCheck10"
										/>
										<label class="custom-control-label" for="customCheck10">Liquor</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input
											type="checkbox"
											:value="7"
											class="custom-control-input"
											v-model="line_coverage"
											id="customCheck11"
										/>
										<label class="custom-control-label other" for="customCheck11">
											<input type="text" class="form-control other" v-model="otherData" placeholder="Other" />
											<span :class="{red:othererror}">{{othermessage}}</span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button
						type="button"
						id="btn-ques-3"
						@click="formQuestion(4),updateQuesNo(),updateGlobalQuesNo()"
						:disabled="(line_coverage.length==0)||disabledButton"
						data-direction="down"
						class="btn btn-primary basic-ques-btn-broker-questionnaire"
					>Next</button>
				</div>
			</div>

			<div
				id="basic-ques-4"
				class="basic-ques basic-question"
				v-show="ques_no==6"
				:class="{'active':ques_no==6}"
			>
				<div class="form-group">
					<h2 class="all-counting-steps">
						<span class="number">5.</span>
						<span>Would you like to set minimum annual sales?</span>
					</h2>
					<div class="heading">
						Please note:
						<span
							class="color-chng"
						>higher the minimum the fewer opportunities you will receive</span>
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							id="customRadio81231"
							value="1"
							v-model="annualCost"
							name="customRadio125"
							class="custom-control-input"
							checked="checked"
						/>
						<label class="custom-control-label" for="customRadio81231">Yes</label>
					</div>
					<div class="form-group custom-control statesslider" v-if="annualCost=='1'">
						<div class="heading">What is your minimum?</div>
						<div class="form-group">
							<input
								type="text"
								id="annualCostss"
								v-model="value_sale"
								class="form-control"
								placeholder="$6,500,000"
							/>
							<span :class="{red:annualerror}">{{annualmessage}}</span>
						</div>
						<!-- <div class="row">
							<div class="col-lg-10 col-md-10 col-xs-10 col-10">
								<vue-slider ref="slider_1" v-model="value_sale"  v-bind="options_sale" ></vue-slider>
							</div>
						</div>-->
						<!-- <input type="range" id="slider2"  name="slider" class="custom-control-input"> -->
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							id="customRadio91231"
							value="0"
							v-model="annualCost"
							name="customRadio125"
							class="custom-control-input"
						/>
						<label class="custom-control-label" for="customRadio91231">No</label>
					</div>
				</div>
				<button
					type="button"
					id="btn-ques-4"
					@click="formQuestion(5),updateQuesNo(),updateGlobalQuesNo()"
					:disabled="annualCost==null"
					data-direction="down"
					class="btn btn-primary basic-ques-btn-broker-questionnaire"
				>Next</button>
			</div>

			<div
				id="basic-ques-5"
				class="basic-ques basic-question"
				v-show="ques_no==7"
				:class="{'active':ques_no==7}"
			>
				<h2 class="all-counting-steps">
					<span class="number">6.</span>
					<span>Would you like to set minimum annual payroll?</span>
				</h2>
				<div class="heading">
					Please note:
					<span
						class="color-chng"
					>higher the minimum the fewer opportunities you will receive</span>
				</div>
				<div class="form-group">
					<div class="custom-control custom-radio">
						<input
							type="radio"
							id="customRadio31231"
							value="1"
							v-model="annualPayroll"
							name="customRadio126"
							class="custom-control-input"
							checked="checked"
						/>
						<label class="custom-control-label" for="customRadio31231">Yes</label>
					</div>
					<div class="form-group custom-control statesslider" v-if="annualPayroll=='1'">
						<div class="heading">What is your minimum?</div>
						<div class="form-group">
							<input
								type="text"
								id="annualPayrollss"
								class="form-control"
								v-model="value_payroll"
								placeholder="$2,800,000"
							/>
							<span :class="{red:annualperror}">{{annualpmessage}}</span>
						</div>
						<!-- <div class="row">
							<div class="col-lg-10 col-md-10 col-xs-10 col-10">
								<vue-slider ref="slider_2" v-model="value_payroll" v-bind="options_payroll"></vue-slider>
							</div>
						</div>-->
						<!-- <input type="range" id="slider2"  name="slider" class="custom-control-input"> -->
					</div>
					<div class="custom-control custom-radio">
						<input
							type="radio"
							id="customRadio41231"
							value="0"
							v-model="annualPayroll"
							name="customRadio126"
							class="custom-control-input"
						/>
						<label class="custom-control-label" for="customRadio41231">No</label>
					</div>
				</div>
				<button
					type="button"
					id="btn-ques-5"
					@click="formQuestion(6),updateQuesNo(),updateGlobalQuesNo()"
					:disabled="annualPayroll==null"
					data-direction="down"
					class="btn btn-primary basic-ques-btn-broker-questionnaire"
				>Next</button>
			</div>

			<div
				id="basic-ques-6"
				class="basic-ques basic-question"
				v-show="ques_no==8"
				:class="{'active':ques_no==8}"
			>
				<h2 class="all-counting-steps">
					<span class="number">7.</span>
					<span>Include Rush Request?</span>
				</h2>
				<div
					class="heading"
				>We encourage you to include rush requests. They may create immediate opportunities to write new business and forge new relatonships with agents.</div>
				<div class="form-group">
					<div class="radio-box">
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio53453"
								name="customRadio127"
								value="1"
								v-model="rushRequests"
								class="custom-control-input"
								checked="checked"
							/>
							<label class="custom-control-label" for="customRadio53453">Yes</label>
						</div>
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio63453"
								name="customRadio127"
								value="0"
								v-model="rushRequests"
								class="custom-control-input"
							/>
							<label class="custom-control-label" for="customRadio63453">No</label>
						</div>
					</div>
				</div>
				<button
					type="button"
					id="btn-ques-6"
					@click="formQuestion(7),updateQuesNo(),updateGlobalQuesNo()"
					:disabled="rushRequests==null"
					data-direction="down"
					class="btn btn-primary basic-ques-btn-broker-questionnaire"
				>Next</button>
			</div>

			<div
				id="basic-ques-7"
				class="basic-ques basic-question"
				v-show="ques_no==9"
				:class="{'active':ques_no==9}"
			>
				<h2 class="all-counting-steps">
					<span class="number">8.</span>
					<span>Would you like to target new ventures?</span>
				</h2>
				<div class="form-group">
					<div class="radio-box">
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio133453"
								name="customRadio128"
								value="1"
								v-model="newVenture"
								class="custom-control-input"
								checked="checked"
							/>
							<label class="custom-control-label" for="customRadio133453">Yes</label>
						</div>
						<div class="custom-control custom-radio">
							<input
								type="radio"
								id="customRadio143453"
								name="customRadio128"
								value="0"
								v-model="newVenture"
								class="custom-control-input"
							/>
							<label class="custom-control-label" for="customRadio143453">No</label>
						</div>
					</div>
				</div>
				<button
					type="button"
					id="btn-ques-8"
					@click="formQuestion(8),updateQuesNo(),updateGlobalQuesNo()"
					:disabled="newVenture==null"
					data-direction="down"
					class="btn btn-primary basic-ques-btn-broker-questionnaire"
				>Next</button>
			</div>
		</div>
	</div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import Autocomplete from "vue-autocomplete-updated";
require("vue-autocomplete-updated/dist/style/vue2-autocomplete.css");
import { brokerQuestionnaireMixin } from "@/services/mixins/brokerQuestionnaireMixin.js";
import store from "@/store";
import { bus } from "@/main";
import router from "@/router";

export default {
	components: {
		DatePicker,
		Autocomplete
	},
	data() {
		return {
			InterestListDataUrl:
				process.env.VUE_BACKEND_URL + "interest-autocomplete",
			locationList: store.state.states,
			marketSearch: null,
			agentIntrest: null,
			operateMultipleState: [],
			opererror: false,
			opermessage: "",
			exclude_state: null,
			accountLocation: [],
			coastalExposure: null,
			line_coverage: [],
			othererror: false,
			othermessage: "",
			otherData: null,
			annualCost: null,
			value_sale: numeral(1000000).format("$ 0,0[.]00"),
			annualerror: false,
			annualmessage: "",
			annualPayroll: null,
			value_payroll: numeral(1000000).format("$ 0,0[.]00"),
			annualperror: false,
			annualpmessage: null,
			rushRequests: null,
			newVenture: null,
			disabledButton: false,
			primaryInterest: 0,
			filterValue: false
		};
	},
	computed: {
		ques_no() {
			return store.state.ques_no;
		},
		globalQuestionNo() {
			return store.state.globalQuestionNo;
		},
		options() {
			return store.state.location_names;
		},
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		store.commit("updateQuesNo", 0);
		store.commit("updateGlobalQuesNo", 0);
		$(this.$refs.brokerStateSelectPicker).selectpicker({ refresh: true });
	},
	updated() {
		$(this.$refs.brokerStateSelectPicker).selectpicker({ refresh: true });
	},
	mixins: [brokerQuestionnaireMixin],
	methods: {
		updateQuesNo() {
			if (this.ques_no != 9) {
				store.commit("updateQuesNo", this.ques_no + 1);
			}
		},
		getData(obj) {
			console.log("obj", obj);
			this.agentIntrest = obj.interests;
			this.primaryInterest = obj.id;
			localStorage.setItem(
				"brokerData",
				JSON.stringify({ primary_interest: this.agentIntrest })
			);
		},
		updateGlobalQuesNo() {
			if (this.ques_no != 9 && this.globalQuestionNo <= this.ques_no) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo + 1);
			}
		},
		dashboard() {
			var brokerData = {
					name: this.invitationNameCreate,
					email: this.invitationEmailCreate,
					user_id: this.userDetails.user_id,
					user_type: this.userDetails.user_type,
					progress_status: 5,
					flag: 0
				};
			postMethods
				.postProfile(brokerData, this.userDetails.token)
					.then(res => {
						if (res.error != true) {
							console.log("inside")
							localStorage.removeItem("brokerData");
							console.log("inside")
							getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token).then((res)=>{
								console.log("getDetails",res)
								router.push({
									name: "brokerdashboardintro",
									query: { route: "direct" }
								});
							});
							console.log("inside")
						} else {
							toastr.error(res.message);
						}
					})
					.catch(res => {
						toastr.error(res);
					});
		},
		formQuestion(no) {
			if (no == 0) {
				var data = JSON.parse(localStorage.brokerData);
				var brokerData = {
					user_type: 2,
					user_id: this.userDetails.user_id,
					custom_name: this.marketSearch,
					interest: {
						primary_interest: data.primary_interest,
						secondary_interest: []
					}
				};
				localStorage.removeItem("brokerData");
				localStorage.setItem("brokerData", JSON.stringify(brokerData));
			}
			if (no == 1) {
				var brokerData = JSON.parse(localStorage.brokerData);
				var arr = [];
				if (this.operateMultipleState.length != 0) {
					for (var i = 0; i < this.operateMultipleState.length; i++) {
						for (var j = 0; j < this.locationList.length; j++) {
							if (
								this.operateMultipleState[i] ==
								this.locationList[j].location_name
							) {
								arr.push(this.locationList[j].id);
							}
						}
					}
					brokerData.location = arr;
				}
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 2) {
				if (this.exclude_state == "1") {
					var data = {
						key: this.exclude_state,
						value: this.accountLocation
					};
				} else {
					var data = { key: this.exclude_state, value: null };
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.state = data;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 3) {
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.coastal_exposure = this.coastalExposure;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 4) {
				var arr = [];
				var comment = null;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.line_coverage.length != 0) {
					for (var i = 0; i < this.line_coverage.length; i++) {
						if (this.line_coverage[i] == 7) {
							comment = this.otherData;
						}
						arr.push({
							line_coverage_id: this.line_coverage[i],
							comments: comment
						});
						comment = null;
					}
				}
				brokerData.lines_coverages = arr;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 5) {
				var datas;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.annualCost == "1") {
					if (this.value_sale != null) {
						datas = numeral(this.value_sale).value();
					}
					brokerData.minimum_annual_sale = { min: 0, max: datas };
				} else {
					brokerData.minimum_annual_sale = { min: null, max: null };
				}
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 6) {
				var datas;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.annualPayroll == "1") {
					if (this.value_payroll != null) {
						datas = numeral(this.value_payroll).value();
					}
					brokerData.minimum_annual_payroll = { min: 0, max: datas };
				} else {
					brokerData.minimum_annual_payroll = {
						min: null,
						max: null
					};
				}
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 7) {
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.rush_request = this.rushRequests;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 8) {
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.target_new_venture = this.newVenture;
				brokerData.flag = 1;
				brokerData.user_id = this.userDetails.user_id;
				brokerData.user_type = this.userDetails.user_type;
				localStorage.brokerData = JSON.stringify(brokerData);
				brokerData.progress_status = 5;
				brokerData.flag = 1;
				localStorage.brokerData = JSON.stringify(brokerData);
				postMethods
					.postProfile(brokerData, this.userDetails.token)
						.then(res => {
							if (res.error != true) {
								localStorage.removeItem("brokerData");
								getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token).then((res)=>{
									router.push({
										name: "brokerdashboardintro",
										query: { route: "direct" }
									});
								});
								
							} else {
								toastr.error(res.message);
							}
						})
						.catch(res => {
							toastr.error(res);
						});
			}
		}
	}
};
</script>

<style>
.autocomplete-items-for-nexa {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	width: 100%;
	top: 90% !important;
	left: 0;
	right: 0;
}
a#text:not([href]):not([tabindex]) {
	color: #2e95f1;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover:not([href]) {
	color: #0056b3;
	text-decoration: underline;
}
</style>

<style scoped>
.autocomplete-test {
	width: 43vw !important;
}
</style>
