<template>
    <div class="margin-top-questionnaire">
        <div id="first-basic-ques" class="basic-ques basic-question slider-wrap-ques text-center inside-questionnaire" v-show="ques_no==0" :class="{'active':ques_no==0, 'edit-class': edit}">
            <h1 class="mb-5">Market Search</h1>
            <h5 class="mb-5">Let's build your first market search. What do you want to call it?<span style="display: flex;font-size: small;justify-content: center;"> (We recommend using your insured name- don’t worry it’s only visible to you)</span></h5>
            
            <input type="text" id="marketSearch" style="display: flex;justify-content:center;margin:0 auto;" class="form-control" v-model="marketSearch" placeholder="ABC ENTERPRISE LLC">
            <button type="button" data-qid="0" @click="updateQuesNo(),formQuestion(0)" :disabled="marketSearch==null || marketSearch == ''" id="btn-first-ques" data-direction="down" class="mt-5 btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <!-- <div id="basic-ques-0" class="basic-ques basic-question" v-show="ques_no==1" :class="{'active':ques_no==1}">
            <h2 class="pb-5">Great now please select what industry would you like to give for your market search</h2>
            <div class="input-group" style="display: -webkit-inline-box;width: 84%;">
                <autocomplete
                anchor="value"
                label="writer"
                :onSelect="getData"
                :url="InterestListDataUrl"
                placeholder="Let’s build your market search!  What industry or NAICS code?"
                :classes="{ wrapper: 'input-group', input: 'autocomplete-test', list: 'autocomplete-items-for-nexa', item: 'autocomplete-items-for-nexa' }"
                :on-select="getData">
                </autocomplete>
                <div class="input-group-append">
                    <button class="btn btn-primary basic-ques-btn-agent-dashboard button-front-height" style="display: inline-block;line-height: 15px;text-align: center;" @click="formQuestion(0),updateQuesNo()" type="button" :disabled="disabledButton"  id="btn-first-ques" data-direction="down">Get Started</button>
                </div>
            </div>
        </div> -->
        <div id="basic-ques-1" class="basic-ques basic-question" v-show="ques_no==1" :class="{'active':ques_no==1, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">1.</span><span> What is the primary location for your risk?</span></h2>
                <div class="form-group states">
                    <select class=" form-control selectpicker" data-live-search="true" data-size="5" title="Primary State" ref="primaryLocationSelectpicker" v-model="accountLocation" id="exampleFormControlSelect1">
                        <option :value="data.id" v-for="(data) in locationList" :key="data.id">{{ data.location_name }}</option>
                    </select>
                </div>
                <button type="button" data-qid="1" id="btn-ques-1" @click="formQuestion(1),updateQuesNo(),updateGlobalQuesNo()" :disabled="accountLocation.length==0" data-direction="down" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>
        <div id="basic-ques-2" class="basic-ques basic-question" v-show="ques_no==2" :class="{'active':ques_no==2, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">2.</span> <span>Does insured operate in multiple <br>states?</span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="customRadio" value="1" v-model="multipleOperates" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio3">Yes</label>
                    </div>
                    <div class="form-group multipal-states" v-if="multipleOperates=='1'" >
                        <label for="exampleFormControlTextarea1">Please indicate which states <span class="color-chng">(Select Multple if Necessary)</span></label>
                        <v-select multiple v-model="operateMultipleState" placeholder="Texas, Pennsylvania" :options="options" maxHeight="200px" style="width:250px;"></v-select>
                        <span :class="{red:opererror && operateMultipleState.length}">{{opermessage}}</span>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio4" value="0" v-model="multipleOperates" name="customRadio" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio4">No</label>
                    </div>
                </div>
                <button type="button" data-qid="2" id="btn-ques-2"  @click="formQuestion(2),updateQuesNo(),updateGlobalQuesNo()" :disabled="multipleOperates==null||disabledButton" data-direction="down" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>
        <div id="basic-ques-3" class="basic-ques basic-question" v-show="ques_no==3" :class="{'active':ques_no==3, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">3.</span> <span>Is there coastal exposure associated with this risk?</span></h2>
                <div class="radio-box" >
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" value="1" v-model="coastalExposure" name="customRadio1" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio1">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" value="0" v-model="coastalExposure" name="customRadio1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="3" id="btn-ques-3"  @click="formQuestion(3),updateQuesNo(),updateGlobalQuesNo()" :disabled="coastalExposure==null" data-direction="down" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-4" class="basic-ques basic-question" v-show="ques_no==4" :class="{'active':ques_no==4, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">4.</span> <span>Lines of coverage requested </span></h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="1" v-model="line_coverage" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">General Liability</label>
                            </div>
                            <div class="custom-control custom-checkbox request-box">
                                <input type="checkbox" :value="4" v-model="line_coverage"  class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Property</label>
                                <div class="heading">Total Insured Value</div>
                                <input type="text" id="propertyEstimatess"  class="form-control" v-model="propertyEstimate" placeholder="$3,500,000">
                                <span :class="{red:properror}">{{propmessage}}</span>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="8" v-model="line_coverage"  class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Auto</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="10" v-model="line_coverage" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Worker's Comp</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="2" v-model="line_coverage"  class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">Professional/E&O</label>
                            </div>
                            <div class="custom-control custom-checkbox request-box">
                                <input type="checkbox" :value="5" v-model="line_coverage"  class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">Umbrella</label>
                                <div class="heading">Please indicate umbrella limit requested</div>
                                <input type="text" id="umbrellaLimitss" class="form-control" v-model="umbrellaLimit" placeholder="$5,000,000">
                                <span :class="{red:umbrerror}">{{umbrmessage}}</span>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="9" v-model="line_coverage" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">Crime</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="11" v-model="line_coverage" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8">EPL/D&O</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="3" v-model="line_coverage" class="custom-control-input" id="customCheck9">
                                <label class="custom-control-label" for="customCheck9">Cyber</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="6" v-model="line_coverage" class="custom-control-input" id="customCheck10">
                                <label class="custom-control-label" for="customCheck10">Liquor</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="7" v-model="line_coverage" class="custom-control-input " id="customCheck11">
                                <label class="custom-control-label other" for="customCheck11">
                                    <input type="text" class="form-control" v-model="otherData" placeholder="Other">
                                    <span :class="{red:othererror}">{{othermessage}}</span>
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-qid="4" id="btn-ques-4" data-direction="down" @click="formQuestion(4),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire" :disabled="(line_coverage.length==0)||disabledButton">Next</button>
            </div>
        </div>
        <div id="basic-ques-5" class="basic-ques basic-question" v-show="ques_no==5" :class="{'active':ques_no==5, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">5.</span> <span>Estimated total annual sales? </span></h2>
            <div class="form-group">
                <input type="text" id="annualCostss" v-model="annualCost" class="form-control" placeholder="$6,500,000">
                <span :class="{red:annualerror}">{{annualmessage}}</span>	
            </div>
            <button type="button" data-qid="5" id="btn-ques-5" data-direction="down" @click="formQuestion(5),updateQuesNo(),updateGlobalQuesNo()" :disabled="annualCost.length==0" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>

        <div id="basic-ques-6" class="basic-ques basic-question" v-show="ques_no==6" :class="{'active':ques_no==6, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">6.</span> <span>Total annual payroll? </span></h2>
            <div class="form-group">
                <input type="text" id="annualPayrollss" class="form-control" v-model="annualPayroll" placeholder="$2,800,000">
                <span :class="{red:annualperror}">{{annualpmessage}}</span>
            </div>
            <button type="button" data-qid="6" id="btn-ques-6" data-direction="down" @click="formQuestion(6),updateQuesNo(),updateGlobalQuesNo()" :disabled="annualPayroll.length==0" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>

        <div id="basic-ques-7" class="basic-ques basic-question" v-show="ques_no==7" :class="{'active':ques_no==7, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">7.</span> <span>Are you the Agent of record on the account?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio13" value="1" v-model="recordAccount" name="customRadio13" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio13">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio14" value="0" v-model="recordAccount" name="customRadio13" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio14">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="7" id="btn-ques-7" data-direction="down" :disabled="recordAccount==null" @click="formQuestion(7),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-8" class="basic-ques basic-question" v-show="ques_no==8" :class="{'active':ques_no==8, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">8.</span> <span>When is the Renewal Date?</span></h2>
            <div class="form-group">
                <date-picker format="MM-DD-YYYY"  v-model="renewalData" lang="en" value-type="format"></date-picker>
            </div>
            <button type="button" data-qid="8" id="btn-ques-8" data-direction="down" :disabled="renewalData==null" @click="formQuestion(8),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>

        <div id="basic-ques-9" class="basic-ques basic-question" v-show="ques_no==9" :class="{'active':ques_no==9, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">9.</span> <span>Is this a new venture?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio15" value="1" name="customRadio6" v-model="newVenture" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio15">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio16" value="0" name="customRadio6" v-model="newVenture" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio16">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="9" id="btn-ques-9" data-direction="down" :disabled="newVenture==null" @click="formQuestion(9),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-10" class="basic-ques basic-question" v-show="ques_no==10" :class="{'active':ques_no==10, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">10.</span> <span>Do you have completed Acord applications? </span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio19" value="1" name="customRadio5" v-model="accordApplications" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio19">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio20" value="0" name="customRadio5" v-model="accordApplications" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio20">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="10" id="btn-ques-10" data-direction="down" :disabled="accordApplications==null" @click="formQuestion(10),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-11" class="basic-ques basic-question" v-show="ques_no==11" :class="{'active':ques_no==11, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">11.</span> <span>Do you have completed supplemental applications?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio17" value="1" name="customRadio7" v-model="supplementalApplications" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio17">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio18" value="0" name="customRadio7" v-model="supplementalApplications" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio18">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="11" id="btn-ques-11" data-direction="down" :disabled="supplementalApplications==null" @click="formQuestion(11),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-12" class="basic-ques basic-question" v-show="ques_no==12" :class="{'active':ques_no==12, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">12.</span> <span>Do you have loss runs?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio21" value="1" name="customRadio8" v-model="lossRuns" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio21">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio22" value="0" name="customRadio8" v-model="lossRuns" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio22">No</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio23" value="2" name="customRadio8" v-model="lossRuns"  class="custom-control-input">
                        <label class="custom-control-label" for="customRadio23">In Process/Ordered</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="12" id="btn-ques-12" :disabled="lossRuns==null" data-direction="down" @click="formQuestion(12),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-13" class="basic-ques basic-question" v-show="ques_no==13" :class="{'active':ques_no==13, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">13.</span> <span>Have you submitted this to any other Brokers? </span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio24448" value="1" name="customRadio10332" v-model="otherBrokerSubmitted" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio24448">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio25447" value="0" name="customRadio10322" v-model="otherBrokerSubmitted" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio25447">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="13" id="btn-ques-13" :disabled="otherBrokerSubmitted==null" data-direction="down" @click="formQuestion(13),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-14" class="basic-ques basic-question" v-show="ques_no==14" :class="{'active':ques_no==14, 'edit-class': edit}">
            <h2 class="all-counting-steps"><span class="number">14.</span> <span>Do you have a market list?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio26" value="1" name="customRadio11" v-model="marketList" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio26">Yes</label>
                    </div>
                    </div>
                    <div v-if="marketList=='1'" class="row padding-row" >
                        <label>Attaching market list is highly recommended. If you dont have one, please be prepared to share which markets this has been submitted to.</label>
                        <input type="file" name="file" id="file-uploads"  accept="application/pdf, application/vnd.ms-excel" @change="onfileChage($event)"/>
                    </div>
                    <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio27" value="0" name="customRadio11" v-model="marketList" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio27">No</label>
                    </div>
                </div>
                
            </div>
            <button type="button" data-qid="14" id="btn-ques-14" :disabled="marketList==null||disabledButton" data-direction="down" @click="formQuestion(14),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
        </div>
        <div id="basic-ques-15" class="basic-ques basic-question" v-show="ques_no==15" :class="{'active':ques_no==15, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">15.</span><span> Please provide key information to the brokers of how they can best help you.</span></h2>
                <div class="form-group">
                    <textarea class="form-control" id="" rows="4" v-model="keyInformations" placeholder="Example: Insured has claims issues, multi-state exposures, state specific challenges, special language, etc."></textarea>
                    <span :class="{red:keyinfoerror}">{{keyinfomessage}}</span>
                </div>
                <button type="button" data-qid="15" id="btn-ques-15" :disabled="keyInformations.length==0" data-direction="down" @click="formQuestion(15),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>
        <div id="basic-ques-16" class="basic-ques basic-question" v-show="ques_no==16" :class="{'active':ques_no==16, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">16.</span> <span>Is this a rush request? </span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio30" value="1" name="customRadio1576" v-model="rushRequests" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio30">Yes</label>
                        <div  v-if="rushRequests=='1'" class="form-group multipal-states" style="display:grid;">
                            <label for="exampleFormControlTextarea1">When is coverage needed?</label>
                            <date-picker format="MM-DD-YYYY"  v-model="coverageDate" value-type="format" :not-before="new Date()" lang="en"></date-picker>
                            <span :class="{red:coverageerror}">{{coveragemessage}}</span>
                        </div>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio31" value="0" name="customRadio1576" v-model="rushRequests" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio31">No</label>
                    </div>
                </div>
                <button type="button" data-qid="16" id="btn-ques-16" data-direction="down" :disabled="rushRequests==null||disabledButton" @click="formQuestion(16),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>

        <div id="basic-ques-17" class="basic-ques basic-question" v-show="ques_no==17" :class="{'active':ques_no==17, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">17.</span> <span>Do you have a target premium?</span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="targetPremiumRadioButtonYesQuestionnaire" value="1" v-model="targetPremium" name="customRadio1666" class="custom-control-input" checked="checked">
                        <label class="custom-control-label"  for="targetPremiumRadioButtonYesQuestionnaire">Yes</label>
                        <div v-if="targetPremium=='1'" class="form-group multipal-states">
                            <label for="exampleFormControlTextarea1">When is coverage needed?</label>
                            <input type="text" id="premiumTargetss" v-model="premiumTarget" class="form-control" placeholder="$45,000">
                            <span :class="{red:premerror}">{{premmessage}}</span>
                        </div>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="targetPremiumRadioButtonNoQuestionnaire" value="0" v-model="targetPremium" name="customRadio1666" class="custom-control-input">
                        <label class="custom-control-label" for="targetPremiumRadioButtonNoQuestionnaire">No</label>
                    </div>
                </div>
                <button type="button" data-qid="17" id="btn-ques-17" :disabled="targetPremium==null||disabledButton" data-direction="down" @click="formQuestion(17),updateQuesNo(),updateGlobalQuesNo()" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>
        <div id="basic-ques-17" class="basic-ques basic-question" v-show="ques_no==18" :class="{'active':ques_no==18, 'edit-class': edit}">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">18.</span> <span>Do you need to forward this market search to Open Market?</span><i class="fa fa-question question-tooltip" v-tooltip="'An open market search will send your search to brokers that have indicated they target this type of business.This is open to ALL brokers that would like to target this class of business and or policy type. Would you like to turn this into an open market search?'" aria-hidden="true"></i></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3211111" value="4" v-model="brokerRespond" name="customRadio1665" class="custom-control-input" checked="checked">
                        <label class="custom-control-label"  for="customRadio3211111">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3311111" value="0" v-model="brokerRespond" name="customRadio1665" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio3311111">No</label>
                    </div>
                </div>
                <button type="button" data-qid="17" id="btn-ques-17" :disabled="brokerRespond==null||disabledButton" data-direction="down" @click="formQuestion(18)" class="btn btn-primary basic-ques-btn-questionnaire">Next</button>
            </div>
        </div>
        <thumbs-up :step="1" v-if="ques_no==19 && !edit && !createInDashboard" />
    </div>
</template>

<script>
import ThumbsUp from '@/components/NexaQuestionnaire/ThumbsUp'
import DatePicker from 'vue2-datepicker';
import postMethods from '@/services/api/postMethods.js'
import getMethods from '@/services/api/getMethods.js'
import Autocomplete from 'vue-autocomplete-updated';
 require("vue-autocomplete-updated/dist/style/vue2-autocomplete.css");
import {agentQuestionnaireMixin} from '@/services/mixins/agentQuestionnaireMixin.js';
import store from '@/store';
import { bus } from '@/main';

export default {
    components:{
        DatePicker,
        Autocomplete,
        ThumbsUp
    },
    data(){
        return{
            InterestListDataUrl:process.env.VUE_BACKEND_URL+'interest-autocomplete',
            accountLocation: '',
            locationList: store.state.states,
            multipleOperates: null,
            operateMultipleState: [],
            disabledButton: false,
            opererror: false,
            opermessage: '',
            coastalExposure: null,
            line_coverage: [],
            otherData: null,
            othererror: false,
            othermessage: '',
            umbrellaLimit: null,
            umbrerror: false,
            umbrmessage: '',
            propertyEstimate: null,
            properror: false,
            propmessage: '',
            annualCost: '',
            annualerror: false,
            annualmessage: '',
            annualPayroll: '',
            annualpmessage: '',
            annualperror: false,
            recordAccount: null,
            renewalData: null,
            newVenture: null,
            accordApplications: null,
            supplementalApplications: null,
            lossRuns: null,
            otherBrokerSubmitted: null,
            marketList: null,
            // file:null,
            // file2:null,
            keyInformations: '',
            keyinfoerror: false,
            keyinfomessage: '',
            rushRequests: null,
            coverageDate: null,
            coverageerror: false,
            coveragemessage: '',
            targetPremium: null,
            premiumTarget: null,
            premmessage: '',
            premerror: false,
            agentIntrest: null,
            marketSearch: null,
            file: null,
            file2: null,
            brokerRespond: null,
        }
    },
    props: {
		edit: {
			type: Boolean,
			required: false,
			default: false
        },
        data: {
            type: Object,
            required: false
        },
        createInDashboard: {
            type: Boolean,
            required: false,
            default: false
        }
	},
    computed:{
        ques_no(){
            return store.state.ques_no;
        },
        globalQuestionNo(){
            return store.state.globalQuestionNo;
        },
        options(){
			return store.state.location_names
        },
        userDetails(){
            return store.state.currentUserDetails
		},
    },
    mounted(){
        store.commit('updateQuesNo',0);
        store.commit('updateGlobalQuesNo',0);
        $(this.$refs.primaryLocationSelectpicker).selectpicker({refresh:true})
        bus.$on('forceUpdate', ()=>{
            this.$forceUpdate();
        })
        if(this.edit){
            localStorage.removeItem("agentData");
			var agentData = {
				user_type: 1,
				location: this.data[0].location_id,
				interest: this.data[0].interest,
                question_id: this.data[0].id,
                custom_name:this.data[0].custom_name
            };
            this.marketSearch = this.data[0].custom_name
			this.agent_question_id_for_update = agentData.question_id;
			this.accountLocation = this.data[0].location_id;
			this.$nextTick(function() {
				$(document)
					.find("#exampleFormControlSelect1")
					.selectpicker("refresh");
				$(this.$refs.primaryLocationSelectpicker).selectpicker({
					refresh: true,
					dropupAuto: false
				});
			});
			if (this.data.states.length > 0) {
				this.multipleOperates = "1";
				this.operateMultipleState = this.data.states;
				agentData.operate_in_multiple_state = this.data.states;
			} else {
				this.multipleOperates = "0";
				this.operateMultipleState = null;
				agentData.operate_in_multiple_state = null;
			}

			this.coastalExposure = this.data[0].coastal_exposure;
			if (this.coastalExposure == "1") {
				agentData.coastal_exposure = 1;
			} else {
				agentData.coastal_exposure = 0;
			}
			this.line_coverage = this.data["line_coverages"];
			if (this.line_coverage.indexOf(4) > -1) {
				var ind = this.line_coverage.indexOf(4);
				this.propertyEstimate = this.data["comments"][ind];
			}
			if (this.line_coverage.indexOf(5) > -1) {
				var ind = this.line_coverage.indexOf(5);
				this.umbrellaLimit = this.data["comments"][ind];
			}
			if (this.line_coverage.indexOf(7) > -1) {
				var ind = this.line_coverage.indexOf(7);
				this.otherData = this.data["comments"][ind];
			}
			var arr = [];
			var comment = null;
			if (this.line_coverage.length != 0) {
				for (var i = 0; i < this.line_coverage.length; i++) {
					if (this.line_coverage[i] == 4) {
						comment = this.propertyEstimate;
					} else if (this.line_coverage[i] == 5) {
						comment = this.umbrellaLimit;
					} else if (this.line_coverage[i] == 7) {
						comment = this.otherData;
					}
					arr.push({
						line_coverage_id: this.line_coverage[i],
						comments: comment
					});
					comment = null;
				}
			}
			agentData.lines_coverages = arr;
			this.annualCost = this.data[0].total_annual_sale;
			agentData.total_annual_sale = this.data[0].total_annual_sale;
			this.annualPayroll = this.data[0].total_annual_payroll;
			agentData.total_annual_payroll = this.data[0].total_annual_payroll;
			this.recordAccount = this.data[0].agent_of_record_on_account;
			agentData.agent_of_record_on_account =
				this.data[0].agent_of_record_on_account;
			this.renewalData = this.data[0].renewal_date;
			agentData.renewal_date = this.renewalData;
			this.newVenture = this.data[0].new_venture;
			agentData.new_venture = this.data[0].new_venture;
			this.accordApplications = this.data[0].completed_acord_application;
			agentData.completed_acord_application =
				this.data[0].completed_acord_application;
			this.supplementalApplications =
				this.data[0].completed_supplemental_applications;
			agentData.completed_supplemental_applications =
				this.data[0].completed_supplemental_applications;
			this.lossRuns = this.data[0].run_loss;
			agentData.run_loss = this.data[0].run_loss;
			this.otherBrokerSubmitted = this.data[0].submitted_to_other_brokers;
			agentData.submitted_to_other_brokers =
				this.data[0].submitted_to_other_brokers;
			if (this.data[0].market_list == null) {
				this.marketList = "0";
				agentData.market_list = this.data[0].market_list;
			} else {
				this.marketList = "1";
				agentData.market_list = this.data[0].market_list;
				this.file = this.data[0].market_list;
			}
			this.keyInformations = this.data[0].key_informations;
			agentData.key_informations = this.data[0].key_informations;
			this.selected_question_id = this.data[0].id;
			if (this.data[0].rush_request != null) {
				this.rushRequests = "1";
				this.coverageDate = this.data[0].rush_request;
			} else {
				this.rushRequests = "0";
			}
			agentData.rush_request = this.coverageDate;
			if (this.data[0].target_premium != null) {
				this.targetPremium = "1";
				this.premiumTarget = this.data[0].target_premium;
			} else {
				this.targetPremium = "0";
			}
			agentData.target_premium = this.premiumTarget;

			this.brokerRespond = this.data[0].response_brokers;
			this.invitationCheckBox = this.data.include_list;
			var data = { type: this.data[0].response_brokers, brokers_id: null };
			agentData.response_brokers = data;
            localStorage.agentData = JSON.stringify(agentData);
        }
    },
    updated(){
        $(this.$refs.primaryLocationSelectpicker).selectpicker({refresh:true})
    },
    mixins:[agentQuestionnaireMixin],
    methods:{
        updateQuesNo(){
            if(this.ques_no!=19){
                store.commit('updateQuesNo',this.ques_no+1)
            }
        },
        getData(obj){
            // this.disabledButton=false
			// this.withCode=obj.value
            // this.interest_id = obj.id
            // this.buttonDisabled = false
            this.agentIntrest=obj.interests
            localStorage.setItem('agentData',JSON.stringify({interest:this.agentIntrest}))
        },
        updateGlobalQuesNo(){
            if(this.ques_no!=19 && this.globalQuestionNo <= this.ques_no){
                store.commit('updateGlobalQuesNo',this.globalQuestionNo+1)
            }
        },
        onfileChage($event){
            var value;
            if ($event.target.files[0]) {
                value = $event.target
		        this.file = $event.target.files[0]
                this.file2 = $event.target.files[0]
            }else{
                $event.target = value
            }
		},
        formQuestion(no){
            var datas
            if(no==0){
                var data = JSON.parse(localStorage.agentData)
                var agentData = {
                    user_type:1,
                    interest:data.interest,
                    custom_name:this.marketSearch
                }
                localStorage.removeItem('agentData')
                localStorage.setItem('agentData',JSON.stringify(agentData));
            }else if(no==1){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.location = this.accountLocation
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==2){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.multipleOperates=='0'){
                    agentData.operate_in_multiple_state = null
                }else if(this.multipleOperates=='1'){
                    var arr = []
                    console.log(this.operateMultipleState)
                    agentData.operate_in_multiple_state = this.operateMultipleState
                }
                localStorage.agentData = JSON.stringify(agentData)
            }else if(no==3){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.coastalExposure=='1'){
                    agentData.coastal_exposure = 1
                }else{
                    agentData.coastal_exposure = 0
                }
                
                localStorage.agentData = JSON.stringify(agentData)
            }else if(no==4){
                var arr=[]
                var comment = null
                var agentData=JSON.parse(localStorage.agentData)
                if(this.line_coverage.length!=0){
                    for(var i=0;i<this.line_coverage.length;i++){
                        if(this.line_coverage[i]==4){
                            if(this.propertyEstimate!=null){
                               datas = numeral(this.umbrellaLimit).value()
                            }
                            comment=datas
                        }else if(this.line_coverage[i]==5){
                            if(this.umbrellaLimit!=null){
								datas = numeral(this.umbrellaLimit).value()
								
                            }
                            comment=datas
                        }else if(this.line_coverage[i]==7){
                            comment=this.otherData
                        }
                        arr.push({'line_coverage_id':this.line_coverage[i],'comments':comment})
                        comment = null
                    }
                }
                agentData.lines_coverages = arr
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no == 5){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.annualCost!=null){
                    datas = numeral(this.annualCost).value()
                }
                agentData.total_annual_sale  = datas
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==6){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.annualPayroll!=null){
                    datas =  numeral(this.annualPayroll).value()
                }
                agentData.total_annual_payroll   = datas
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==7){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.agent_of_record_on_account    = this.recordAccount
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==8){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.renewal_date    = this.renewalData
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==9){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.new_venture	    = this.newVenture 
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==10){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.completed_acord_application   = this.accordApplications
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==11){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.completed_supplemental_applications    = this.supplementalApplications
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==12){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.run_loss    = this.lossRuns
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==13){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.submitted_to_other_brokers    = this.otherBrokerSubmitted
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==14){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.marketList=='1'){
                    if(this.file!=null){
						postMethods.fileUploadSubmit(this.file)
							.then((res)=>{
								agentData.market_list = res
								localStorage.agentData = JSON.stringify(agentData)
							})
					}else{
						agentData.market_list = null
						localStorage.agentData = JSON.stringify(agentData)
					}
                }else{
                    agentData.market_list = null
                    localStorage.agentData = JSON.stringify(agentData)
                }

            }else if(no==15){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.key_informations    = this.keyInformations
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==16){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.rush_request    = this.coverageDate
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==17){
                var agentData=JSON.parse(localStorage.agentData)
                if(this.premiumTarget!=null){
					datas= numeral(this.premiumTarget).value()
					agentData.target_premium     = datas
                }else{
					agentData.target_premium = null
				}
                agentData.excluded_brokerage = {'key':0,'value':null}
                agentData.response_brokers = {'type':0,'brokers_id':null}
                agentData.excluded_company = {'key':0,'value':null}
                agentData.flag=1
                agentData.user_id = this.userDetails.user_id
                localStorage.agentData = JSON.stringify(agentData)
            }else if(no==18){
                var agentData=JSON.parse(localStorage.agentData)
                agentData.response_brokers = {'type':this.brokerRespond,'brokers_id':null}
                agentData.flag=1
                agentData.user_id = this.userDetails.user_id
                agentData.direct_send = []
                localStorage.agentData = JSON.stringify(agentData)
                agentData.user_id = this.userDetails.user_id
                agentData.user_type = this.userDetails.user_type
                agentData.progress_status = 2
                agentData.flag = 1

                postMethods
					.postProfile(agentData, this.userDetails.token)
					.then(res => {
						if (res.error == false) {
                            getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token)
                            this.updateQuesNo();
                            this.updateGlobalQuesNo();
                            
						}
                    })
                    .catch((err)=>{
                        console.log("error",err)
                    });
            }
            // this.updateGlobalQuesNo()
        }
    }
}
</script>

<style>
.autocomplete-items-for-nexa {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 100%;
    top: 90% !important;
    left: 0;
    right: 0;
}
.edit-class{
    padding-top: 20px !important;
}
</style>
<style scoped>
.autocomplete-test {
	width: 43vw !important;
}
</style>