<template>
    <div>
        <nav id="sidebar" class="sidebar-get-started">
            <div class="sidebar-header">
                 <!-- <a class="navbar-brand" href="#"><img src="img/Nexa.png" alt=""></a> -->
                 <!-- <a class="navbar-brand mobile-logo" href="#"><img src="img/logo-mobile.png" alt=""></a> -->
            </div>
			 <a @click="confirmClick()" class="back"><i class="fa fa-arrow-left"></i><span>Back to</span></a>
			
			<ul class="nav list-unstyled components nav-main" id="myTab" role="tablist">

			  <li class="nav-item" id="nav-basic-ques1">
			    <a class="nav-link active active-nav " id="nav-basic-ques" data-toggle="tab" tabindex="-1" href="#quick_account_creation" role="tab" aria-controls="quick_account_creation"><span>Lead Data</span></a>

			  </li>
			  <li class="nav-item inactiveLink" id="nav-basic-profile-information1">
			    <a class="nav-link" id="nav-basic-profile-information" data-toggle="tab" tabindex="-1" href="#basic_profile_information" role="tab" aria-controls="basic_profile_information"><span>Basic Profile Information</span></a>
			  </li>
			  <!-- <li class="nav-item inactiveLink" id="nav-get-favourites1">
			    <a class="nav-link" id="nav-get-favourites" data-toggle="tab" tabindex="-1" href="#get_favourite_list" role="tab" aria-controls="get_favourite_list"><span>Set Up Your Favorites List</span></a>
			  </li> -->
			  <!-- <li class="nav-item inactiveLink" id="nav-free-forever1">
			    <a class="nav-link" id="nav-free-forever" data-toggle="tab" tabindex="-1" href="#free_forever" role="tab" aria-controls="free_forever"><span>Get More “Free Forever” Connects</span></a>
			  </li> -->
				<li class="nav-item inactiveLink" id="nav-create-team1">
			    <a class="nav-link" id="nav-create-team" data-toggle="tab" tabindex="-1" href="#create_team" role="tab" aria-controls="create_team"><span>Create Your Team</span></a>
			  </li>
			  <!-- <li class="nav-item inactiveLink" id="nav-choose-plan1">
			    <a class="nav-link" id="nav-choose-plan" data-toggle="tab" tabindex="-1" href="#choose_plan" role="tab" aria-controls="choose_plan"><span>Pick Your Plan</span></a>
			  </li> -->
			  <li class="nav-item inactiveLink" id="nav-get-started1">
			    <a class="nav-link" id="nav-get-started" data-toggle="tab" tabindex="-1" href="#get_started" role="tab" aria-controls="get_started"><span>Get Started Using Nexa</span></a>
			  </li>
			</ul>
        </nav>
    </div>
</template>

<script>
import router from '@/router'
export default {
    methods:{
        goHome(){
            router.push({name:'NexaHome'})
				},
				confirmClick(){
				this.$swal.fire({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					type: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, Go to home!',
					confirmButtonClass: 'btn btn-success',
					cancelButtonClass: 'btn btn-danger',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.value) {
						router.push({name:'NexaHome'})
					}
				})
			},
    }
}
</script>

<style>

</style>