<template>
	<div>
		<nav id="sidebar" class="sidebar-get-started">
			<div class="sidebar-header"></div>
			<a @click="confirmClick()" class="back">
				<i class="fa fa-arrow-left"></i>
				<span>Back to</span>
			</a>

			<ul class="nav list-unstyled components nav-main" id="myTab" role="tablist">
				<li class="nav-item" id="nav-market-search">
					<a
						class="nav-link"
						@click="sideBar(0)"
						:class="{'active show':currentActive==0}"
						id="nav-market-search"
						data-toggle="tab"
						tabindex="-1"
						href="#market_search"
						role="tab"
						aria-controls="market_search"
					>
						<span :class="{'check-mark':complete>=1}">Build Your Account</span>
					</a>
				</li>
				<li class="nav-item" id="nav-market-search" :class="{'inactiveLink':complete<1}">
					<a
						class="nav-link"
						@click="sideBar(1)"
						:class="{'active show':currentActive==1}"
						id="nav-market-search"
						data-toggle="tab"
						tabindex="-1"
						href="#market_search"
						role="tab"
						aria-controls="market_search"
					>
						<span :class="{'check-mark':complete>=2}">Build a Market Search</span>
					</a>
				</li>
				<li class="nav-item" id="nav-basic-profile-information1" :class="{'inactiveLink':complete<2}">
					<a
						class="nav-link"
						@click="sideBar(2)"
						:class="{'active show':currentActive==2}"
						id="nav-basic-profile-information"
						data-toggle="tab"
						tabindex="-1"
						href="#basic_profile_information"
						role="tab"
						aria-controls="basic_profile_information"
					>
						<span :class="{'check-mark':complete>=3}">Basic Profile Information</span>
					</a>
				</li>

				<li class="nav-item" :class="{'inactiveLink':complete<3}" id="nav-build-team">
					<a
						class="nav-link"
						@click="sideBar(3)"
						:class="{'active show':currentActive==3}"
						id="nav-build-team"
						data-toggle="tab"
						tabindex="-1"
						href="#build_team"
						role="tab"
						aria-controls="build_team"
					>
						<span :class="{'check-mark':complete>=4}">Build Your Team</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</template>

<script>
import router from "@/router";
import store from "@/store";
import { bus } from "@/main";
export default {
	props: {
		currentActive: {
			type: Number,
			required: true
		},
		complete: {
			type: Number,
			required: true
		}
	},
	mounted() {
		$("#sidebarCollapse").on("click", function() {
			$("#sidebar").toggleClass("active");
		});
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	methods: {
		goHome() {
			router.push({ name: "NexaHome" });
		},
		emit() {
			bus.$emit("quick_account_creation", "test");
		},
		confirmClick() {
			this.$swal
				.fire({
					title: "Are you sure?",
					text: "You won't be able to revert this!",
					type: "warning",
					showCancelButton: true,
					confirmButtonText: "Yes, Go to home!",
					confirmButtonClass: "btn btn-success",
					cancelButtonClass: "btn btn-danger",
					cancelButtonText: "No, cancel!",
					reverseButtons: true
				})
				.then(result => {
					if (result.value) {
						sessionStorage.removeItem("userAccessToken")
						this.$store.commit("currentUserDetailsAdd",{})
						router.push({ name: "NexaHome" });
					}
				});
		},
		sideBar(value) {
			bus.$emit("sideBarUp", value);
		}
	}
};
</script>

<style>
</style>