<template>
	<div class="wrapper">
		<nexa-broker-questionnaire-side-bar
			:currentActive="currentActiveLink"
			:complete="completedValue"
		/>
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fa fa-align-left"></i>
						<span></span>
					</button>
				</div>
			</nav>
			<div class="question-wrapper">
				<div v-if="currentActiveLink==3">
					<ul id="right-arrows-id" class="right-arrows">
						<li class="arrows" :class="{'d-none':ques_no==0}">
							<a
								href="#"
								@click="updateQuesNo(2)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
							>
								<i class="fa fa-arrow-left"></i>
							</a>
						</li>
						<li class="arrows" :class="{'d-none':ques_no==0}">
							<a
								href="#"
								@click="updateQuesNo(1)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no+1==9 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<9) && ques_no!=globalQuestionNo+1}"
							>
								<i class="fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<div id="tab-content-ques-content" class="tab-content qus-contant">
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==0}"
						id="signup"
						role="tabpanel"
					>
						<signup-component :user_type="2" />
					</div>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==1}"
						id="market_search"
						role="tabpanel"
					>
						<basic-profile-information />
					</div>
					<div
						class="tab-pane slider-wrap"
						:class="{'active':currentActiveLink==2}"
						id="basic_profile_information"
						role="tabpanel"
					>
						<build-team />
					</div>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==3}"
						id="build_team"
						role="tabpanel"
					>
						<market-filter />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import NexaBrokerQuestionnaireSideBar from "@/components/NexaQuestionnaire/NexaBrokerQuestionnaireSideBar";
import BasicProfileInformation from "@/components/NexaQuestionnaire/BasicProfileInformation";
import SignupComponent from "@/components/NexaQuestionnaire/SignupComponent";
import BuildTeam from "@/components/NexaQuestionnaire/BuildTeam";
import MarketFilter from "@/components/NexaQuestionnaire/MarketFilter";
import { bus } from "@/main";
import store from "@/store";
export default {
	components: {
		NexaBrokerQuestionnaireSideBar,
		BasicProfileInformation,
		MarketFilter,
		BuildTeam,
		SignupComponent
	},
	data() {
		return {
			currentActiveLink: 0,
			completedValue: 0
		};
	},
	computed: {
		ques_no() {
			return store.state.ques_no;
		},
		globalQuestionNo() {
			return store.state.globalQuestionNo;
		},
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		bus.$on("sideBarUp", value => {
			this.currentActiveLink = value;
			if (value >= this.completedValue) {
				this.completedValue = value;
			}
		});
		bus.$emit("user-type-set", "2");
	},
	methods: {
		updateQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo + 1);
			} else if (direction == 2) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo - 1);
			}
		}
	}
};
</script>

<style>
</style>
