<template>
	<div>
		<div class="toggle-wrapper" style="margin-top: 6%;" v-if="!thumbsUp">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"></ul>
			<h2>You need to Build Your Account inorder to proceed further</h2>
			<div class="tab-content" id="pills-tabContent">
				<div
					class="tab-pane fade show active"
					id="pills-home"
					role="tabpanel"
					aria-labelledby="pills-home-tab"
				>
					<div class="row align-items-center">
						<div class="col-lg-8">
							<form @submit.prevent="validateBeforeSubmitSignup" data-vv-scope="signup" autocomplete="off">
								<div class="form-group">
									<input
										autocomplete="off"
										type="text"
										name="first name"
										v-model="firstname"
										v-validate="'required|min:2'"
										:class="{'red': errors.has('signup.first name') }"
										class="form-control"
										placeholder="First Name"
										style="width: 97%;"
									/>
									<i v-show="errors.has('signup.first name')" class="fa fa-warning"></i>
									<span
										v-show="errors.has('signup.first name')"
										:class="{'green': !errors.has('signup.first name'), 'red': errors.has('signup.first name') }"
									>{{ errors.first('signup.first name') }}</span>
								</div>
								<div class="form-group">
									<input
										autocomplete="off"
										type="text"
										name="last name"
										v-model="lastname"
										v-validate="'min:1'"
										:class="{'red': errors.has('signup.last name') }"
										class="form-control"
										placeholder="Last Name"
										style="width: 97%;"
									/>
									<i v-show="errors.has('signup.last name')" class="fa fa-warning"></i>
									<span
										v-show="errors.has('signup.last name')"
										:class="{'green': !errors.has('signup.last name'), 'red': errors.has('signup.last name') }"
									>{{ errors.first('signup.last name') }}</span>
								</div>
								<div class="form-group">
									<input
										autocomplete="off"
										name="signup email"
										v-model="email"
										v-validate="{ required: true, regex : /^(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$)/,custom_email: true }"
										class="form-control"
										:class="{ 'red': errors.has('signup.signup email') }"
										type="text"
										placeholder="Email"
										style="width: 97%;"
									/>
									<i v-show="errors.has('signup.signup email')" class="fa fa-warning"></i>
									<span
										:class="{'green': !errors.has('signup.signup email'), 'red': errors.has('signup.signup email') }"
										v-show="errors.has('signup.signup email')"
									>{{ errors.first('signup.signup email')}}</span>
								</div>
								<div class="form-group">
									<input
										autocomplete="off"
										v-model="password"
										id="password-field-signup"
										v-validate="'required|min:5|max:10|custom_password'"
										name="signup password"
										class="form-control display-inline"
										type="password"
										:class="{ 'red': errors.has('signup password') }"
										placeholder="Password"
										ref="signupPassword"
										maxlength="10"
										style="width: 97%;"
									/>
									<span
										toggle="#password-field-signup"
										class="fa fa-fw field-icon cursor-hand"
										:class="{'fa-eye':!eyeSignUp,'fa-eye-slash':eyeSignUp}"
										@click="passToText(2)"
									></span>

									<i v-show="errors.has('signup.signup password')" class="fa fa-warning"></i>
									<span
										:class="{'green': !errors.has('signup.signup password'), 'red': errors.has('signup.signup password') }"
										v-show="errors.has('signup.signup password')"
										class="help is-danger"
									>{{ errors.first('signup.signup password') }}</span>
								</div>
								<div class="form-group">
									<input
										autocomplete="off"
										v-model="confirmPassword"
										id="confirm-password-field-signup"
										v-validate="'required|confirmed:signupPassword'"
										class="form-control display-inline"
										name="password confirmation"
										type="password"
										:class="{'red': errors.has('password confirmation') }"
										placeholder="Confirm Password"
										ref="signupConfirmPassword"
										data-vv-as="password"
										maxlength="10"
										style="width: 97%;"
									/>
									<!-- <span
										toggle="#confirm-password-field-signup"
										class="fa fa-fw field-icon cursor-hand"
										:class="{'fa-eye':!eyeConfirmSignup,'fa-eye-slash':eyeConfirmSignup}"
										@click="passToText(3)"
									></span> -->
									<i v-show="errors.has('signup.password confirmation')" class="fa fa-warning"></i>
									<span
										:class="{'green': !errors.has('signup.password confirmation'), 'red': errors.has('signup.password confirmation') }"
										v-show="errors.has('signup.password confirmation')"
									>{{ errors.first('signup.password confirmation') }}</span>
								</div>
								<div class="row">
									<div class="col-12">
										<button
											type="submit"
											:disabled="signupButtonDisabled"
											class="btn btn-primary"
										>{{signupButton}}</button>
									</div>
									<!-- <div class="col-6">
										<button
											href="#"
											@click="linkedInSignUp()"
											:disabled="signupLinkedinButtonDisabled"
											class="btn btn-primary btn-block"
										>
											<i class="fa fa-linkedin"></i>
											<span>{{signupLinkedinButton}}</span>
										</button>
									</div> -->
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <thumbs-up :step="1" v-if="thumbsUp && $route.query.user=='broker'" /> -->
	</div>
</template>

<script>
import { bus } from "@/main";
import router from "@/router";
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import store from "@/store";
import Vue from "vue";
import VeeValidate from "vee-validate";
import ThumbsUp from "@/components/NexaQuestionnaire/ThumbsUp";

const HelloJs = require("hellojs/dist/hello.all.min.js");
const VueHello = require("vue-hellojs");

HelloJs.init(
	{
		linkedin: process.env.VUE_APP_LINKED_IN_ID
	},
	{
		redirect_uri: process.env.VUE_APP_LINKED_IN_REDIRECT_URL,
		//  redirect_uri: '/callback',
		response_type: "code",
		scope: "r_liteprofile,r_emailaddress"
	}
);
Vue.use(VueHello, HelloJs);

VeeValidate.Validator.extend("custom_password", {
	getMessage: field =>
		`The password must contain at least: minimum 5 characters, maximum 10 characters, 1 uppercase letter, 1 lowercase letter and one special character`,
	validate: value => {
		var strongRegex = new RegExp(
			"^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{5,})"
		);
		// console.log(strongRegex.test(value))
		return strongRegex.test(value);
	}
});
VeeValidate.Validator.extend("custom_email", {
	getMessage: field =>
		`Email you have entered is already taken. Please try another email.`,
	validate: value => {
		return new Promise(resolve => {
			var data = { email_address: value };
			getMethods.userEmailAvalibility(data).then(res => {
				resolve(res);
			});
		});
	}
});
export default {
	components: {
		ThumbsUp
	},
	props: {
		user_type: {
			required: true,
			default: 1
		}
	},
	computed: {
		disableAfterSignup() {
			if (this.$store.state.currentUserDetails) {
				return true;
			} else {
				return false;
			}
		}
	},
	data() {
		return {
			email: null,
			firstname: null,
			lastname: null,
			password: null,
			confirmPassword: null,
			loginEmail: null,
			loginPassword: null,
			limiting: 0,
			forgotPasswordArea: false,
			eyeLogin: false,
			eyeSignUp: false,
			eyeConfirmSignup: false,
			signupLinkedinButton: "Sign Up with LinkedIn",
			signupLinkedinButtonDisabled: false,
			signupButton: "Next",
			signupButtonDisabled: false,
			loginLinkedinButton: "Log In with LinkedIn",
			loginLinkedinButtonDisabled: false,
			loginButton: "Log In",
			loginButtonDisabled: false,
			userTypeDisabled: 0,
			thumbsUp: false
		};
	},
	mounted() {
		bus.$on("profile-signup", res => {
			res.user_type = this.user_type;
			getMethods
				.LinkedinLoginTest(res)
				.then(resp => {
					var variable = resp;
					getMethods
						.LinkedinSignup(variable)
						.then(response => {
							this.loginLinkedinButton = "Log In with LinkedIn";
							this.signupButton = "Signup Successful";
							this.signupButtonDisabled = true;
							this.signupLinkedinButton = "Signup Successful";
							this.loginLinkedinButtonDisabled = true;
							this.signupLinkedinButtonDisabled = true;
							this.$session.start();
							this.$session.set("userAccessToken", {
								user_id: response.user_id,
								email: response.email,
								token: response.token
							});
							store.commit("currentUserDetailsAdd", response);
							sessionStorage.setItem(
								"userAccessToken",
								JSON.stringify(response)
							);
							if (this.user_type == 2) {
								bus.$emit("sideBarUp", 1);
							} else {
								bus.$emit("sideBarUp", 1);
							}
						})
						.catch(error => {
							this.loginLinkedinButton = "Log In with LinkedIn";
							this.signupLinkedinButton = "Sign Up with LinkedIn";
							this.loginLinkedinButtonDisabled = false;
							this.signupLinkedinButtonDisabled = false;
							toastr.error(error);
						});
				})
				.catch(err => {
					this.loginLinkedinButton = "Log In with LinkedIn";
					this.signupLinkedinButton = "Sign Up with LinkedIn";
					this.loginLinkedinButtonDisabled = false;
					this.signupLinkedinButtonDisabled = false;
				});
		});
	},
	methods: {
		passToText(value) {
			if (value == 1) {
				this.$refs.loginPassword.type =
					this.$refs.loginPassword.type == "password"
						? "text"
						: "password";
				this.eyeLogin = !this.eyeLogin;
			} else if (value == 2) {
				this.$refs.signupPassword.type =
					this.$refs.signupPassword.type == "password"
						? "text"
						: "password";
				this.eyeSignUp = !this.eyeSignUp;
			} else if (value == 3) {
				this.$refs.signupConfirmPassword.type =
					this.$refs.signupConfirmPassword.type == "password"
						? "text"
						: "password";
				this.eyeConfirmSignup = !this.eyeConfirmSignup;
			}
		},
		linkedInSignUp() {
			this.loginLinkedinButton = "Loading...";
			this.signupLinkedinButton = "Loading...";
			this.loginLinkedinButtonDisabled = true;
			this.signupLinkedinButtonDisabled = true;
			var network = "linkedin";
			const hello = this.hello;
			var user_types = this.user_type;
			var authRes;
			hello(network)
				.login()
				.then(() => {
					const authRes = hello("linkedin").getAuthResponse();
					bus.$emit("profile-signup", authRes);
				})
				.catch(() => {
					this.loginLinkedinButton = "Log In with LinkedIn";
					this.signupLinkedinButton = "Sign Up with LinkedIn";
					this.loginLinkedinButtonDisabled = false;
					this.signupLinkedinButtonDisabled = false;
				});
		},
		validateBeforeSubmitSignup() {
			this.signupButton = "Loading...";
			this.signupButtonDisabled = true;
			this.$validator.validateAll("signup").then(result => {
				if (result) {
					var data = {
						first_name: this.firstname,
						last_name: this.lastname,
						email_address: this.email,
						password: this.password,
						confirm_password: this.confirmPassword,
						user_type: this.user_type
					};
					this.$http
						.post(process.env.VUE_BACKEND_URL + "user-signup", data)
						.then(response => {
							if (response) {
								this.signupButton = "Signup Successful";
								this.signupButtonDisabled = true;
								this.signupLinkedinButton = "Signup Successful";
								this.signupLinkedinButtonDisabled = true;
								this.$cookies.set("UserLogin", {
									email_address: this.email,
									password: this.password
								});
								this.$session.start();
								this.$session.set("userAccessToken", {
									user_id: response.body.success.user_id,
									email: response.body.success.email,
									token: response.body.success.token
								});
								store.commit(
									"currentUserDetailsAdd",
									response.body.success
								);
								sessionStorage.setItem(
									"userAccessToken",
									JSON.stringify(response.body.success)
								);
								toastr.success("Signup Successful");
								if (this.user_type == 2) {
									bus.$emit("sideBarUp", 1);
								} else {
									bus.$emit("sideBarUp", 1);
								}
							}
						})
						.catch(err => {
							this.signupButton = "Next";
							this.signupButtonDisabled = false;
						});
				} else {
					this.signupButton = "Next";
					this.signupButtonDisabled = false;
					toastr.error(
						"Missing Fields. Please see below and try again."
					);
				}
			});
		}
	}
};
</script>

<style>
</style>