<template>
    <div>
        <nexa-broker-dashboard-header :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <div class="page-container">
            <div class="request-wrapper">
                <!-- side bar left -->
                <div class="equal-container">
                    <!-- side bar content -->
                    <nexa-chat-sidebar />
                    <!-- right section -->
                    <nexa-chat-content-connected />
                    
                    <div class="clearfix"></div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import NexaBrokerDashboardHeader from '@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader'
import NexaChatContentConnected from '@/components/NexaDashboard/NexaBroker/Chat/NexaChatContentConnected'
import NexaChatSidebar from '@/components/NexaDashboard/NexaBroker/Chat/NexaChatSidebar'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
import store from '@/store'
import router from '@/router'
import { chatEngine,bus,channel } from '@/main'
export default {
    components:{
        NexaBrokerDashboardHeader,
        NexaChatContentConnected,
        NexaChatSidebar
    },
    data(){
        return{
            datas:null,
            connected_status:null
        }
    },
    mounted(){

    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        },

    },
    methods:{

    }
}
</script>

<style>
.file-upoload{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 30px;
}
.display-none{
    display:none;
}
.place-center{
    justify-content:center;
    display: flex;
}
.typing-indicator-width{
    width:10%;
}
.center-align{
    margin: 0 auto;
    display: flex;
}
.justify-content{
	display: flex;
	justify-content: center;
}
.delivered{
        width: 20px;
    height: 20px;
        float: right;
}
</style>
