<template>
	<div
		data-intro="'Here you can see the basic information an agent is looking for in his/her submission.'"
		data-step="1"
		data-disable-interaction="true"
		class="sidebar-left broker-l-bar broker-coloum"
		id="sidebar-left"
	>
		<div class="side-topbar">
			<div id="dismiss">
				<!-- <i  class="fa fa-arrow-left"></i> -->
			</div>
			<a @click="goBack()" href="#" class="arrow-link">
				<i class="fa fa-angle-left"></i> Back
			</a>
			<h3 class="h-group">
				<a href="#">Wheat Farming</a>
			</h3>
			<p>06-04-2019</p>
		</div>

		<div class="location-detail">
			<div class="user-location broker-location">
				<!-- <div id="chatMessageCountBroker" class="chetmsg">0</div> -->
				<div class="image-box">
					<div>
						<img class="image_style" src="@/assets/img/anon-img.png" alt />
					</div>
					<div class="content">
						<h4>
							<a href="#">Brock Broker</a>
						</h4>
						<div class="location">California</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="my-table">
						<tbody>
							<tr>
								<td width="80%">Industry Type</td>
								<td>Wheat Farming</td>
							</tr>
							<tr>
								<td>Primary Location</td>
								<td>LA</td>
							</tr>
							<tr>
								<td>Other states included</td>
								<td>No</td>
							</tr>
							<tr>
								<td>Coastal Exposure</td>
								<td>No</td>
							</tr>
							<tr>
								<td colspan="2">
									<h3>Lines of Coverage Requested</h3>
									<ul>
										<li>Property</li>
										<li>General Liability</li>
										<li>Liquor</li>
										<li>Auto</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Total Annual Sales</td>
								<td>21,230</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import { bus } from "@/main";
import store from "@/store";
import router from "@/router";
export default {
	data() {
		return {
			url: process.env.VUE_IMAGE_URL,
			autoStart: false
		};
	},
	computed: {
		res() {
			return store.state.res;
		},
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		if (this.userDetails.progress_status == 5) {
			this.$swal
				.fire({
					title: "Welcome to the Message Center",
					text:
						"The look and feel of our messaging center is pretty intutive and should feel familiar to you. This is where you communicate with agents on market opportunities. You can send and receive messages with agents, supplemental applications, and other required underwriting docs.",
					confirmButtonText: "Close",
					confirmButtonClass: "btn btn-success",
					reverseButtons: true,
					allowOutsideClick: false
				})
				.then(result => {
					if (result.value) {
						var thisthis = this;
						introJs()
							.oncomplete(function() {
								thisthis.onComplete();
							})
							.onexit(function() {
								thisthis.onComplete();
							})
							.start();
					}
				});
		}
	},
	methods: {
		goBack() {
			router.push({ name: "brokerdashboard" });
		},
		onComplete() {
			this.$swal
				.fire({
					title: "Welcome to your Fully Set Up Nexa Account",
					// text: "This should feel familiar to you, you can attach accord forms, Supplemental Applications and began to lock in submissions here first. You will always be able to comeback and see where you left off with team.  Now lets take a look at the dashboard where you can see all the accounts you've submitted",
					confirmButtonText: "Let's Get Started",
					confirmButtonClass: "btn btn-success",
					reverseButtons: true,
					allowOutsideClick: false
				})
				.then(result => {
					if (result.value) {
						var data = {
							user_id: this.userDetails.user_id,
							user_type: this.userDetails.user_type,
							progress_status: 6,
						};
						postMethods
							.postProfile(data, this.userDetails.token)
							.then(res => {
								if (res.error == false) {
									getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token)
									router.push({
										name: "brokerdashboard",
										query: { route: "direct" }
									});
								}
							})
							.catch((err)=>{
								console.log("error",err)
							});
					}
				});
		}
	}
};
</script>

<style>
.image_style {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
</style>
