<template>
    <div>
        <nexa-agent-dashboard-header :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <div class="page-container">
            <div class="request-wrapper">
            <!-- side bar content -->
                <nexa-chat-sidebar />
                <!-- right section -->
                <nexa-chat-content-connected/>
                <div class="clearfix"></div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
import NexaAgentDashboardHeader from '@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader'
import NexaChatContentConnected from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaChatContentConnected'
import NexaChatSidebar from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaChatSidebar'
import store from '@/store'
import router from '@/router'
import { chatEngine,bus } from '@/main'
export default {
    components:{
        NexaChatContentConnected,
        NexaChatSidebar,
        NexaAgentDashboardHeader
    },
    data(){
        return{

        }
    },
    mounted(){
        
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        },

    },
    methods:{

    }
}
</script>

<style>

</style>
