<template>
	<div :id="'div_'+current_nav" class="right-section agent-r-box">
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fa fa-align-left"></i>
			<span></span>
		</button>
		<div ref="chat_page" class="chat-section agent-chat" v-chat-scroll="{smooth: true}">
			<div v-for="(data,i) in mymessages" :key="i">
				<div v-if="data.reciever==userDetails.user_id " class="received-message">
					<div class="img-box">
						<img v-if="data.image!=null" :src="url+data.image" alt />
						<img v-else src="@/assets/img/borker.png" alt />
					</div>
					<div class="message-content">
						<img
							v-if="data.uploadImage && !data.uploadedFile"
							class="place-center"
							:src="data.uploadedImage"
							alt
							width="100px"
							height="100px"
						/>
						<a v-else-if="!data.uploadImage && data.uploadedFile" :href="data.uploadedImage" target="_blank">
							<img
							class="place-center"
							src="@/assets/img/uploaded_chat_file.png"
							alt
							width="100px"
							height="100px"
						/></a>
						<p>{{data.message}}</p>
					</div>
				</div>
				<div v-else-if="data.sender==userDetails.user_id " class="send-message">
					<div class="message-box">
						<img
							v-if="data.uploadImage && !data.uploadedFile"
							class="place-center"
							:src="data.uploadedImage"
							alt
							width="100px"
							height="100px"
						/>
						<a v-else-if="!data.uploadImage && data.uploadedFile" :href="data.uploadedImage" target="_blank">
							<img
							class="place-center"
							src="@/assets/img/uploaded_chat_file.png"
							alt
							width="100px"
							height="100px"
						/></a>
						<p>{{data.message}}</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<img v-if="showTypingIndicator" class="typing-indicator-width" src="@/assets/img/typing.gif" alt />
		</div>
		<div class="chatbox-section after-accept-message-box">
			<div class="chat-box">
				<label class="place-center" v-if="upload_file2!=null && !isUploadedFile" for="upload-files">
					<img :src="upload_file" alt="image" width="150px" height="150px" />
				</label>
				<label class="place-center" v-if="upload_file2!=null && isUploadedFile" for="upload-files">
					<img src="@/assets/img/uploaded_chat_file.png" alt="pdf" />
				</label>
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						ref="messageInput"
						@keyup.enter="submitMessage"
						@keyup="isTyping"
						v-model="chatMessage"
						:placeholder="'Type your message...'"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"
					/>
					<label for="upload-files" style="cursor: pointer;">
						<i class="fa fa-paperclip file-upoload" aria-hidden="true"></i>
					</label>
					<div class="input-group-append">
						<button
							class="btn btn-secondary"
							@click="submitMessage($event)"
							type="button"
							id="button-addon2"
						>Send</button>
					</div>
				</div>
			</div>
			<input
				type="file"
				name="upload_file"
				@change="onImageChange"
				id="upload-files"
				accept="application/msword, text/plain, application/pdf, image/png, image/jpg, image/jpeg/ image/bmp"
				class="display-none"
			/>
		</div>
	</div>
</template>

<script>
var chatkey;
function scrollBottom() {
	this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
}
import util from "@/util";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import { chatEngine, bus } from "@/main";
import { EventBus } from "@/event-bus";
import store from "@/store";
import router from "@/router";
export default {
	data() {
		return {
			chatMessage: "",
			upload_file2: null,
			showTypingIndicator: false,
			upload_file: null,
			isUploadedFile:false,
			chatKey: null,
			fileLink: process.env.VUE_CHAT_FILE,
			url_key: process.env.VUE_APP_PUBNUB_UPLOADCARE_PUBLIC_KEY,
			friendUuid: null,
			me: null,
			broker_id: null,
			uploadImageValue: false,
			myUuid: null,
			url: process.env.VUE_IMAGE_URL,
			question_id: store.state.current_question_id,
			current_nav: 0,
			current_question_id: null,
			current_broker_question_id: null,
			isActive: true,
			chat_room: null
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		// broker_id(){
		//     return store.state.currentBrokerId
		// },
		mymessages() {
			// this.$nextTick(scrollBottom);
			var arr = [];
			if (store.state.chatMessages[store.state.currentChat]) {
				arr = store.state.chatMessages[store.state.currentChat];
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
				if (arr.length > 0) {
					arr.sort((val1, val2) => {
						return new Date(val1.time) - new Date(val2.time);
					});
				}
			}
			return arr;
		},
		// broker_id(){
		//     return store.state.currentBrokerid
		// },
		brokers_questions_id() {
			return store.state.currentBrokersQuestionsId;
		}
	},
	mounted() {
		// if(chatEngine.me == false){
		//     router.push({name:'agentdashboard'})
		// }
		$(this.$refs.messageInput).focus();
		bus.$on("chat-start-agent", res => {
			this.isActive = true;
			this.current_nav = res.current_nav;
			this.broker_id = res.broker_id;
			this.friendUuid = "chating-rooms-" + this.broker_id;
			this.myUuid = "chating-rooms-" + this.userDetails.user_id;
			this.current_question_id =
				"agent-question_id-" + store.state.current_question_id;
			this.current_broker_question_id =
				"broker-question-id-" + this.brokers_questions_id;
			this.me = this.userDetails;
			this.me.friendUuid = this.friendUuid;
			this.me.uuid = this.myUuid;
			let uuids = [
				this.current_question_id,
				this.current_broker_question_id
			].sort();
			//    console.log(uuids)
			this.chatKey = uuids.join("-");
			this.chat_room = this.chatKey;
			//    console.log("created chat key",this.chatKey)
			chatkey = this.chatKey;
			store.commit("setCurrentChat", { chatKey: this.chatKey });
			this.newChat();
		});
		this.$nextTick(function() {
			$("#sidebarCollapse").on("click", function() {
				$("#sidebar-left").toggleClass("active");
			});
			$("#sidebarCollapse").on("click", function() {
				$("#sidebar-left").addClass("active");
				$(".overlay").addClass("active");
				$(".collapse.in").toggleClass("in");
				$("a[aria-expanded=true]").attr("aria-expanded", "false");
			});
			$("#dismiss, .overlay").on("click", function() {
				$("#sidebar-left").removeClass("active");
				$(".overlay").removeClass("active");
			});
			$(".overlay").on("click", function() {
				$("#sidebar-left").removeClass("active");
				$(".overlay").removeClass("active");
			});
		});
		const thisComponent = this;

		// Focus on the text input, and clear it, when a chat is selected
		EventBus.$on("focus-input", event => {
			this.$refs.messageInput.focus();
			this.$refs.messageInput.value = "";
		});
		// Add a typing indicator visual to the UI
		EventBus.$on("typing-start", chatKey => {
			// console.log(chatKey)
			if (store.state.currentChat === chatKey) {
				// console.log("typing start",this.$refs.chat_page.scrollHeight)
				this.showTypingIndicator = true;
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
				// this.$nextTick(scrollBottom);
			}
		});
		// Remove the typing indicator visual from the UI
		EventBus.$on("typing-stop", chatKey => {
			if (store.state.currentChat === chatKey) {
				// console.log("typing stop")
				this.showTypingIndicator = false;
			}
		});
	},
	methods: {
		newChat() {
			if (!this.friendUuid) {
				return;
			}

			// Make a new chat key using the friend and client's ID.
			let uuids = [
				this.current_question_id,
				this.current_broker_question_id
			].sort();
			this.chatKey = uuids.join("-");
			// console.log("chatkey generated",this.chatKey)
			// Don't make the same 1:1 chat if it already exists
			if (store.state.chats[this.chatKey]) {
				this.friendUuid = "";
				this.isActive = false;
				return;
			}

			// Make the new 1:1 private Chat (can be set to a variable for invite use)
			const newOneToOneChat = util.newChatEngineChat(
				store,
				chatEngine,
				{
					chatKey: this.chatKey,
					uuid: this.friendUuid
				},
				true
			);
			this.isActive = false;
			// console.log("newone to chat",newOneToOneChat)
			// Automatically add this 1:1 chat to the other user's Client and UI
			// Be sure to set variable `newOneToOneChat` above
			// More invite code in (main.js)
			if (
				this.friendUuid &&
				newOneToOneChat &&
				newOneToOneChat.chatEngine.users[this.friendUuid]
			) {
				const user = newOneToOneChat.chatEngine.users[this.friendUuid];
				newOneToOneChat.invite(user);
			}

			// Clear the text input for adding a friend
			// this.friendUuid = '';
		},
		isTyping() {
			const state = store.state;
			const currentChatObject = store.state.chats[this.chatKey];
			// console.log(store.state.chats,store.state.currentChat)
			// Trigger the typing indicator start
			if (currentChatObject.typingIndicator && event.key !== "Enter") {
				currentChatObject.typingIndicator.startTyping();
			}
		},
		UnreadCountRemove() {
			const currentChatObject = store.state.chats[this.chatKey];
			util.unreadMessagesActiveAgent(currentChatObject);
		},
		UnreadCountTake() {
			const currentChatObject = store.state.chats[this.chatKey];
			util.unreadMessagesInActiveAgent(currentChatObject);
		},
		submitMessage($event) {
			if (!event.shiftKey) {
				event.preventDefault();
			} else {
				return;
			}

			// If the message body is empty, do not submit
			if (this.upload_file == null) {
				if (this.chatMessage.length === 0) {
					toastr.error("Cant sent empty messages");
					return;
				}
			}

			// const state = store.state;
			const currentChatObject =
				store.state.chats[store.state.currentChat];
			// Only display typing indicator in private 1:1 chats
			if (
				currentChatObject.isPrivate &&
				currentChatObject.typingIndicator
			) {
				currentChatObject.typingIndicator.stopTyping();
			}
			if (this.upload_file != null) {
				postMethods.chatFileUploadSubmit(this.upload_file2)
					.then((res)=>{
						if(this.isUploadedFile){
							store.dispatch("sendMessage", {
								chat: store.state.currentChat, // a chat key
								message: {
									sender: this.userDetails.user_id,
									uploadImage: false,
									uploadedFile: true,
									uploadedImage: this.fileLink+res,
									reciever: this.broker_id,
									image: this.userDetails.profile_pic,
									message: this.chatMessage,
									chat_room: this.chat_room
								}
							});
							this.uploadImageValue = false;
							this.chatMessage = null;
							// $(this.$refs.messageInput).blur();
							// Reset the text input
							event.target.value = "";
							// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
						}else{
							store.dispatch("sendMessage", {
								chat: store.state.currentChat, // a chat key
								message: {
									sender: this.userDetails.user_id,
									uploadImage: true,
									uploadedFile: false,
									uploadedImage: this.fileLink+res,
									reciever: this.broker_id,
									image: this.userDetails.profile_pic,
									message: this.chatMessage,
									chat_room: this.chat_room
								}
							});
						}
						this.upload_file2 = null
						this.upload_file = null
						this.isUploadedFile = false
						this.uploadImageValue = false;
						this.chatMessage = null;
						// $(this.$refs.messageInput).blur();
						// Reset the text input
						event.target.value = "";
					})
					.catch((err)=>{
						toastr.error("Error when uploading file...")
					})
			} else {
				store.dispatch("sendMessage", {
					chat: store.state.currentChat, // a chat key
					message: {
						sender: this.userDetails.user_id,
						uploadImage: false,
						uploadedFile: false,
						uploadedImage: this.upload_file2,
						reciever: this.broker_id,
						image: this.userDetails.profile_pic,
						message: this.chatMessage,
						chat_room: this.chat_room
					}
				});
				this.uploadImageValue = false;
				this.chatMessage = null;
				// $(this.$refs.messageInput).blur();
				// Reset the text input
				event.target.value = "";
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
			}
			
		},
		onImageChange($event) {
			// console.log($event.target.files)
			if($event.target.files.length!=0){
				this.upload_file = $event.target.files[0];
				this.upload_file2 = $event.target.files[0];
				this.createImage(this.upload_file);
			}
		},
		createImage(file) {
			
			var imageRegex = new RegExp("^([-image.]+/[-(png,jpg,jpeg,bmp).]+)$");
			var fileUpload = new RegExp("^([-application.]+/[-(pdf,msword).]+)|([-text.]+/[-(plain).]+)$");
			console.log(file.type,imageRegex,imageRegex.test(file.type),fileUpload,fileUpload.test(file.type))
			if (
				imageRegex.test(file.type)
			) {
				console.log("image")
				this.isUploadedFile = false
				var upload_file = new Image();
				var reader = new FileReader();

				reader.onload = e => {
					this.upload_file = e.target.result;
				};
				reader.readAsDataURL(file);
			}else if(
				
				fileUpload.test(file.type) ||
				file.type == "text/plain"
			) {
				console.log("file")
				this.isUploadedFile = true
				return;
			}  else {
				toastr.warning('Supported image formats are .jpg, .png, .jpeg, .bmp and supported file formats are .doc, .txt, .pdf');
				this.uploadImageValue = true;
				this.isUploadedFile = false
				this.upload_file = null
				this.upload_file2 = null
				return;
			}
			
		}
	}
};
</script>

<style>
.after-accept-message-box {
	margin-left: 0%;
	/* margin-bottom: -5%; */
	padding: 25px 20px 33px 15px;
}
.file-upoload {
	padding-top: 10px;
	padding-right: 10px;
	font-size: 30px;
}
.display-none {
	display: none;
}
.place-center {
	justify-content: center;
	display: flex;
}
.typing-indicator-width {
	width: 10%;
}
</style>
