<template>
	<div
		data-intro="'After clicking the broker tab to the right, you will get to see thier response to you. To privately respond t0 the broker simply type your response in the box and click send. Simple, right?'"
		data-step="2"
		data-disable-interaction="true"
		class="right-section agent-r-box"
	>
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fa fa-align-left"></i>
			<span></span>
		</button>
		<div ref="chat_page" class="chat-section agent-chat">
			<div>
				<div
					v-for="(list,index) in message"
					:class="{'received-message': list.user == 1, 'send-message': list.user == 2}"
					:key="index"
				>
					<div class="message-box" v-if="list.user == 2">
						<a v-if="list.file" :href="list.fileLink" target="_blank">
							<img class="place-center image-class" src="@/assets/img/pdf.png" alt />
						</a>
						<p>{{list.message}}</p>
					</div>
					<div v-if="list.user == 2" class="clearfix"></div>

					<div class="img-box" v-if="list.user == 1">
						<img src="@/assets/img/borker.png" alt />
					</div>
					<div class="message-content" v-if="list.user == 1">
						<p>{{list.message}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="chatbox-section after-accept-message-box">
			<div class="chat-box">
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						ref="messageInput"
						v-model="messages"
						placeholder="Type your message..."
						aria-label="Recipient's username"
						aria-describedby="button-addon2"
					/>
					<label for="upload-files" style="cursor: pointer;">
						<i class="fa fa-paperclip file-upoload" aria-hidden="true"></i>
					</label>
					<div class="input-group-append">
						<button class="btn btn-secondary" type="button" @click="sendMessage()" id="button-addon2">Send</button>
					</div>
				</div>
			</div>
			<input type="file" name="upload_file" id="upload-files" accept="image/*" class="display-none" />
		</div>
	</div>
</template>

<script>
var chatkey;
import util from "@/util";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import { chatEngine, bus } from "@/main";
import { EventBus } from "@/event-bus";
import store from "@/store";
import router from "@/router";
export default {
	data() {
		return {
			message: [
				{
					user: 1,
					message:
						"Hey Steve, are you needing GL including products?",
					file: false,
					fileLink: ""
				},
				{
					user: 2,
					message:
						"Yes, that's been the biggest thorn. Also needing CG2010/2037.",
					file: false,
					fileLink: ""
				},
				{
					user: 1,
					message:
						"Ok, great. Send me the supplimental application you have and we'll get started.",
					file: false,
					fileLink: ""
				},
				{
					user: 2,
					message: "Here you go.",
					file: true,
					fileLink:
						"https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf"
				}
			],
			messages: ""
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {},
	methods: {
		sendMessage() {
			this.message.push({
				user: 2,
				message: this.messages,
				file: false,
				fileLink: ""
			});
			this.messages = "";
		}
	}
};
</script>

<style>
.after-accept-message-box {
	margin-left: 0%;
	/* margin-bottom: -5%; */
	padding: 25px 20px 33px 15px;
}
.file-upoload {
	padding-top: 10px;
	padding-right: 10px;
	font-size: 30px;
}
.image-class {
	width: 110px;
	height: 110px;
}
.display-none {
	display: none;
}
.place-center {
	justify-content: center;
	display: flex;
}
.typing-indicator-width {
	width: 10%;
}
</style>
