<template>
	<div>
		<div class="sidebar-left" id="sidebar-left">
			<div class="side-topbar">
				<div id="dismiss">
					<i class="fa fa-arrow-left"></i>
				</div>
				<a @click="goBack()" href="#" class="arrow-link">
					<i class="fa fa-angle-left"></i> Back
				</a>
				<h3 class="h-group">
					<a href="#">{{res.interest}}</a>
				</h3>
				<p>{{res.renewal_date}}</p>
			</div>

			<div class="chat-listing">
				<h5>{{requestLists.length}} Request Received</h5>
				<ul>
					<li
						v-for="(data,i) in requestLists"
						:key="i"
						:ref="data.broker_id"
						:id="i"
						@click="selectUser($event,data,i)"
						class="active-el"
						:class="'div_'+i+' '+data.broker_id"
					>
						<a :href="'#div_'+i">
							<!-- <div class="online"></div> -->
							<div class="icon-box">
								<!-- <div class="star"><i class="fa fa-star"></i></div> -->
								<img
									@click="brokerDetails(data)"
									v-if="data.profile_pic==null"
									src="@/assets/img/anon-img.png"
									alt="anon-img.png"
								/>
								<img @click="brokerDetails(data)" v-else :src="url+data.profile_pic" alt="img" />
							</div>
							<div class="content">
								<!-- <div :id="'chatMessageCountAgent'+i" class="chetmsg d-none">0</div> -->
								<!-- <div v-if="data.connect_status==2" class="request">Connected</div> -->

								<h4>
									<a @click="brokerDetails(data)" href="#">{{data.first_name}} {{data.last_name}}</a>
								</h4>
								<div class="row">
									<div class="col-lg-6">
										<div class="location">{{data.location_name}}</div>
									</div>
									<div class="col-lg-6">
										<div class="match">
											Match:
											<span>{{data.percentage}}%</span>
										</div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Modal -->
		<div
			class="modal fade broker-modal"
			id="Broker-Modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLongTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content" v-if="singleBrokerDetails.length">
					<div class="modal-header">
						<img
							class="custom-image-style-form"
							v-if="singleBrokerDetails[0].profile_pic!=null"
							:src="url+singleBrokerDetails[0].profile_pic"
							alt
						/>
						<img
							class="custom-image-style-form"
							v-else-if="singleBrokerDetails[0].profile_pic==null&&singleBrokerDetails[0].linkedin_pic!=null"
							:src="singleBrokerDetails[0].linkedin_pic"
							alt
						/>
						<img class="custom-image-style-form" v-else src="@/assets/img/borker.png" alt />
						<div class="profile-detail">
							<h5>{{singleBrokerDetails[0].first_name}} {{singleBrokerDetails[0].last_name}}</h5>
							<p>{{singleBrokerDetails[0].location_name}}</p>
							<ul>
								<li>{{singleBrokerDetails[0].website}}</li>
								<li class="phone">
									Phone
									<a href="#">{{singleBrokerDetails[0].phone_number}}</a>
								</li>
							</ul>
						</div>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h3>About</h3>
						<p>{{singleBrokerDetails[0].about}}</p>
						<h2>Lines of Business Targeted</h2>
						<div class="row">
							<div class="col-lg-6" v-for="(data,i) in singleBrokerDetails2" :key="i">
								<ul style="margin:8px 0px;">
									<li>
										<i class="fa fa-circle" style="font-size:10px;color:#000000a6"></i>
										<span>{{data.coverage_name}}</span>
									</li>
								</ul>
							</div>
						</div>
						<h2>Experience</h2>
						<div class="senior">
							<h2>{{singleBrokerDetails[0].speciality}}</h2>
							<!-- <p>My background is on the brokerage P&C business. I have always specialized in hospitality risk.</p> -->
						</div>
					</div>
				</div>
				<div class="modal-content" v-else>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<!-- <span aria-hidden="true">&times;</span> -->
						</button>
					</div>
					<div class="modal-body">
						<h1>No profile data found</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>



<script>
var chatkey;
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import store from "@/store";
import util from "@/util";
import { EventBus } from "@/event-bus";
import { chatEngine, bus } from "@/main";
import router from "@/router";
export default {
	data() {
		return {
			res: store.state.res,
			requestLists: [],
			url: process.env.VUE_IMAGE_URL,
			friendUuid: null,
			myUuid: null,
			current_question_id: null,
			chatKey: null,
			current_id: 0,
			current_broker_question_id: null,
			singleBrokerDetails: [],
			singleBrokerDetails2: []
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		brokers_questions_id() {
			return store.state.currentBrokersQuestionsId;
		}
	},
	updated() {
		this.$nextTick(function() {
			// $('.div_0').trigger('click');
			$(".active-el").on("click", function() {
				$(".chat-listing")
					.find(".active-el")
					.removeClass("active");
				$(this).addClass("active");
			});
		});
	},
	mounted() {
		this.requestsListing();
		bus.$on("details_changed", res => {
			$(".div_" + res).trigger("click");
			this.requestsListing();
		});
		this.$nextTick(function() {
			setTimeout(function() {
				$(".div_0").trigger("click");
				$(".active-el").on("click", function() {
					$(".chat-listing")
						.find(".active-el")
						.removeClass("active");
					$(this).addClass("active");
				});
			}, 1000);
		});
	},
	methods: {
		requestsListing() {
			getMethods
				.leadDataRequestList(
					{ agents_questions_id: store.state.current_question_id },
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.requestLists = res.data;
						for (var i = 0; i < this.requestLists.length; i++) {
							this.current_id = i;
							this.friendUuid =
								"chating-rooms-" +
								this.requestLists[i].broker_id;
							this.myUuid =
								"chating-rooms-" + this.userDetails.user_id;
							this.current_question_id =
								"agent-question_id-" +
								store.state.current_question_id;
							this.current_broker_question_id =
								"broker-question-id-" +
								this.requestLists[i].brokers_questions_id;
							let uuids = [
								this.current_question_id,
								this.current_broker_question_id
							].sort();
							this.chatKey = uuids.join("-");
							chatkey = this.chatKey;
							store.commit("setCurrentChat", {
								chatKey: this.chatKey
							});
							this.newChat(
								this.requestLists[i].brokers_questions_id
							);
						}
					} else {
						toastr.error(res.message);
					}
					console.log(store.state);
				});
		},
		newChat(broker_question_id) {
			if (!this.friendUuid) {
				return;
			}

			// Make a new chat key using the friend and client's ID.
			let uuids = [this.current_question_id, broker_question_id].sort();
			this.chatKey = uuids.join("-");
			// console.log("chatkey generated",this.chatKey)
			// Don't make the same 1:1 chat if it already exists
			if (store.state.chats[this.chatKey]) {
				this.friendUuid = "";
				// this.isActive=false
				return;
			}

			// Make the new 1:1 private Chat (can be set to a variable for invite use)
			const newOneToOneChat = util.newChatEngineChat(
				store,
				chatEngine,
				{
					chatKey: this.chatKey,
					uuid: this.friendUuid
				},
				true
			);
			// this.isActive=false
			// console.log("newone to chat",newOneToOneChat)
			// Automatically add this 1:1 chat to the other user's Client and UI
			// Be sure to set variable `newOneToOneChat` above
			// More invite code in (main.js)
			// util.unreadMessagesActiveBroker(newOneToOneChat,this.current_id)
			if (
				this.friendUuid &&
				newOneToOneChat &&
				newOneToOneChat.chatEngine.users[this.friendUuid]
			) {
				const user = newOneToOneChat.chatEngine.users[this.friendUuid];
				newOneToOneChat.invite(user);
			}

			// Clear the text input for adding a friend
			// this.friendUuid = '';
		},
		selectUser($event, data, i) {
			// console.log($event.target,data,i)
			this.current_id = i;
			store.commit("currentBrokerPercentage", data.percentage);
			store.commit("setCurrentBroker", data.broker_id);
			store.commit("setCurrentQuestionId", data.brokers_questions_id);
			store.commit("SetCurrentOtherUserId", data.user_type);
			bus.$emit("chat-start-agent", {
				broker_id: data.broker_id,
				current_nav: i
			});
			bus.$emit("chat-start-agent-2", {
				broker_id: data.broker_id,
				current_nav: i,
				user_type: data.user_type
			});
			bus.$emit("chat-start-agent-2", {
				broker_id: data.broker_id,
				current_nav: i,
				user_type: data.user_type
			});
			bus.$emit("chat-start-agent-2", {
				broker_id: data.broker_id,
				current_nav: i,
				user_type: data.user_type
			});
			bus.$emit("chat-start-agent-2", {
				broker_id: data.broker_id,
				current_nav: i,
				user_type: data.user_type
			});
		},
		goBack() {
			router.push({ name: "agentdashboard" });
		},
		brokerDetails(data) {
			console.log(data);
			this.singleBrokerDetails = [];
			var datas = {
				broker_id: data.broker_id,
				brokers_questions_id: this.brokers_questions_id
			};
			getMethods
				.singleBrokerView(datas, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.singleBrokerDetails = res.data[0];
						this.singleBrokerDetails2 = res.data[1];
						if (res.data.length > 0) {
							$("#Broker-Modal").modal("show");
						}
					} else {
						toastr.error(res.message);
					}
				});
		}
	}
};
</script>

<style scoped>
/* .request-wrapper .chat-listing ul li .content .request:before {
    font-size: 12px;
    color: #4ecc9a;
    position: absolute;
    left: 0;
    content: '\f00c';
    font-family: 'FontAwesome';
} */
.d-none {
	visibility: hidden;
}
</style>
