<template>
    <div>
        <nexa-agent-dashboard-header :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <div class="page-container">
            <div class="request-wrapper">
            <!-- side bar content -->
                <nexa-agent-chat-sidebar />
                <!-- right section -->
                <nexa-agent-chat-content-connected v-if="connected_status==2"/>
                <nexa-agent-chat-content-request-accepting v-if="connected_status==1||connected_status==0"/>
                <div class="clearfix"></div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
import NexaAgentDashboardHeader from '@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader'
import NexaAgentChatContentConnected from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaAgentChatContentConnected'
import NexaAgentChatContentRequestAccepting from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaAgentChatContentRequestAccepting'
import NexaAgentChatSidebar from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaAgentChatSidebar'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
import store from '@/store'
import router from '@/router'
import { chatEngine,bus } from '@/main'
export default {
    components:{
        NexaAgentChatContentConnected,
        NexaAgentChatContentRequestAccepting,
        NexaAgentChatSidebar,
        NexaAgentDashboardHeader
    },
    data(){
        return{
            connected_status:null,
            broker_id:null,
            other_user_type:null
        }
    },
    mounted(){
        if(chatEngine.me == false){
            router.push({name:'agentdashboard'});
        }
        bus.$on('chat-start-agent-2',res=>{
            // console.log(res.broker_id)
            this.other_user_type=res.user_type
            this.broker_id=res.broker_id
            this.usersConnectedStatus()
        })
        bus.$on('details_changed',res=>{
            this.usersConnectedStatus()
        })
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        },
        // broker_id(){
        //     return store.state.currentBrokerid
        // },
        question_id(){
            return store.state.current_question_id
        },
        brokers_questions_id(){
            return store.state.currentBrokersQuestionsId
        }
    },
    methods:{
        usersConnectedStatus(){
            getMethods.connectedStatus({'agents_questions_id':this.question_id,'broker_id':this.broker_id,'brokers_questions_id':this.brokers_questions_id,'user_type':this.userDetails.user_type,'other_user_type':this.other_user_type},this.userDetails.token)
                .then(res=>{
                    if(res.error==false){
                        this.connected_status = res.data[0].connect_status
                        if(this.connected_status==2){
                            bus.$emit('chat-start-agent',{'broker_id':this.broker_id})
                        }
                    }else{
                        this.connected_status = res.data.connect_status
                    }
                    bus.$emit('connected_status',{"connect_status":this.connect_status,"broker_id":this.broker_id,"question_id":this.question_id})
                })
        }
    }
}
</script>

<style>

</style>
