<template>
   <div class="right-section agent-req">
        <!-- <nexa-agent-chat-content-header /> -->
        <div>
            <div class="chet-request">
                <h2>A broker with a <span>{{percentage}}% match</span> to your submission has requested to connect.</h2>
                <a href="#" @click="acceptRequest(1)" class="btn btn-default">Decline</a>
                <a href="#" @click="acceptRequest(2)" class="btn btn-primary">Accept</a>
                <p>You will be charged <a href="#">1 Credit(s)</a> to accept.</p>
            </div>
            <!-- <div class="chatbox-section accept">
                <div class="chat-box">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Accept request to connect to send messages" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="button-addon2">Send</button>
                    </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div>
            <h2>This chat is no longer available.</h2>
        </div> -->
    </div>
</template>

<script>
import NexaAgentChatContentHeader from '@/components/NexaDashboard/NexaAgent/ChatNew/NexaAgentChatContentHeader'
import store from '@/store'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
import router from '@/router'
import { bus } from '@/main'
export default {
    components:{
        NexaAgentChatContentHeader
    },
    data(){
        return{
            // broker_id:null
            // other_user_type:null
        }
    },
    mounted(){
        bus.$on('chat-start-agent-2',res=>{
            // console.log("request pending page",res)
            // this.broker_id=res.broker_id
            // this.other_user_type=res.user_type
            this.brokerConnect()
        })
        
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        },
        broker_id(){
            return store.state.currentBrokerId
        },
        question_id(){
            return store.state.current_question_id
        },
        percentage(){
            return store.state.brokerPercentage
        },
        brokers_questions_id(){
            return store.state.currentBrokersQuestionsId
        },
        other_user_type(){
            return store.state.OtherUserId
        }
    },
    methods:{
        acceptRequest(no){
            if(no==1){
                postMethods.cancelChatRequest({'broker_id':this.broker_id,'agents_questions_id':this.question_id,'brokers_questions_id':this.brokers_questions_id,'other_user_type':this.other_user_type},this.userDetails.token)
                    .then((res)=>{
                        if(res.error==false){
                            toastr.success(res.message)
                            bus.$emit('details_changed',$('.chat-listing').find('.active-el.active').attr('id'))
                            // this.connectedStatus()
                        }else{
                            toastr.error(res.message)
                            // bus.$emit('details_changed',"test")
                        }
                    })
            }else if(no==2){
                postMethods.acceptChatRequest({'broker_id':this.broker_id,'agents_questions_id':this.question_id,'brokers_questions_id':this.brokers_questions_id,'other_user_type':this.other_user_type},this.userDetails.token)
                    .then((res)=>{
                        if(res.error==false){
                            toastr.success("You can now start chating.")
                            bus.$emit('details_changed',$('.chat-listing').find('.active-el.active').attr('id'))
                        }else{
                            toastr.error(res.message)
                            // bus.$emit('details_changed',"test")
                        }
                        // this.connectedStatus()
                    })
            }
            
        },
        brokerConnect(){
            var data = {"broker_id":this.broker_id,"agents_questions_id":this.question_id,'brokers_questions_id':this.brokers_questions_id,'other_user_type':this.other_user_type}
            getMethods.headerDetails(data,this.userDetails.token)
                .then((res)=>{
                    // console.log(res)
                    if(res.error==false){
                        console.log(res.data)
                        bus.$emit('header_details',res.data[0])
                    }
                })
        }
    }
}
</script>

<style>

</style>
