<template>
	<div>
		<div
			data-intro="'On the left will be list of brokers who have submitted responses to your request. Here you will see the most current message from your broker, you can also send and receive attachments.'"
			data-step="1"
			data-disable-interaction="true"
			class="sidebar-left"
			id="sidebar-left"
		>
			<div class="side-topbar">
				<div id="dismiss">
					<i class="fa fa-arrow-left"></i>
				</div>
				<a @click="goBack()" href="#" class="arrow-link">
					<i class="fa fa-angle-left"></i> Back
				</a>
				<h3 class="h-group">
					<a href="#">Wheat Farming</a>
				</h3>
				<p>06-04-2019</p>
			</div>

			<div class="chat-listing">
				<h5>1 Request Received</h5>
				<ul>
					<li>
						<!-- <div class="online"></div> -->
						<div class="icon-box">
							<!-- <div class="star"><i class="fa fa-star"></i></div> -->
							<img src="@/assets/img/anon-img.png" alt />
						</div>
						<div class="content">
							<!-- <div :id="'chatMessageCountAgent'+i" class="chetmsg d-none">0</div> -->
							<!-- <div v-if="data.connect_status==2" class="request">Connected</div> -->

							<h4>
								<a href="#">Steve Broker</a>
							</h4>
							<div class="row">
								<div class="col-lg-6">
									<div class="location">California</div>
								</div>
								<div class="col-lg-6">
									<div class="match">
										Match:
										<span>78%</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>



<script>
var chatkey;
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import store from "@/store";
import util from "@/util";
import { EventBus } from "@/event-bus";
import { chatEngine, bus } from "@/main";
import router from "@/router";
export default {
	data() {
		return {
			autoStart: false
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	updated() {},
	mounted() {
		if (this.userDetails.progress_status == 5) {
			this.$swal
				.fire({
					title: "This is Message Center",
					text:
						"Let's take a quick tour of the messageing center and it's basic functionality. It is pretty simple and should feel familiar to you. This is where you communicate with brokers on market opportunities. You can attach accord forms, supplemental applications and begin to lock submissions here first. Let's take a look, shall we?",
					confirmButtonText: "Ok",
					confirmButtonClass: "btn btn-success",
					reverseButtons: true,
					allowOutsideClick: false
				})
				.then(result => {
					if (result.value) {
						var thisthis = this;
						introJs()
							.oncomplete(function() {
								thisthis.onComplete();
							})
							.onexit(function() {
								thisthis.onComplete();
							})
							.setOptions({
								exitOnOverlayClick: false
							})
							.start();
					}
				});
		}
	},
	methods: {
		goBack() {
			router.push({ name: "agentdashboard" });
		},
		onComplete() {
			this.$swal
				.fire({
					title: "Welcome to your Fully Set Up Nexa Account",
					confirmButtonText: "Let's Get Started",
					confirmButtonClass: "btn btn-success",
					reverseButtons: true,
					allowOutsideClick: false
				})
				.then(result => {
					if (result.value) {
						var data = {
							user_id: this.userDetails.user_id,
							user_type: this.userDetails.user_type,
							progress_status: 6,
						};
						postMethods
							.postProfile(data, this.userDetails.token)
							.then(res => {
								if (res.error == false) {
									getMethods.getUserDetails(this.userDetails.user_id,this.userDetails.token)
									router.push({
										name: "agentdashboard",
										query: { route: "direct" }
									});
								}
							})
							.catch((err)=>{
								console.log("error",err)
							});
					}
				});
		}
	}
};
</script>

<style scoped>
/* .request-wrapper .chat-listing ul li .content .request:before {
    font-size: 12px;
    color: #4ecc9a;
    position: absolute;
    left: 0;
    content: '\f00c';
    font-family: 'FontAwesome';
} */
.d-none {
	visibility: hidden;
}
</style>
