<template>
    <div class="userbar">
        <ul v-if="notConnectedBrokerDetails.length!=0">
            <li>
                <div class="userbox">
                    <div class="img-box">
                        <img src="../../../../assets/img/borker.png" alt="" class="image-upload-box">
                    </div>
                    <div class="user-text">
                        <h3>Anonymous</h3>
                        <p>Location</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="detail">
                    <p>What options might you have on this class?</p>
                </div>
                <p>
                    <a href="#" v-if="notConnectedBrokerDetails.option_class==1">Admitted</a>
                    <a href="#" v-else-if="notConnectedBrokerDetails.option_class==2">Not Admitted</a>
                    <a href="#" v-else-if="notConnectedBrokerDetails.option_class==3">Both</a>
                </p>
            </li>
            <li>
                <div class="detail">
                    <p>Do you have in-house underwriting capabilities for this class?</p>
                </div>
                <p>
                    <a href="#" v-if="notConnectedBrokerDetails.underwriting==1">Yes</a>
                    <a href="#" v-else-if="notConnectedBrokerDetails.underwriting==0">No</a>
                </p>
            </li>
            <li>
                <div class="detail">
                    <p>Do you exclusive program options available for this class?</p>
                </div>
                <p>
                    <a href="#" v-if="notConnectedBrokerDetails.exclusive_program==1">Yes</a>
                    <a href="#" v-else-if="notConnectedBrokerDetails.exclusive_program==0">No</a>
                </p>
            </li>
            <li>
                <div class="detail">
                    <p>Are you availabe to connect immediately?</p>
                </div>
                <p>
                    <a href="#" v-if="notConnectedBrokerDetails.connect_immediate==1">Yes</a>
                    <a href="#" v-else-if="notConnectedBrokerDetails.connect_immediate==0">No</a>
                </p>
            </li>
        </ul>
    </div>
</template>

<script>
import { bus } from '@/main'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
import store from '@/store'
export default {
    data(){
        return{
            notConnectedBrokerDetails:[],
            broker_id:null
        }
    },
    mounted(){
        bus.$on('header_details',res=>{
            this.notConnectedBrokerDetails=res
            
        })
        bus.$on('chat-start-agent',res=>{
            this.broker_id=res.broker_id.broker_id
            // this.brokerConnect()
        })
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        },
        question_id(){
            return store.state.current_question_id
        },
        brokers_questions_id(){
            return store.state.currentBrokersQuestionsId
        }
    },
    methods:{
        brokerConnect(){
            var data = {"broker_id":this.broker_id,"agents_questions_id":this.question_id,'brokers_questions_id':this.brokers_questions_id}
            getMethods.headerDetails(data,this.userDetails.token)
                .then((res)=>{
                    // console.log(res)
                    if(res.error==false){
                        this.notConnectedBrokerDetails = res.data[0]
                    }
                })
        }
    }
}
</script>

<style>

</style>
