<template>
	<div class="wrapper">
		<nexa-getstarted-side-bar :currentActive="currentActiveLink" :complete="completedValue" />
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fa fa-align-left"></i>
						<span></span>
					</button>
				</div>
			</nav>
			<div class="question-wrapper">
				<div v-if="(currentActiveLink==0 && $route.query.user==='agent') || (currentActiveLink == 2 && $route.query.user==='broker')">
					<ul id="right-arrows-id" class="right-arrows">
						<li class="arrows" :class="{'d-none':ques_no==0}">
							<a
								v-if="$route.query.user==='agent'"
								href="#"
								@click="updateQuesNo(2)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
							>
								<i class="fa fa-arrow-left"></i>
							</a>
							<a
								v-else
								href="#"
								@click="updateQuesNo(2)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
							>
								<i class="fa fa-arrow-left"></i>
							</a>
						</li>
						<li class="arrows" :class="{'d-none':ques_no==0}">
							<a
								v-if="$route.query.user==='agent'"
								href="#"
								@click="updateQuesNo(1)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no+1==21 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<21) && ques_no!=globalQuestionNo+1}"
							>
								<i class="fa fa-arrow-right"></i>
							</a>
							<a
								v-else
								href="#"
								@click="updateQuesNo(1)"
								tabindex="-1"
								:class="{'inactiveLink':(ques_no+1==13 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<13) && ques_no!=globalQuestionNo+1}"
							>
								<i class="fa fa-arrow-right"></i>
							</a>
						</li>
					</ul>
				</div>
				<div
					v-if="userDetails.user_type==1"
					id="tab-content-ques-content"
					class="tab-content qus-contant"
				>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==0}"
						id="market_search"
						role="tabpanel"
					>
						<market-search />
					</div>
					<div
						class="tab-pane slider-wrap"
						:class="{'active':currentActiveLink==1}"
						id="basic_profile_information"
						role="tabpanel"
					>
						<basic-profile-information />
					</div>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==2}"
						id="build_team"
						role="tabpanel"
					>
						<build-team />
					</div>
				</div>
				<div
					v-if="userDetails.user_type==2"
					id="tab-content-ques-content"
					class="tab-content qus-contant"
				>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==0}"
						id="basic-profile-information"
						role="tabpanel"
					>
						<basic-profile-information />
					</div>
					<div
						class="tab-pane slider-wrap"
						:class="{'active':currentActiveLink==1}"
						id="build-team"
						role="tabpanel"
					>
						<build-team />
					</div>
					<div
						class="tab-pane complete-profile"
						:class="{'active':currentActiveLink==2}"
						id="market-filter"
						role="tabpanel"
					>
						<market-filter />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import NexaGetstartedSideBar from "@/components/NexaGetstarted/NexaGetstartedSidebar";
import BasicProfileInformation from "@/components/NexaGetstarted/BasicProfileInformation";
import BuildTeam from "@/components/NexaGetstarted/BuildTeam";
import MarketSearch from "@/components/NexaGetstarted/MarketSearch";
import MarketFilter from "@/components/NexaGetstarted/MarketFilter";
import { bus } from "@/main";
import store from "@/store";
export default {
	components: {
		NexaGetstartedSideBar,
		BasicProfileInformation,
		MarketSearch,
		BuildTeam,
		MarketFilter
	},
	data() {
		return {
			currentActiveLink: 0,
			completedValue: 0
		};
	},
	computed: {
		ques_no() {
			return store.state.ques_no;
		},
		globalQuestionNo() {
			return store.state.globalQuestionNo;
		},
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		if(this.userDetails.user_type == 1){
			if(this.userDetails.progress_status == 1){
				this.currentActiveLink = 0;
				this.completedValue = 0;
			}else if(this.userDetails.progress_status == 2){
				this.currentActiveLink = 1;
				this.completedValue = 1;
			}else if(this.userDetails.progress_status == 3 || this.userDetails.progress_status == 4){
				this.currentActiveLink = 2;
				this.completedValue = 2;
			}
		}else if(this.userDetails.user_type == 2){
			if(this.userDetails.progress_status == 1){
				this.currentActiveLink = 0;
				this.completedValue = 0;
			}else if(this.userDetails.progress_status == 2 || this.userDetails.progress_status == 3){
				this.currentActiveLink = 1;
				this.completedValue = 1;
			}else if(this.userDetails.progress_status == 4 ){
				this.currentActiveLink = 2;
				this.completedValue = 2;
			}
		}
		bus.$on("sideBarUp", value => {
			this.currentActiveLink = value;
			if (value >= this.completedValue) {
				this.completedValue = value;
			}
		});
	},
	methods: {
		updateQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo + 1);
			} else if (direction == 2) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo - 1);
			}
		}
	}
};
</script>

<style>
</style>
