<template>
	<div>
		<div v-if="step==1" class="row">
			<div class="col-lg-6 justify-content">
				<img src="@/assets/img/get_started.png" alt />
			</div>
			<div class="col-lg-6" v-if="$route.query.user=='agent'">
				<h2>Great! You just completed your first market search, that was easy right?</h2>
				<h6>
					Remember, if you ever have questions or need help be sure to let us know:
					<a
						href="mailto:support@nexa.solutions"
					>
						<span style="color:skyblue;">support@nexa.solutions</span>
					</a>
				</h6>
				<p>Now let’s complete your profile and the last step will be to build your team.</p>
				<button
					type="button"
					style="max-width: 100%;margin-top: 5%"
					@click="toTeamCreation(1)"
					class="btn btn-primary"
				>Next</button>
			</div>
			<div class="col-lg-6" v-if="$route.query.user=='broker'">
				<h2>Great, Just three more quick steps and you'll be ready to use your account. Now let's build your profile!</h2>
				<h6>
					Remember, if you ever have questions or need help be sure to let us know:
					<a
						href="mailto:support@nexa.solutions"
					>
						<span style="color:skyblue;">support@nexa.solutions</span>
					</a>
				</h6>
				<p>Now let’s complete your profile and the last step will be to build your team.</p>
				<button
					type="button"
					style="max-width: 100%;margin-top: 5%"
					@click="toTeamCreation(1)"
					class="btn btn-primary"
				>Next</button>
			</div>
		</div>
		<div v-if="step==2" class="row">
			<div class="col-lg-6 justify-content">
				<img src="@/assets/img/get_started.png" alt />
			</div>
			<div class="col-lg-6">
				<h2>Your profile is all set up. Just one more step to go.</h2>
				<h6>Now its time to build your global team!</h6>
				<h6>
					Remember, if you ever have questions or need help be sure to let us know:
					<a
						href="mailto:support@nexa.solutions"
					>
						<span style="color:skyblue;">support@nexa.solutions</span>
					</a>
				</h6>
				<!-- <p>Ok, now lets figure out where to send it, to do this next step, lets build your Global Team </p> -->
				<button
					type="button"
					style="max-width: 100%;margin-top: 5%"
					@click="toTeamCreation(2)"
					class="btn btn-primary"
				>Next</button>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from "@/main";
import store from "@/store";
export default {
	props: {
		step: {
			type: Number,
			required: true,
			default: 0
		}
	},
	methods: {
		toTeamCreation(value) {
			if (value == 1) {
				if (this.$route.query.user == "agent") {
					bus.$emit("sideBarUp", 1);
				} else {
					bus.$emit("sideBarUp", 1);
				}
			} else {
				if (this.$route.query.user == "agent") {
					bus.$emit("sideBarUp", 2);
				} else {
					bus.$emit("sideBarUp", 2);
				}
			}
		}
	}
};
</script>

<style>
</style>
