<template>
	<div>
		<nexa-underwriter-dashboard-header
			:setActicveMyTeam="false"
			:setActivedashboard="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="page-container">
			<div class="request-wrapper">
				<!-- side bar left -->
				<div class="equal-container">
					<!-- side bar content -->
					<nexa-underwriter-chat-sidebar :data="datas" />
					<!-- right section -->
					<nexa-underwriter-chat-content-connected />
					<!-- <nexa-underwriter-chat-content-request-sending :connected_status="connected_status" v-else-if="connected_status==1||connected_status==0"/> -->

					<div class="clearfix"></div>
				</div>
				<!-- </div> -->
			</div>
		</div>
	</div>
</template>

<script>
import NexaUnderwriterDashboardHeader from "@/components/NexaDashboard/NexaUnderwriter/NexaUnderwriterDashboardHeader";
import NexaUnderwriterChatContentConnected from "@/components/NexaDashboard/NexaUnderwriter/Chat/NexaUnderwriterChatContentConnected";
import NexaUnderwriterChatContentRequestSending from "@/components/NexaDashboard/NexaUnderwriter/Chat/NexaUnderwriterChatContentRequestSending";
import NexaUnderwriterChatSidebar from "@/components/NexaDashboard/NexaUnderwriter/Chat/NexaUnderwriterChatSidebar";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import store from "@/store";
import router from "@/router";
import { chatEngine, bus, channel } from "@/main";
export default {
	components: {
		NexaUnderwriterDashboardHeader,
		NexaUnderwriterChatContentConnected,
		NexaUnderwriterChatContentRequestSending,
		NexaUnderwriterChatSidebar
	},
	data() {
		return {
			datas: null,
			connected_status: null
		};
	},
	mounted() {
		if (chatEngine.me == false) {
			router.push({ name: "underwriterdashboard" });
		}
		this.usersConnectedStatus();
		bus.$on("changed", res => {
			this.usersConnectedStatus();
		});
		channel.bind(
			"chat-request",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.usersConnectedStatus();
				}
			}.bind(this)
		);
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		question_id() {
			return this.$route.params.id;
		}
	},
	methods: {
		usersConnectedStatus() {
			getMethods
				.connectedStatus(
					{
						agents_questions_id: this.question_id,
						broker_id: this.userDetails.user_id,
						brokers_questions_id: this.$route.params
							.brokers_questions_id,
						user_type: this.userDetails.user_type,
						other_user_type: 1
					},
					this.userDetails.token
				)
				.then(res => {
					//  bus.$emit('connected_status',res.data)
					// store.commit('ConnectedStatus',res.data)
					if (res.error == false) {
						this.connected_status = res.data[0].connect_status;
					} else {
						this.connected_status = res.data.connect_status;
					}
					this.datas = res.data;
					// console.log(datas)
					var val = this.datas[0].total_annual_sale;
					var n = val.toLocaleString("en-US", {
						style: "currency",
						currency: "USD"
					});
					this.datas[0].total_annual_sale = n;
					for (var i = 0; i < this.datas.line_coverages.length; i++) {
						if (this.datas.line_coverages[i] == 4) {
							val = Number(this.datas.comments[i]);
							// console.log("val1",val)
							val = parseInt(this.datas.comments[i], 10);
							// console.log("val2",val)
							n = val.toLocaleString("en-US", {
								style: "currency",
								currency: "USD"
							});
							// console.log("n",n)
							this.datas.comments[i] = n;
						}
						if (this.datas.line_coverages[i] == 5) {
							val = Number(this.datas.comments[i]);
							// console.log("val1",val)
							val = parseInt(this.datas.comments[i], 10);
							// console.log("val2",val)
							n = val.toLocaleString("en-US", {
								style: "currency",
								currency: "USD"
							});
							// console.log("n",n)
							this.datas.comments[i] = n;
						}
					}
					n = val.toLocaleString("en-US", {
						style: "currency",
						currency: "USD"
					});
				});
		}
	}
};
</script>

<style>
.file-upoload {
	padding-top: 10px;
	padding-right: 10px;
	font-size: 30px;
}
.display-none {
	display: none;
}
.place-center {
	justify-content: center;
	display: flex;
}
.typing-indicator-width {
	width: 10%;
}
.center-align {
	margin: 0 auto;
	display: flex;
}
.justify-content {
	display: flex;
	justify-content: center;
}
.delivered {
	width: 20px;
	height: 20px;
	float: right;
}
</style>
