<template>
	<div class="right-section broker broker-coloum">
		<div v-if="connected_status==0">
			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fa fa-align-left"></i>
				<span></span>
			</button>
			<div class="right-title" style="padding-top: 5%;">
				<h2>Send Request to Connect</h2>
				<p>To send message and see user's details.</p>
			</div>
			<div class="right-content">
				<form
					@submit.prevent="requestSendingValidation"
					data-vv-scope="chat_request_sending"
					novalidate
				>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<h2 class="all-counting-steps">
									<span class="number">1.</span>
									<span>What options might you have on this class?</span>
								</h2>
								<div class="radio-box">
									<div class="custom-control custom-radio">
										<input
											type="radio"
											id="customRadio1"
											value="1"
											v-model="options_class"
											name="customRadio1"
											class="custom-control-input"
											v-validate="'required'"
											:class="{'green': !errors.has('chat_request_sending.customRadio1'), 'red': errors.has('chat_request_sending.customRadio1') }"
										/>
										<label class="custom-control-label" for="customRadio1">Admitted</label>
									</div>
									<div class="custom-control custom-radio">
										<input
											type="radio"
											id="customRadio2"
											value="2"
											v-model="options_class"
											name="customRadio1"
											class="custom-control-input"
											v-validate="'required'"
											:class="{'green': !errors.has('chat_request_sending.customRadio1'), 'red': errors.has('chat_request_sending.customRadio1') }"
										/>
										<label class="custom-control-label" for="customRadio2">Non-admitted</label>
									</div>
									<div class="custom-control custom-radio">
										<input
											type="radio"
											id="customRadio3"
											value="3"
											v-model="options_class"
											name="customRadio1"
											class="custom-control-input"
											v-validate="'required'"
											:class="{'green': !errors.has('chat_request_sending.customRadio1'), 'red': errors.has('chat_request_sending.customRadio1') }"
										/>
										<label class="custom-control-label" for="customRadio3">Both</label>
									</div>
									<i v-show="errors.has('chat_request_sending.customRadio1')" class="fa fa-warning"></i>
									<span
										v-show="errors.has('chat_request_sending.customRadio1')"
										:class="{'green': !errors.has('chat_request_sending.customRadio1'), 'red': errors.has('chat_request_sending.customRadio1') }"
									>{{ errors.first('chat_request_sending.customRadio1') }}</span>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<h2 class="all-counting-steps">
								<span class="number">2.</span>
								<span>Do you exclusive program options available for this class?</span>
							</h2>
							<div class="radio-box">
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio4"
										value="0"
										v-model="exclusive_program"
										name="customRadio4"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio4'), 'red': errors.has('chat_request_sending.customRadio4') }"
									/>
									<label class="custom-control-label" for="customRadio4">Yes</label>
								</div>
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio5"
										value="1"
										v-model="exclusive_program"
										name="customRadio4"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio4'), 'red': errors.has('chat_request_sending.customRadio4') }"
									/>
									<label class="custom-control-label" for="customRadio5">No</label>
								</div>
								<i v-show="errors.has('chat_request_sending.customRadio4')" class="fa fa-warning"></i>
								<span
									v-show="errors.has('chat_request_sending.customRadio4')"
									:class="{'green': !errors.has('chat_request_sending.customRadio4'), 'red': errors.has('chat_request_sending.customRadio4') }"
								>{{ errors.first('chat_request_sending.customRadio4') }}</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<h2 class="all-counting-steps">
								<span class="number">3.</span>
								<span>Do you have in-house underwriting capabilities for this class?</span>
							</h2>
							<div class="radio-box">
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio6"
										value="0"
										v-model="underwriting"
										name="customRadio6"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio6'), 'red': errors.has('chat_request_sending.customRadio6') }"
									/>
									<label class="custom-control-label" for="customRadio6">Yes</label>
								</div>
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio7"
										value="1"
										v-model="underwriting"
										name="customRadio6"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio6'), 'red': errors.has('chat_request_sending.customRadio6') }"
									/>
									<label class="custom-control-label" for="customRadio7">No</label>
								</div>
								<i v-show="errors.has('chat_request_sending.customRadio6')" class="fa fa-warning"></i>
								<span
									v-show="errors.has('chat_request_sending.customRadio6')"
									:class="{'green': !errors.has('chat_request_sending.customRadio6'), 'red': errors.has('chat_request_sending.customRadio6') }"
								>{{ errors.first('chat_request_sending.customRadio6') }}</span>
							</div>
						</div>
						<div class="col-lg-6">
							<h2 class="all-counting-steps">
								<span class="number">4.</span>
								<span>Are you available to connect immediately?</span>
							</h2>
							<div class="radio-box">
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio8"
										value="0"
										v-model="connect_immediately"
										name="customRadio8"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio8'), 'red': errors.has('chat_request_sending.customRadio8') }"
									/>
									<label class="custom-control-label" for="customRadio8">Yes</label>
								</div>
								<div class="custom-control custom-radio">
									<input
										type="radio"
										id="customRadio9"
										value="1"
										v-model="connect_immediately"
										name="customRadio8"
										class="custom-control-input"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.customRadio8'), 'red': errors.has('chat_request_sending.customRadio8') }"
									/>
									<label class="custom-control-label" for="customRadio9">No</label>
								</div>
								<i v-show="errors.has('chat_request_sending.customRadio8')" class="fa fa-warning"></i>
								<span
									v-show="errors.has('chat_request_sending.customRadio8')"
									:class="{'green': !errors.has('chat_request_sending.customRadio8'), 'red': errors.has('chat_request_sending.customRadio8') }"
								>{{ errors.first('chat_request_sending.customRadio8') }}</span>
							</div>
						</div>
					</div>
					<div class="text-section">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<textarea
										class="form-control"
										v-model="message"
										id="exampleFormControlTextarea1"
										name="messsage"
										rows="4"
										placeholder="Write a message to connect"
										v-validate="'required'"
										:class="{'green': !errors.has('chat_request_sending.messsage'), 'red': errors.has('chat_request_sending.messsage') }"
									></textarea>
									<!-- <div class="heading">This message is hidden until agent agree to connect.</div> -->
									<i v-show="errors.has('chat_request_sending.messsage')" class="fa fa-warning"></i>
									<span
										v-show="errors.has('chat_request_sending.messsage')"
										:class="{'green': !errors.has('chat_request_sending.messsage'), 'red': errors.has('chat_request_sending.messsage') }"
									>{{ errors.first('chat_request_sending.messsage') }}</span>
								</div>
							</div>
						</div>
						<!-- <button type="button" @click="data='123'" class="btn btn-primary" data-toggle="modal" data-target="#send-modal">Send</button> -->
						<!-- <button type="submit" data-toggle="modal" data-target="#Credit_type" class="btn btn-primary" >Send</button> -->
						<button type="submit" class="btn btn-primary">Send</button>
						<a class="connect-remaining" href="#">
							<span>1 Credit</span>
							&nbsp;Required, {{userDetails.free_for_ever_credit}} Left in Favourite Credit and {{userDetails.connect_credit}} Left in Paid connects.
						</a>
					</div>
				</form>
			</div>
		</div>
		<div v-else>
			<button type="button" id="sidebarCollapse" class="btn btn-info">
				<i class="fa fa-align-left"></i>
				<span></span>
			</button>
			<div class="right-title" style="padding-top: 5%;">
				<h2>Send Request to Connect</h2>
				<p>To send message and see user's details.</p>
			</div>
			<div class="right-content">
				<div class="row">
					<div class="offset-lg-2 col-lg-6">
						<h2>Your request is still in progress. Please wait until they accept the request !!!</h2>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-2 col-lg-6">
						<button
							class="btn btn-danger center-align"
							@click="cancelRequest()"
							type="button"
							id="button-addon2"
						>Cancel Request</button>
					</div>
				</div>
			</div>
		</div>
		<!-- credit pop up -->
		<div
			class="modal fade broker-modal"
			id="Credit_type"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLongTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-md modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2>What credit you need use to send request??</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row justify-content">
							<div class="col-lg-6" v-if="userDetails.connect_credit>0">
								<a href="#" @click="creditUsed=1,sendRequest()" class="btn btn-info">
									<span>
										<i class="fa fa-user"></i>
									</span> Connects
								</a>
							</div>
							<div class="col-lg-6" v-if="userDetails.free_for_ever_credit>0">
								<a href="#" @click="creditUsed=2,sendRequest()" class="btn btn-info">
									<span>
										<i class="fa fa-user"></i>
									</span> Favourite Credits
								</a>
							</div>
							<div v-if="userDetails.connect==0 && userDetails.credit==0">
								<h4>Sorry no connects pending. Please purchase some from accounts.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import store from "@/store";
import { bus } from "@/main";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
export default {
	data() {
		return {
			connect_immediately: null,
			message: null,
			underwriting: null,
			exclusive_program: null,
			options_class: null,
			creditUsed: null
		};
	},
	props: {
		connected_status: {
			type: Number,
			required: true
		}
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		question_id() {
			return this.$route.params.id;
		}
	},
	methods: {
		requestSendingValidation() {
			this.$validator.validateAll("chat_request_sending").then(result => {
				if (result) {
					if (
						this.userDetails.connect_credit > 0 &&
						this.userDetails.free_for_ever_credit > 0
					) {
						$("#Credit_type").modal("show");
					} else if (
						this.userDetails.connect_credit == 0 &&
						this.userDetails.free_for_ever_credit == 0
					) {
						toastr.error(
							"Sorry you are out of connects or favourite credits. Please purchase some for getting connected."
						);
					} else {
						if (this.userDetails.connect_credit != 0) {
							this.creditUsed = 1;
							this.sendRequest();
						} else if (this.userDetails.free_for_ever_credit != 0) {
							this.creditUsed = 2;
							this.sendRequest();
						}
					}
				} else {
					toastr.error("Some mandatory fields are missing");
				}
			});
		},
		sendRequest() {
			var data = {
				user_type: this.userDetails.user_type,
				broker_id: this.userDetails.user_id,
				agents_questions_id: this.question_id,
				brokers_questions_id: this.$route.params.brokers_questions_id,
				option_class: this.options_class,
				exclusive_program: this.exclusive_program,
				underwriting: this.underwriting,
				connect_immediate: this.connect_immediately,
				message: this.message,
				credit_type: this.creditUsed
			};
			postMethods
				.sendChatRequest(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						$("#Credit_type").modal("hide");
						toastr.success(res.message);
						bus.$emit("changed", res);
					} else {
						toastr.error(res.message);
					}
				});
		},
		cancelRequest() {
			var data = {
				broker_id: this.userDetails.user_id,
				agents_questions_id: this.question_id,
				brokers_questions_id: this.$route.params.brokers_questions_id,
				other_user_type: this.userDetails.user_type
			};
			postMethods
				.cancelChatRequest(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						toastr.success(
							"The chat connection is cancelled. You can send connection when ever you want."
						);
						bus.$emit("changed", res);
					} else {
						toastr.error(res.message);
					}
				});
		}
	}
};
</script>

<style>
.connect-remaining {
	display: flex;
	padding-top: 15px;
}
</style>
