<template>
	<div class="right-section broker broker-coloum">
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fa fa-align-left"></i>
			<span></span>
		</button>
		<div ref="chat_page" class="chat-section" v-chat-scroll="{smooth: true}">
			<div v-for="(data,i) in mymessages" :key="i">
				<div v-if="data.sender==userDetails.user_id " class="send-message">
					<div class="message-box">
						<img
							v-if="data.uploadImage"
							class="place-center"
							:src="'https://ucarecdn.com/'+data.uploadedImage+'/'"
							alt
							width="100px"
							height="100px"
						/>
						<p>{{data.message}}</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div v-else-if="data.reciever==userDetails.user_id " class="received-message">
					<div class="img-box">
						<img v-if="data.image!=null" :src="url+data.image" alt />
						<img v-else src="@/assets/img/borker.png" alt />
					</div>
					<div class="message-content">
						<img
							v-if="data.uploadImage"
							class="place-center"
							:src="'https://ucarecdn.com/'+data.uploadedImage+'/'"
							alt
							width="100px"
							height="100px"
						/>
						<p>{{data.message}}</p>
					</div>
				</div>
			</div>
			<img v-if="showTypingIndicator" class="typing-indicator-width" src="@/assets/img/typing.gif" alt />
		</div>
		<div class="chatbox-section after-accept-message-box" style="margin: 0% 0% 0% -4.6%;">
			<div class="chat-box">
				<label class="place-center" v-if="upload_file2!=null" for="upload-files">
					<img :src="upload_file" alt width="150px" height="150px" />
				</label>
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						ref="messageInput"
						@focus="UnreadCountRemove"
						@blur="UnreadCountTake"
						@keyup.enter="submitMessage"
						@keyup="isTyping"
						v-model="sendMessage"
						:placeholder="'Type your message...'"
						aria-label="Recipient's username"
						aria-describedby="button-addon2"
					/>
					<label for="upload-files">
						<i class="fa fa-paperclip file-upoload" aria-hidden="true"></i>
					</label>
					<div class="input-group-append">
						<button
							class="btn btn-secondary"
							@click="submitMessage($event)"
							type="button"
							id="button-addon2"
						>Send</button>
					</div>
				</div>
			</div>
			<input
				type="file"
				name="upload_file"
				@change="onImageChange"
				id="upload-files"
				class="display-none"
			/>
		</div>
	</div>
</template>

<script>
var chatkey;
function scrollBottom() {
	this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
}
import util from "@/util";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import { chatEngine, bus } from "@/main";
import { EventBus } from "@/event-bus";
import store from "@/store";
import router from "@/router";
export default {
	data() {
		return {
			sendMessage: "",
			upload_file2: null,
			showTypingIndicator: false,
			upload_file: null,
			chatKey: null,
			url_key: process.env.VUE_APP_PUBNUB_UPLOADCARE_PUBLIC_KEY,
			friendUuid: null,
			me: null,
			uploadImageValue: false,
			agent_id: null,
			myUuid: null,
			url: process.env.VUE_IMAGE_URL,
			question_id: store.state.current_question_id,
			current_nav: 0,
			chat_question_id2: null,
			chat_question_id: null,
			chat_room: null
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		mymessages() {
			// this.$nextTick(scrollBottom);
			var arr = [];
			if (store.state.chatMessages[store.state.currentChat]) {
				arr = store.state.chatMessages[store.state.currentChat];
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
				if (arr.length > 0) {
					arr.sort((val1, val2) => {
						return new Date(val1.time) - new Date(val2.time);
					});
				}
			}
			return arr;
		}
		// broker_id(){
		//     return store.state.currentBrokerid
		// }
	},
	mounted() {
		// console.log(chatEngine)
		// if(chatEngine.me == false){
		//     router.push({name:'brokerdashboard'})
		// }
		$(this.$refs.messageInput).focus();
		this.agent_id = this.$route.params.agent_id;
		this.question_id = this.$route.params.id;
		this.friendUuid = "chating-rooms-" + this.agent_id;
		this.myUuid = "chating-rooms-" + this.userDetails.user_id;
		this.chat_question_id = "agent-question_id-" + this.question_id;
		this.chat_question_id2 =
			"broker-question-id-" + this.$route.params.brokers_questions_id;
		this.me = this.userDetails;
		this.friendUuid = this.friendUuid;
		this.me.uuid = this.myUuid;
		let uuids = [this.chat_question_id, this.chat_question_id2].sort();
		// console.log(uuids)
		this.chatKey = uuids.join("-");
		// console.log(this.chatKey)
		this.chat_room = this.chatKey;
		this.currentChatObject = store.state.chats[store.state.currentChat];
		store.commit("setCurrentChat", { chatKey: this.chatKey });
		this.newChat();
		this.$nextTick(function() {
			$("#sidebarCollapse").on("click", function() {
				$("#sidebar-left").toggleClass("active");
			});
			$("#sidebarCollapse").on("click", function() {
				$("#sidebar-left").addClass("active");
				$(".overlay").addClass("active");
				$(".collapse.in").toggleClass("in");
				$("a[aria-expanded=true]").attr("aria-expanded", "false");
			});
			$("#dismiss, .overlay").on("click", function() {
				$("#sidebar-left").removeClass("active");
				$(".overlay").removeClass("active");
			});
			$(".overlay").on("click", function() {
				$("#sidebar-left").removeClass("active");
				$(".overlay").removeClass("active");
			});
		});
		const thisComponent = this;
		//    store.state.chats[store.state.currentChat].on('$unread', (payload) => {
		//             console.log("unread active",store.state.chats[store.state.currentChat].unreadCount)
		//             var active = $('.chat-listing').find('.active').attr('id');
		//             console.log("active listing",active)
		//             $('#chatMessageCountAgent'+active).html(store.state.chats[store.state.currentChat].unreadCount || '');
		//     });
		// Focus on the text input, and clear it, when a chat is selected
		EventBus.$on("focus-input", event => {
			this.$refs.messageInput.focus();
			this.$refs.messageInput.value = "";
		});
		// Add a typing indicator visual to the UI
		EventBus.$on("typing-start", chatKey => {
			if (store.state.currentChat === chatKey) {
				console.log("typing start");
				this.showTypingIndicator = true;
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
				// this.$nextTick(scrollBottom);
			}
		});

		// Remove the typing indicator visual from the UI
		EventBus.$on("typing-stop", chatKey => {
			if (store.state.currentChat === chatKey) {
				console.log("typing stop");
				this.showTypingIndicator = false;
			}
		});
	},
	methods: {
		newChat() {
			if (!this.friendUuid) {
				return;
			}

			// Make a new chat key using the friend and client's ID.
			let uuids = [this.chat_question_id, this.chat_question_id2].sort();
			this.chatKey = uuids.join("-");

			// Don't make the same 1:1 chat if it already exists
			if (store.state.chats[this.chatKey]) {
				this.friendUuid = "";
				this.isActive = false;
				return;
			}

			// Make the new 1:1 private Chat (can be set to a variable for invite use)
			const newOneToOneChat = util.newChatEngineChat(
				store,
				chatEngine,
				{
					chatKey: this.chatKey,
					uuid: this.friendUuid
				},
				true
			);
			this.isActive = false;
			// console.log("newone to chat",newOneToOneChat)
			// Automatically add this 1:1 chat to the other user's Client and UI
			// Be sure to set variable `newOneToOneChat` above
			// More invite code in (main.js)
			if (
				this.friendUuid &&
				newOneToOneChat &&
				newOneToOneChat.chatEngine.users[this.friendUuid]
			) {
				const user = newOneToOneChat.chatEngine.users[this.friendUuid];
				newOneToOneChat.invite(user);
			}

			// Clear the text input for adding a friend
			// this.friendUuid = '';
		},
		isTyping() {
			const state = store.state;
			const currentChatObject =
				store.state.chats[store.state.currentChat];
			// Trigger the typing indicator start
			if (currentChatObject.typingIndicator && event.key !== "Enter") {
				currentChatObject.typingIndicator.startTyping();
			}
		},
		UnreadCountRemove() {
			const currentChatObject = store.state.chats[this.chatKey];
			util.unreadMessagesActiveBroker(currentChatObject);
		},
		UnreadCountTake() {
			const currentChatObject = store.state.chats[this.chatKey];
			util.unreadMessagesInActiveBroker(currentChatObject);
		},
		submitMessage($event) {
			// if (!event.shiftKey) {
			//     event.preventDefault();
			// } else {
			//     return;
			// }

			// If the message body is empty, do not submit
			if (this.sendMessage.length === 0 && this.upload_file == null) {
				toastr.error("Cant sent empty messages");
				return;
			}
			console.log(store);
			// const state = store.state;
			const currentChatObject =
				store.state.chats[store.state.currentChat];
			// Only display typing indicator in private 1:1 chats
			if (
				currentChatObject.isPrivate &&
				currentChatObject.typingIndicator
			) {
				currentChatObject.typingIndicator.stopTyping();
			}
			if (this.upload_file != null) {
				// e.preventDefault();
				let currentObj = this;
				const config = {
					headers: { "content-type": "multipart/form-data" }
				};
				let formData = new FormData();
				formData.append("image", this.upload_file2);
				formData.append("UPLOADCARE_PUB_KEY", this.url_key);
				formData.append("UPLOADCARE_STORE", 1);
				return new Promise((resolve, reject) => {
					this.$http
						.post(
							"https://upload.uploadcare.com/base/",
							formData,
							config
						)
						.then(function(response) {
							// this.upload_file = response.body.image
							(this.upload_file = null),
								(this.upload_file2 = null);
							this.uploadImageValue = true;
							store.dispatch("sendMessage", {
								chat: store.state.currentChat, // a chat key
								message: {
									sender: this.userDetails.user_id,
									uploadImage: this.uploadImageValue,
									uploadedImage: response.body.image,
									reciever: this.agent_id,
									image: this.userDetails.profile_pic,
									message: this.sendMessage,
									chat_room: this.chat_room
								}
							});
							// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
						})
						.catch(function(error) {
							console.log(error);
						});
				});
			} else {
				store.dispatch("sendMessage", {
					chat: store.state.currentChat, // a chat key
					message: {
						sender: this.userDetails.user_id,
						uploadImage: this.uploadImageValue,
						uploadedImage: this.upload_file2,
						reciever: this.agent_id,
						image: this.userDetails.profile_pic,
						message: this.sendMessage,
						chat_room: this.chat_room
					}
				});
				// this.$refs.chat_page.scrollTo(0, this.$refs.chat_page.scrollHeight);
			}
			this.uploadImageValue = false;
			this.sendMessage = null;
			// $(this.$refs.messageInput).blur();
			// Reset the text input
			event.target.value = "";
		},
		onImageChange($event) {
			// console.log($event)
			this.upload_file = $event.target.files[0];
			this.upload_file2 = $event.target.files[0];
			this.createImage(this.upload_file);
		},
		createImage(file) {
			var upload_file = new Image();
			var reader = new FileReader();

			reader.onload = e => {
				this.upload_file = e.target.result;
			};
			reader.readAsDataURL(file);
		}
	}
};
</script>

<style>
.after-accept-message-box {
	margin-left: 0%;
	/* margin-bottom: -5%; */
	padding: 25px 20px 33px 15px;
}
.file-upoload {
	padding-top: 10px;
	padding-right: 10px;
	font-size: 30px;
}
.display-none {
	display: none;
}
.place-center {
	justify-content: center;
	display: flex;
}
.typing-indicator-width {
	width: 10%;
}
</style>

