<template>
	<div class="sidebar-left broker-l-bar broker-coloum" id="sidebar-left">
		<div class="side-topbar">
			<div id="dismiss">
				<!-- <i  class="fa fa-arrow-left"></i> -->
			</div>
			<a @click="goBack()" href="#" class="arrow-link">
				<i class="fa fa-angle-left"></i> Back
			</a>
			<h3 class="h-group">
				<a href="#">{{res.interest}}</a>
			</h3>
			<p>{{res.renewal_date}}</p>
		</div>

		<div class="location-detail">
			<div v-if="data.length!=0" class="user-location broker-location">
				<div id="chatMessageCountBroker" class="chetmsg">0</div>
				<div class="image-box">
					<div>
						<img class="image_style" v-if="data[0].profile_pic==null" src="@/assets/img/anon-img.png" alt />
						<img
							class="image_style"
							v-else-if="data[0].profile_pic!=null"
							:src="url+data[0].profile_pic"
							alt
						/>
						<img
							class="image_style"
							v-else-if=" data[0].profile_pic==null&&data[0].linkedin_pic!=null"
							:src="data[0].profile_pic"
							alt
						/>
					</div>

					<div class="content">
						<h4>
							<a href="#">{{data[0].first_name}} {{data[0].last_name}}</a>
						</h4>
						<div
							v-if="data.agent_location.length>0"
							class="location"
						>{{data.agent_location[0].agent_location}}</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="table-responsive">
					<table class="my-table">
						<tbody>
							<tr>
								<td width="80%">Industry Type</td>
								<td>{{data[0].interest}}</td>
							</tr>
							<tr>
								<td>Primary Location</td>
								<td>{{data[0].primary_location}}</td>
							</tr>
							<tr>
								<td>Other states included</td>
								<td v-if="data.states!=null">{{data.states}}</td>
								<td v-else>No</td>
							</tr>
							<tr>
								<td>Coastal Exposure</td>
								<td v-if="data[0].coastal_exposure==1">Yes</td>
								<td v-else>No</td>
							</tr>
							<tr>
								<td colspan="2">
									<h3>Lines of Coverage Requested</h3>
									<ul v-for="(datas,i) in data.line_coverages" :key="i">
										<li v-if="datas==4">Property {{'('+data.comments[i]+')'}}</li>
										<li v-if="datas==1">General Liability</li>
										<li v-if="datas==6">Liquor</li>
										<li v-if="datas==8">Auto</li>
										<li v-if="datas==5">Umbrella {{'('+data.comments[i]+')'}}</li>
										<li v-if="datas==11">EPLI</li>
										<li v-if="datas==9">Crime</li>
										<li v-if="datas==10">Work Comp</li>
										<li v-if="datas==3">Cyber</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>Total Annual Sales</td>
								<td>{{data[0].total_annual_sale}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { bus } from "@/main";
import store from "@/store";
import router from "@/router";
export default {
	data() {
		return {
			url: process.env.VUE_IMAGE_URL
		};
	},
	props: {
		data: {
			required: true
		}
	},
	computed: {
		res() {
			return store.state.res;
		}
	},
	methods: {
		goBack() {
			router.push({ name: "underwriterdashboard" });
		}
	}
};
</script>

<style>
.image_style {
	width: 70px;
	height: 70px;
	border-radius: 50px;
}
</style>
