.opacity-basic-ques{pointer-events: none;}
.background-color-blue{background-color: #4e97f1;}
.slider-wrap-ques{padding-top: 36px !important;}
 #sidebar ul li a{color:#9da9b7; font-size: 16px; text-decoration: none;padding: 5px 0 20px;  padding-left: 45px; display: block; position: relative;}
  #sidebar ul li a:before{position: absolute; width: 21px; height:21px; border-radius:50px; border:solid 2px #d8dfe4; display: inline-block; content:''; left:0; top:6px; z-index: 2;}
  /*#sidebar ul li a:before{border:solid 2px #4e97f1;}*/
  #sidebar ul li a:after{position: absolute;   content: ''; background-color: #d8dfe4; width: 2px; height: 30px; bottom: -8px; left: 9px; z-index: 1;}
   /*#sidebar ul li a.check-mark{width: 21px; height:21px; border-radius:50px; border:solid 2px #d8dfe4;background:#d8dfe4;  }*/
  #sidebar ul li a span.check-mark:before{position: absolute; content: '\f00c'; font-size: 14px; color: #fff; top: 6px; left: 0px;  font-family: 'FontAwesome'; line-height: 21px; text-indent: 3px; opacity: 1; height: 21px; width: 21px; background:#3799f1; border-radius: 50px; z-index: 99;}
  #sidebar ul li a span.check-mark:after{position: absolute;   content: ''; background-color: #3799f1; width: 2px; height: 30px; bottom: -8px; left: 9px; z-index: 2;}
  #sidebar ul li:last-child a span.check-mark:after{height:0;}
  #sidebar ul li a.active, #sidebar ul li a:hover{color: #64768c;}
  #sidebar ul li a.active:before{border-color:#3799f1;}
  /*#sidebar ul li a.active:before .check-mark{opacity: 1;}*/
  #sidebar ul li:last-child a:after{display: none;}
 
  .custom-input-class-checkbox{height: 34vh !important;
    white-space: nowrap !important;
    overflow-y: auto !important;
    overflow-x: auto !important; 
    border-left: 1px solid #ccc !important;
    /* box-shadow: -1px -2px #e7e5e5 !important; */
}
  .custom-input-class-checkbox-without-border{
    height: 34vh !important;
    white-space: nowrap !important;
    overflow-y: auto !important;
    overflow-x: auto !important;
  }
.interest-suggestion-modal .modal-content {
    min-height: 575px !important;
}
.interest-suggestion-modal .modal-body {
    max-height: 510px !important;
    overflow-y: auto !important;
}
.interest-suggestion-modal .modal-header, .view-modal .modal-header, .billingModal .modal-header {
    background: #4e97f1 !important;
    padding: 10px 20px !important;
    margin-left:-1px;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.2) !important;
    box-shadow: 0px 5px 15px rgba(0,0,0,.2) !important;
    border: none !important;
}
.interest-suggestion-modal h2 {
    padding-bottom: 35px !important;
}
.custom-checkbox .custom-control-input-checkbox:checked ~ .custom-control-label-checkbox::before{
    background: #fff !important ;
    border-color: #3799f1 !important;
}
.custom-checkbox .custom-control-input-checkbox:checked ~ .custom-control-label-checkbox::after {
    top: 2px !important;
    left: -3px !important;
}
.custom-control-label-checkbox::before {
    height: 18px !important;
    width: 18px !important;
    top: 5px !important;
    background: #fff !important;
    border: 2px solid #dbe1e6 !important;
}
.custom-control-label-checkbox {
    font-size: 12px !important;
    color: #a6afbc !important;
}
.custom-control-checkbox {
    padding-left: 28px !important;
    padding-bottom: 0px !important;
}
header .user-image-linked-in img {
    width: 65% !important;;
    height: auto !important;;
    border-radius: 50% !important;;
}
.custom-image-style-header{
    width:65px !important;
    height:65px !important;
    border-radius: 50px;
    padding-right:0px !important
}
.custom-image-style-form{
    width: 100px !important;
    height:100px !important;
    border-radius: 50px;
    padding-right:0px !important
}
.li-font-size{
font-size: 12px !important;;
text-align: left !important;;
}

.row-center-align{
display: inline !important;;
justify-content: center !important;;
}

.choose-get-started-package .package-box .dolor{
color:white !important;;
}
.choose-get-started-package .package-box .title{
    font-size: 20px !important;;
    color:white !important;;
}
.header-background-color{
background-color: #3298db !important;;
}

.padding-bottom{
        margin: 0px 0px 5px 0px !important;;
    padding-bottom: 0px !important;;
    height: 170px !important;;
}
.choose-get-started-package .package-box a.btn-primary {
border: solid 2px #3298db !important;;
background: #3298db !important;;
color: #f8f9fa !important;;
position: relative !important;;
}

@media (max-width: 1680px){
.footer-ques {
    position: fixed !important;;
}
}

.package-superadmin{
    background-color: black !important;;
    margin: 0px 0px 0px 0px !important;;
    padding: 7px 0px 7px 0px !important;;
    border-radius: 7px !important;;
    color: white !important;;
    font-size: 12px !important;;
}
.choose-get-started-package .package-box {
    border: solid 1px #d8dfe4 !important;;
    border-radius: 5px !important;;
    padding: 0px 0px !important;;
    text-align: center !important;;
    margin-bottom: 20px !important;;
    height: 97% !important;;
}

.sub-font{
    font-size: 7px !important;
    display: inline !important; ;
}
.ul-min-height{
    min-height: 250px !important;;
margin: 2px 0px -5px -20px !important;;
}
.sidebar-get-started ul li a {
    font-size: 12px !important;
}
.sidebar-get-started ul li a:after {
    height: 25px !important;
}
.button-background-color{
        background-color: #edf0f1 !important;; 
    padding: 10px 0px 10px 0px !important;;
    margin-bottom: -5px !important;;
}
.custom-image-style-form{
    width: 100px !important;
    height:100px !important;
    border-radius: 50px;
    padding-right:0px !important
}
/* .custom-image-style-form:hover{
	background-image: url('../../assets/img/broker.png')
	
}  */
.ih-item.circle {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.ih-item.circle.effect1 .info {
    top: 0px;
    bottom: 0;
    left: 3px;
    right: 0;
    background: #333333;
    background: #72acf09c;
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
    color: #fff ;
    text-transform: unset;
    position: relative;
    letter-spacing: 2px;
    font-size: 14px;
    margin: 0px 20px;
    padding: 34px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
/* .btn-choose-package:before {
    content: "" !important;
    font-size: 13px !important;
    top: 6px !important;
    left: 10px !important;
}
.btn-choose-package:after {
    content: "" !important;
    right: -5rem !important;
    top: 6px !important;
    left: 10px !important;
    opacity: .5 !important;
    font-size: 13px !important;
    font-weight: 700 !important;
}
.switch-icon .btn-choose-package {
    margin-right: 18px !important;
    padding: 0 !important;
    position: relative !important;
    border: none !important;
    height: 1.5rem !important;
    width: 3rem !important;
    border-radius: 1.5rem !important;
    color: #6b7381 !important;
    background: #6dcd6d !important;
}
.switch-icon .btn-choose-package {
    padding: 0 !important;
    position: relative !important;
    border: none !important;
    height: 44px !important;
    width: 78px !important;
    border-radius: 2.5rem !important;
    
}
.switch-icon .btn-choose-package.active {
    background-color: #6dcd6d !important;
}
.btn-choose-package.active > .handle {
    left: 36px !important;
    -webkit-transition: left .25s !important;;
    transition: left .25s !important;;
}
.btn-choose-package > .handle {
    position: absolute;
    top: 2px !important;
    left: 2px !important;
    width: 39px !important;
    height: 39px !important;
    border-radius: 1.875rem !important;;
    background: #fff !important;;
    -webkit-transition: left .25s !important;;
    transition: left .25s !important;;
} */
.choose-package .package-box a.btn-choose-plan:active {
    border: 2px solid rgba(57,140,238,1) !important;;
}
/* .add-new-modal .slider-wrap {
    margin-left: 0px !important;
    max-width: 620px !important;
} */
.wrapper .question-wrapper .qus-contant-getstarted {
    max-width: 900px !important;;
    margin: 0 auto !important;;
    position: relative !important;;
    margin: 7% 0 0 0% !important;;
    padding-left: 6% !important;;
}
/* .checkbox-operates-in-multiple-states{
    height:150px;
    overflow-x:hidden;
    overflow-y: scroll;
	width:600px;
	border:1px solid;
	border-radius:10px;
	margin-left: 30px;
} */

/* .dropdown-item.active, .dropdown-item:active{
    background-color:#d1d7de;
} */
.top-padding-col{
	padding-top:10px;
}
.question-wrapper .multipal-states label {
    font-size: 14px;
    color: #4e97ef;
    padding-top: 0px;
}
.col-1-padding{
	padding-left: 10px;
    padding-top: 5px;
}
.col-9-padding{
	padding-left:0px;
}
.col-9-margin{
	 margin-left: -15px;
}
.padding-row{
	padding-left:50px;padding-top:5px;padding-bottom:5px;
}
.field-icon {
  margin-left: -25px;
  margin-top: -25px;
}
.display-inline{
	display:inline;
}
.ih-item.circle.effect1 .info {
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    background: #333;
    background: #72acf09c;
    opacity: 0;
    transition: all .8s ease-in-out;
}
.button-edit{
    width: 100px;
    height: 30px;
}
.display-center-button-edit-content{
    padding-right: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cursor-hand{
    cursor: pointer;
}