<template>
	<div>
		<nexa-marketing-reps-dashboard-header
			:setActivedashboard="true"
			:setActicveMyTeam="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrap-content broker-dashboard">
			<div class="custom-container-fluid">
				<div class="content-title">
					<div class="row">
						<div class="col-lg-9 col-sm-6 col-12">
							<div class="content-title">
								<h1>Opportunities that Match Your Filters</h1>
							</div>
						</div>
						<!-- <div class="col-lg-3 col-sm-6 col-12">
                            <a href="#" class="btn btn-primary" @click="check()" data-toggle="modal" data-target="#broker-question">Add new filter<span><i class="fa fa-plus"></i></span></a>
						</div>-->
					</div>
					<div class="broker-tabing">
						<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pending" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pending</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="connected" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Connected</a>
                            </li>
						</ul>-->
						<!-- <div class="preference">
                            <a href="#">Preferences</a>
                        </div> 
                        <div class="dropdown preference">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Preferences
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Link 1</a>
                                <a class="dropdown-item" href="#">Link 2</a>
                                <a class="dropdown-item" href="#">Link 3</a>
                            </div>
						</div>-->
					</div>
					<!-- Pending -->
				</div>
				<div class="connection">
					<div class="row">
						<div class="col-lg-6 col-5">
							<span
								v-if="brokerLeadDataListPending.length>0"
							>{{brokerLeadDataListPending.length}} New Matches for you.</span>
							<span v-else>No New Matches for you.</span>
							<!-- <div class="dropdown show show-filter">
                            <a class=" dropdown-toggle" href="#"  id="sho-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Show Filters
                            </a>

                            <div class="dropdown-menu" aria-labelledby="sho-filter">
                                <a class="dropdown-item" href="#">Full Market...</a>
                                <a class="dropdown-item" href="#">Rush Orders</a>
                            </div>
							</div>-->
						</div>
						<div class="col-lg-6 col-7">
							<div class="form-group form-inline">
								<label for="exampleFormControlInput1">Show</label>
								<select class="form-control" v-model="filterValue" id="exampleFormControlSelect2">
									<option value="0">All</option>
									<option v-tooltip="{content:'Full Market Participation'}" value="1">Full Market...</option>
									<option value="2">Rush Orders</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="agent-content-box overflow-auto">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<!-- box 1 -->
						<div v-if="brokerLeadDataListPending.length>0" class="content-box dashboard-content">
							<ul
								v-for="(data,i) in brokerLeadDataListPending"
								:key="i"
								:id="'agents_questions_id_'+data.id"
								:class="{'background-color-clicked':selectedClass == data.id}"
							>
								<li class="user-per">
									<a href="#" class="cursor-non-link">{{data.percentage}}%</a>
									<p>Match</p>
								</li>
								<li class="user-name">
									<h2 class="cursor-non-link">{{data.first_name}} {{data.last_name}}- {{data.interest}}</h2>
									<p class="cursor-non-link">{{data.created_at | moment("calendar")}}</p>
								</li>
								<li class="rush">
									<a
										v-if="data.response_brokers==4"
										class="full-market cursor-non-link"
									>Full Market Participation</a>
									<a v-if="data.rush_request!=null" class="cursor-non-link" href="#">Rush Order</a>
								</li>
								<li class="image-box"></li>
								<li class="view-button">
									<a href="#" @click="chatpage(data)" class="btn btn-info">Chat</a>
								</li>
							</ul>
						</div>
						<div v-else class="content-box dashboard-content">
							<ul>
								<h2 class="center-align-ul">No Matches found.</h2>
							</ul>
						</div>
					</div>
					<!-- start comment section -->
					<!-- <div class="tab-content" id="myTabContent"> -->

					<!-- connect -->
					<!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="connection">
                                <div class="row">
                                    <div class="col-lg-6 col-6">
                                        <p v-if="brokerLeadDataListConnected.length>0">{{brokerLeadDataListConnected.length}} Connections made.</p>
                                        <p v-else>No Connections made.</p>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                    <div class="form-group form-inline">
                                        <label for="exampleFormControlInput1">Show</label>
                                        <select class="form-control" v-model="filterValue" id="exampleFormControlSelect2">
                                            <option value='0'>All</option>
                                            <option value='1'>Full Market...</option>
                                            <option value='2'>Rush Orders</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div v-if="brokerLeadDataListConnected.length>0" class="content-box dashboard-content">
                                <ul v-for="(data,i) in brokerLeadDataListConnected" :key="i" :class="{'team-member':data.team_status==1}">
                                    <li class="user-per">
                                        <a class="cursor-non-link" href="#">{{data.percentage}}%</a>
                                        <p>Match</p>
                                    </li>
                                    <li class="user-name">
                                        <h2 class="cursor-non-link">{{data.agency_name}}</h2>
                                        <p class="cursor-non-link">{{data.renewal_date}}</p>
                                    </li>
                                    <li class="rush">
                                        <a v-if="data.response_brokers==2" class="full-market cursor-non-link">Full Market Participation</a> 
                                        <a v-if="data.rush_request!=null" class="cursor-non-link" href="#">Rush Order</a> 
                                    </li>
                                    <li class="image-box"  style="padding-top: 20px;padding-bottom: 10px;">
                                        <div class="row" style="padding-left:5px;">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                                <a  v-if="data.profile_pic==null" class="cursor-non-link"  href="#"><img style="width:65px;height:65px;border-radius:50px;padding-right:0px;" src="@/assets/img/borker.png" alt=""></a>
                                                <a v-else class="cursor-non-link" href="#"><img style="width:65px;height:65px;border-radius:50px;padding-right:0px;" :src="url+data.profile_pic" alt=""></a>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <a style="padding-left: 10px;padding-top: 20px;display: flex;justify-content: left;" class="cursor-non-link" href="#">{{data.first_name}} {{data.last_name}}</a>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-6">
                                                <a v-if="data.team_status==1" style="margin-top: 15px;"  class="team-member cursor-non-link" href="#">Team member</a>
                                            </div>
                                        </div>
                                        
                                    </li>
                                    
                                    <li class="view-button">
                                        <a href="#" @click="chatpage(data)" class="btn btn-info">View</a>
                                    </li>
                                </ul>
                            </div>
                            <div v-else class="content-box dashboard-content">
                                <ul >
                                    <h2 class="center-align-ul">No connected history found. Please connect to someone first</h2>
                                </ul>
                            </div>
					</div>-->
					<!-- </div> -->

					<!-- ends comment section  -->
				</div>
			</div>
		</div>
		<nexa-footer />
		<nexa-marketing-reps-dashboard-modal />
	</div>
</template>

<script>
import "chat-engine-uploadcare";
import util from "@/util";
import { chatEngine, pubnub, bus, channel, pusher } from "@/main";
import { EventBus } from "@/event-bus";
import ChatEngineCore from "chat-engine";
import store from "@/store";
import "../../../../node_modules/chat-engine-typing-indicator/dist/chat-engine-typing-indicator.js";
import NexaMarketingRepsDashboardHeader from "@/components/NexaDashboard/NexaMarketingReps/NexaMarketingRepsDashboardHeader";
import NexaMarketingRepsDashboardModal from "@/components/NexaDashboard/NexaMarketingReps/NexaMarketingRepsDashboardModal";
import NexaFooter from "@/components/NexaFooter";
import router from "@/router";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import push from "push.js";
export default {
	components: {
		NexaMarketingRepsDashboardHeader,
		NexaMarketingRepsDashboardModal,
		NexaFooter
	},
	data() {
		return {
			brokerLeadDataListConnected: [],
			brokerLeadDataListPending: [],
			url: process.env.VUE_IMAGE_URL,
			chatKey: null,
			myUuid: null,
			me: null,
			chatLoaded: true,
			filterValue: null,
			selectedClass: this.$route.params
				? this.$route.params.match_id
				: null
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	watch: {
		filterValue(newval, oldval) {
			if (newval == 0) {
				this.getBrokerLeadData();
			} else if (newval == 1) {
				this.brokerLeadDataListPendingFullMarket();
			} else {
				this.brokerLeadDataListPendingRushOrders();
			}
		}
	},
	mounted() {
		bus.$on("notification-click-matches", res => {
			this.selectedClass = res.match_id;
		});
		this.getBrokerLeadData();
		this.myUuid = "chating-rooms-" + this.userDetails.user_id;
		this.me = this.userDetails;
		chatEngine.connect(this.myUuid, this.me);
		this.filterValue = "0";
		chatEngine.on("$.ready", function(data) {
			// store my new user as `me`
			var vm = this;
			let me = data.me;
			store.commit("setMe", { me });
			this.chatLoaded = false;
			me.direct.on("$.invite", event => {
				let uuids = [event.sender.uuid, store.state.me.uuid].sort();
				this.chatKey = uuids.join("-");
				// Don't make the same 1:1 chat if it already exists
				if (store.state.chats[this.chatKey]) {
					return;
				}
				// Make the new 1:1 private Chat
				util.newChatEngineChat(
					store,
					chatEngine,
					{
						chatKey: this.chatKey,
						uuid: event.sender.uuid
					},
					true
				);
			});
		});
		channel.bind(
			"matches",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					push.create("Nexa", {
						body: data.message,
						icon: this.push_icon_url + "Nexa-80-80.png",
						timeout: 6000,
						onClick: function() {
							console.log(this);
						}
					});
					this.getBrokerLeadData();
				}
			}.bind(this)
		);
		channel.bind("chat-request", function(data) {
			if (this.userDetails.user_id == data.reciever_id) {
				push.create("Nexa", {
					body: data.message,
					icon: this.push_icon_url + "Nexa-80-80.png",
					timeout: 6000,
					onClick: function() {
						console.log(this);
					}
				});
				this.getBrokerLeadData();
			}
		});
		bus.$on("lead-data-search", res => {
			console.log(res);
			var data = {
				broker_id: this.userDetails.user_id,
				key: res
			};
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.MarketingRepsMatchingDataSearchPending(
					data,
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
					}
				});
			// }else if(active=='connected'){
			//     getMethods.brokerMatchingDataSearchConnected(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }
			//         })
			// }
		});
	},
	methods: {
		check() {
			console.log("test");
		},
		getBrokerLeadData() {
			getMethods
				.getMatchingLeadDataConnected(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListConnected = [];
						// console.log(this.brokerLeadDataListConnected.length)
						var data = Object.keys(res.data).map(i => res.data[i]);
						// console.log(data)
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListConnected.push(data[i]);
						}
					} else {
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
					// console.log(res)
				});
			getMethods
				.getMarketingRepsMatchingLeadDataPending(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
						if (data.length == 0) {
							if (
								!this.$cookies.isKey(
									"broker_lead_data_matching_not_found"
								)
							) {
								this.$cookies.set(
									"broker_lead_data_matching_not_found",
									this.randomNumber(),
									60 * 60 * 24
								);
								this.$swal
									.fire({
										text:
											"No matches is found yet. We will notify you when appropriate matches found. Or else you can create a new filter in the account section.",
										type: "question",
										confirmButtonColor: "#3085d6",
										cancelButtonColor: "#d33",
										confirmButtonText: "Create New Filter"
									})
									.then(result => {
										if (result.value) {
											router.push({
												name: "accounts",
												params: {
													link: "lead_data_filter_add"
												}
											});
										}
									});
							}
						}
					} else {
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
				});
		},
		randomNumber() {
			var text = "";
			var possible =
				"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 5; i++)
				text += possible.charAt(
					Math.floor(Math.random() * possible.length)
				);

			return text;
		},
		brokerLeadDataListPendingRushOrders() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 2
			};
			var active = $("#myTab")
				.find(".active")
				.attr("id");
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }

			//             })
			// }else if(active=='connected'){
			//      getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMarketingRepsMatchingLeadDataPendingFilter(
					data,
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		brokerLeadDataListPendingFullMarket() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 1
			};
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMarketingRepsMatchingLeadDataPendingFilter(
					data,
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		chatpage(data) {
			console.log(data);
			var datas = {
				user_type: this.userDetails.user_type,
				broker_id: this.userDetails.user_id,
				agents_questions_id: data.id,
				brokers_questions_id: data.brokers_questions_id
			};
			postMethods
				.sendChatRequest(datas, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						toastr.success(res.message);
					} else {
						toastr.error(res.message);
					}
				});
			store.commit("changeQuestionId", data.id);
			store.commit("selected_interest_data", data);
			bus.$emit("chat_page_called", "test");
			router.push({
				name: "marketingrepschatpage",
				params: {
					id: data.id,
					brokers_questions_id: data.brokers_questions_id,
					agent_id: data.agent_id
				}
			});
		}
	}
};
</script>
<style>
.center-align-ul {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}
.overflow-auto {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
/* .request{ 
    font-size: 12px; 
    color: #4ecc9a; 
}
.request:before{ 
    font-size: 12px; 
    color: #4ecc9a; 
    position: absolute; 
    left: 0; 
    content: '\f00c';
    font-family: 'FontAwesome';
} */
.broker-dashboard .dropdown-toggle::after {
	display: contents;
	position: relative;
	top: 18%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.background-color-clicked {
	background-color: #d8e7fb;
}
</style>
