<template>
	<header class="header login-signup-head dashboard-header broker-header n-header">
		<div class="custom-container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand cursor-class" href="#">
					<img src="@/assets/img/Nexa.png" alt />
				</a>
				<div class="form-section">
					<form class="form-inline">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-search" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
							<input
								type="search"
								v-model="search_value"
								class="form-control search-bar"
								placeholder="Explore and Find opportunites"
								aria-label
								aria-describedby="basic-addon1"
							/>
						</div>
					</form>
				</div>

				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- navbar -->
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav dashboard account-nav">
						<li :class="{active:setActivedashboard}" class="nav-item">
							<a @click="dashboard()" href="#" class="account">Opportunities</a>
						</li>
						<li
							id="myteam"
							:class="{active:setActicveMyTeam}"
							class="cursor-class nav-item header-bar-dashboard"
						>
							<a @click="myTeamView()" class="account cursor-class">My Teams</a>
						</li>
						<!-- <li :class="{active:setActiveAccount}" class="nav-item">
                            <a @click="accountView()" href="#">Account</a>
						</li>-->
					</ul>
				</div>
				<div class="header-content">
					<!-- notification -->
					<div class="notification">
						<div v-if="unreadCount>0" class="dropdown show">
							<a
								@click="getNotifications()"
								class="noti-panel"
								href="#"
								role="button"
								id="dropdownMenuLink"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								<i class="fa fa-bell-o"></i>
								<div class="notifaction-icon">{{unreadCount}}</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
								<h3>Notifications</h3>
								<ul>
									<li
										v-for="(data,i) in notificationDetails"
										:key="i"
										:class="{read:data.is_read==1,unread:data.is_read==0}"
										@click="selectedNotification(data)"
									>
										<a class="dropdown-item" href="#" :v-scroll-to="'agents_questions_id_'+data.match_id">
											<div class="image-box">
												<img src="@/assets/img/anon-img.png" alt />
											</div>
											<div class="notification-content">
												<h5>{{data.content}}</h5>
												<!-- <p>10 Minutes ago</p> -->
												<p>{{data.created_at | moment("calendar")}}</p>
											</div>
										</a>
									</li>
								</ul>
								<div class="noti-footer">
									<a @click="fullNotifications()" href="#">See All</a>
								</div>
							</div>
						</div>
						<div v-else class="dropdown show">
							<a
								@click="getNotifications()"
								class="noti-panel"
								href="#"
								role="button"
								id="dropdownMenuLink"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false"
							>
								<i class="fa fa-bell-o"></i>
								<!-- <div  class="notifaction-icon">{{unreadCount}}</div> -->
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
								<h3>Notifications</h3>
								<ul class="ul-no-content">No new notifications found</ul>
								<div class="noti-footer">
									<a @click="fullNotifications()" href="#">See All</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- user-icon -->
				<div class="user-image broker-button dropdown show">
					<a
						class
						href="#"
						role="button"
						id="dropdownMenuLink2"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<img
							class="user-image-linked-in"
							v-if="userDetails.profile_pic!=null"
							:src="url+userDetails.profile_pic"
							:alt="userDetails.first_name"
						/>
						<img
							class="user-image-linked-in"
							v-else-if="userDetails.profile_pic==null&&userDetails.linkedin_pic!=null"
							:src="userDetails.linkedin_pic"
							:alt="userDetails.first_name"
						/>
						<img v-else src="@/assets/img/borker.png" class="user-image-linked-in" alt />
					</a>
					<div
						class="dropdown-menu dropdown-menu-right broker-panel"
						role="menu"
						aria-labelledby="dropdownMenuLink2"
					>
						<div class="col-lg-12">
							<div class="text-center">
								<img
									class="header-image"
									v-if="userDetails.profile_pic!=null"
									:src="url+userDetails.profile_pic"
									:alt="userDetails.first_name"
								/>
								<img
									class="header-image"
									v-else-if="userDetails.profile_pic==null&&userDetails.linkedin_pic!=null"
									:src="userDetails.linkedin_pic"
									:alt="userDetails.first_name"
								/>
								<img class="header-image" v-else src="@/assets/img/borker.png" alt />
								<h2>{{userDetails.first_name}} {{userDetails.last_name}}</h2>
								<a href="#" class="mail cursor-non-link">{{userDetails.email_address}}</a>
								<!-- <ul class="credit">
                                    <li><a href="#" class="credit-left cursor-non-link" > {{userDetails.free_for_ever_credit}} Favorite Credit left</a></li>
                                    <li><a href="#" class="credit-left cursor-non-link" > {{userDetails.connect_credit}} Connect left</a></li>
                                    <li><a @click="subscriptionPlan()">Get More</a></li>
								</ul>-->
								<ul class="my-account cursor-class">
									<li>
										<a @click="myAccount()">My Account</a>
									</li>
									<!-- <li><a @click="subscriptionPlan()">Subscription Plan</a></li> -->
									<li>
										<a @click="logout()">Log Out</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
</template>
<script>
var user;
const notification = {
	title: "Your title",
	options: {
		body: "This is an example!"
	},
	events: {
		onerror: function() {
			console.log("Custom error event was called");
		},
		onclick: function() {
			console.log("Custom click event was called");
		},
		onclose: function() {
			console.log("Custom close event was called");
		},
		onshow: function() {
			console.log("Custom show event was called");
		}
	}
};
import router from "@/router";
import { bus, channel, pusher } from "@/main";
import store from "@/store";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import push from "push.js";
export default {
	data() {
		return {
			url: process.env.VUE_IMAGE_URL,
			unreadCount: 0,
			notificationDetails: [],
			myWorker: null,
			search_value: null,
			push_icon_url: process.env.VUE_PUSH_ICON_URL
		};
	},
	created() {
		this.myWorker = this.$worker.create([
			{ message: "message1", func: arg => `${arg}` }
		]);
	},
	mounted() {
		this.getNotifications();
		channel.bind(
			"favourite",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.getNotifications();
				}
			}.bind(this)
		);
		channel.bind(
			"matches",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.getNotifications();
				}
			}.bind(this)
		);
		channel.bind(
			"freeforever",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.getNotifications();
				}
			}.bind(this)
		);
		channel.bind(
			"chat-request",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.getNotifications();
				}
			}.bind(this)
		);
		channel.bind(
			"create-team",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					this.myWorker
						.postMessage("message1", [data.message])
						.then(result => {
							push.create("Nexa", {
								body: result,
								icon: this.push_icon_url + "Nexa-80-80.png",
								timeout: 6000,
								onClick: function() {
									console.log(this);
								}
							});
						});
					this.getNotifications();
				}
			}.bind(this)
		);
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	props: {
		setActivedashboard: {
			type: Boolean,
			required: true
		},
		setActiveBroker: {
			type: Boolean,
			required: true
		},
		setActiveAccount: {
			type: Boolean,
			required: true
		},
		setActicveMyTeam: {
			type: Boolean,
			required: true
		}
	},
	watch: {
		search_value(newval, oldval) {
			bus.$emit("lead-data-search", newval);
		}
	},
	methods: {
		logout() {
			//setTimeout(5000)
			sessionStorage.clear();
			this.$cookies.remove("broker_lead_data_matching_not_found");
			var data = {
				user_id: this.userDetails.user_id
			};
			postMethods.LogOut(data, this.userDetails.token).then(res => {
				router.push({ name: "NexaHome" });
			});
		},
		accountView() {
			router.push({ name: "accounts" });
		},
		dashboard() {
			router.push({ name: "maretingrepsdashboard" });
		},
		myAccount() {
			router.push({ name: "accounts", params: { location: "profile" } });
		},
		myTeamView() {
			router.push({ name: "myteammarketingreps" });
		},
		subscriptionPlan() {
			bus.$emit("subscription", { route: "subscription" });
			router.push({ name: "accounts", query: { route: "subscription" } });
		},
		fullNotifications() {
			router.push({ name: "notifications", query: { user: "broker" } });
		},
		getNotifications() {
			var data = {
				user_id: this.userDetails.user_id
			};
			getMethods
				.notificationFetching(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.unreadCount = res.data.unread_count;
						this.notificationDetails = res.data[0];
					} else {
						toastr.error(res.message);
					}
				});
		},
		selectedNotification(data) {
			console.log(data);
			if (data.trigger_type == "matches") {
				router.push({
					name: "marketingrepsdashboard",
					query: { route: "direct", user: "marketing-reps" },
					params: { match_id: data.match_id }
				});
			} else if (data.trigger_type == "chat-request") {
				bus.$emit("notification-click-chat-request", data);
			}

			var data = {
				notification_id: data.id,
				user_id: this.userDetails.user_id
			};
			postMethods
				.notificationMarkRead(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.getNotifications();
					} else {
						toastr.error(res.message);
					}
				});
		}
	}
};
</script>

<style>
.cursor-class {
	cursor: pointer;
}
.user-image-linked-in {
	padding-right: 0px !important;
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.header-image {
	width: 150px;
	height: auto;
}
.ul-no-content {
	margin: 10% !important;
	justify-content: center;
	display: flex;
}
</style>