<template>
    <div>
        <nexa-front-header />
        <nexa-front-main-page />
        <nexa-footer />
        <!-- <nexa-front-page-modal /> -->
    </div>
</template>

<script>
import NexaFrontHeader from '@/components/NexaFrontHeader'
import NexaFrontMainPage from '@/components/NexaFrontMainPage'
import NexaFooter from '@/components/NexaFooter'
// import NexaFrontPageModal from '@/components/NexaFrontPageModal'

export default {
    components:{
        NexaFrontHeader,
        NexaFrontMainPage,
        NexaFooter,
        // NexaFrontPageModal
    }
}
</script>

<style>
    @import '../assets/css/autocomplete.css';
    
</style>
