<template>
    <div>	
	    <nexa-agent-dashboard-header :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="true"  :setActiveAccount="false"/>	
        <div class="wrap-content borker-content">
            <div class="custom-container-fluid">
                <div class="content-title">
                    <div class="row">
                        <div class="col-lg-6 col-sm-5 col-12">
                            <h1>Broker's</h1>
                        </div>
                    </div>
                </div>
                <div class="form-section justify-content-center" style="width: 35%;">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="search_value" placeholder="Search" aria-label="" aria-describedby="basic-addon1">
                            <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="agent-content-box">
                    <!--<div class="center-loader">
                        content
                        <fade-loader :loading="loading" :color="color"  :radius="radius"></fade-loader>
                    </div>-->
                    <div class="content-box"> 
                        <ul v-for="(data,i) in brokerListing" :key="i">
                            <li class="user-name">
                                <img class="custom-image-style-form" v-if="data.profile_pic!=null" :src="url+data.profile_pic" alt="">
                                <img class="custom-image-style-form" v-else-if="data.profile_pic==null&&data.linkedin_pic!=null" :src="data.linkedin_pic" alt="">
                                <img class="custom-image-style-form" v-else src="@/assets/img/borker.png"  alt="">
                                <div class="user-detail">
                                    <h2>{{data.first_name}} {{data.last_name}}</h2>
                                    <p><b>Address:-</b> {{data.street1}},{{data.city}}</p>
                                    <p><b>Email address:-</b> {{data.email_address}} </p>
                                    <p><b>Brokerage name:-</b> {{data.brokerages}}</p>
                                </div>
                            </li>
                            <li class="favourite" style="width: 10%;">
                                <a v-if="data.status==null || data.status=='NULL' || data.status=='null'" @click="selectedBrokerId=data.broker_id,checkCredit()" class="btn btn-info"><span><i class="fa fa-heart"></i></span> Add to Favorite</a>
                                <a href="#" v-if="data.status==2" class="btn btn-success cursor-non-link">
                                    Connected</a>
                            </li>
                            <li class="profile">
                                <a @click="profileView(data.broker_id)" class="btn btn-info "><span><i class="fa fa-eye "></i></span> View Profile</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content-box" v-if="brokerListing.length==0">
                        <ul>
                            <h2>No broker found</h2>
                        </ul>
                    </div>

                    <div class="clearfix"></div>
                    <div v-if="more" class="load-button">
                        <a href="#" @click="getBrokerList()" class="btn btn-primary"> Load More</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade broker-modal" id="Broker-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content" v-if="brokerDetails">
                    <div class="modal-header" >
                        <img class="custom-image-style-form" v-if="brokerDetails[0][0].profile_pic!=null" :src="url+brokerDetails[0][0].profile_pic" alt="">
                        <img class="custom-image-style-form" v-else-if="brokerDetails[0][0].profile_pic==null&&brokerDetails[0][0].linkedin_pic!=null" :src="brokerDetails[0][0].linkedin_pic" alt="">
                        <img class="custom-image-style-form" v-else src="@/assets/img/borker.png"  alt="">
                        <div class="profile-detail">
                            <h5>{{brokerDetails[0][0].first_name}} {{brokerDetails[0][0].last_name}}</h5>
                            <p>{{brokerDetails[0][0].location_name}}</p>
                            <ul>
                                <li>{{brokerDetails[0][0].website}}</li>
                                <li class="phone">Phone <a href="#">{{brokerDetails[0][0].phone_number}}</a></li>
                            </ul>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>About</h3>
                        <p>{{brokerDetails[0][0].about}}</p>
                        <h2>Lines of Business Targeted</h2>
                        <div class="row">
                            <div class="col-lg-6" v-for="(data,i) in brokerDetails[1]" :key="i">
                                <ul>
                                    <li>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                            <input type="checkbox" :value="data.id" class="custom-control-input" :id="'customCheck1'+data.id" disabled>
                                            <label class="custom-control-label" :for="'customCheck1'+data.id">{{data.coverage_name}}</label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <h2>Experience</h2>
                        <div class="senior">
                        <h2>{{brokerDetails[0][0].speciality}}</h2>
                        <!-- <p>My background is on the brokerage P&C business. I have always specialized in hospitality risk.</p> -->
                        </div>
                    </div>
                </div>
                <div class="modal-content" v-else>
                    <div class="modal-header" >
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <!-- <span aria-hidden="true">&times;</span> -->
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1>No profile data found</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade broker-modal" id="Credit_type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-md  modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" >
                        <h2>What credit you need use to send request??</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row box-center">
                            <tr>
                                <td>Connect Left</td>
                                <td>:</td>
                                <td>{{userDetails.connect_credit}}</td>
                            </tr>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <tr>
                                <td>Favourite Credit Left</td>
                                <td>:</td>
                                <td>{{userDetails.free_for_ever_credit}}</td>
                            </tr>
                        </div>
                        <div class="row justify-content" style="padding-top:10px;">
                            <div class="col-lg-6 box-center" v-if="userDetails.connect_credit>0">
                                <a href="#" @click="creditUsed=1, addToFavorite(selectedBrokerId)" class="btn btn-info"><span><i class="fa fa-user"></i></span> Connects</a>
                            </div>
                            <div class="col-lg-6 box-center" v-if="userDetails.free_for_ever_credit>0">
                                <a href="#" @click="creditUsed=2, addToFavorite(selectedBrokerId)" class="btn btn-info"><span><i class="fa fa-user"></i></span> Favourite Credits</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nexa-footer />
    </div>
</template>

<script>
import NexaAgentDashboardHeader from '@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
import NexaFooter from '@/components/NexaFooter'
import { pusher,channel } from '@/main'
import router from '@/router'
import store from '@/store'
export default {
components:{
		NexaAgentDashboardHeader,
		NexaFooter,
    },
    
	data(){
		return{
			indexForLeadDataListing:10,
			brokerListing:[],
			selectedBrokerId:null,
			agent_id:null,
			brokerDetails:null,
			token:null,
			requestStatus:null,
			url:process.env.VUE_IMAGE_URL,
			loading:false,
			creditUsed:null,
			more:false,
			excludeListOn:false,
				color:'#2e95f1',
				radius:'25px',
				search_value:null
		}
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        }
    },
	watch:{
		search_value(newval,oldval){
			if(newval!=null||newval!=""){
				var data = {'key':newval,'agent_id':this.agent_id}
				getMethods.brokerSearch(data,this.userDetails.token)
					.then((res)=>{
						if(res.error!=true){
                            this.brokerListing = res.data
                            // if(res.data>10){
                                this.more=false
                            //     // this.indexForLeadDataListing += 10
                            // }
						}else{
							toastr.error(res.message)
						}
					})
			}
		}
	},
	mounted(){
		if(this.$route.query.path=='exclude'){
			this.excludeListOn=true
		}else{
			this.excludeListOn=false
		}
		var data = this.userDetails
		this.token = data.token
		this.agent_id = data.user_id
        this.getBrokerList()
        var vm = this;
        $(document).find('#Broker-modal').on("hidden.bs.modal",function(){
			vm.brokerDetails=[]
		})
	},
	methods:{
		getBrokerList(){
			var data ={'agent_id':this.agent_id,'key':this.indexForLeadDataListing}
			getMethods.brokerDetails(data,this.userDetails.token)
				.then((res)=>{
					if(res.error==false){
						this.brokerListing = res.data[1]
						if(res.data[0]>10){
							this.more=true
							this.indexForLeadDataListing += 10
						}
					}else{
                        toastr.error(res.message)
                    }
				})
        },
        checkCredit(){
            if(this.userDetails.connect_credit>0 && this.userDetails.free_for_ever_credit>0){
                $('#Credit_type').modal('show')
            }else if(this.userDetails.connect_credit==0 && this.userDetails.free_for_ever_credit==0){
                toastr.error("Sorry you are out of connects or favourite credits. Please purchase some for getting connected.")
            }else{
                if(this.userDetails.connect_credit!=0){
                    this.creditUsed=1
                    this.addToFavorite(this.selectedBrokerId)
                }else if(this.userDetails.free_for_ever_credit!=0){
                    this.creditUsed=2
                    this.addToFavorite(this.selectedBrokerId)
                }
            }
        },
		addToFavorite(broker_id){
            var data = {'credit_type':this.creditUsed,'agent_id':this.agent_id,'broker_id':broker_id}
			postMethods.favouriteRequestSending(data,this.userDetails.token)
				.then((res)=>{
					if(res.error!=true){
                        this.getBrokerList()
                        
                        $('#Credit_type').modal('hide');
                        this.getCreditDetails()
						toastr.success(res.message)
					}else{
						this.getBrokerList()
						toastr.error(res.message)
					}
					
				})
		},
		getCreditDetails(){
            var data = {'user_id':this.userDetails.user_id}
			getMethods.getCreditDetails(data,this.userDetails.token)
				.then((res)=>{
					if(res.error!=true){
						var user = JSON.parse(sessionStorage.getItem('userAccessToken'))
						user.connect_credit = res.data[0].connect_credit
						user.free_for_ever_credit = res.data[0].free_for_ever_credit
                        sessionStorage.userAccessToken = JSON.stringify(user)
                        store.commit('currentUserDetailsAdd',user)
					}else{
						toastr.error(res.message)
					}
					
				})
		},
		profileView(broker_id){
            this.brokerDetails=[]
            var data = {'broker_id':broker_id}
			getMethods.singleBrokerView(data,this.userDetails.token)
				.then((res)=>{
                    if(res.error==false){
                        this.brokerDetails=res.data
                        if(res.data.length>0){
                            $('#Broker-Modal').modal('show')
                        }
                    }else{
                        toastr.error(res.message)
                    }
					
				})
		},
		// addExclude(broker_id){
		// 	this.$http.post(process.env.VUE_BACKEND_URL+'add-exclude-list',{'broker_id':broker_id,'agent_id':this.agent_id},{headers:{"Authorization":'Bearer '+this.token}})
		// 		.then((res)=>{
		// 			if(res.body.error!=true){
		// 				router.push({name:'accounts',query:{route:'exclude_list'}})
		// 			}
		// 		})
		// 		.catch((err)=>{
		// 			toastr.error(err.body.message)
		// 		})
		// },
		// cancelRequest(broker_id){
        //     var data = {'broker_id':broker_id,'agent_id':this.agent_id}
		// 	postMethods.cancelFavouriteRequest(data,this.userDetails.token)
		// 		.then((res)=>{
		// 			if(res.error!=true){
		// 				this.getBrokerList()
		// 				toastr.success(res.message)
		// 			}else{
		// 				toastr.error(res.message)
		// 			}
		// 		})
		// }
	}
}
</script>

<style>
.box-center{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
</style>
