<template>
	<div>
		<nexa-agent-dashboard-header
			:setActicveMyTeam="false"
			:setActivedashboard="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrap-content">
			<div class="custom-container-fluid">
                <div class="switch-icon float-right" style="position: fixed; right: 0; z-index: 1; }">
                    <button
                        type="button"
                        class="btn btn-lg btn-toggle btn-edit-mode"
                        @click="edit = !edit,updateQuestionSubmission()"
                        ref="pills_signup"
                        data-toggle="button"
                        aria-pressed="true"
                        autocomplete="off"
                    >
                        <div class="handle"></div>
                    </button>
                </div>
                <div class="row row-edit-page-p-10">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12 offset-lg-1 offset-md-1">
                        <div v-if="!edit">
                            <div class="tab-content qus-contant padding-margin-tab-ques">
                                <div class="tab-pane slider-wrap slider-wrap-removal-class active" role="tabpanel">
                                    <ol type="2" v-if="leadDataDetails[0]">
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >What is the primary location for your risk?</div>
                                            </div>
                                            <div class="answer">{{leadDataDetails[0].location_name}}</div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Does insured operate in multiple states?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails.states.length==0">No</span>
                                                <span
                                                    v-if="leadDataDetails.states.length!=0"
                                                >Yes ({{stateFormating(leadDataDetails.states)}})</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Is there coastal exposure associated with this risk?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].coastal_exposure==1">Yes</span>
                                                <span v-if="leadDataDetails[0].coastal_exposure==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Lines of coverage requested</div>
                                            </div>
                                            <div class="answer">
                                                <span v-for="(data,i) in leadDataDetails.line_coverages" :key="i">
                                                    <p v-if="data==4">Property {{'('+leadDataDetails.comments[i]+')'}}</p>
                                                    <p v-if="data==1">General Liability</p>
                                                    <p v-if="data==2">Professional/E&O</p>
                                                    <p v-if="data==6">Liquor</p>
                                                    <p v-if="data==8">Auto</p>
                                                    <p v-if="data==5">Umbrella {{'('+leadDataDetails.comments[i]+')'}}</p>
                                                    <p v-if="data==11">EPLI</p>
                                                    <p v-if="data==9">Crime</p>
                                                    <p v-if="data==10">Work Comp</p>
                                                    <p v-if="data==3">Cyber</p>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Estimated total Annual Sales?</div>
                                            </div>
                                            <div class="answer">
                                                <span>{{leadDataDetails[0].total_annual_sale}}</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Total Annual Payroll?</div>
                                            </div>
                                            <div class="answer">
                                                <span>{{leadDataDetails[0].total_annual_payroll}}</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Are you the Agent of Record on the account?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].agent_of_record_on_account==1">Yes</span>
                                                <span v-if="leadDataDetails[0].agent_of_record_on_account==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">When is the Renewal Date?</div>
                                            </div>
                                            <div class="answer">
                                                <span>{{leadDataDetails[0].renewal_date}}</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Is this a New Venture?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].new_venture==1">Yes</span>
                                                <span v-if="leadDataDetails[0].new_venture==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Do you have completed Acord Applications?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].completed_acord_application==1">Yes</span>
                                                <span v-if="leadDataDetails[0].completed_acord_application==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Do you have completed supplemental applications?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].completed_supplemental_applications==1">Yes</span>
                                                <span v-if="leadDataDetails[0].completed_supplemental_applications==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Do you have loss runs?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].run_loss==1">Yes</span>
                                                <span v-if="leadDataDetails[0].run_loss==0">No</span>
                                                <span v-if="leadDataDetails[0].run_loss==2">In Process/Ordered</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Have you submitted this to any other Brokers?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].submitted_to_other_brokers==1">Yes</span>
                                                <span v-if="leadDataDetails[0].submitted_to_other_brokers==0">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Do you have a market list?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].market_list!=null">
                                                    Yes (
                                                    <a :href="file_url+leadDataDetails[0].market_list" download target="_blank">Open market list file</a>)
                                                </span>
                                                <span v-if="leadDataDetails[0].market_list==null">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Please provide key information to the brokers of how they can best help you.</div>
                                            </div>
                                            <div class="answer">
                                                <span>{{leadDataDetails[0].key_informations}}</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Is this a Rush Request?</div>
                                            </div>
                                            <div class="answer">
                                                <span
                                                    v-if="leadDataDetails[0].rush_request!=null"
                                                >Yes ({{leadDataDetails[0].rush_request}})</span>
                                                <span v-if="leadDataDetails[0].rush_request==null">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Do you have a target premium?</div>
                                            </div>
                                            <div class="answer">
                                                <span
                                                    v-if="leadDataDetails[0].target_premium!=null"
                                                >Yes ({{leadDataDetails[0].target_premium}})</span>
                                                <span v-if="leadDataDetails[0].target_premium==null">No</span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div
                                                    class="question"
                                                    style="padding-right:5px"
                                                >Please select whom you need to share this market search</div>
                                            </div>
                                            <div class="answer">
                                                <span v-for="(data,i) in leadDataDetails.include_list" :key="i">
                                                    <p v-if="i+1!=leadDataDetails.include_list.length">{{leadDataDetails.include_list[i]}},</p>
                                                    <p v-else>{{leadDataDetails.include_list[i]}}</p>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="padding-bottom-update">
                                            <div>
                                                <div class="question" style="padding-right:5px">Do you need to share this to open market?</div>
                                            </div>
                                            <div class="answer">
                                                <span v-if="leadDataDetails[0].response_brokers==4">Yes</span>
                                                <span v-if="leadDataDetails[0].response_brokers==0">No</span>
                                            </div>
                                        </li>
                                    </ol>
                                    
                                </div>
                            </div>
                        </div>
                        <div v-if="edit">
                            <div class="question-wrapper">
                                <ul id="right-arrows-id" class="right-arrows top-0">
                                    <li class="arrows">
                                        <a
                                            href="#"
                                            @click="updateQuesNo(2)"
                                            tabindex="-1"
                                            :class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
                                        >
                                            <i class="fa fa-arrow-left"></i>
                                        </a>
                                    </li>
                                    <li class="arrows">
                                        <a
                                            href="#"
                                            @click="updateQuesNo(1)"
                                            tabindex="-1"
                                            :class="{'inactiveLink':ques_no == 19,'active':ques_no != 19}"
                                        >
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                                <!-- <div class="tab-content qus-contant padding-margin-tab-ques"> -->
                                    <div class="tab-pane slider-wrap slider-wrap-removal-class active" role="tabpanel">
                                        <market-search :edit="true" :data="leadDataDetails"/>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<nexa-footer />
		
	</div>
</template>

<script>
import NexaAgentDashboardHeader from "@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader";
import VueElementLoading from "vue-element-loading";
import NexaFooter from "@/components/NexaFooter";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import MarketSearch from "@/components/NexaDashboard/NexaAgent/MarketSearch";
export default {
	components: {
		NexaAgentDashboardHeader,
		VueElementLoading,
		NexaFooter,
		MarketSearch
	},
	data() {
		return {
			edit: false,
			leadDataDetails: [],
			url: process.env.VUE_IMAGE_URL,
            file_url: process.env.VUE_FILE_URL,
            isActive: false
		};
	},
	computed: {
		question_id() {
			return this.$route.params.key;
		},
		userDetails() {
			return this.$store.state.currentUserDetails;
        },
        ques_no() {
			return this.$store.state.ques_no;
		},
		globalQuestionNo() {
			return this.$store.state.globalQuestionNo;
		},
	},
	mounted() {
		this.getDetails();
	},
	methods: {
		getDetails() {
            this.isActive = true
			var data = {
				agent_id: this.userDetails.user_id,
				question_id: this.question_id
			};
			getMethods
				.agentLeadDataGet(data, this.userDetails.token)
				.then(resp => {
					if (resp.error == false) {
                        console.log(resp)
                        this.leadDataDetails = resp.data;
                        var comments = [];
                        comments = this.leadDataDetails.comments;
                        if (comments.length > 0) {
                            for (var i = 0; i < comments.length; i++) {
                                if (comments[i] != null) {
                                    var datas = numeral(comments[i]).format("$ 0,0[.]00");
                                    // console.log("data",datas)
                                    comments[i] = datas;
                                }
                            }
                        }
                        this.leadDataDetails.comments = comments;
                        if (this.leadDataDetails[0].total_annual_sale != null) {
                            var datas = numeral(this.leadDataDetails[0].total_annual_sale).format(
                                "$ 0,0[.]00"
                            );
                            this.leadDataDetails[0].total_annual_sale = datas;
                        }
                        if (this.leadDataDetails[0].total_annual_payroll != null) {
                            var datas = numeral(this.leadDataDetails[0].total_annual_payroll).format(
                                "$ 0,0[.]00"
                            );
                            this.leadDataDetails[0].total_annual_payroll = datas;
                        }
                        if (this.leadDataDetails[0].target_premium != null) {
                            var datas = numeral(this.leadDataDetails[0].target_premium).format("$ 0,0[.]00");
                            this.leadDataDetails[0].target_premium = datas;
                        }
                        this.isActive = false
					} else {
                        this.isActive = false
						toastr.error(resp.message);
					}
                })
                .catch((res)=>{
                    this.isActive = false
                });
		},
		updateQuestionSubmission() {
			$(this.$refs.addressStateSelectPicker).selectpicker({
				refresh: true,
				dropupAuto: false
            });
            this.$store.commit("updateGlobalQuesNo", 19);
        },
        stateFormating(content) {
			return content.toString();
        },
        updateQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				this.$store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit("updateGlobalQuesNo", this.globalQuestionNo + 1);
			} else if (direction == 2) {
				this.$store.commit("updateGlobalQuesNo", this.globalQuestionNo - 1);
			}
		}
	}
};
</script>

<style scoped>
.mt-10 {
	margin-top: 10%;
}
.top-0{
    top: 20px !important;
}
.question-wrapper ul.right-arrows {
  right: -10px !important;
}
</style>