<template>
	<div>
		<nexa-agent-dashboard-header
			:setActicveMyTeam="false"
			:setActivedashboard="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrapper">
			<div id="content" class="content-style">
				<div class="question-wrapper">
					<div>
						<ul id="right-arrows-id" class="right-arrows">
							<li class="arrows">
								<a
									href="#"
									@click="updateQuesNo(2)"
									tabindex="-1"
									:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
								>
									<i class="fa fa-arrow-left"></i>
								</a>
							</li>
							<li class="arrows">
								<a
									href="#"
									@click="updateQuesNo(1)"
									tabindex="-1"
									:class="{'inactiveLink':(ques_no+1==21 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<21) && ques_no!=globalQuestionNo+1}"
								>
									<i class="fa fa-arrow-right"></i>
								</a>
							</li>
						</ul>
					</div>
					<div id="tab-content-ques-content" class="tab-content qus-contant">
						<div class="tab-pane active" id="market_search" role="tabpanel">
							<market-search :createInDashboard="true" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import NexaAgentDashboardHeader from "@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader";
import MarketSearch from "@/components/NexaDashboard/NexaAgent/MarketSearch";
import { bus } from "@/main";
// import { teamInvitation } from "@/services/mixins/teamInvitation";
export default {
	components: {
		MarketSearch,
		NexaAgentDashboardHeader
	},
	data() {
		return {
			currentActiveLink: 0,
			completedValue: 0
		};
	},
	computed: {
		ques_no() {
			return this.$store.state.ques_no;
		},
		globalQuestionNo() {
			return this.$store.state.globalQuestionNo;
		},
		userDetails() {
			return this.$store.state.currentUserDetails;
		}
	},
	mounted() {
		bus.$on("sideBarUp", value => {
			this.currentActiveLink = value;
			if (value >= this.completedValue) {
				this.completedValue = value;
			}
		});
		bus.$emit("user-type-set", "1");
	},
	// mixins: [teamInvitation],
	methods: {
		updateQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				this.$store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit(
					"updateGlobalQuesNo",
					this.globalQuestionNo + 1
				);
			} else if (direction == 2) {
				this.$store.commit(
					"updateGlobalQuesNo",
					this.globalQuestionNo - 1
				);
			}
		}
	}
};
</script>

<style scoped>
.content-style {
	margin-left: 0px !important;
}
.question-wrapper ul.right-arrows {
	right: 25px !important;
}
</style>