<template>
	<div>
		<div
			v-intro-autostart="autoStart"
			v-intro-autostart:on.complete="onComplete"
			v-intro-autostart:on.exit="onComplete"
		>
			<nexa-agent-dashboard-header
				:setActicveMyTeam="false"
				:setActivedashboard="true"
				:setActiveBroker="false"
				:setActiveAccount="false"
			/>
			<div class="wrap-content">
				<div class="custom-container-fluid">
					<div class="content-title">
						<div class="row">
							<div class="col-lg-6 col-sm-7 col-12">
								<h1>Active Market Searches</h1>
							</div>
							<div class="col-lg-6 col-sm-5 col-12">
								<a href="#" class="btn btn-primary" @click="addnewModal()">
									Start New Market Search
									<span>
										<i class="fa fa-plus"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="agent-content-box">
						<div
							data-intro="'Here is the list of market searches you have committed'"
							data-step="1"
							data-disable-interaction="true"
							class="content-box"
							v-for="(data,i) in leadDatalist"
							:key="i"
						>
							<ul>
								<li class="user-name">
									<h2>{{data.custom_name}}</h2>
									<p>{{data.created_at | moment("calendar")}}</p>
								</li>
								<li
									v-if="data.pending_count>0"
									class="request-pending"
									:class="{'accepted-rejected-padding':data.connected_count==0}"
								>
									<a
										href="#"
										v-if="data.pending_count==1"
										@click="chatPage(data.id,data)"
									>{{data.pending_count}} Response</a>
									<a href="#" v-else @click="chatPage(data.id,data)">{{data.pending_count}} Responses</a>
								</li>
								<li
									v-if="data.connected_count>0"
									class="request-accepted"
									:class="{'accepted-rejected-padding':data.pending_count==0}"
								>
									<a
										href="#"
										v-if="data.pending_count==1"
										@click="chatPage(data.id,data)"
									>{{data.connected_count}} Responses</a>
									<a href="#" v-else @click="chatPage(data.id,data)">{{data.connected_count}} Responses</a>
								</li>
								<li v-if="data.pending_count==0&&data.connected_count==0" class="request">
									<p class="no-request">0 Responses Received</p>
								</li>
								<li class="image-box">
									<div v-for="(data,i) in data.broker_images" :class="'img'+(i+1) " :key="i">
										<img v-if="i<=4&&data!=''" class="image-style" :src="url+data" alt />
									</div>
								</li>
								<li class="update">
									<a href="#" @click="getLeadDataSingle(data.id)">
										<span>
											<i class="fa fa-edit"></i>
										</span> Update
									</a>
								</li>
								<li class="view-button" data-intro="'Click this button to view chat page'" data-step="2">
									<a href="#" class="btn btn-info" @click="chatPage(data.id,data)">View</a>
								</li>
							</ul>
						</div>
						<div class="content-box" v-if="leadDatalist==0">
							<ul>
								<li>
									<h2>No data found</h2>
								</li>
							</ul>
						</div>
						<div class="clearfix"></div>
						<div v-if="more" class="load-button">
							<a href="#" @click="getLeadData(indexForLeadDataListing)" class="btn btn-primary">Load More</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal Addnew -->
			<nexa-agent-dashboard-modal />
			<nexa-footer />
		</div>
	</div>
</template>

<script>
import VueElementLoading from "vue-element-loading";
import "chat-engine-uploadcare";
import util from "@/util";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import { chatEngine, pubnub, bus, channel, pusher } from "@/main";
import { EventBus } from "@/event-bus";
import ChatEngineCore from "chat-engine";
import store from "@/store";
import "../../../../node_modules/chat-engine-typing-indicator/dist/chat-engine-typing-indicator.js";
import Vue from "vue";
import NexaAgentDashboardHeader from "@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader";
import NexaAgentDashboardModal from "@/components/NexaDashboard/NexaAgent/NexaAgentDashboardModal";
import NexaFooter from "@/components/NexaFooter";
import router from "@/router";
import push from "push.js";

export default {
	components: {
		NexaAgentDashboardHeader,
		NexaAgentDashboardModal,
		NexaFooter,
		VueElementLoading
	},

	data() {
		return {
			indexForLeadDataListing: 0,
			agent_id: null,
			token: null,
			leadDatalist: [],
			more: false,
			url: process.env.VUE_IMAGE_URL,
			chatKey: null,
			myUuid: null,
			me: null,
			myWorker: null,
			chatLoaded: true,
			isActiveDashbaord: true,
			autoStart: false,
			isActive: false
		};
	},
	created() {
		this.myWorker = this.$worker.create([
			{ message: "message1", func: arg => `${arg}` }
		]);
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	updated() {
		bus.$on("newLeadData", res => {
			this.getLeadData(this.indexForLeadDataListing);
		});
	},
	mounted() {
		// this.onComplete();
		this.myUuid = "chating-rooms-" + this.userDetails.user_id;
		this.me = this.userDetails;
		var data = this.userDetails;
		// console.log(data)
		this.token = data.token;
		this.agent_id = data.user_id;
		this.getLeadData(this.indexForLeadDataListing);
		this.$nextTick(function() {
			$(".profile-label").on("click", function(e) {
				$(this).toggleClass("active");
			});
			$("#sidebarCollapse").on("click", function() {
				$("#sidebar").toggleClass("active");
			});
		});
		channel.bind(
			"chat-request-for-nexa",
			function(data) {
				console.log(data);
				if (this.userDetails.user_id == data.reciever_id) {
					this.getLeadData(this.indexForLeadDataListing);
				}
			}.bind(this)
		);
		bus.$on("match-trigger", data => {});
		bus.$on("leadDataChanged", res => {
			this.getLeadDataSingle(res);
		});
		bus.$on("leadDataAdded", res => {
			this.getLeadData(this.indexForLeadDataListing);
		});
		chatEngine.connect(this.myUuid, this.me);
		this.isActiveDashbaord = false;
		chatEngine.on("$.ready", function(data) {
			// store my new user as `me`
			var vm = this;
			let me = data.me;
			store.commit("setMe", { me });

			// Auto add a 1:1 chat to UI when invited
			me.direct.on("$.invite", event => {
				let uuids = [event.sender.uuid, store.state.me.uuid].sort();
				this.chatKey = uuids.join("-");
				// Don't make the same 1:1 chat if it already exists
				if (store.state.chats[this.chatKey]) {
					return;
				}
				// Make the new 1:1 private Chat
				util.newChatEngineChat(
					store,
					chatEngine,
					{
						chatKey: this.chatKey,
						uuid: event.sender.uuid
					},
					true
				);
			});
			// this.newChat()
		});
	},
	methods: {
		addnewModal() {
			this.$router.push({ name: "agentcreatemarketsearch" });
		},
		onComplete() {
			// if (!localStorage.getItem("dashboard-set")) {
			// 	this.$swal.fire({
			// 		allowOutsideClick: false,
			// 		title: "This is the Dashboard",
			// 		text:
			// 			"From your dashboard you can create new market searches, access your inventory, message your team, add new team members, and create sub teams."
			// 	});
			// 	var data = this.userDetails;
			// 	data.new_user = "";
			// 	store.commit("currentUserDetailsAdd", data);
			// 	localStorage.setItem("dashboard-set", this.userDetails.user_id);
			// } else {
			// 	var value = localStorage.getItem("dashboard-set");
			// 	if (value != this.userDetails.user_id) {
			// 		this.$swal.fire({
			// 			allowOutsideClick: false,
			// 			title: "This is the Dashboard",
			// 			text:
			// 				"From your dashboard you can create new market searches, access your inventory, message your team, add new team members, and create sub teams."
			// 		});
			// 		var data = this.userDetails;
			// 		data.new_user = "";
			// 		store.commit("currentUserDetailsAdd", data);
			// 		localStorage.setItem(
			// 			"dashboard-set",
			// 			this.userDetails.user_id
			// 		);
			// 	}
			// }
		},
		getLeadData(index) {
			var data = {
				agent_id: this.agent_id,
				key: index
			};
			getMethods
				.agentLeadDataListing(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						if (index == 0) {
							if (
								!this.leadDatalist ||
								this.leadDatalist.length == 0
							) {
								this.leadDatalist = 0;
							}
							if (res.error == false) {
								this.leadDatalist = res.data[1];
								for (
									var i = 0;
									i < this.leadDatalist.length;
									i++
								) {
									if (
										this.leadDatalist[i].broker_images !=
										null
									) {
										var array = this.leadDatalist[i]
											.broker_images;
										this.leadDatalist[
											i
										].broker_images = array.split(",");
									}
								}
							}
						} else {
							this.leadDatalist.push(res.data[1][0]);
						}
						if (res.data[0] > 10) {
							this.more = true;
							this.indexForLeadDataListing += 10;
						}
					} else {
						toastr.error(res.message);
					}
				});
		},
		chatPage(id, data) {
			if (this.userDetails.progress_status == 5) {
				router.push({ name: "agentdahboardchat" });
				introJs().exit();
			} else {
				if (data.connected_count > 0 || data.pending_count > 0) {
					store.commit("changeQuestionId", data);
					store.commit("selected_interest_data", data);
					router.push({ name: "agentchatpage", params: { id: id } });
				} else {
					toastr.error("No Brokers Have Responsed Yet");
				}
			}
		},
		prepareImageUrl(image) {
			image = image.trim();
			if (
				image.substring(0, 8) == "https://" ||
				image.substring(0, 7) == "http://"
			) {
				return image;
			}
			return this.url + image;
		},
		getLeadDataSingle(question_id) {
			this.isActiveDashbaord = true;
			var data = {
				agent_id: this.agent_id,
				question_id: question_id
			};
			this.$router.push({
				name: "agentdahboardedit",
				params: { key: question_id }
			});
		}
	}
};
</script>

<style>
.image-style {
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
.overlay {
	height: 100%;
	display: block;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 0.5;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
	overflow-x: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.display-center {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.chat-loading-text-center {
	top: 50%;
	left: 50%;
	color: white;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.accepted-rejected-padding {
	margin-left: 15% !important;
}
</style>