<template>
    <div style="float:right">
        <iframe class="embed-responsive-item" :src="video_link" allowfullscreen></iframe>
    </div>
</template>

<script>
import { bus } from '@/main'
export default {
    data(){
        return{
            video_link:'https://www.youtube.com/embed/orfZyy9KL3g?autoplay=1',
        }
    },
    mounted(){
        bus.$on('addExplainerVideo',res=>{
			this.video_link = 'https://www.youtube.com/embed/orfZyy9KL3g?autoplay=1'
			$('#team-creation-video').modal('show')
		})
    }
}
</script>

<style>

</style>
