<template>
    <div>
        <a href="#" @click="loginRedirection()" style="padding-bottom:10px;"><i class="fa fa-arrow-left"></i>Back to login</a>
        <div>
            <h4>Please give your email address which registered with NEXA</h4>
        </div>
        <div class="background-box">
            <!-- <a class="navbar-brand custom-nav-band" href="#"><img src="@/assets/img/Nexa.png" alt=""></a> -->
            <form @submit.prevent="ValidateForgotPasswordEmail" data-vv-scope="forgotpasswordemail">
                <div class="form-group">
                    <input  name="email" v-model="email" v-validate="'required|email'" class="form-control" :class="{'green': !errors.has('email'), 'red': errors.has('forgotpasswordemail.email') }" type="text" placeholder="Email">
                    <i v-show="errors.has('forgotpasswordemail.email')" class="fa fa-warning"></i>
                    <span :class="{'green': !errors.has('forgotpasswordemail.email'), 'red': errors.has('forgotpasswordemail.email') }" v-show="errors.has('forgotpasswordemail.email')" >{{ errors.first('forgotpasswordemail.email') }}</span>
                </div>
                <button type="submit" class="btn btn-primary display-flex-class"><span class="margin-left-button">Reset</span></button>
            </form>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import postMethods from '@/services/api/postMethods.js'
import getMethods from '@/services/api/getMethods.js'
import router from '@/router'
import { bus } from '@/main'
import store from '@/store'

import VeeValidate from 'vee-validate';
VeeValidate.Validator.extend('custom_password', {
  getMessage: field => `The password must contain at least: 1 uppercase letter, 1 lowercase letter and one special character`,
  validate: value => {
      var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*])(?=.{5,})");
      // console.log(strongRegex.test(value))
      return strongRegex.test(value);
  }
});
export default {
    data(){
        return{
            email:null,
            passwordArea:false,
            password:null,
            confirmPassword:null
        }
    },
    mounted(){
        //  $('.modal-backdrop').remove();
    },
    methods:{
        ValidateForgotPasswordEmail(){
            this.$validator.validateAll('forgotpasswordemail').then((result) => {
                if (result) {
                    postMethods.forgotPasswordEmailSend({'email_address':this.email})
                        .then(res=>{
                            if(res.error==false){
                                toastr.success("The link will be shared with your email. Please go through that to reset password.")
                                router.push({name:'NexaHome'})
                            }else{
                                toastr.error(res.message)
                            }
                        })
                }else{
                    toastr.error('Some mandatory fields are missing.')
                }
            })
        },
        loginRedirection(){
            bus.$emit('forgotPasswordSetup')
        }
    }
}
</script>

<style >
/* .login-signup-popup .modal-body form:before{
    position: absolute;
    left: 0;
    width: 0px;
    height: 100%;
    content: "";
    background: #607289;
}
.login-signup-popup .modal-body form{
    padding-left: 0px;
}
.login-signup-popup .modal-body {
    padding: 0px 30px;
} */
.background-box{
    margin: 70px;
    padding: 3% 5% 5% 5%;
    background: #bfbfbf30;
    -webkit-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 0px 20px 2px #0000004a;
}
.custom-nav-band{
    justify-content: center;
    display: flex;
    padding-bottom: 8%;
}
.display-flex-class{
    display: flex;
    justify-content: center;
    width: 90px;
}
.margin-left-button{
    margin-left: 15%;
}
.padding-text-content{
    padding: 10% 0% 0% 10%;
}
.form-control:disabled, .form-control[readonly] {
    background: #ffffff;
}
.invited-person-color{
    color:blue;
}
</style>
