<template>
    <div class="tab-pane slider-wrap active" id="quick_account_creation" role="tabpanel">
        <slot name="top-question"></slot>
        <slot name="questionnaire-first-question"></slot>
        <div id="basic-ques-1" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">1.</span><span> What is the primary location for your risk?</span></h2>
                <div class="form-group states">
                    <div class="heading">State</div>
                    <select class=" form-control selectpicker" data-size="5" title="Primary State" ref="selectpicker" v-model="accountLocation" id="exampleFormControlSelect1">
                        <option :value="data.id" v-for="(data) in locationList" :key="data.id">{{ data.location_name }}</option>
                    </select>
                    </div>
                    <button type="button" data-qid="1" id="btn-ques-1" @click="formQuestion(1)" :disabled="accountLocation.length==0" data-direction="down" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div>
        <div id="basic-ques-2" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">2.</span> <span>Does insured operate in multiple <br>states?</span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" value="1" v-model="multipleOperates" class="custom-control-input" checked="checked">
                    <label class="custom-control-label" for="customRadio3">Yes</label>
                    </div>
                        <div class="form-group multipal-states" v-if="multipleOperates=='1'" >
                        <label for="exampleFormControlTextarea1">Please indicate which states <span class="color-chng"></span></label>
                        <!-- <textarea class="form-control" v-model="operateMultipleState" id="exampleFormControlTextarea1" rows="3" placeholder="Texas, Pennsylvania, Vermont"></textarea> -->
                        <v-select  multiple :disabled="multiselect" v-model="operateMultipleState" placeholder="Texas, Pennsylvania" :options="options" maxHeight="200px"></v-select>
                        <!-- <div class="row checkbox-operates-in-multiple-states" >
                            <div class=" col-12 col-lg-3 col-md-4 col-xs-4 top-padding-col" v-for="(data) in locationList" :key="data.id">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" :value="data.id" v-model="operateMultipleState" class="custom-control-input" :id="'customCheckbox'+data.id">
                                    <label class="custom-control-label" :for="'customCheckbox'+data.id">{{data.location_name}}</label>
                                </div>
                            </div>
                        </div> -->
                        <span :class="{red:opererror}">{{opermessage}}</span>
                        </div>
                        <!-- <div class="form-group multipal-states" v-else-if="!selectMultipleState"></div> -->
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" value="0" v-model="multipleOperates" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio4">No</label>
                </div>
                </div>
                <button type="button" data-qid="2" id="btn-ques-2"  @click="formQuestion(2)" :disabled="multipleOperates==null||disabledButton" data-direction="down" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div>
        <div id="basic-ques-3" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">3.</span> <span>Is there coastal exposure associated with this risk?</span></h2>
                <div class="radio-box" >
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" value="1" v-model="coastalExposure" name="customRadio1" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio1">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" value="0" v-model="coastalExposure" name="customRadio1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="3" id="btn-ques-3"  @click="formQuestion(3)" :disabled="coastalExposure==null" data-direction="down" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>

        <!-- <div id="basic-ques-3" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">3.</span> <span>Does insured operate in multiple <br>states?</span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" value="1" v-model="multipleOperates" class="custom-control-input" checked="checked">
                    <label class="custom-control-label" for="customRadio3">Yes</label>
                        <div class="form-group multipal-states">
                        <label for="exampleFormControlTextarea1">Please indicate which states <span class="color-chng">(separated by comas)</span></label>
                        <textarea class="form-control" v-model="operateMultipleState" id="exampleFormControlTextarea1" rows="3" placeholder="Texas, Pennsylvania, Vermont"></textarea>
                        <span :class="{red:opererror}">{{opermessage}}</span>
                        </div>
                        
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio4" value="0" v-model="multipleOperates" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio4">No</label>
                </div>
                </div>
                <button type="button" data-qid="3" id="btn-ques-3"  @click="formQuestion(3)" :disabled="disabledButton" data-direction="down" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div> -->

        <div id="basic-ques-4" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">4.</span> <span>Lines of coverage requested </span></h2>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="1" v-model="line_coverage" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">General Liability</label>
                            </div>
                            <div class="custom-control custom-checkbox request-box">
                                <input type="checkbox" :value="4" v-model="line_coverage"  class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Property</label>
                                <div class="heading">Total Insured Value</div>
                                <div class="row">
                                        <div class="col-lg-1 col-1 col-1-padding">$</div>
                                        <div class="col-lg-9 col-9 col-9-padding">
                                            <input type="text" id="propertyEstimate"  class="form-control" v-model="propertyEstimate" placeholder="3,500,000">
                                <span :class="{red:properror}">{{propmessage}}</span>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="8" v-model="line_coverage"  class="custom-control-input" id="customCheck3">
                                <label class="custom-control-label" for="customCheck3">Auto</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="10" v-model="line_coverage" class="custom-control-input" id="customCheck4">
                                <label class="custom-control-label" for="customCheck4">Worker's Comp</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="2" v-model="line_coverage"  class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck5">Professional/E&O</label>
                            </div>
                            <div class="custom-control custom-checkbox request-box">
                                <input type="checkbox" :value="5" v-model="line_coverage"  class="custom-control-input" id="customCheck6">
                                <label class="custom-control-label" for="customCheck6">Umbrella</label>
                                <div class="heading">Please indicate umbrella limit requested</div>
                                <div class="row">
                                        <div class="col-lg-1 col-1 col-1-padding">$</div>
                                        <div class="col-lg-9 col-9 col-9-padding">
                                            <input type="text" id="umbrellaLimit" class="form-control" v-model="umbrellaLimit" placeholder="3,500,000">
                                <span :class="{red:umbrerror}">{{umbrmessage}}</span>
                                        </div>
                                    </div>
                                
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="9" v-model="line_coverage" class="custom-control-input" id="customCheck7">
                                <label class="custom-control-label" for="customCheck7">Crime</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="11" v-model="line_coverage" class="custom-control-input" id="customCheck8">
                                <label class="custom-control-label" for="customCheck8">EPL/D&O</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="3" v-model="line_coverage" class="custom-control-input" id="customCheck9">
                                <label class="custom-control-label" for="customCheck9">Cyber</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="6" v-model="line_coverage" class="custom-control-input" id="customCheck10">
                                <label class="custom-control-label" for="customCheck10">Liquor</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" :value="7" v-model="line_coverage" class="custom-control-input " id="customCheck11">
                                <label class="custom-control-label other" for="customCheck11">
                                <!-- <div class="row">
                                        <div class="col-lg-1">$</div>
                                        <div class="col-lg-11">
                                            
                                        </div>
                                    </div> -->
                                    <input type="text" class="form-control" v-model="otherData" placeholder="Other">
                                    <span :class="{red:othererror}">{{othermessage}}</span>
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-qid="4" id="btn-ques-4" data-direction="down" @click="formQuestion(4)" class="btn btn-primary basic-ques-btn-agent-questionnaire" :disabled="(line_coverage.length==0)||disabledButton">Next Question</button>
            </div>
        </div>

        <div id="basic-ques-5" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">5.</span> <span>Estimated total annual sales? </span></h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-1 col-1 col-1-padding">$</div>
                    <div class="col-lg-9 col-9 col-9-padding col-9-margin">
                        <input type="text" id="annualCost" v-model="annualCost" class="form-control" placeholder="6,500,000">
                        <span :class="{red:annualerror}">{{annualmessage}}</span>
                    </div>
                </div>
                
            </div>
            <button type="button" data-qid="5" id="btn-ques-5" data-direction="down" @click="formQuestion(5)" :disabled="annualCost.length==0" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>

        <div id="basic-ques-6" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">6.</span> <span>Total annual payroll? </span></h2>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-1 col-1 col-1-padding">$</div>
                    <div class="col-lg-9 col-9 col-9-padding col-9-margin">
                        <input type="text" id="annualPayroll" class="form-control" v-model="annualPayroll" placeholder="2,800,000">
                        <span :class="{red:annualperror}">{{annualpmessage}}</span>
                    </div>
                </div>
                
            </div>
            <button type="button" data-qid="6" id="btn-ques-6" data-direction="down" @click="formQuestion(6)" :disabled="annualPayroll.length==0" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>

        <div id="basic-ques-7" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">7.</span> <span>Are you the Agent of record on the account?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio13" value="1" v-model="recordAccount" name="customRadio13" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio13">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio14" value="0" v-model="recordAccount" name="customRadio13" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio14">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="7" id="btn-ques-7" data-direction="down" :disabled="recordAccount==null" @click="formQuestion(7)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <div id="basic-ques-8" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">8.</span> <span>When is the Renewal Date?</span></h2>
            <div class="form-group">
                <div class="heading">Renewal Date</div>
                <input type="date" class="form-control" v-model="renewalData" placeholder="MM/DD/YYYY">
            </div>
            <button type="button" data-qid="8" id="btn-ques-8" data-direction="down" :disabled="renewalData==null" @click="formQuestion(8)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>

        <div id="basic-ques-9" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">9.</span> <span>Is this a new venture?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio15" value="1" name="customRadio6" v-model="newVenture" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio15">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio16" value="0" name="customRadio6" v-model="newVenture" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio16">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="9" id="btn-ques-9" data-direction="down" :disabled="newVenture==null" @click="formQuestion(9)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <div id="basic-ques-10" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">10.</span> <span>Do you have completed Acord applications? </span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio19" value="1" name="customRadio5" v-model="accordApplications" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio19">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio20" value="0" name="customRadio5" v-model="accordApplications" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio20">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="10" id="btn-ques-10" data-direction="down" :disabled="accordApplications==null" @click="formQuestion(10)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>

        <div id="basic-ques-11" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">11.</span> <span>Do you have completed supplemental applications?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio17" value="1" name="customRadio7" v-model="supplementalApplications" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio17">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio18" value="0" name="customRadio7" v-model="supplementalApplications" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio18">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="11" id="btn-ques-11" data-direction="down" :disabled="supplementalApplications==null" @click="formQuestion(11)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <div id="basic-ques-12" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">12.</span> <span>Do you have loss runs?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio21" value="1" name="customRadio8" v-model="lossRuns" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio21">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio22" value="0" name="customRadio8" v-model="lossRuns" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio22">No</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio23" value="2" name="customRadio8" v-model="lossRuns"  class="custom-control-input">
                        <label class="custom-control-label" for="customRadio23">In Process/Ordered</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="12" id="btn-ques-12" :disabled="lossRuns==null" data-direction="down" @click="formQuestion(12)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>        
        <div id="basic-ques-13" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">13.</span> <span>Have you submitted this to any other Brokers? </span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio17ads" value="1" name="customRadio7123" v-model="otherBrokerSubmitted" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio17ads">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio18sad" value="0" name="customRadio7123" v-model="otherBrokerSubmitted" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio18sad">No</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="13" id="btn-ques-13" :disabled="otherBrokerSubmitted==null" data-direction="down" @click="formQuestion(13)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <div id="basic-ques-14" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">14.</span> <span>Do you have a market list?</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio26" value="1" name="customRadio11" v-model="marketList" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio26">Yes</label>
                    </div>
                    </div>
                    <div v-if="marketList=='1'" class="row padding-row" >
                        <label>Attaching market list is HIGHLY recommended- If not attaching, please be prepared to share which markets are working this for you</label>
                        <input type="file" name="file" id="file-uploads"  accept="application/pdf, application/vnd.ms-excel" @change="onfileChage($event)"/>
                    </div>
                    <div class="radio-box">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio27" value="0" name="customRadio11" v-model="marketList" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio27">No</label>
                    </div>
                </div>
                
            </div>
            <button type="button" data-qid="14" id="btn-ques-14" :disabled="marketList==null" data-direction="down" @click="formQuestion(14)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <div id="basic-ques-15" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">15.</span><span>Please provide key information to the brokers of how they can best help you.</span></h2>
                <div class="form-group">
                    <!-- <label>Required- 35 Characters minimum</label> -->
                    <textarea class="form-control" id="" rows="4" v-model="keyInformations" placeholder="Example: Insured has claims issues, multi-state exposures, state specific challenges, special language, etc."></textarea>
                    <span :class="{red:keyinfoerror}">{{keyinfomessage}}</span>
                </div>
                <button type="button" data-qid="15" id="btn-ques-15" :disabled="keyInformations.length==0" data-direction="down" @click="formQuestion(15)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div>
        <div id="basic-ques-16" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">16.</span> <span>Is this a rush request? </span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio30" value="1" name="customRadio15" v-model="rushRequests" class="custom-control-input" checked="checked">
                    <label class="custom-control-label" for="customRadio30">Yes</label>
                        <div class="form-group multipal-states">
                        <label for="exampleFormControlTextarea1">When is coverage needed? <span class="color-chng">(be specific)</span></label>
                        <input type="date" v-model="coverageDate" class="form-control" placeholder="MM/DD/YYYY">
                        <span :class="{red:coverageerror}">{{coveragemessage}}</span>
                        </div>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio31" value="0" name="customRadio15" v-model="rushRequests" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio31">No</label>
                </div>
                </div>
                <button type="button" data-qid="16" id="btn-ques-16" data-direction="down" :disabled="rushRequests==null||disabledButton" @click="formQuestion(16)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div>

        <div id="basic-ques-17" class="basic-ques basic-question d-none">
            <div class="form-group">
                <h2 class="all-counting-steps"><span class="number">17.</span> <span>Do you have a target premium?</span></h2>
                <div class="radio-box">
                    <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio32" value="1" v-model="targetPremium" name="customRadio16" class="custom-control-input" checked="checked">
                    <label class="custom-control-label"  for="customRadio32">Yes</label>
                        <div class="form-group multipal-states">
                        <label for="exampleFormControlTextarea1">Indicate your target.</label>
                        <div class="row">
                            <div class="col-lg-1 col-1 col-1-padding" style="padding-left: 5px;">$</div>
                            <div class="col-lg-9 col-9 col-9-padding col-9-margin">
                                <input type="text" id="premiumTarget" v-model="premiumTarget" class="form-control" placeholder="45,000">
                                <span :class="{red:premerror}">{{premmessage}}</span>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio33" value="0" v-model="targetPremium" name="customRadio16" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio33">No</label>
                </div>
                </div>
                <button type="button" data-qid="17" id="btn-ques-17" :disabled="targetPremium==null||disabledButton" data-direction="down" @click="formQuestion(17)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
            </div>
        </div>

        <div id="basic-ques-18" class="basic-ques basic-question d-none">
            <h2 class="all-counting-steps"><span class="number">18.</span> <span>Now, please direct Nexa where to send this opportunity.</span></h2>
            <div class="form-group">
                <div class="radio-box">
                        <!-- <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio37" value="1" v-model="brokerRespond" name="customRadio17" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio37">Favorites</label>
                    </div> -->
                    <!-- <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioBrokerRespond43" value="2" v-model="brokerRespond" name="customRadio17" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioBrokerRespond43">Open Market only</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioBrokerRespond35" value="3"  v-model="brokerRespond" data-toggle="modal" data-target="#Broker-list-modal" name="customRadio17" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioBrokerRespond35">Exclude List</label>
                    </div> -->
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2s4" value="1" name="customRadio10" v-model="brokerRespond" class="custom-control-input" checked="checked">
                        <label class="custom-control-label" for="customRadio2s4">Favorites List</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2a5" value="2" name="customRadio10" v-model="brokerRespond" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2a5">Favorites List + Open Market</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2d5" value="3" name="customRadio10" v-model="brokerRespond" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio2d5">Open Market Only</label>
                    </div>
                </div>
            </div>
            <button type="button" data-qid="18" id="btn-ques-18" :disabled="brokerRespond==null" data-direction="down" @click="formQuestion(18)" class="btn btn-primary basic-ques-btn-agent-questionnaire">Next Question</button>
        </div>
        <slot name="19th-question"></slot>
        <slot name="extra-questions"></slot>
    </div>
</template>

<script>
import store from '@/store'
import postMethods from '@/services/api/postMethods.js'
import getMethods from '@/services/api/getMethods.js'
export default {
    data(){
        return{
            accountLocation:[],
            multipleOperates:null,
            locationList:store.state.states,
            operateMultipleState:[],
            opererror:false,
            opermessage:'',
            coastalExposure:null,
            line_coverage:[],
            properror:false,
            propmessage:'',
            propertyEstimate:null,
            umbrellaLimit:null,
            umbrerror:false,
            umbrmessage:'',
            otherData:null,
            othererror:false,
            othermessage:'',
            annualCost:"",
            annualerror:false,
            annualmessage:'',
            annualPayroll:"",
            annualperror:false,
            annualpmessage:'',
            recordAccount:null,
            renewalData:null,
            newVenture:null,
            accordApplications:null,
            supplementalApplications:null,
            lossRuns:null,
            otherBrokerSubmitted:null,
            marketList:null,
            file:null,
            file2:null,
            keyInformations:"",
            keyinfoerror:null,
            keyinfomessage:null,
            rushRequests:null,
            coverageDate:null,
            coveragemessage:'',
            coverageerror:false,
            targetPremium:null,
            premiumTarget:null,
            premerror:false,
            premmessage:'',
            brokerRespond:null,
            excludeBrokerage:null,
            selectedExcludeBrokerage:[],
            // excludeBrokerageList:store.state.brokerageList,
            search_value:null,
            url:process.env.VUE_IMAGE_URL,
            brokerList:[],
            exclude_list:[],
            disabledButton:false,
            selectMultipleState:false,
            email:null,
            emailerror:false,
            emailmessage:'',
            password:null,
            passworderror:false,
            passwordmessage:'',
            dataValidation:[],
			globalQuesNo:0,
			excludeBrokersBtn:true,
			package_name:null,
			ques_no:0,
			multiselect:false
        }
    },
    props:{
        value:{
            type:String,
            required:true,
            default:'add'
        }
    },
    watch:{
        brokerRespond(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(18, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(18, 'add')
                this.disabledButton=false
            }
        },
        
        keyInformations(newval,oldval){
            if(newval==null||newval==""){
                this.keyinfoerror=true
                this.keyinfomessage = 'key information required'
                // this.addValidation(15, 'delete')
                this.disabledButton=true
            }else if(newval.length>=0){
                this.keyinfoerror=false
                this.keyinfomessage = ''
                // this.addValidation(15, 'add')
                this.disabledButton=false
            }else{
                this.keyinfoerror=true
                this.keyinfomessage = 'key information required'
                // this.addValidation(15, 'delete')
                this.disabledButton=true
            }
        },
        otherBrokerSubmitted(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(13, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(13, 'add')
                this.disabledButton=false
            }
        },
        marketList(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(14, 'delete')
                this.disabledButton=true
            }else{
                this.disabledButton=false
                // if(this.file!=null){
                //     // this.addValidation(14, 'add')
                    
                // }else{
                //     // this.addValidation(14, 'delete')
                //     this.disabledButton=true
                // }
            }
        },
        newVenture(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(9, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(9, 'add')
                this.disabledButton=false
            }
        },
        accordApplications(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(10, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(10, 'add')
                this.disabledButton=false
            }
        },
        supplementalApplications(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(11, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(11, 'add')
                this.disabledButton=false
            }
        },
        lossRuns(newval,oldval){
            if(newval==null||newval==""){
                // this.addValidation(12, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(12, 'add')
                this.disabledButton=false
            }
        },
        annualCost(newval,oldval){
            newval = newval.replace(/\D/g,'');
            if(newval==null||newval==""){
                this.annualerror=true
                // this.addValidation(5, 'delete')
                this.annualmessage='Required !'
                this.disabledButton=true
            }else{
                if(isNaN(newval)){
                    this.annualCost=null
                    this.annualerror=true
                    // this.addValidation(5, 'delete')
                    this.annualmessage='Number Required !'
                    this.disabledButton=true
            }else if((newval%1)!=0){
                
                this.annualerror=true
                // this.addValidation(5, 'add')
                this.annualmessage='Digit values not required !'
                this.disabledButton=true
            }else{
                    this.annualerror=false
                    // this.addValidation(5, 'add')
                    this.annualmessage=''
                    this.disabledButton=false
                }
            }
        },
        annualPayroll(newval,oldval){
            newval = newval.replace(/\D/g,'');
            if(newval==null||newval==""){
                this.annualperror=true
                // this.addValidation(6, 'delete')
                this.annualpmessage='Required !'
                this.disabledButton=true
            }else{
                if(isNaN(newval)){
                    this.annualPayroll=null
                    this.annualperror=true
                    // this.addValidation(6, 'delete')
                    this.annualpmessage='Number Required !'
                    this.disabledButton=true
                }else if((newval%1)!=0){
                    this.annualperror=true
                    // this.addValidation(6, 'delete')
                    this.annualpmessage='Digit value not required !'
                    this.disabledButton=true
                }else{
                    this.annualperror=false
                    // this.addValidation(6, 'add')
                    this.annualpmessage=''
                    this.disabledButton=false
                }
            }
        },
        propertyEstimate(newval,oldval){
            // console.log("b",newval)
            newval = newval.replace(/\D/g,'');
            // console.log("f",newval)
            if(this.line_coverage.indexOf(4)>-1){
                if(newval==null||newval==""){
                    this.properror=true
                    // this.addValidation(4, 'delete')
                    this.propmessage='Required !'
                    this.disabledButton=true
                }else{
                    if(isNaN(newval)){
                        this.propertyEstimate = null
                        this.properror=true
                        // this.addValidation(4, 'delete')
                        this.propmessage='Number Required !'
                        this.disabledButton=true
                    }else{
                        var n = parseInt(newval.replace(/\D/g,''),10);
                        // console.log(n)
                        newval = n.toLocaleString();
                        this.properror=false
                        // this.addValidation(4, 'add')
                        this.propmessage=''
                        this.disabledButton=false
                    }
                }
            }else{
                // this.addValidation(4, 'add')
                this.propertyEstimate=null
            }
        },
        umbrellaLimit(newval,oldval){
            newval = newval.replace(/\D/g,'');
            if(this.line_coverage.indexOf(5)>-1){
                if(newval==null||newval==""){
                    this.umbrerror=true
                    // this.addValidation(4, 'delete')
                    this.umbrmessage='Required !'
                    this.disabledButton=true
                }else{
                    if(isNaN(newval)){
                        this.umbrerror=true
                        this.umbrellaLimit = null
                        // this.addValidation(4, 'delete')
                        this.umbrmessage='Number Required !'
                        this.disabledButton=true
                    }else{
                        this.umbrerror=false
                        this.umbrmessage=''
                        // this.addValidation(4, 'add')
                        this.disabledButton=false
                    }
                }
            }else{
                // this.addValidation(4, 'add')
                this.umbrellaLimit=null
            }
        },
        premiumTarget(newval,oldval){
            //console.log(newval)
            newval = newval.replace(/\D/g,'');
            if(this.targetPremium=="1"){
                if(newval!=null){
                    if(isNaN(newval)){
                        this.premerror=true
                        // this.addValidation(17, 'delete')
                        this.premmessage='Number Required !',
                        this.disabledButton=false
                    }else{
                        this.premerror=false
                        // this.addValidation(17, 'add')
                        this.premmessage='',
                        this.disabledButton=false
                    }
                    
                }else{
                    this.premerror=true
                    // this.addValidation(17, 'add')
                    this.premmessage='Required !'
                    this.disabledButton=true
                }
            }else{
                // this.addValidation(17, 'add')
                this.premiumTarget=null
            }
        },
        excludeBrokerage(newval,oldval){
                if(newval=='1'){
                    this.excludeBrokersBtn=false
                if(this.selectedExcludeBrokerage.length==0){
                    // this.addValidation(18, 'delete')
                    this.disabledButton=true
                }else{
                    this.addValidation(18, 'add')
                    this.disabledButton=false
                }
            }else{
                this.excludeBrokersBtn=true
                // this.addValidation(18, 'add')
                this.disabledButton=false
            }
        },
        selectedExcludeBrokerage(newval,oldval){
            if(this.excludeBrokerage=='1'){
                // this.addValidation(21,'add')
                this.disabledButton=false
            }else{
                // this.addValidation(21, 'delete')
                this.selectedExcludeBrokerage=null
                this.disabledButton=true
            }
        },
        renewalData(newval,oldval){
            if(newval!=null||newval!=""){
                // this.addValidation(8, 'add')
                this.disabledButton=false
            }else{
                // this.addValidation(8, 'delete')
                this.disabledButton=true
            }
        },
        accountLocation(newval,oldval){
            if(newval==undefined){
                // this.addValidation(1, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(1, 'add')
                this.disabledButton=false
            }
        },
        recordAccount(newval,oldval){
            if(newval==null){
                // this.addValidation(7, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(7, 'add')
                this.disabledButton=false
            }
        },
        coastalExposure(newval,oldval){
            if(newval==null){
                // this.addValidation(3, 'delete')
                this.disabledButton=true
            }else{
                // this.addValidation(3, 'add')
                this.disabledButton=false
            }
        },
        otherData(newval,oldval){
            if(this.line_coverage.indexOf(7)>-1){
                if(newval==null||newval==""){
                    this.othererror=true
                    // this.addValidation(4, 'delete')
                    this.othermessage='Required !'
                    this.disabledButton=true
                }else{
                    if(!isNaN(newval)){
                        this.otherData = null
                        this.othererror=true
                        // this.addValidation(4, 'delete')
                        this.othermessage='Number Not Required !'
                        this.disabledButton=true
                    }else{
                        this.othererror=false
                        // this.addValidation(4, 'add')
                        this.othermessage=''
                        this.disabledButton=false
                    }
                }
            }else{
                // this.addValidation(4, 'add')
                this.otherData=null
            }
        },
        line_coverage(newval,oldval){
            //console.log("newval",newval,"oldval",oldval)
            var error = false

                if(newval.indexOf(4)>-1 && (this.propertyEstimate==null||this.propertyEstimate=="")){
                    error = true
                    this.properror=true
                    this.propmessage='Required !'
                    // this.addValidation(4, 'delete')
                    this.disabledButton=true
                }else if(newval.indexOf(4)<=-1){
                    this.properror=false
                    this.propertyEstimate=null
                    // this.addValidation(4, 'add')
                    this.propmessage=''
                    this.disabledButton=false
                }else{
                    this.properror=false
                    // this.propertyEstimate=null
                    // this.addValidation(4, 'add')
                    this.propmessage=''
                    this.disabledButton=false
                }
                if(newval.indexOf(5)>-1 && (this.umbrellaLimit==null||this.umbrellaLimit=="")){
                    error = true
                    this.umbrerror=true
                    // this.addValidation(4, 'delete')
                    this.umbrmessage='Required !'
                    this.disabledButton=true
                }
                else if(newval.indexOf(5)<=-1){
                    this.umbrerror=false
                    this.umbrellaLimit=null
                    // this.addValidation(4, 'add')
                    this.umbrmessage=''
                    this.disabledButton=false
                }else{
                    this.umbrerror=false
                    // this.umbrellaLimit=null
                    // this.addValidation(4, 'add')
                    this.umbrmessage=''
                    this.disabledButton=false
                }
                if(newval.indexOf(7)>-1 && (this.otherData==null||this.otherData=="")){
                    error = true
                    this.othererror=true
                    // this.addValidation(4, 'delete')
                    this.othermessage='Required !'
                    this.disabledButton=true
                }else if( newval.indexOf(7)<=-1){
                    this.othererror=false
                    this.otherData=null
                    // this.addValidation(4, 'add')
                    this.othermessage=''
                    this.disabledButton=false
                }else{
                    this.othererror=false
                    // this.otherData=null
                    // this.addValidation(4, 'add')
                    this.othermessage=''
                    this.disabledButton=false
                }
            if(newval.length>0 && error ==false){
                // this.addValidation(4, 'add')
                this.disabledButton=false
            }else{
                // this.addValidation(4, 'delete')
                this.disabledButton=true
            }
            
        },
        multipleOperates(newval,oldval){
            //console.log(newval,oldval)
            if(newval=='1'){
                this.selectMultipleState = true
                this.multiselect=false
                if(this.operateMultipleState.length==0){
                    this.opererror=true
                    // this.addValidation(2, 'delete')
                    this.opermessage='Required !'
                    this.disabledButton=true
                }else{
                    this.operperror=false
                    this.opermessage=''
                    // this.addValidation(2, 'add')
                    this.disabledButton=false
                }
            }else if(newval=='0'){
                this.selectMultipleState = false
                this.multiselect=true
                this.operateMultipleState=[]
                this.operperror=false
                this.opermessage=''
                // this.addValidation(2, 'add')
                this.disabledButton=false
            }
        },
        operateMultipleState(newval,oldval){
            if(this.multipleOperates=="1" && newval.length){
                this.opererror=false
                // this.addValidation(2, 'add')
                this.opermessage=''
                this.disabledButton=false
                this.selectMultipleState = true
            }else if(this.multipleOperates=="1" && !newval.length){
                this.opererror=true
                // this.addValidation(2, 'delete')
                this.opermessage='Required !'
                this.disabledButton=true
            }else {
                this.selectMultipleState = false
                // this.addValidation(2, 'add')
                // this.operateMultipleState=[]
            }
        },
        rushRequests(newval,oldval){
            if(newval=="1"){
                if(this.coverageDate==null){
                    this.coverageerror=true
                    // this.addValidation(16, 'delete')
                    this.coveragemessage = 'Required !'
                    this.disabledButton=true
                }else{
                    this.coverageerror=false
                    // this.addValidation(16, 'add')
                    this.coveragemessage = ''
                    this.disabledButton=false
                }
            }else if(newval=="0"){
                this.coverageerror=false
                this.coveragemessage = ''
                // this.addValidation(16, 'add')
                this.disabledButton=false
                this.coverageDate=null
            }
        },
        coverageDate(newval,oldval){
            //console.log(newval)
            if(this.rushRequests=="1"){
                if(newval!=null){
                    this.coverageerror=false
                    this.coveragemessage='',
                    // this.addValidation(16, 'add')
                    this.disabledButton=false
                }else{
                    this.coverageerror=true
                    // this.addValidation(16, 'delete')
                    this.coveragemessage='Required !'
                    this.disabledButton=true
                }
            }else{
                // this.addValidation(16, 'add')
                this.coverageDate=null
            }
        },
        targetPremium(newval,oldval){
            if(newval=="1"){
                if(this.premiumTarget==null||this.premiumTarget==""){
                    this.premerror=true
                    // this.addValidation(17, 'delete')
                    this.premmessage = 'Required !'
                    this.disabledButton=true
                }else{
                    this.premerror=false
                    // this.addValidation(17, 'add')
                    this.premmessage = ''
                    this.disabledButton=false
                }
            }else if(newval=="0"){
                this.premiumTarget=null
                this.premerror=false
                // this.addValidation(17, 'add')
                this.premmessage = ''
                this.disabledButton=false
            }
        },
    },
    updated(){
        $(this.$refs.agentNameSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.stateLicencedSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.addressStateSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.professionalDesignationSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.brokerageNameSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.selectpicker).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker2).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker3).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker4).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker5).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker6).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.selectpicker8).selectpicker({refresh:true,dropupAuto: false});
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
		},
		options(){
			return store.state.location_names
		},
		brokerOption(){
			return store.state.brokerage_names
		}
    },
    mounted(){
        $(this.$refs.agentNameSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.stateLicencedSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.addressStateSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.professionalDesignationSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.brokerageNameSelectPicker).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.selectpicker).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker2).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker3).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker4).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker5).selectpicker({refresh:true,dropupAuto: false});
		$(this.$refs.selectpicker6).selectpicker({refresh:true,dropupAuto: false});
        $(this.$refs.selectpicker8).selectpicker({refresh:true,dropupAuto: false});
        this.$nextTick(function(){
			$('#propertyEstimate').on('keyup', function(){
				var val = $(this).val().replace(/\D/g, '');
				if (val){
				var n = parseInt(val.replace(/\D/g,''),10);
				$(this).val(n.toLocaleString());
				}
			});
			$('#umbrellaLimit').on('keyup', function(){
				var val = $(this).val().replace(/\D/g, '');
				if (val){
				var n = parseInt(val.replace(/\D/g,''),10);
				$(this).val(n.toLocaleString());
				}
			});
			$('#annualCost').on('keyup', function(){
				var val = $(this).val().replace(/\D/g, '');
				if (val){
				var n = parseInt(val.replace(/\D/g,''),10);
				$(this).val(n.toLocaleString());
				}
			});
			$('#annualPayroll').on('keyup', function(){
				var val = $(this).val().replace(/\D/g, '');
				if (val){
				var n = parseInt(val.replace(/\D/g,''),10);
				$(this).val(n.toLocaleString());
				}
			});
			$('#premiumTarget').on('keyup', function(){
				var val = $(this).val().replace(/\D/g, '');
				if (val){
				var n = parseInt(val.replace(/\D/g,''),10);
				$(this).val(n.toLocaleString());
				}
            });
            if(this.value=='update'){
                this.globalQuesNo=23
            }
            var vm=this;
            // $(document).find('#Addnew-Modal').on("hidden.bs.modal",function(){
			// 	vm.reset()
			// })
            
            $('.basic-ques-btn-agent-questionnaire').click(function(e){
				var direction = $(this).data("direction");
				var question_no = $(this).data("qid");
				var question_wrapper = $(".question-wrapper");
				var el = question_wrapper.find(".active-el");
				question_wrapper.find(".right-arrows .arrows").removeClass("d-none").addClass("d-inline");
				if(vm.ques_no == 0){
                    question_wrapper.find(".active_up").addClass("active")
				}
				if(direction=='down'){
					if(vm.ques_no>=0&&vm.ques_no<23){
						vm.ques_no=vm.ques_no+1
					}
                    if (!el.next().length) {
							// question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
							// question_wrapper.find(".active_up").removeClass("inactiveLink").addClass("active")
							// question_wrapper.find(".active_up").removeClass("active").addClass("inactiveLink")
						}else{
							if(vm.globalQuesNo>=vm.ques_no){
								question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
							}else{
								question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
							}
							// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
							question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
							el.addClass("d-none").next().addClass("active active-el slider-wrap-ques").removeClass("opacity-basic-ques d-none");
							el.next().next().removeClass("d-none");
						}
				}else{
					if(vm.ques_no>=0&&vm.ques_no<=23){
						vm.ques_no=vm.ques_no-1
					}
                    if (!el.prev().length) {
						}else{
							if(vm.globalQuesNo>=vm.ques_no){
								question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
							}else{
								question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
							}
							// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
							question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
							el.addClass("opacity-basic-ques").removeClass("active active-el slider-wrap-ques").prev().removeClass("d-none opacity-basic-ques").addClass("active active-el slider-wrap-ques");
							el.next().removeClass("opacity-basic-ques").addClass("d-none")
						}
					
				}
            });
            $('#final_button').click(function(e){
				$("#nav-basic-ques span").addClass("check-mark");
                $("#nav-basic-profile-information").removeClass("active");
                $("#nav-basic-profile-information").trigger("click");
				toastr.info("Ok, no problem, let’s get you signed up")
			});
		})
    },
    methods:{
        reset(){
            this.accountLocation=null
            this.multipleOperates=null
            this.operateMultipleState=[]
            this.coastalExposure=null
            this.lines_coverages=[]
            this.annualCost=''
            this.annualPayroll=''
            this.recordAccount=null
            this.renewalData-null
            this.newVenture=null
            this.accordApplications=null
            this.supplementalApplications=null
            this.lossRuns=null
            this.otherBrokerSubmitted=null
            this.marketList=null
            this.file=null
            this.file2=null
            this.keyInformations=''
            this.rushRequests=null
            this.coverageDate=null,
            this.targetPremium=null
            this.premiumTarget=null
            this.brokerRespond=null
        },
        formQuestion(no){
            if(no==0){
                var agentData = {
                    user_type:1,
                    interest:this.agentIntrest
                }
                localStorage.removeItem('agentData')
                localStorage.setItem('agentData',JSON.stringify(agentData));
            }else if(no==1){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.location = this.accountLocation
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==2){

                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.multipleOperates=='0'){
                    agentData.operate_in_multiple_state = null
                }else if(this.multipleOperates=='1'){
                    var arr = []
                    console.log(this.operateMultipleState)
                    agentData.operate_in_multiple_state = this.operateMultipleState
                }
                localStorage.agentData = JSON.stringify(agentData)
            }else if(no==3){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.coastalExposure=='1'){
                    agentData.coastal_exposure = 1
                }else{
                    agentData.coastal_exposure = 0
                }
                
                localStorage.agentData = JSON.stringify(agentData)
            }else if(no==4){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var arr=[]
                var comment = null
                var agentData=JSON.parse(localStorage.agentData)
                if(this.line_coverage.length!=0){
                    for(var i=0;i<this.line_coverage.length;i++){
                        if(this.line_coverage[i]==4){
                            if(this.propertyEstimate!=null){
                                this.propertyEstimate = this.propertyEstimate.replace(/\D/g, '');
                            }
                            comment=this.propertyEstimate
                        }else if(this.line_coverage[i]==5){
                            if(this.umbrellaLimit!=null){
                                this.umbrellaLimit = this.umbrellaLimit.replace(/\D/g, '');
                            }
                            comment=this.umbrellaLimit
                        }else if(this.line_coverage[i]==7){
                            comment=this.otherData
                        }
                        arr.push({'line_coverage_id':this.line_coverage[i],'comments':comment})
                        comment = null
                    }
                }
                agentData.lines_coverages = arr
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no == 5){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.annualCost!=null){
                    this.annualCost = this.annualCost.replace(/\D/g, '');
                }
                agentData.total_annual_sale  = this.annualCost
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==6){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.annualPayroll!=null){
                    this.annualPayroll = this.annualPayroll.replace(/\D/g, '');
                }
                agentData.total_annual_payroll   = this.annualPayroll
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==7){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.agent_of_record_on_account    = this.recordAccount
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==8){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.renewalData!=null){
                    var date = this.renewalData.split("-")
                    var dates = date[1]+"/"+date[2]+"/"+date[0]
                }
                agentData.renewal_date    = dates
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==9){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.new_venture	    = this.newVenture 
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==10){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.completed_acord_application   = this.accordApplications
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==11){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.completed_supplemental_applications    = this.supplementalApplications
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==12){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.run_loss    = this.lossRuns
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==13){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.submitted_to_other_brokers    = this.otherBrokerSubmitted
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==14){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.marketList=='1'){
                    postMethods.fileUploadSubmit(this.file)
                        .then((res)=>{
                            agentData.market_list = res
                            localStorage.agentData = JSON.stringify(agentData)
                        })
                }else{
                    agentData.market_list = null
                    localStorage.agentData = JSON.stringify(agentData)
                }

            }else if(no==15){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.key_informations    = this.keyInformations
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==16){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.coverageDate!=null){
                    var date = this.coverageDate.split("-")
                    var dates = date[1]+"/"+date[2]+"/"+date[0]
                    agentData.rush_request    = dates
                }else{
                    agentData.rush_request    = this.coverageDate
                }
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==17){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.premiumTarget!=null){
                    this.premiumTarget = this.premiumTarget.replace(/\D/g, '');
                }
                agentData.target_premium     = this.premiumTarget
                localStorage.agentData = JSON.stringify(agentData)

            }else if(no==18){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                if(this.brokerRespond=='3'){
                    var data = {'type':this.brokerRespond,'brokers_id':this.exclude_list}
                }else{
                    var data = {'type':this.brokerRespond,'brokers_id':null}
                }
                agentData.response_brokers = data
                localStorage.agentData = JSON.stringify(agentData)
                
            // }else if(no==19){
            //     if(this.globalQuesNo<no){
            //         this.globalQuesNo=no
            //     }
            //     var agentData=JSON.parse(localStorage.agentData)
            //     agentData.excluded_brokerage   = this.selectedExcludeBrokerage
            //     localStorage.agentData = JSON.stringify(agentData)
            //     agentData.flag=1
			// 		agentData.user_id=this.userDetails.user_id
            //     postMethods.LeadDataSubmit(agentData,this.userDetails.token)
            //         .then((res)=>{
            //             if(res.error==false){
            //                 toastr.success(res.message)
            //                 $('#Addnew-Modal').modal('hide');
            //                 localStorage.removeItem('agentData')
            //                 router.push({name:'agentdashboard',query:{route:"direct"}})
            //             }else{
            //                 toastr.error(res.message)
            //             }
            //         })
            }else if(no==19){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.excluded_brokerage   = this.selectedExcludeBrokerage
                localStorage.agentData = JSON.stringify(agentData)
                if(this.value=='update'){
                    agentData.flag=1
					agentData.user_id=this.userDetails.user_id
                    if(this.updateCall){
                        postMethods.LeadDataSubmit(agentData,this.userDetails.token)
                            .then((res)=>{
                                if(res.error==false){
                                    toastr.success(res.message)
                                    $('#Addnew-Modal').modal('hide');
                                    localStorage.removeItem('agentData')
                                    bus.$emit('leadDataAdded',"added")
                                    // router.push({name:'agentdashboard',query:{route:"direct"}})
                                }else{
                                    toastr.error(res.message)
                                }
                            })
                    }else{
                        postMethods.leadDataUpdate(agentData,this.userDetails.token)
                            .then((res)=>{
                                if(res.error==false){
                                    toastr.success(res.message)
                                    $('#Addnew-Modal').modal('hide');
                                    localStorage.removeItem('agentData')
                                    
                                    // router.push({name:'agentdashboard',query:{route:"direct"}})
                                }else{
                                    toastr.error(res.message)
                                }
                            })
                    }
                }
                // if(this.email==null){
                // 	this.disabledButton=true
                // }else{
                // 	this.disabledButton=false
                // }
                
            }else if(no==20){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
				}
				
                // this.disabledButton=true
            }else if(no==21){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
				agentData.first_name   = this.firstname
				agentData.last_name = this.lastname
                localStorage.agentData = JSON.stringify(agentData)
                // if(this.fullName==null){
                // 	this.disabledButton=true
                // }else{
                // 	this.disabledButton=false
                // }
            }else if(no==22){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.email_address   = this.email
                localStorage.agentData = JSON.stringify(agentData)
                // if(this.email==null){
                // 	this.disabledButton=true
                // }else{
                // 	this.disabledButton=false
                // }
                
            }else if(no==23){
                if(this.globalQuesNo<no){
                    this.globalQuesNo=no
                }
                var agentData=JSON.parse(localStorage.agentData)
                agentData.password   = this.password
                localStorage.agentData = JSON.stringify(agentData)

                var data = {'first_name':this.firstname,
							'last_name':this.lastname,
                            'email_address':this.email,
                            'password':this.password,
                            'confirm_password':this.password,
                            'user_type':1}
                postMethods.signup(data)
                    .then((response)=>{
                        if(response.success){
                            this.$session.start()
                            this.$session.set('userAccessToken', {'user_id':response.success.user_id,'email':response.success.email,'token':response.success.token})
                            store.commit('currentUserDetailsAdd',response.success)
							sessionStorage.setItem('userAccessToken',JSON.stringify(response.success))
							this.userDetails=response.success
                            agentData.flag=1
                            agentData.user_id = response.success.user_id
                            postMethods.LeadDataSubmit(agentData,response.success.token)
                                .then((res)=>{
                                    if(res.error==false){
                                        $('#nav-basic-ques1').addClass('inactiveLink');
                                        $('#nav-basic-profile-information1').removeClass('inactiveLink');
										$("#nav-basic-ques span").addClass("check-mark");
										$("#nav-basic-profile-information").removeClass("active");
                                        $("#nav-basic-profile-information").trigger("click");
                                        toastr.success("Lead data added successfully. You can edit the data in dashboard section.")
                                        localStorage.removeItem('agentData')
                                    }else{
                                        toastr.error(res.message)
                                    }
                                })
                                
                        }else{
                            toastr.error(response.message)
                        }
                    })
            }
            
       },
        onfileChage($event){
			this.file = $event.target.files[0]
				// this.imageUpload=false
				this.file2 = $event.target.files[0]
				// this.createImage( this.image);
		},
    }
}
</script>

<style>

</style>
