<template>
	<div>
		<!-- signup modal -->
		<div
			class="modal login-signup-popup fade"
			id="agent_signup"
			tabindex="-1"
			role="dialog"
			aria-labelledby="agent_signupLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="agent_signupLabel">Sign Up</h4>
						<button
							v-if="$route.query.route !== 'questionnaire'"
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="toggle-wrapper" style="margin-top: 6%;">
							<div class="row" v-if="$route.query.route !== 'questionnaire'">
								<div class="offset-3 offset-lg-4 col-lg-2 col-md-3 col-sm-3 col-3">
									<div class="radio-box">
										<div class="custom-control custom-radio">
											<input
												autocomplete="off"
												type="radio"
												id="customRadioSignupAgent"
												name="customRadioSignupAgent"
												value="1"
												v-model="user_type"
												class="custom-control-input"
												checked
											/>
											<label class="custom-control-label" for="customRadioSignupAgent">Agent</label>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-3 col-3">
									<div class="radio-box">
										<div class="custom-control custom-radio">
											<input
												autocomplete="off"
												type="radio"
												id="customRadioSignupBroker"
												name="customRadioSignupBroker"
												value="2"
												v-model="user_type"
												class="custom-control-input"
											/>
											<label class="custom-control-label" for="customRadioSignupBroker">Broker</label>
										</div>
									</div>
								</div>
							</div>
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"></ul>
							<div class="tab-content" id="pills-tabContent">
								<div
									class="tab-pane fade show active"
									id="pills-home"
									role="tabpanel"
									aria-labelledby="pills-home-tab"
								>
									<div class="row align-items-center">
										<div class="col-lg-12 col-12">
											<form
												id="signup"
												@submit.prevent="validateBeforeSubmitSignup"
												data-vv-scope="signup"
												autocomplete="off"
											>
												<div class="form-group">
													<input
														autocomplete="off"
														type="text"
														name="first name"
														v-model="firstname"
														v-validate="'required|min:2'"
														:class="{'red': errors.has('signup.first name') }"
														class="form-control"
														placeholder="First Name"
														style="width: 97%;"
													/>
													<i v-show="errors.has('signup.first name')" class="fa fa-warning"></i>
													<span
														v-show="errors.has('signup.first name')"
														:class="{'green': !errors.has('signup.first name'), 'red': errors.has('signup.first name') }"
													>{{ errors.first('signup.first name') }}</span>
												</div>
												<div class="form-group">
													<input
														autocomplete="off"
														type="text"
														name="last name"
														v-model="lastname"
														v-validate="'min:1'"
														:class="{'red': errors.has('signup.last name') }"
														class="form-control"
														placeholder="Last Name"
														style="width: 97%;"
													/>
													<i v-show="errors.has('signup.last name')" class="fa fa-warning"></i>
													<span
														v-show="errors.has('signup.last name')"
														:class="{'green': !errors.has('signup.last name'), 'red': errors.has('signup.last name') }"
													>{{ errors.first('signup.last name') }}</span>
												</div>
												<div class="form-group">
													<input
														autocomplete="off"
														name="signup email"
														v-model="email"
														v-validate="{ required: true, regex : /^(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$)/ ,custom_email: true}"
														class="form-control"
														:class="{ 'red': errors.has('signup.signup email') }"
														type="text"
														placeholder="Email"
														style="width: 97%;"
													/>
													<i v-show="errors.has('signup.signup email')" class="fa fa-warning"></i>
													<span
														:class="{'green': !errors.has('signup.signup email'), 'red': errors.has('signup.signup email') }"
														v-show="errors.has('signup.signup email')"
													>{{ errors.first('signup.signup email')}}</span>
												</div>
												<div class="form-group">
													<input
														autocomplete="off"
														v-model="password"
														id="password-field-signup"
														v-validate="'required|min:5|max:10|custom_password'"
														name="signup password"
														class="form-control display-inline"
														type="password"
														:class="{ 'red': errors.has('signup password') }"
														placeholder="Password"
														ref="signupPassword"
														maxlength="10"
														style="width: 97%;"
													/>
													<span
														toggle="#password-field-signup"
														class="fa fa-fw field-icon cursor-hand"
														:class="{'fa-eye':!eyeSignUp,'fa-eye-slash':eyeSignUp}"
														@click="passToText(2)"
													></span>

													<i v-show="errors.has('signup.signup password')" class="fa fa-warning"></i>
													<span
														:class="{'green': !errors.has('signup.signup password'), 'red': errors.has('signup.signup password') }"
														v-show="errors.has('signup.signup password')"
														class="help is-danger"
													>{{ errors.first('signup.signup password') }}</span>
												</div>
												<div class="form-group">
													<input
														autocomplete="off"
														v-model="confirmPassword"
														id="confirm-password-field-signup"
														v-validate="'required|confirmed:signupPassword'"
														class="form-control display-inline"
														name="password confirmation"
														type="password"
														:class="{'red': errors.has('password confirmation') }"
														placeholder="Confirm Password"
														ref="signupConfirmPassword"
														data-vv-as="password"
														maxlength="10"
														style="width: 97%;"
													/>
													<!-- <span
														toggle="#confirm-password-field-signup"
														class="fa fa-fw field-icon cursor-hand"
														:class="{'fa-eye':!eyeConfirmSignup,'fa-eye-slash':eyeConfirmSignup}"
														@click="passToText(3)"
													></span> -->
													<i v-show="errors.has('signup.password confirmation')" class="fa fa-warning"></i>
													<span
														:class="{'green': !errors.has('signup.password confirmation'), 'red': errors.has('signup.password confirmation') }"
														v-show="errors.has('signup.password confirmation')"
													>{{ errors.first('signup.password confirmation') }}</span>
												</div>
												<button
													type="submit"
													:disabled="signupButtonDisabled"
													class="btn btn-primary"
												>{{signupButton}}</button>
											</form>
										</div>
										<!-- <div class="col-lg-4 order-lg-1">
											<button
												href="#"
												@click="linkedInSignUp()"
												:disabled="signupLinkedinButtonDisabled"
												class="btn btn-primary linkedin-btn btn-block"
											>
												<i class="fa fa-linkedin"></i>
												<span>{{signupLinkedinButton}}</span>
											</button>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- signup modal end -->

		<!-- login modal -->
		<div
			class="modal login-signup-popup fade"
			id="agent_login"
			tabindex="-1"
			role="dialog"
			aria-labelledby="agent_signupLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="agent_loginLabel">Log In</h4>
						<button
							type="button"
							v-if="$route.query.route !== 'questionnaire'"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="toggle-wrapper" style="margin-top: 6%;">
							<h5 v-show="forgotPasswordArea">Please give your email address which registered with NEXA</h5>
							<ul class="nav nav-pills" id="pills-tab" role="tablist"></ul>
							<div class="tab-content" id="pills-tabContent">
								<div
									class="tab-pane fade show active"
									id="pills-home1"
									role="tabpanel"
									aria-labelledby="pills-home-tab"
								>
									<div v-show="!forgotPasswordArea" class="row align-items-center">
										<div class="col-lg-8 order-lg-2">
											<form @submit.prevent="validateBeforeSubmitLogin" data-vv-scope="login">
												<div class="form-group">
													<input
														autocomplete="off"
														name="email"
														v-model="loginEmail"
														v-validate="{ required: true, regex : /^(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$)/ }"
														class="form-control"
														:class="{'red': errors.has('login.email') }"
														type="text"
														placeholder="Email"
													/>
													<i v-show="errors.has('login.email')" class="fa fa-warning"></i>
													<span
														:class="{'green': !errors.has('login.email'), 'red': errors.has('login.email') }"
														v-show="errors.has('login.email')"
													>{{ errors.first('login.email') }}</span>
												</div>
												<div class="form-group">
													<input
														autocomplete="off"
														v-model="loginPassword"
														id="password-field-login"
														v-validate="'required|min:5'"
														name="password"
														class="form-control display-inline"
														type="password"
														:class="{ 'red': errors.has('login.password') }"
														placeholder="Password"
														ref="loginPassword"
														maxlength="10"
														style="width: 97%;"
													/>
													<span
														toggle="#password-field-login"
														:class="{'fa-eye':!eyeLogin,'fa-eye-slash':eyeLogin}"
														@click="passToText(1)"
														class="fa fa-fw field-icon cursor-hand"
													></span>
													<i v-show="errors.has('login.password')" class="fa fa-warning"></i>
													<span
														:class="{'green': !errors.has('login.password'), 'red': errors.has('login.password') }"
														v-show="errors.has('login.password')"
													>{{ errors.first('login.password') }}</span>
												</div>
												<p>
													<a @click="forgotPassword()" href="#">Forgot Password?</a>
												</p>
												<button
													type="submit"
													:disabled="errors.any('login')||loginButtonDisabled"
													class="btn btn-primary"
												>{{loginButton}}</button>
											</form>
										</div>
										<div class="col-lg-4 order-lg-1">
											<button
												@click="linkedInSignUp()"
												:disabled="loginLinkedinButtonDisabled"
												class="btn btn-primary linkedin-btn btn-block"
											>
												<i class="fa fa-linkedin"></i>
												<span>{{loginLinkedinButton}}</span>
											</button>
										</div>
									</div>
									<div v-show="forgotPasswordArea" class="row align-items-center">
										<div class="col-lg-8 order-lg-2 order-2">
											<form @submit.prevent="ValidateForgotPasswordEmail" data-vv-scope="forgotpasswordemail">
												<div class="form-group">
													<input
														autocomplete="off"
														name="email"
														v-model="loginEmail"
														v-validate="'required|email'"
														class="form-control"
														:class="{'red': errors.has('forgotpasswordemail.email') }"
														type="text"
														placeholder="Email"
													/>
													<i v-show="errors.has('forgotpasswordemail.email')" class="fa fa-warning"></i>
													<span
														:class="{'red': errors.has('forgotpasswordemail.email') }"
														v-show="errors.has('forgotpasswordemail.email')"
													>{{ errors.first('forgotpasswordemail.email') }}</span>
												</div>
												<button type="submit" class="btn btn-primary display-flex-class">
													<span class="margin-left-button">Send Link</span>
												</button>
											</form>
										</div>
										<div class="col-lg-4 order-lg-1 order-1 text-center">
											<a href="#" @click="forgotPassword()" style="padding-bottom:10px;">
												<i class="fa fa-arrow-left"></i> Back to login
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- login modal end -->

		<!-- confirmation modal -->

		<div
			class="modal confirm-modal fade"
			id="confirm_modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="confirm_modal"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="agent_loginLabel">Confirm</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row center-element">
							<h5 class="text-align">Do you really want to go home. All the changes will be removed.</h5>
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 center-element mt-3">
								<button data-dismiss="modal" class="btn btn-danger">Cancel</button>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-6 center-element mt-3">
								<button data-dismiss="modal" @click="goHome()" class="btn btn-success">Proceed</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- confirmation modal end-->

		<!-- no-match-found-modal -->

		<div
			class="modal confirm-modal fade"
			id="no-match-found-modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="confirm_modal"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <h4 class="modal-title" id="agent_loginLabel">Confirm</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>-->
					</div>
					<div class="modal-body">
						<div class="row center-element">
							<h5
								class="text-align"
							>No match is found yet. We will notify you when appropriate matches found. Or else you can create a new filter in the account section.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- no-match-found- modal end-->

		<!-- invitation modal -->
		<div
			class="modal view-modal fade"
			id="invitationModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Invite members to your global team</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form
							class="pt-5"
							@submit.prevent="inviteCreateTeamValidationCheck"
							data-vv-scope="get_started_agent_create_team"
							novalidate
						>
							<div class="row">
								<div class="col-lg-5 col-5">
									<input
										type="text"
										class="form-control"
										v-model="invitationNameCreate[0]"
										placeholder="Name"
									/>
									<span :class="{red:invitationnamecreateerror[0]}">{{invitationnamecreatemessage[0]}}</span>
								</div>
								<div class="col-lg-5 col-5">
									<input
										type="text"
										class="form-control"
										v-model="invitationEmailCreate[0]"
										placeholder="Email"
									/>
									<span :class="{red:invitationemailcreateerror[0]}">{{invitationemailcreatemessage[0]}}</span>
								</div>
								<div class="col-lg-1 col-1">
									<i
										@click="addCheckboxCreate()"
										class="fa fa-plus-square fa-2x"
										style="color:#0077b5;padding-top: 4px;cursor:pointer;"
										aria-hidden="true"
									></i>
								</div>
							</div>
							<div class="row" v-for="(value,i) in arrayValueCreate" :key="i">
								<div class="col-lg-5 col-5">
									<input
										type="text"
										class="form-control"
										v-model="invitationNameCreate[i+1]"
										placeholder="Name"
									/>
									<span :class="{red:invitationnamecreateerror[i+1]}">{{invitationnamecreatemessage[i+1]}}</span>
								</div>
								<div class="col-lg-5 col-5">
									<input
										type="text"
										class="form-control"
										v-model="invitationEmailCreate[i+1]"
										placeholder="Email"
									/>
									<span :class="{red:invitationemailcreateerror[i+1]}">{{invitationemailcreatemessage[i+1]}}</span>
								</div>
								<div class="col-lg-1 col-1">
									<i
										@click="deleteCheckboxCreate(i+1)"
										class="fa fa-minus-square-o fa-2x"
										style="color:red;padding-top: 4px;cursor:pointer;"
										aria-hidden="true"
									></i>
								</div>
							</div>
							<div class="row" style="margin: 0 auto; display:flex;padding-top:5%;">
								<button
									type="submit"
									:disabled="buildButton"
									id="btn_create_team1"
									class="btn btn-primary"
								>{{buildButtonValue}}</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
function isBelowThreshold(currentValue) {
	return currentValue == false;
}

import { bus } from "@/main";
import router from "@/router";
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import store from "@/store";
import NexaForgotPasswordEmail from "@/components/NexaForgotPasswordEmail";
import Vue from "vue";
import { teamInvitation } from "@/services/mixins/teamInvitation";

const HelloJs = require("hellojs/dist/hello.all.min.js");
const VueHello = require("vue-hellojs");

HelloJs.init(
	{
		linkedin: process.env.VUE_APP_LINKED_IN_ID
	},
	{
		redirect_uri: process.env.VUE_APP_LINKED_IN_REDIRECT_URL,
		//  redirect_uri: '/callback',
		response_type: "code",
		scope: "r_liteprofile,r_emailaddress"
	}
);
Vue.use(VueHello, HelloJs);
import VeeValidate from "vee-validate";
VeeValidate.Validator.extend("custom_password", {
	getMessage: field =>
		`The password must contain at least: minimum 5 characters, maximum 10 characters, 1 uppercase letter, 1 lowercase letter and one special character`,
	validate: value => {
		var strongRegex = new RegExp(
			"^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{5,})"
		);
		// console.log(strongRegex.test(value))
		return strongRegex.test(value);
	}
});
VeeValidate.Validator.extend("custom_email", {
	getMessage: field =>
		`Email you have entered is already taken. Please try another email.`,
	validate: value => {
		return new Promise(resolve => {
			var data = { email_address: value };
			getMethods.userEmailAvalibility(data).then(res => {
				resolve(res);
			});
		});
	}
});
export default {
	components: {
		NexaForgotPasswordEmail
	},
	data() {
		return {
			email: null,
			firstname: null,
			lastname: null,
			password: null,
			confirmPassword: null,
			loginEmail: null,
			loginPassword: null,
			user_type: "1",
			limiting: 0,
			forgotPasswordArea: false,
			eyeLogin: false,
			eyeSignUp: false,
			eyeConfirmSignup: false,
			signupLinkedinButton: "Sign Up with LinkedIn",
			signupLinkedinButtonDisabled: false,
			signupButton: "Sign Up",
			signupButtonDisabled: false,
			loginLinkedinButton: "Log In with LinkedIn",
			loginLinkedinButtonDisabled: false,
			loginButton: "Log In",
			loginButtonDisabled: false,
			userTypeDisabled: 0
		};
	},
	mixins: [teamInvitation],
	mounted() {
		if (this.$cookies.get("UserLogin")) {
			var data = this.$cookies.get("UserLogin");
			this.loginEmail = data.email_address;
			this.loginPassword = data.password;
		}
		// console.log(this.$route)
		if (this.$route.query.user == "agent") {
			this.user_type = "1";
			this.userTypeDisabled = 1;
		} else if (this.$route.query.user == "broker") {
			this.user_type = "2";
			this.userTypeDisabled = 2;
		}
		bus.$on("user-type-set", data => {
			this.user_type = data;
		});
		bus.$on("emit-invitation-popup", () => {
			$("#invitationModal").modal("show");
		});
		bus.$once("signupClicked", () => {
			this.email = null;
			this.password = null;
			this.$validator.reset();
		});
		bus.$on("loginClicked", () => {
			this.forgotPasswordArea = false;
		});
		bus.$on("emailAlready", res => {
			this.loginEmail = res;
			this.loginPassword = null;
		});
		bus.$on("forgotPasswordSetup", () => {
			this.forgotPassword();
		});

		$("#agent_signup").on("hidden.bs.modal", function() {
			this.email = null;
			this.firstname = null;
			this.lastname = null;
			this.password = null;
			this.confirmPassword = null;
			this.eyeSignUp = false;
			this.eyeConfirmSignup = false;
		});
		$("#agent_login").on("hidden.bs.modal", function() {
			this.loginEmail = null;
			this.loginPassword = null;
			this.eyeLogin = false;
			if (this.$cookies.get("UserLogin")) {
				var data = this.$cookies.get("UserLogin");
				this.loginEmail = data.email_address;
				this.loginPassword = data.password;
			}
		});
		bus.$on("profile-signup", res => {
			// console.log(res)
			// console.log(res)
			
			this.$swal
				.fire({
					title: "As whom you want to continue?",
					text: "Please select as whom you want to continue",
					type: "",
					showCancelButton: true,
					confirmButtonText: "I want to continue as Agent",
					cancelButtonText: "I want to continue as Broker",
					reverseButtons: true
				})
				.then(result => {
					if (result.value) {
						console.log("agent")
						res.user_type = 1;
						this.linkedinSignup(res);
					}else{
						console.log("broker")
						res.user_type = 1;
						this.linkedinSignup(res);
					}
				});
			
		});
	},
	updated() {},
	methods: {
		linkedinSignup(res) {
			getMethods
				.LinkedinLoginTest(res)
				.then(resp => {
					// console.log("lasdkjlks",resp.body.data)
					var variable = resp;
					// variable.user_type=this.user_type
					getMethods
						.LinkedinSignup(variable)
						.then(response => {
							this.loginLinkedinButton = "Log In with LinkedIn";
							this.signupLinkedinButton = "Sign Up with LinkedIn";
							this.loginLinkedinButtonDisabled = false;
							this.signupLinkedinButtonDisabled = false;
							if (response.new_user == "new user") {
								this.$session.start();
								this.$session.set("userAccessToken", {
									user_id: response.user_id,
									email: response.email,
									token: response.token
								});
								store.commit("currentUserDetailsAdd", response);
								sessionStorage.setItem(
									"userAccessToken",
									JSON.stringify(response)
								);

								$("#agent_signup").modal("hide");
								$("#agent_login").modal("hide");
								if (response.user_type == 1) {
									if (
										this.$route.query.route !=
										"questionnaire"
									) {
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "agent"
											}
										});
									} else {
										bus.$emit("forceUpdate");
									}
								} else if (response.user_type == 2) {
									bus.$emit("broker-login-success");
									if (
										this.$route.query.route !=
										"questionnaire"
									) {
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "broker"
											}
										});
									} else {
										bus.$emit("forceUpdate");
									}
								} else if (response.user_type == 3) {
									router.push({
										name: "getstarted",
										query: {
											route: "signup",
											user: "underwriter"
										}
									});
								} else if (response.user_type == 4) {
									router.push({
										name: "getstarted",
										query: {
											route: "signup",
											user: "marketing-reps"
										}
									});
								}
							} else {
								this.$session.start();
								this.$session.set("userAccessToken", {
									user_id: response.user_id,
									email: response.email,
									token: response.token
								});
								store.commit("currentUserDetailsAdd", response);
								sessionStorage.setItem(
									"userAccessToken",
									JSON.stringify(response)
								);
								if (response.user_type == 1) {
									if (
										response.progress_status == 5 ||
										response.progress_status == 6
									) {
										$("#agent_login").modal("hide");
										$("#agent_signup").modal("hide");
										this.reset();
										router.push({
											name: "agentdashboard",
											query: {
												route: "direct",
												user: "agent"
											}
										});
									} else {
										$("#agent_login").modal("hide");
										$("#agent_signup").modal("hide");
										this.reset();
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "agent"
											}
										});
									}
								} else if (response.user_type == 2) {
									if (
										response.progress_status == 5 ||
										response.progress_status == 6
									) {
										$("#agent_login").modal("hide");
										$("#agent_signup").modal("hide");
										this.reset();
										router.push({
											name: "brokerdashboard",
											query: {
												route: "direct",
												user: "broker"
											}
										});
									} else {
										$("#agent_login").modal("hide");
										$("#agent_signup").modal("hide");
										this.reset();
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "broker"
											}
										});
									}
								} else if (response.user_type == 3) {
									$("#agent_login").modal("hide");
									$("#agent_signup").modal("hide");
									if (
										response.progress_status == 5 ||
										response.progress_status == 6
									) {
										router.push({
											name: "underwriterdashboard",
											query: {
												route: "direct",
												user: "underwriter"
											}
										});
									} else {
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "underwriter"
											}
										});
									}
								} else if (response.user_type == 4) {
									$("#agent_login").modal("hide");
									$("#agent_signup").modal("hide");
									if (
										response.progress_status == 5 ||
										response.progress_status == 6
									) {
										router.push({
											name: "marketingrepsdashboard",
											query: {
												route: "direct",
												user: "marketing-reps"
											}
										});
									} else {
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "marketing-reps"
											}
										});
									}
								}
							}
						})
						.catch(error => {
							this.loginLinkedinButton = "Log In with LinkedIn";
							this.signupLinkedinButton = "Sign Up with LinkedIn";
							this.loginLinkedinButtonDisabled = false;
							this.signupLinkedinButtonDisabled = false;
							toastr.error(error);
						});
				})
				.catch(err => {
					this.loginLinkedinButton = "Log In with LinkedIn";
					this.signupLinkedinButton = "Sign Up with LinkedIn";
					this.loginLinkedinButtonDisabled = false;
					this.signupLinkedinButtonDisabled = false;
				});
		},
		passToText(value) {
			if (value == 1) {
				this.$refs.loginPassword.type =
					this.$refs.loginPassword.type == "password"
						? "text"
						: "password";
				this.eyeLogin = !this.eyeLogin;
			} else if (value == 2) {
				this.$refs.signupPassword.type =
					this.$refs.signupPassword.type == "password"
						? "text"
						: "password";
				this.eyeSignUp = !this.eyeSignUp;
			} else if (value == 3) {
				this.$refs.signupConfirmPassword.type =
					this.$refs.signupConfirmPassword.type == "password"
						? "text"
						: "password";
				this.eyeConfirmSignup = !this.eyeConfirmSignup;
			}
		},
		forgotPassword() {
			this.forgotPasswordArea = !this.forgotPasswordArea;
			// $('#agent_login').modal('hide');
			// router.push({name:'forgotpasswordverification'})
		},
		goHome() {
			router.push({ name: "NexaHome" });
		},
		reset() {
			this.email = null;
			this.firstname = null;
			this.lastname = null;
			this.password = null;
			this.confirmPassword = null;
			this.loginEmail = null;
			this.loginPassword = null;
			this.user_type = "1";
			this.limiting = 0;
			this.forgotPasswordArea = false;
			this.$validator.reset();
		},
		ValidateForgotPasswordEmail() {
			this.$validator.validateAll("forgotpasswordemail").then(result => {
				if (result) {
					postMethods
						.forgotPasswordEmailSend({
							email_address: this.loginEmail
						})
						.then(res => {
							if (res.error == false) {
								toastr.success(
									"The link will be shared with your email. Please go through that to reset password."
								);
								this.forgotPassword();
							} else {
								toastr.error(res.message);
							}
						})
						.catch(res => {
							toastr.error(res.message);
						});
				} else {
					toastr.error("Some mandatory fields are missing.");
				}
			});
		},
		validateBeforeSubmitLogin() {
			this.loginButton = "Loading...";
			this.loginButtonDisabled = true;
			this.$validator.validateAll("login").then(result => {
				if (result) {
					var data = {
						email_address: this.loginEmail,
						password: this.loginPassword
					};
					this.$http
						.post(process.env.VUE_BACKEND_URL + "user-login", data)
						.then(response => {
							if (response) {
								this.loginButton = "Log In";
								this.loginButtonDisabled = false;
								this.$cookies.set("UserLogin", data);
								this.$session.start();
								this.reset();
								this.$session.set("userAccessToken", {
									user_id: response.body.success.user_id,
									email: response.body.success.email,
									token: response.body.success.token
								});
								store.commit(
									"currentUserDetailsAdd",
									response.body.success
								);
								sessionStorage.setItem(
									"userAccessToken",
									JSON.stringify(response.body.success)
								);

								if (response.body.success.user_type == 1) {
									if (
										response.body.success.progress_status ==
											5 ||
										response.body.success.progress_status ==
											6
									) {
										$("#agent_login").modal("hide");
										this.reset();
										router.push({
											name: "agentdashboard",
											query: {
												route: "direct",
												user: "agent"
											}
										});
									} else {
										$("#agent_login").modal("hide");
										this.reset();
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "agent"
											}
										});
									}
								} else if (
									response.body.success.user_type == 2
								) {
									bus.$emit("broker-login-success");
									if (
										response.body.success.progress_status ==
											5 ||
										response.body.success.progress_status ==
											6
									) {
										$("#agent_login").modal("hide");
										this.reset();
										router.push({
											name: "brokerdashboard",
											query: {
												route: "direct",
												user: "broker"
											}
										});
									} else {
										$("#agent_login").modal("hide");
										this.reset();
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "broker"
											}
										});
									}
								} else if (
									response.body.success.user_type == 3
								) {
									$("#agent_login").modal("hide");
									if (
										response.body.success.progress_status ==
											5 ||
										response.body.success.progress_status ==
											6
									) {
										router.push({
											name: "underwriterdashboard",
											query: {
												route: "direct",
												user: "underwriter"
											}
										});
									} else {
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "underwriter"
											}
										});
									}
								} else if (
									response.body.success.user_type == 4
								) {
									$("#agent_login").modal("hide");
									if (
										response.body.success.progress_status ==
											5 ||
										response.body.success.progress_status ==
											6
									) {
										router.push({
											name: "marketingrepsdashboard",
											query: {
												route: "direct",
												user: "marketing-reps"
											}
										});
									} else {
										toastr.warning(
											"You have not completed your profile information. Please complete it and continue."
										);
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "marketing-reps"
											}
										});
									}
								}
							} else {
								toastr.error(response.body.error);
							}
						})
						.catch(error => {
							this.loginButton = "Log In";
							this.loginButtonDisabled = false;
							toastr.error(error.body.error);
						});
				} else {
					this.loginButton = "Log In";
					this.loginButtonDisabled = false;
					toastr.error(
						"Missing Fields. Please see below and try again."
					);
				}
			});
		},

		validateBeforeSubmitSignup() {
			this.signupButton = "Loading...";
			this.signupButtonDisabled = true;
			var person = "broker";
			if ($(this.$refs.pills_signup).hasClass("active")) {
				person = "agent";
			}
			this.$validator.validateAll("signup").then(result => {
				if (result) {
					var data = {
						first_name: this.firstname,
						last_name: this.lastname,
						email_address: this.email,
						password: this.password,
						confirm_password: this.confirmPassword,
						user_type: this.user_type
					};
					this.$http
						.post(process.env.VUE_BACKEND_URL + "user-signup", data)
						.then(response => {
							if (response) {
								this.signupButton = "Sign Up";
								this.signupButtonDisabled = false;
								this.$cookies.set("UserLogin", {
									email_address: this.email,
									password: this.password
								});
								this.reset();
								this.$session.start();
								this.$session.set("userAccessToken", {
									user_id: response.body.success.user_id,
									email: response.body.success.email,
									token: response.body.success.token
								});
								store.commit(
									"currentUserDetailsAdd",
									response.body.success
								);
								sessionStorage.setItem(
									"userAccessToken",
									JSON.stringify(response.body.success)
								);

								$("#agent_signup").modal("hide");
								toastr.success("Signup Successful");
								if (response.body.success.user_type == 1) {
									if (
										this.$route.query.route ==
										"questionnaire"
									) {
										this.reset();
										bus.$emit("forceUpdate");
									} else {
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "agent"
											}
										});
									}
								} else if (
									response.body.success.user_type == 2
								) {
									bus.$emit("broker-login-success");
									if (
										this.$route.query.route ==
										"questionnaire"
									) {
										this.reset();
										bus.$emit("forceUpdate");
									} else {
										router.push({
											name: "getstarted",
											query: {
												route: "signup",
												user: "broker"
											}
										});
									}
								} else if (
									response.body.success.user_type == 3
								) {
									this.reset();
									router.push({
										name: "getstarted",
										query: {
											route: "signup",
											user: "underwriter"
										}
									});
								} else if (
									response.body.success.user_type == 4
								) {
									this.reset();
									router.push({
										name: "getstarted",
										query: {
											route: "signup",
											user: "marketing-reps"
										}
									});
								}
							}
						})
						.catch(err => {
							this.signupButton = "Sign Up";
							this.signupButtonDisabled = false;
						});
				} else {
					this.signupButton = "Sign Up";
					this.signupButtonDisabled = false;
					toastr.error(
						"Missing Fields. Please see below and try again."
					);
				}
			});
		},
		linkedInLogin() {
			var network = "linkedin";
			const hello = this.hello;
			hello(network)
				.login()
				.then(() => {
					const authRes = hello(network).getAuthResponse();
					bus.$emit("profile-login", authRes);
				});
		},
		linkedInSignUp() {
			this.loginLinkedinButton = "Loading...";
			this.signupLinkedinButton = "Loading...";
			this.loginLinkedinButtonDisabled = true;
			this.signupLinkedinButtonDisabled = true;
			var network = "linkedin";
			const hello = this.hello;
			var user_types = this.user_type;
			var authRes;
			hello(network)
				.login()
				.then(() => {
					console.log("inserted");
					const authRes = hello("linkedin").getAuthResponse();
					bus.$emit("profile-signup", authRes);
				})
				.catch(() => {
					this.loginLinkedinButton = "Log In with LinkedIn";
					this.signupLinkedinButton = "Sign Up with LinkedIn";
					this.loginLinkedinButtonDisabled = false;
					this.signupLinkedinButtonDisabled = false;
				});
			console.log(authRes);
		}
	}
};
</script>

<style>
/* .green{
	font-size: 12px;
	color:green;
	border-color:green;
}
.red {
	font-size: 12px;
	color:red;
	border-color:red;
	position: relative;
	animation: shake .1s linear;
	animation-iteration-count: 1;
}

@keyframes shake {
		0% { left: -5px; }
		100% { right: -5px; }
} */
.btn span.fa {
	opacity: 0;
}
.btn.active span.fa {
	opacity: 1;
}
.confirm-modal .modal-body {
	min-height: 230px;
}
/* .confirm-modal .modal-content{
	width:95%;
} */
.center-element {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.login-signup-popup .modal-body form#signup:before{
	background: none !important;
}

.login-signup-popup .modal-body form#signup .btn-primary {
    /* padding: 10px 29px; */
    width: 100%;
    max-width: 268px;
    display: flex;
    justify-content: center;
    text-align: center;
}
</style>
