<template>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="padding-text-content">
                <h4 style="text-align:center;">Please update the password</h4>
                <h4 style="text-align:center;">Thanks for using NEXA</h4>
            </div>
            <div class="background-box">
                <a class="navbar-brand custom-nav-band" href="https://nexa.solutions"><img src="@/assets/img/Nexa.png" alt=""></a>
                <form @submit.prevent="ValidateForgotPassword" data-vv-scope="forgotpassword">
                    <div class="form-group">
                        <input v-model="password" v-validate="'required|min:5|custom_password'" name="password" class="form-control" type="password" :class="{'green': !errors.has('forgotpassword.password'), 'red': errors.has('password') }" placeholder="Password" ref="password" maxlength="10" data-toggle="tooltip" data-placement="right" title="Password should contain length between 5 to 10 characters, should contains a uppercase, lowercase and special characters">
                        <i v-show="errors.has('forgotpassword.password')" class="fa fa-warning"></i>
                        <span :class="{'green': !errors.has('forgotpassword.password'), 'red': errors.has('forgotpassword.password') }" v-show="errors.has('forgotpassword.password')" class="help is-danger">{{ errors.first('forgotpassword.password') }}</span>
                    </div>
                    <div class="form-group">
                        <input v-model="confirmPassword" v-validate="'required|confirmed:password'" class="form-control" name="password_confirmation" type="password" :class="{'green': !errors.has('forgotpassword.password_confirmation'), 'red': errors.has('password_confirmation') }" placeholder="Confirm Password" data-vv-as="password" maxlength="10">
                        <i v-show="errors.has('forgotpassword.password_confirmation')" class="fa fa-warning"></i>
                        <span :class="{'green': !errors.has('forgotpassword.password_confirmation'), 'red': errors.has('forgotpassword.password_confirmation') }" v-show="errors.has('forgotpassword.password_confirmation')">{{ errors.first('forgotpassword.password_confirmation') }}</span>
                    </div>
                   <button type="submit" style="width:30%;" class="btn btn-primary display-flex-class"><span class="margin-left-button">Reset</span></button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import postMethods from '@/services/api/postMethods.js'
import getMethods from '@/services/api/getMethods.js'
import router from '@/router'
import store from '@/store'


import VeeValidate from 'vee-validate';
VeeValidate.Validator.extend('custom_password', {
  getMessage: field => `The password must contain at least: 1 uppercase letter, 1 lowercase letter and one special character`,
  validate: value => {
      var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*])(?=.{5,})");
      // console.log(strongRegex.test(value))
      return strongRegex.test(value);
  }
});
export default {
    data(){
        return{
            email:null,
            passwordArea:false,
            password:null,
            confirmPassword:null,
            linkId:null
        }
    },
    mounted(){
        this.linkId=this.$route.params.id
         $('.modal-backdrop').remove();
    },
    methods:{
        ValidateForgotPassword(){
            this.$validator.validateAll('forgotpassword').then((result) => {
                if (result) {
                    postMethods.resetPassword({'random_key':this.linkId,'password':this.password,'confirm_password':this.confirmPassword})
                        .then(res=>{
                            if(res.error==false){
                                toastr.success("The password is successfully changed. Please login to continue.")
                                router.push({name:'NexaHome'})
                            }else{
                                toastr.error(res.message)
                            }
                        })
                }else{
                    toastr.error('Some mandatory fields are missing.')
                }
            })
        },
    }
}
</script>

<style scoped>

.background-box{
    margin: 5% 0% 0% 1%;
    padding: 10% 5% 20% 5%;
    background: #bfbfbf30;
    -webkit-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 0px 20px 2px #0000004a;
}
.custom-nav-band{
    justify-content: center;
    display: flex;
    padding-bottom: 8%;
}
.display-flex-class{
    display: flex;
    justify-content: center;
}
.margin-left-button{
    margin-left: 15%;
}
.padding-text-content{
    padding: 10% 0% 0% 0%;
}
.form-control:disabled, .form-control[readonly] {
    background: #ffffff;
}
.invited-person-color{
    color:blue;
}
</style>
