
<template>
  <div>
    <h2 style="display: flex;text-align: center;justify-content: center;margin: 45px 0px 0px 0px;">Please be patient. You will be redirected</h2>
  </div>
</template>

<script>

export default {

}
</script>

<style>

</style>

