<template>
    <footer>
        <div class="container">
            <p class="text-center">&copy; 2019, Pleuronectidae ventures. All Copyright Reserved.</p>
        </div>
    </footer>
</template>

<script>
export default {

}
</script>

<style>

</style>
