<template>
    <header class="login-signup-head">
        <div class="custom-container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand cursor-non-link" href="#"><img src="@/assets/img/Nexa.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav signup-button" style="width: 15%;">
                    <li class="nav-item active" style="width: 160%;">
                        <a class="margin" href="javascript:void(0);" data-toggle="modal" @click="clickedSignup()" data-target="#agent_signup">Sign Up</a>
                    </li>
                    <li class="nav-item" style="width: 145%;">
                        <a class="margin" href="javascript:void(0);" data-toggle="modal" @click="clickedLogin()" data-target="#agent_login">Log In</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</template>

<script>
import { bus } from '@/main';
export default {
    methods:{
        clickedSignup(){
            bus.$emit('signupClicked');
        },
        clickedLogin(){
            bus.$emit('loginClicked');
        }
    }
}
</script>

<style>
.margin{
	    margin-right: 10%;
}
</style>
