<template>
	<!-- Main section -->
	<div class="banner align-items-center">
		<div class="custom-container-fluid container-fluid">
			<div class="row">
				<div class="col-lg-9 col-md-12 col-12">
					<div class="toggle-wrapper">
						<ul class="nav nav-pills" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a
									class="nav-link active"
									id="agent-home-tab"
									data-toggle="pill"
									href="#agent-home"
									role="tab"
									aria-controls="agent-home"
									aria-selected="true"
								>I'm an Agent</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									id="broker-home-tab"
									data-toggle="pill"
									href="#broker-home"
									role="tab"
									aria-controls="broker-home"
									aria-selected="false"
								>I'm a Broker</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div
								class="tab-pane fade show active"
								id="agent-home"
								role="tabpanel"
								aria-labelledby="agent-home-tab"
							>
								<h1>
									Write & Retain More Business
									<br />We Match You With The Right Broker.
								</h1>
								<div class="input-group get-started" width="100%">
									<autocomplete
										anchor="value"
										label="writer"
										:onSelect="getData"
										:onInput="checkDataPresent"
										:url="InterestListDataUrl"
										placeholder="Let’s build your market search!  What industry or NAICS code?"
										:classes="{ wrapper: 'input-group get-started', input: 'autocomplete-test', list: 'autocomplete-items-for-nexa', item: 'autocomplete-items-for-nexa' }"
										:on-select="getData"
									></autocomplete>
									<div class="input-group-append" style="margin-left:10px;">
										<button
											class="btn btn-primary button-front-height"
											style="display: inline-block;line-height: 15px;text-align: center;"
											:disabled="buttonDisabled"
											@click="agentSubmit()"
											type="submit"
										>Get Started</button>
									</div>
								</div>
								<!-- </form> -->
							</div>
							<div
								class="tab-pane fade"
								id="broker-home"
								role="tabpanel"
								aria-labelledby="pills-profile-tab"
							>
								<h1>
									Get more submissions,
									<br />write more business.
								</h1>
								<div class="input-group get-started" style="display:flex;">
									<div class="input-group-append" style="margin-left:10px;">
										<button
											class="btn btn-primary button-front-height"
											style="display: inline-block;line-height: 15px;text-align: center;"
											@click="brokerSubmit()"
											type="submit"
										>Let’s get Started!</button>
									</div>
								</div>
								<!-- </form> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- bottom -->

			<div class="row video-section">
				<div class="custom-container-fluid container-fluid">
					<div class="video-sec">
						<div class="video">
							<img src="../assets/img/video.jpg" alt @click="addVideo()" class="img-fluid cursor-class" />
						</div>
						<div class="video-text cursor-class">
							<a @click="addVideo()">New Here?</a>
							<p style="cursor:text;">Learn how Nexa works</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="modal view-modal fade"
			id="modal-video"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
			data-keyboard="false"
			data-backdrop="static"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Welcome to Nexa. 60: Introduction.</h5>
						<button
							type="button"
							id="CloseButton"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
							@click="video_link=null"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" :src="video_link" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
var loader;

import Vue from "vue";

import router from "@/router";
import Autocomplete from "vue-autocomplete-updated";
require("vue-autocomplete-updated/dist/style/vue2-autocomplete.css");
import store from "@/store";
import getMethods from "@/services/api/getMethods";
export default {
	components: {
		Autocomplete
	},
	data() {
		return {
			agentIntrest: null,
			brokerIntrest: null,
			intrestList: null,
			data: null,
			withCode: null,
			interest_id: null,
			buttonDisabled: true,
			InterestListDataUrl:
				process.env.VUE_BACKEND_URL + "interest-autocomplete",
			url: process.env.VUE_NEW_USER_VIDEO_URL,
			autoplay: 0,
			video_link: null,
			element: `<iframe ref="myVideo" id="myVideo" @load="playVideo($event)" width="850px" height="500px" style="margin:0 auto;display:flex;" src="https://www.youtube.com/embed/tgbNymZ7vqY?rel=0&autoplay=1"></iframe>`
		};
	},

	mounted() {
		$("#agent_signup").modal("hide");
		$("#agent_login").modal("hide");
		this.$swal.close();
		var vm = this;

		
		this.$nextTick(function() {
			if (!this.$cookies.isKey("NewUser")) {
				this.$cookies.set(
					"NewUser",
					this.randomNumber(),
					60 * 60 * 24 * 30
				);
				console.log("timeout set")
				setTimeout(()=>{
					this.addVideo()
				}, 3000);
				// this.$refs.myVideo.play();
			}
			$("#modal-video").on("hidden.bs.modal", function() {
				// callPlayer('yt-player', 'stopVideo');
				vm.video_link = null;
			});
		});
	},
	methods: {
		playVideo() {
			this.$nextTick(function() {
				$("yt-player").append(
					`<iframe ref="myVideo" id="myVideo" @load="playVideo($event)" width="850px" height="500px" style="margin:0 auto;display:flex;" src="https://www.youtube.com/embed/tgbNymZ7vqY?rel=0&autoplay=1"></iframe>`
				);
			});
		},
		checkDataPresent(e) {
			if (e.length == 0) {
				this.buttonDisabled = true;
			}
		},
		addVideo() {
			console.log("inside video")
			if ($("#agent-home-tab").hasClass("active")) {
				this.video_link =
					"https://www.youtube.com/embed/IsgM7HjEVKU?autoplay=1";
			} else {
				this.video_link =
					"https://www.youtube.com/embed/M6ZjMWLqJvM?autoplay=1";
			}
			loader = this.$loading.show();
			$("#modal-video").modal("show");
			loader.hide();
		},
		closeVideo() {
			this.video_link = null;
		},
		agentSubmit() {
			this.data = {
				user_type: 1,
				interest: this.agentIntrest
				// value:this.withCode
			};
			if (this.interest_id == 0) {
				getMethods.interestAddToList(this.agentIntrest);
			}
			localStorage.removeItem("agentData");
			localStorage.setItem("agentData", JSON.stringify(this.data));
			router.push({
				name: "agentquestionnaire",
				query: { route: "questionnaire", user: "agent" }
			});
		},
		randomNumber() {
			var text = "";
			var possible =
				"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 5; i++)
				text += possible.charAt(
					Math.floor(Math.random() * possible.length)
				);

			return text;
		},
		getData(obj) {
			// console.log(obj)
			this.withCode = obj.value;
			this.interest_id = obj.id;
			this.buttonDisabled = false;
			this.agentIntrest = obj.interests;
			this.brokerIntrest = obj.interests;
		},
		brokerSubmit() {
			this.data = {
				user_type: 2,
				interest: this.agentIntrest,
				mock_interest: this.agentIntrest,
				value: this.withCode,
				interest_id: this.interest_id
			};
			store.commit("putBrokerData", this.data);
			localStorage.removeItem("agentData");
			localStorage.setItem("brokerData", JSON.stringify(this.data));
			sessionStorage.setItem(
				"userAccessToken",
				JSON.stringify({ linkedInLogin: false })
			);
			if (store.state.brokerData != {}) {
				router.push({
					name: "brokerquestionnaire",
					query: { route: "questionnaire", user: "broker" }
				});
			}
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.cursor-class {
	cursor: pointer;
}
.autocomplete-items-for-nexa {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	width: 100%;
	top: 70%;
	left: 0;
	right: 0;
}

.autocomplete-items-for-nexa div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	color: black;
}

.autocomplete-items-for-nexa div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}
</style>
