<template>
    <div>
        <nexa-agent-dashboard-header :setActicveMyTeam="false" v-if="user_type==1" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <nexa-broker-dashboard-header v-if="user_type==2" :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <nexa-underwriter-dashboard-header v-if="user_type==3" :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <nexa-marketing-reps-dashboard-header v-if="user_type==4" :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <div class="wrap-content">
            <div class="custom-container-fluid">
                <div v-if="notificationDetails.length!=0" class="notification-box">
                    <div class="notification-title">
                        <h2>Your Notifications</h2>
                    </div>	
                    <ul v-for="(data,i) in notificationDetails" :key="i">
                        <li :class="{read:data.is_read==1,unread:data.is_read==0}" @click="selectedNotification(data)" >
                            <a href="#">
                                <div class="image-box">
                                    <img src="../assets/img/anon-img.png" alt="">
                                </div>
                                <div class="notification-content cursor-non-link" >
                                    <h5>{{data.content}}</h5>
                                    <!-- <p>10 Minutes ago</p> -->
                                    <p>{{data.created_at | moment("calendar")}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div v-else class="notification-box">
                    <div class="notification-title">
                        <h2>Your Notifications</h2>
                    </div>
                    <ul>
                        <h2 class="text-align-center">Sorry no notifications are there for you right now.</h2>
                    </ul>
                </div>
            </div>
        </div>
        <nexa-footer />
    </div>
</template>

<script>
import NexaAgentDashboardHeader from '@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader'
import NexaBrokerDashboardHeader from '@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader'
import NexaUnderwriterDashboardHeader from '@/components/NexaDashboard/NexaUnderwriter/NexaUnderwriterDashboardHeader'
import NexaMarketingRepsDashboardHeader from '@/components/NexaDashboard/NexaMarketingReps/NexaMarketingRepsDashboardHeader'
import NexaFooter from '@/components/NexaFooter'
import store from '@/store'
import router from '@/router'
export default {
    components:{
        NexaAgentDashboardHeader,
        NexaUnderwriterDashboardHeader,
        NexaBrokerDashboardHeader,
        NexaMarketingRepsDashboardHeader,
        NexaFooter
    },
    data(){
        return{
            user_type:null,
            notificationDetails:[],
        }
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        }
    },
    mounted(){
        if(this.$route.query.user=='agent'){
            this.user_type=1
        }else if(this.$route.query.user=='broker'){
            this.user_type=2
        }else if(this.$route.query.user=='underwriter'){
            this.user_type=3
        }else if(this.$route.query.user=='marketing-reps'){
            this.user_type=4
        }
        this.getNotifications()
    },
    methods:{
        getNotifications(){
			this.$http.post(process.env.VUE_BACKEND_URL+'notification-fetching',{'user_id':this.userDetails.user_id},{headers:{"Authorization":'Bearer '+this.userDetails.token}})
			    .then(res=>{
					
					this.notificationDetails = res.body.data[0]
				})
        },
        selectedNotification(data){
            if(data.trigger_type=="matches"){
                router.push({name:"brokerdashboard",query:{route:'direct',user:'broker'},params:{match_id:data.match_id}})
            }else if(data.trigger_type=="chat-request"){
                bus.$emit('notification-click-chat-request',data)
            }
            
			this.$http.post(process.env.VUE_BACKEND_URL+'notification-marking-read',{'notification_id':data.id,'user_id':this.userDetails.user_id},{headers:{"Authorization":'Bearer '+this.userDetails.token}})
			    .then(res=>{
					if(res.body.error==false){
						this.getNotifications()
					}
				})
				.catch(err=>{
					console.log(err.body.message)
				})
		}
    }
}
</script>

<style>
.text-align-center{
    text-align: center;
}
</style>
