<template>
  <div class="container-fluid">
      <div class="row mt-10">
          <img class="margin-0-auto" src="@/assets/img/404-page-not-found.jpg" alt="404-page-not-found.jpg" >
      </div>
      <div class="row mt-2 ">
          <div class="col-12 justify-center">
              <h3>404 - Page Not Found</h3>
          </div>
          <div class="offset-3 col-6 justify-center">
            <p>The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>
          </div>
          <div class="col-12 justify-center">
            <button class="btn btn-primary" type="button" @click="goBack()">Go Back</button>
          </div>          
      </div>
  </div>
</template>

<script>
export default {
    methods: {
        goBack() {
            this.$router.go(-1);
        }
    }
}
</script>

<style scoped>
.margin-0-auto{
    margin: 0 auto;
}
.mt-10{
    margin-top: 5rem;
}
.justify-center{
    justify-content: center;
    text-align: center;
}
h3{
    font-weight: 700;
}
</style>>

