<template>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="padding-text-content">
                <h4>Hello, You are invited to this platform by <span class="invited-person-color">{{invitedUser}}</span></h4>
                <!-- <h4>Please Signup with nexa to earn unlimited freeforever credits</h4> -->
            </div>
            <div class="background-box">
                <a class="navbar-brand custom-nav-band" href="#"><img src="@/assets/img/Nexa.png" alt=""></a>
                <div class="row">
                      <div class="offset-lg-4 col-lg-2 col-md-3 col-sm-3">
                        <div class="radio-box">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioSignupAgent" name="customRadioSignupAgent" value="1" v-model="user_type" class="custom-control-input" :disabled="user_type_disable!=1" checked>
                            <label class="custom-control-label" for="customRadioSignupAgent">Agent</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="radio-box">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioSignupBroker" name="customRadioSignupBroker" value="2" v-model="user_type" :disabled="user_type_disable==1 " class="custom-control-input">
                            <label class="custom-control-label" for="customRadioSignupBroker">Broker</label>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-lg-3 col-md-3 col-sm-3" style="padding:0;">
                        <div class="radio-box">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioSignupWnderwriter" name="customRadioSignupWnderwriter" value="3" v-model="user_type" :disabled="user_type_disable==1" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioSignupWnderwriter">Underwriter</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-3 col-sm-3" style="padding:0;">
                        <div class="radio-box">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="customRadioSignupmarketingreps" name="customRadioSignupmarketingreps" value="4" v-model="user_type" :disabled="user_type_disable==1" class="custom-control-input" checked="checked">
                            <label class="custom-control-label" for="customRadioSignupmarketingreps">Marketing Reps</label>
                          </div>
                        </div>
                      </div> -->
                    </div>
                <form @submit.prevent="validateBeforeSubmitSignupInvite" data-vv-scope="invitedSignup">
                    <div class="form-group">
                        <input type="text" name="first_name" v-model="firstname" v-validate="'required|min:2'" :class="{ 'red': errors.has('invitedSignup.first_name') }" class="form-control" placeholder="First Name">
                            <i v-show="errors.has('invitedSignup.first_name')" class="fa fa-warning"></i>
                        <span v-show="errors.has('invitedSignup.first_name')" :class="{ 'red': errors.has('invitedSignup.first_name') }">{{ errors.first('invitedSignup.first_name') }}</span>
                        </div>
                        <div class="form-group">
                        <input type="text" name="last_name" v-model="lastname" v-validate="'required|min:2'" :class="{ 'red': errors.has('invitedSignup.last_name') }" class="form-control" placeholder="Last Name">
                            <i v-show="errors.has('invitedSignup.last_name')" class="fa fa-warning"></i>
                        <span v-show="errors.has('invitedSignup.last_name')" :class="{'red': errors.has('invitedSignup.last_name') }">{{ errors.first('invitedSignup.last_name') }}</span>
                        </div>
                    <div class="form-group">
                        <input  name="email" v-model="email" v-validate="{ required: true, regex : /^(\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$)/ }" class="form-control" :class="{ 'red': errors.has('invitedSignup.email'),custom_email: true }" type="text" placeholder="Email" readonly>
                        <i v-show="errors.has('invitedSignup.email')" class="fa fa-warning"></i>
                        <span :class="{ 'red': errors.has('invitedSignup.email') }" v-show="errors.has('invitedSignup.email')" >{{ errors.first('invitedSignup.email') }}</span>
                    </div>
                    <div class="form-group">
                        <input v-model="password" v-validate="'required|min:5|max:10|custom_password'" name="password" class="form-control" type="password" :class="{ 'red': errors.has('password') }" placeholder="Password" ref="password" maxlength="10" data-toggle="tooltip" data-placement="right" title="Password should contain length between 5 to 10 characters, should contains a uppercase, lowercase and special characters">
                        <i v-show="errors.has('invitedSignup.password')" class="fa fa-warning"></i>
                        <span :class="{ 'red': errors.has('invitedSignup.password') }" v-show="errors.has('invitedSignup.password')" class="help is-danger">{{ errors.first('invitedSignup.password') }}</span>
                    </div>
                    <div class="form-group">
                        <input v-model="confirmPassword" v-validate="'required|confirmed:password'" class="form-control" name="password_confirmation" type="password" :class="{ 'red': errors.has('password_confirmation') }" placeholder="Confirm Password" data-vv-as="password" maxlength="10">
                        <i v-show="errors.has('invitedSignup.password_confirmation')" class="fa fa-warning"></i>
                        <span :class="{'red': errors.has('invitedSignup.password_confirmation') }" v-show="errors.has('invitedSignup.password_confirmation')">{{ errors.first('invitedSignup.password_confirmation') }}</span>
                    </div>
                   <button type="submit" class="btn btn-primary display-flex-class"><span class="margin-left-button">Sign Up</span></button>
                </form>
                
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import postMethods from '@/services/api/postMethods.js'
import getMethods from '@/services/api/getMethods.js'
import router from '@/router'
import store from '@/store'

import VeeValidate from 'vee-validate';
VeeValidate.Validator.extend('custom_password', {
  getMessage: field => `The password must contain at least: 1 uppercase letter, 1 lowercase letter and one special character`,
  validate: value => {
      var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*])(?=.{5,})");
      // console.log(strongRegex.test(value))
      return strongRegex.test(value);
  }
});
VeeValidate.Validator.extend('custom_email', {
  getMessage: field => `Email you have entered is already taken. Please try another email.`,
  validate: value => {
    return new Promise(resolve => {
      var data = {'email_address':value}
      getMethods.userEmailAvalibility(data)
        .then((res)=>{
            resolve(res);
        })
    });
  }
});

export default {
    data(){
        return{
            unique_string:this.$route.params.id,
            firstname:null,
            lastname:null,
            email:null,
            password:null,
            confirmPassword:null,
            invitedUser:null,
            invitedUserEmail:null,
            inviteduserId:null,
            user_type:0,
            user_type_disable:0
        }
    },
    mounted(){
        this.getDetails()
        store.dispatch('getLocations')
		store.dispatch('getProfessionalDesignation')
		store.dispatch('getBrokerageList')
    },
    methods:{
        getDetails(){
            getMethods.getUniqueStringDetails(this.$route.params.id)
                .then((res)=>{
                    if(res.error==false && res.data.length>0){
                        this.firstname=res.data[0].name
                        this.email = res.data[0].email
                        this.invitedUser=res.data[0].first_name+' '+res.data[0].last_name
                        this.invitedUserEmail=res.data[0].email_address
                        this.inviteduserId = res.data[0].user_id
                        if(res.data[0].status==1 && res.data[0].user_type==1){
                            this.user_type_disable==2
                            this.user_type = 2
                        }else if(res.data[0].status==1 && res.data[0].user_type!=1){
                            this.user_type_disable = 1
                            this.user_type = 1
                        }
                    }else{
                        toastr.error("This link is expired")
                        // router.push({name:"Home"})
                    }
                })
        },
        validateBeforeSubmitSignupInvite(){
            this.$validator.validateAll('invitedSignup').then((result) => {
                if(result){
                    var data = {
                        'unique_string':this.unique_string,
                        'email_address':this.email,
                        'first_name':this.firstname,
                        'last_name':this.lastname,
                        'password':this.password,
                        'confirm_password':this.confirmPassword,
                        'user_type':this.user_type
                    }
                    postMethods.inviteSignup(data)
                        .then(response=>{
                            if(response.success){
                                this.$session.start()
                                this.$session.set('userAccessToken', {'user_id':response.success.user_id,'email':response.success.email,'token':response.success.token})
                                store.commit('currentUserDetailsAdd',response.success)
                                sessionStorage.setItem('userAccessToken',JSON.stringify(response.success))
                                toastr.success("Signup successfull.")
                                if(response.success.user_type==1){
                                    router.push({name:"getstarted",query:{route:"signup",user:'agent'}})
                                }else if(response.success.user_type==2){
                                    router.push({name:"getstarted",query:{route:"signup",user:'broker'}})
                                }
                            }else{
                                toastr.error(response.message)
                            }
                        })
                }else{
                    tostr.error("Some error in form fields.")
                }
            })
        }
    }
}
</script>

<style>

.background-box{
    margin: 5% 0% 0% 1%;
    padding: 10% 5% 20% 5%;
    background: #bfbfbf30;
    -webkit-box-shadow: 0px 0px 20px 2px black;
    box-shadow: 0px 0px 20px 2px #0000004a;
}
.custom-nav-band{
    justify-content: center;
    display: flex;
    padding-bottom: 8%;
}
.display-flex-class{
    display: flex;
}
.margin-left-button{
    margin-left: 15%;
}
.padding-text-content{
    padding: 10% 0% 0% 10%;
}
.form-control:disabled, .form-control[readonly] {
    background: #ffffff;
}
.invited-person-color{
    color:blue;
}
</style>