<template>
	<div id="app">
		<router-view />
		<nexa-front-page-modal />
	</div>
</template>

<script>
import Vue from "vue";

import NexaFrontPageModal from "@/components/NexaFrontPageModal";
export default {
	name: "App",
	components: {
		NexaFrontPageModal
	},
	mounted() {}
};
</script>

<style>
@import "./assets/css/bootstrap.css";
@import "./assets/css/custom.css";
@import "./assets/css/changes.css";
</style>
