<template>
	<div>
		<nexa-broker-dashboard-header
			:setActivedashboard="true"
			:setActicveMyTeam="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div>
			<div class="wrapper">
				<div id="content" class="content-style">
					<div class="question-wrapper">
						<ul id="right-arrows-id" class="right-arrows">
							<li class="arrows" :class="{'d-none':ques_no==0}">
								<a
									href="#"
									@click="updateQuesNo(2)"
									tabindex="-1"
									:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
								>
									<i class="fa fa-arrow-left"></i>
								</a>
							</li>
							<li class="arrows" :class="{'d-none':ques_no==0}">
								<a
									href="#"
									@click="updateQuesNo(1)"
									tabindex="-1"
									:class="{'inactiveLink':(ques_no+1==13 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<13) && ques_no!=globalQuestionNo+1}"
								>
									<i class="fa fa-arrow-right"></i>
								</a>
							</li>
						</ul>
						<div id="tab-content-ques-content" class="tab-content qus-contant">
							<div class="tab-pane active" id="market_search" role="tabpanel">
								<market-filter :from_dashboard="true" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nexa-footer />
	</div>
</template>

<script>
import NexaBrokerDashboardHeader from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader";
import NexaBrokerDashboardModal from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardModal";
import MarketFilter from "@/components/NexaGetstarted/MarketFilter";
import NexaFooter from "@/components/NexaFooter";
export default {
	components: {
		NexaBrokerDashboardHeader,
		NexaFooter,
		MarketFilter
	},
	computed: {
		ques_no() {
			return this.$store.state.ques_no;
		},
		globalQuestionNo() {
			return this.$store.state.globalQuestionNo;
		},
		userDetails() {
			return this.$store.state.currentUserDetails;
		}
	},
	methods: {
		updateQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				this.$store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				this.$store.commit(
					"updateGlobalQuesNo",
					this.globalQuestionNo + 1
				);
			} else if (direction == 2) {
				this.$store.commit(
					"updateGlobalQuesNo",
					this.globalQuestionNo - 1
				);
			}
		}
	}
};
</script>

<style scoped>
#content {
	margin-left: 0px !important;
}
.question-wrapper ul.right-arrows {
	right: 25px !important;
}
</style>