<template>
	<div
		v-intro-autostart="autoStart"
		v-intro-autostart:on.complete="onComplete"
		v-intro-autostart:on.exit="onComplete"
	>
		<nexa-broker-dashboard-header
			:setActivedashboard="true"
			:setActicveMyTeam="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrap-content broker-dashboard">
			<div class="custom-container-fluid">
				<div class="agent-content-box">
					<div class="content-title">
						<div class="row">
							<div class="col-lg-9 col-sm-6 col-12">
								<div class="content-title">
									<h1>Opportunities that Match Your Filters</h1>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-12">
								<a
									href="#"
									class="btn btn-primary"
									@click="check()"
									data-toggle="modal"
									data-target="#broker-question"
								>
									Add new filter
									<span>
										<i class="fa fa-plus"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div
						class="broker-tabing"
						data-intro="'You can see the list of market searches shared to you directly and matched with your filter if you created'"
						data-step="1"
						data-disable-interaction="true"
					>
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a
									class="nav-link active"
									id="profile-tab"
									data-toggle="tab"
									href="#profile"
									role="tab"
									aria-controls="profile"
									aria-selected="false"
								>From your Team(s)</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									id="home-tab"
									data-toggle="tab"
									href="#home"
									role="tab"
									aria-controls="home"
									aria-selected="true"
								>From your Filter(s)</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									id="filter-tab"
									data-toggle="tab"
									href="#filters"
									role="tab"
									aria-controls="home"
									aria-selected="true"
								>Active Filter</a>
							</li>
						</ul>
					</div>
					<!-- Pending -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<span>1 Match for you.</span>
									</div>
									<div class="col-lg-6 col-7">
										<div class="form-group form-inline">
											<label for="exampleFormControlInput1">Show</label>
											<select class="form-control" v-model="filterValue" id="exampleFormControlSelect2">
												<option value="0">All</option>
												<option v-tooltip="{content:'Full Market Participation'}" value="1">Full Market...</option>
												<option value="2">Rush Orders</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!-- box 1 -->
							<div class="content-box dashboard-content">
								<ul>
									<li class="user-per">
										<a href="#" class="cursor-non-link">100%</a>
										<p>Match</p>
									</li>
									<li class="user-name">
										<h2 class="cursor-non-link">Rajas Rajeev - Wheat Farming</h2>
										<p class="cursor-non-link">10 March 2019</p>
									</li>
									<li class="rush">
										<a class="full-market cursor-non-link">Full Market Participation</a>
										<a class="cursor-non-link" href="#">Rush Order</a>
									</li>
									<li class="image-box"></li>
									<li class="view-button">
										<a @click="chatpage()" class="btn btn-info">Chat</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- connect -->
						<div
							class="tab-pane fade show active"
							id="profile"
							role="tabpanel"
							aria-labelledby="profile-tab"
						>
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<span>1 Connection shared directly</span>
									</div>
									<div class="col-lg-6 col-7"></div>
								</div>
							</div>
							<div class="content-box dashboard-content">
								<ul
									data-intro="'Here is the list of market searches shared directly to you.'"
									data-step="2"
								>
									<li class="user-per">
										<img class="image-class" src="@/assets/img/borker.png" alt />
									</li>
									<li class="user-name">
										<h2 class="cursor-non-link">Rajas Rajeev- Wheat Farming</h2>
										<p class="cursor-non-link">10th March 2019</p>
									</li>
									<li class="rush">
										<a class="full-market cursor-non-link">Full Market Participation</a>
									</li>
									<li class="image-box"></li>
									<li class="view-button">
										<a @click="chatpage()" class="btn btn-info">Chat</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="tab-pane fade" id="filters" role="tabpanel" aria-labelledby="filters-tab">
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<!-- <span>1 Connection shared directly</span> -->
									</div>
									<div class="col-lg-6 col-7"></div>
								</div>
							</div>
							<div class="content-box dashboard-content">
								<div class="agent-content-box">
									<div class="content-title">
										<h1>Filters available</h1>
										<div class="row">
											<div class="col-lg-12 col-12">
												<a href="#" data-toggle="modal" data-target="#broker-question" class="btn btn-primary">
													Add new
													<span>
														<i class="fa fa-plus"></i>
													</span>
												</a>
											</div>
										</div>
									</div>
									<div class="content-box">
										<ul>
											<li class="user-name" style="padding-top: 0px;width:35%;">
												<h2>Wheat Farming</h2>
											</li>
											<li class="pending-button" style="padding-top: 0px;width:35%;">
												<div class="switch-icon" style="margin-bottom: 0px;">
													<button
														type="button"
														class="btn btn-lg btn-toggle btn-lead-data-status active"
														ref="pills_signup"
														data-toggle="button"
														aria-pressed="true"
														autocomplete="off"
													>
														<div class="handle"></div>
													</button>
												</div>
											</li>
											<li class="remove-button" style="padding-top: 0px;width:31.5%;">
												<a href="#" class="btn btn-danger">
													<span>
														<i class="fa fa-trash"></i>
													</span> Delete Filter
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nexa-footer />
		<nexa-broker-dashboard-modal />
	</div>
</template>

<script>
import VueElementLoading from "vue-element-loading";
import "chat-engine-uploadcare";
import util from "@/util";
import { chatEngine, pubnub, bus, channel, pusher } from "@/main";
import { EventBus } from "@/event-bus";
import ChatEngineCore from "chat-engine";
import store from "@/store";
import "../../../../node_modules/chat-engine-typing-indicator/dist/chat-engine-typing-indicator.js";
import NexaBrokerDashboardHeader from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader";
import NexaBrokerDashboardModal from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardModal";
import NexaFooter from "@/components/NexaFooter";
import router from "@/router";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import push from "push.js";
export default {
	components: {
		NexaBrokerDashboardHeader,
		NexaBrokerDashboardModal,
		NexaFooter,
		VueElementLoading
	},
	data() {
		return {
			brokerLeadDataListConnected: [],
			brokerLeadDataListPending: [],
			url: process.env.VUE_IMAGE_URL,
			chatKey: null,
			myUuid: null,
			me: null,
			chatLoaded: true,
			filterValue: null,
			selectedClass: this.$route.params
				? this.$route.params.match_id
				: null,
			isActive: false,
			autoStart: false
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	watch: {
		filterValue(newval, oldval) {
			if (newval == 0) {
				this.getBrokerLeadData();
			} else if (newval == 1) {
				this.brokerLeadDataListPendingFullMarket();
			} else {
				this.brokerLeadDataListPendingRushOrders();
			}
		}
	},
	mounted() {
		this.onStart();
	},
	methods: {
		check() {
			console.log("test");
		},
		onStart() {
			if (this.userDetails.progress_status == 5) {
				var thisthis = this;
				introJs()
					.oncomplete(function() {
						thisthis.onComplete();
					})
					.onexit(function() {
						thisthis.onComplete();
					})
					.setOptions({
						exitOnOverlayClick: false
					})
					.start();
			}
		},
		onComplete() {
			introJs().exit();
			this.$router.push({ name: "brokerdashboardchat" });
		},
		getBrokerLeadData() {
			this.isActive = true;
			getMethods
				.getMatchingLeadDataConnected(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListConnected = [];
						// console.log(this.brokerLeadDataListConnected.length)
						var data = Object.keys(res.data).map(i => res.data[i]);
						// console.log(data)
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListConnected.push(data[i]);
						}
					} else {
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
					// console.log(res)
				});
			getMethods
				.getMatchingLeadDataPending(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					this.isActive = false;
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
						this.isActive = false;
						if (data.length == 0) {
							if (
								!this.$cookies.isKey(
									"broker_lead_data_matching_not_found"
								)
							) {
								this.$cookies.set(
									"broker_lead_data_matching_not_found",
									this.randomNumber(),
									60 * 60 * 24
								);
								this.$swal
									.fire({
										text:
											"No matches is found yet. We will notify you when appropriate matches found. Or else you can create a new filter in the account section.",
										type: "question",
										confirmButtonColor: "#3085d6",
										cancelButtonColor: "#d33",
										confirmButtonText: "Create New Filter"
									})
									.then(result => {
										if (result.value) {
											router.push({
												name: "accounts",
												params: {
													link: "lead_data_filter_add"
												}
											});
										}
									});
							}
						}
					} else {
						this.isActive = false;
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
				})
				.catch(res => {
					this.isActive = false;
				});
		},
		randomNumber() {
			var text = "";
			var possible =
				"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 5; i++)
				text += possible.charAt(
					Math.floor(Math.random() * possible.length)
				);

			return text;
		},
		brokerLeadDataListPendingRushOrders() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 2
			};
			var active = $("#myTab")
				.find(".active")
				.attr("id");
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }

			//             })
			// }else if(active=='connected'){
			//      getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMatchingLeadDataPendingFilter(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		brokerLeadDataListPendingFullMarket() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 1
			};
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMatchingLeadDataPendingFilter(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		chatpage() {
			introJs().exit();
			router.push({
				name: "brokerdashboardchat"
			});
		}
	}
};
</script>
<style scoped>
.center-align-ul {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}
.overflow-auto {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
/* .request{ 
    font-size: 12px; 
    color: #4ecc9a; 
}
.request:before{ 
    font-size: 12px; 
    color: #4ecc9a; 
    position: absolute; 
    left: 0; 
    content: '\f00c';
    font-family: 'FontAwesome';
} */
.broker-dashboard .dropdown-toggle::after {
	display: contents;
	position: relative;
	top: 18%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.background-color-clicked {
	background-color: #d8e7fb;
}

.image-class {
	width: 60px !important;
	height: 60px !important;
	border-radius: 50px;
	padding-right: 0px !important;
	margin-left: 4px;
	border: 1px solid;
}
</style>
