<template>
	<div>
		<!-- broker interest modal -->
		<div
			class="modal interest-suggestion-modal fade borker-content"
			id="basic_ques_modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="basic_ques_modal"
			aria-hidden="true"
			data-keyboard="false"
			data-backdrop="static"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="tab-pane">
							<h3
								class="h2-broker-questionnaire"
								style="margin-bottom: 15%;"
							>Create Your filter and grow your business with multiple filters</h3>
							<div
								class="input-group"
								style="display:ruby-text-container;display: -webkit-inline-box;width: 73%;margin-left: 5%;flex-wrap: nowrap;"
							>
								<autocomplete
									anchor="value"
									label="writer"
									:onSelect="getData"
									:url="InterestListDataUrl"
									placeholder="Let’s find more business! What industry would you like to target?"
									:classes="{ wrapper: 'input-group', input: 'autocomplete-test', list: 'autocomplete-items-for-nexa', item: 'autocomplete-items-for-nexa' }"
									:on-select="getData"
								></autocomplete>
								<div class="input-group-append autocomplete-margin-left">
									<button
										class="btn btn-primary button-front-height"
										@click="changeModal()"
										style="display: inline-block;line-height: 15px;text-align: center;"
										type="button"
										:disabled="disabledButton"
										id="btn-first-ques"
										data-direction="down"
									>Get Started</button>
									<!-- <a href="#basic-ques-1"><button class="btn btn-primary basic-ques-btn btn-first-add-new" @click="formQuestion(0)" type="button"  id="btn-first-ques" data-direction="down">Get Started</button></a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--broker edgar listing modal  -->

		<div
			class="modal interest-suggestion-modal fade borker-content"
			id="broker-edgar-listing-modal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="broker-edgar-listing-modal"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <h5 class="modal-title" id="Broker-list-modal">Brokers for excluding</h5> -->
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							@click="brokerDatas()"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div v-if="main_interest_code.length" id="first-basic-ques-1">
							<h2>Can’t Find Exactly What You’re Looking for? Here are a few similar industries to {{agentIntrest}}.</h2>
							<div class="row">
								<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 custom-input-class-checkbox-without-border">
									<div class="form-group" v-for="data in main_interest_code" :key="data.sub_category_id">
										<div class="custom-control custom-control-checkbox custom-checkbox">
											<input
												type="checkbox"
												:value="data.sub_category_id"
												@change="subInterestListing(data.sub_category_id)"
												class="custom-control-input custom-control-input-checkbox"
												v-model="main_interest"
												:id="data.sub_category_id+'-label'"
											/>
											<label
												class="custom-control-label custom-control-label-checkbox"
												:for="data.sub_category_id+'-label'"
											>{{data.sub_category_name}}</label>
										</div>
									</div>
								</div>
								<div
									class="col-md-6 col-lg-6 col-xs-6 col-sm-6 custom-input-class-checkbox"
									:class="{d_none:sub_interest_code.length==0}"
								>
									<div class="form-group" v-for="data in sub_interest_code" :key="data.id">
										<div class="custom-control custom-control-checkbox custom-checkbox">
											<input
												type="checkbox"
												:value="data.id"
												class="custom-control-input custom-control-input-checkbox"
												v-model="sub_interest"
												:id="data.id+'_test'"
											/>
											<label
												class="custom-control-label custom-control-label-checkbox"
												:for="data.id+'_test'"
											>{{data.interests}}({{data.interests_code}})</label>
										</div>
									</div>
								</div>
							</div>
							<button
								type="button"
								@click="brokerDatas()"
								style="position: fixed;bottom: 75px;"
								id="btn-first-ques-0"
								data-direction="down"
								class="btn btn-primary basic-ques-btn-1"
							>Submit</button>
						</div>
						<div v-else id="first-basic-ques-1">
							<h2
								style="text-align: center;padding-top: 25%;"
							>Sorry there no similar for the selected {{agentIntrest}} industry.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- broker modal questions -->
		<div
			class="modal add-new-modal fade"
			id="broker-question"
			tabindex="-1"
			role="dialog"
			aria-labelledby="broker-question"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<!-- <h5 class="modal-title" id="Broker-list-modal">Brokers for excluding</h5> -->
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body wrapper">
						<div class="slider-wrap">
							<div
								class="question-wrapper"
								:class="'question-wrapper-broker-questionnaire-'+$route.name+'-'+$route.query.user"
							>
								<div>
									<ul id="right-arrows-id" class="right-arrows">
										<li class="arrows" :class="{'d-none':ques_no==0}">
											<a
												href="#"
												@click="updateQuesNo(2)"
												tabindex="-1"
												:class="{'inactiveLink':(ques_no==0),'active':(ques_no>0)}"
											>
												<i class="fa fa-arrow-left"></i>
											</a>
										</li>
										<li class="arrows" :class="{'d-none':ques_no==0}">
											<a
												href="#"
												@click="updateQuesNo(1)"
												tabindex="-1"
												:class="{'inactiveLink':(ques_no+1==13 || (ques_no-1)==globalQuestionNo),'active':(ques_no+1<13) && ques_no!=globalQuestionNo+1}"
											>
												<i class="fa fa-arrow-right"></i>
											</a>
										</li>
									</ul>
								</div>
								<market-filter />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
var formatter = new Intl.NumberFormat("en-US", {
	style: "currency",
	currency: "USD",
	minimumFractionDigits: 2
	// the default value for minimumFractionDigits depends on the currency
	// and is usually already 2
});
import VueElementLoading from "vue-element-loading";
import MarketFilter from "@/components/NexaGetstarted/MarketFilter";
import vueSlider from "vue-slider-component";
import postMethods from "@/services/api/postMethods.js";
import getMethods from "@/services/api/getMethods.js";
import Autocomplete from "vue2-autocomplete-js";
require("vue2-autocomplete-js/dist/style/vue2-autocomplete.css");
import store from "@/store";
import { bus } from "@/main";
import router from "@/router";
export default {
	components: {
		vueSlider,
		Autocomplete,
		VueElementLoading,
		MarketFilter
	},
	data() {
		return {
			currentActiveLink: 0,
			completedValue: 0,
			isActive: false,
			InterestListDataUrl:
				process.env.VUE_BACKEND_URL + "interest-autocomplete",
			locationList: store.state.states,
			disabledButton: true,
			withCode: null,
			interest_id: null,
			buttonDisabled: true,
			agentIntrest: "",
			main_interest_code: [],
			main_interest: [],
			sub_interest_code: [],
			sub_interest: [],
			operateMultipleState: [],
			accountLocation: [],
			coastalExposure: null,
			line_coverage: [],
			otherData: null,
			opererror: false,
			opermessage: "",
			othererror: false,
			othermessage: "",
			annualCost: null,
			annualPayroll: null,
			rushRequests: null,
			newVenture: null,
			value_sale: [0, 1000000],
			options_sale: {
				width: "575px",
				height: 8,
				dotSize: 16,
				min: 0,
				max: 1000000,
				disabled: true,
				show: true,
				useKeyboard: true,
				tooltip: "hover",
				formatter: function(value) {
					return formatter.format(value);
				},
				enableCross: false,
				mergeFormatter: "$ {value1} ~ $ {value2}+",
				bgStyle: {
					backgroundColor: "#fff",
					boxShadow: "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)"
				},
				tooltipStyle: {
					backgroundColor: "#1aa9f7e6;",
					borderColor: "#1aa9f7e6;"
				},
				processStyle: {
					backgroundColor: "#1aa9f7e6;"
				}
			},
			value_payroll: [0, 1000000],
			options_payroll: {
				width: "575px",
				height: 8,
				dotSize: 16,
				min: 0,
				max: 1000000,
				disabled: true,
				show: true,
				useKeyboard: true,
				tooltip: "hover",
				formatter: function(value) {
					return formatter.format(value);
				},
				enableCross: false,
				mergeFormatter: "$ {value1} ~ $ {value2}+",
				bgStyle: {
					backgroundColor: "#fff",
					boxShadow: "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)"
				},
				tooltipStyle: {
					backgroundColor: "#1aa9f7e6;",
					borderColor: "#1aa9f7e6;"
				},
				processStyle: {
					backgroundColor: "#1aa9f7e6;"
				}
			},
			// ques_no:1,
			// globalQuesNo:1,
			exclude_state: null
		};
	},
	updated() {
		$(this.$refs.brokerStateSelectPicker).selectpicker({
			refresh: true,
			dropupAuto: false
		});
	},
	mounted() {
		$(this.$refs.brokerStateSelectPicker).selectpicker({
			refresh: true,
			dropupAuto: false
		});

		this.$nextTick(function() {
			/* var vm=this;
            var visited = 0;
			$('.basic-ques-btn-broker-add-new-'+vm.$route.name+'-'+vm.$route.query.user).click(function(e){
				var direction = $(this).data("direction");
				var question_no = $(this).data("qid");
				var question_wrapper = $('.question-wrapper-broker-questionnaire-'+vm.$route.name+'-'+vm.$route.query.user);
				var el = question_wrapper.find(".active-el");
				question_wrapper.find(".right-arrows .arrows").removeClass("d-none").addClass("d-inline");
				if(vm.ques_no == 1){
                    question_wrapper.find(".active_up").addClass("active")
				}
				if(direction=='down'){
					if(vm.ques_no>=1&&vm.ques_no<8){
						vm.ques_no=vm.ques_no+1
					}
                    if (!el.next().length) {							
						}else{
							if(vm.globalQuesNo>=vm.ques_no){
								question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
							}else{
								question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
							}
							// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
							question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
							el.addClass("d-none").next().addClass("active active-el slider-wrap-ques").removeClass("opacity-basic-ques d-none");
							el.next().next().removeClass("d-none");
						}
				}else{
					if(vm.ques_no>=1&&vm.ques_no<=8){
						vm.ques_no=vm.ques_no-1
					}
                    if (!el.prev().length) {
						}else{
							if(vm.globalQuesNo>=vm.ques_no){
								question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
							}else{
								question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
							}
							// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
							question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
							el.addClass("opacity-basic-ques").removeClass("active active-el slider-wrap-ques").prev().removeClass("d-none opacity-basic-ques").addClass("active active-el slider-wrap-ques");
							el.next().removeClass("opacity-basic-ques").addClass("d-none")
						}
					
				}
            }); */
			var vm = this;
			var visited = 0;
			// $('.basic-ques-btn-broker-add-new-'+vm.$route.name+'-'+vm.$route.query.user).click(function(e){
			// 	var direction = $(this).data("direction");
			// 	var question_no = $(this).data("qid");
			// 	var question_wrapper = $('.question-wrapper-broker-questionnaire-'+vm.$route.name+'-'+vm.$route.query.user);
			// 	var el = question_wrapper.find(".active-el");
			// 	question_wrapper.find(".right-arrows .arrows").removeClass("d-none").addClass("d-inline");
			// 	if(vm.ques_no == 0){
			//         question_wrapper.find(".active_up").addClass("active")
			// 	}
			// 	if(direction=='down'){
			// 		if(vm.ques_no>=0&&vm.ques_no<12){
			// 			vm.ques_no=vm.ques_no+1
			// 		}
			//         if (!el.next().length) {
			// 			}else{
			// 				if(vm.globalQuesNo>=vm.ques_no){
			// 					question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
			// 				}else{
			// 					question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
			// 				}
			// 				// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
			// 				question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
			// 				el.addClass("d-none").next().addClass("active active-el slider-wrap-ques").removeClass("opacity-basic-ques d-none");
			// 				el.next().next().removeClass("d-none");
			// 			}
			// 	}else{
			// 		if(vm.ques_no>=0&&vm.ques_no<=12){
			// 			vm.ques_no=vm.ques_no-1
			// 		}
			//         if (!el.prev().length) {
			// 			}else{
			// 				if(vm.globalQuesNo>=vm.ques_no){
			// 					question_wrapper.find(".active_down").removeClass("inactiveLink").addClass("active")
			// 				}else{
			// 					question_wrapper.find(".active_down").removeClass("active").addClass("inactiveLink")
			// 				}
			// 				// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
			// 				question_wrapper.find(".basic-question").removeClass("active-el active").addClass("opacity-basic-ques");
			// 				el.addClass("opacity-basic-ques").removeClass("active active-el slider-wrap-ques").prev().removeClass("d-none opacity-basic-ques").addClass("active active-el slider-wrap-ques");
			// 				el.next().removeClass("opacity-basic-ques").addClass("d-none")
			// 			}

			// 	}
			// });
			$(
				".basic-ques-btn-broker-add-new-" +
					vm.$route.name +
					"-" +
					vm.$route.query.user
			).click(function(e) {
				var direction = $(this).data("direction");
				var question_no = $(this).data("qid");
				var question_wrapper = $(
					".question-wrapper-broker-questionnaire-" +
						vm.$route.name +
						"-" +
						vm.$route.query.user
				);
				var el = question_wrapper.find(".active-el");
				question_wrapper
					.find(".right-arrows .arrows")
					.removeClass("d-none")
					.addClass("d-inline");
				if (vm.ques_no == 0) {
					question_wrapper
						.find(".active_up")
						.addClass("active")
						.removeClass("inactiveLink");
				}
				if (direction == "down") {
					if (vm.ques_no >= 0 && vm.ques_no < 12) {
						vm.ques_no = vm.ques_no + 1;
					}
					if (!el.next().length) {
					} else {
						if (vm.globalQuesNo >= vm.ques_no) {
							question_wrapper
								.find(".active_down")
								.removeClass("inactiveLink")
								.addClass("active");
						} else {
							question_wrapper
								.find(".active_down")
								.removeClass("active")
								.addClass("inactiveLink");
						}
						// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
						question_wrapper
							.find(".basic-question")
							.removeClass("active-el active")
							.addClass("opacity-basic-ques");
						el.addClass("d-none")
							.next()
							.addClass("active active-el slider-wrap-ques")
							.removeClass("opacity-basic-ques d-none");
						el.next()
							.next()
							.removeClass("d-none");
					}
					if (!el.next().next().length) {
						question_wrapper
							.find(".active_down")
							.removeClass("active")
							.addClass("inactiveLink");
					}
				} else {
					if (vm.ques_no >= 0 && vm.ques_no <= 12) {
						vm.ques_no = vm.ques_no - 1;
					}
					if (!el.prev().length) {
					} else {
						if (vm.globalQuesNo >= vm.ques_no) {
							question_wrapper
								.find(".active_down")
								.removeClass("inactiveLink")
								.addClass("active");
						} else {
							question_wrapper
								.find(".active_down")
								.removeClass("active")
								.addClass("inactiveLink");
						}
						// toastr.info(JSON.stringify("ques:"+vm.ques_no+"global"+vm.globalQuesNo))
						question_wrapper
							.find(".basic-question")
							.removeClass("active-el active")
							.addClass("opacity-basic-ques");
						el.addClass("opacity-basic-ques")
							.removeClass("active active-el slider-wrap-ques")
							.prev()
							.removeClass("d-none opacity-basic-ques")
							.addClass("active active-el slider-wrap-ques");
						el.next()
							.removeClass("opacity-basic-ques")
							.addClass("d-none");
					}
					if (!el.prev().prev().length) {
						question_wrapper
							.find(".active_up")
							.removeClass("active")
							.addClass("inactiveLink");
					}
				}
			});
		});
	},
	watch: {},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		},
		options() {
			return store.state.location_names;
		},
		brokerOption() {
			return store.state.brokerage_names;
		},
		ques_no() {
			return store.state.ques_no;
		},
		globalQuestionNo() {
			return store.state.globalQuestionNo;
		}
	},
	methods: {
		updateQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateQuesNo", this.ques_no + 1);
			} else if (direction == 2) {
				store.commit("updateQuesNo", this.ques_no - 1);
			}
		},
		updateGlobalQuesNo(direction) {
			if (direction == 1) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo + 1);
			} else if (direction == 2) {
				store.commit("updateGlobalQuesNo", this.globalQuestionNo - 1);
			}
		},
		changeModal() {
			var data = {
				user_type: 2,
				interest: {
					primary_interest: this.interest_id,
					secondary_interest: this.sub_interest
				},
				mock_interest: this.agentIntrest,
				value: this.withCode,
				interest_id: this.interest_id
			};
			store.commit("putBrokerData", data);
			localStorage.setItem("brokerData", JSON.stringify(data));
			$("#basic_ques_modal").modal("hide");
			$("#broker-question").modal("show");
			// $('#broker-edgar-listing-modal').modal('show')
		},
		getData(obj) {
			this.disabledButton = false;
			this.withCode = obj.value;
			this.interest_id = obj.id;
			this.buttonDisabled = false;
			this.agentIntrest = obj.interests;
		},
		mainCategoryListing() {
			var data = { interest: this.withCode };
			getMethods.edgarMainListing(data).then(res => {
				if (res.error == false) {
					this.main_interest_code = res.data;
				} else {
					toastr.info(
						"Sorry no similar indistry found. You can still add your filter."
					);
					$("#basic_ques_modal").modal("hide");
				}
			});
		},
		subInterestListing(value) {
			if (this.main_interest.indexOf(value) <= -1) {
				if (this.sub_interest_code) {
					for (var i = 0; i < this.sub_interest_code.length; i++) {
						var data = this.sub_interest_code.filter(
							item => item.sub_category_id !== value
						);
						var data2 = this.sub_interest.filter(
							item => item.sub_category_id !== value
						);
						// console.log(data)
						this.sub_interest = data;
						this.sub_interest_code = data;
						// this.sub_interest_code.push(res.body.data[i])
					}
				}
			} else {
				var data = {
					sub_category_id: value,
					existing_interest: this.withCode
				};
				getMethods.edgarSubListing(data).then(res => {
					if (res.error == false) {
						for (var i = 0; i < res.data.length; i++) {
							this.sub_interest_code.push(res.data[i]);
						}
					} else {
						toastr.info(
							"Sorry no similar indistry found. You can still add your filter."
						);
						$("#broker-edgar-listing-modal").modal("hide");
					}
				});
			}
		},
		brokerDatas() {
			if (this.main_interest.length > 0 && this.sub_interest.length > 0) {
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.interest = {
					primary_interest: brokerData.interest_id,
					secondary_interest: this.sub_interest
				};
				brokerData.mock_interest = this.agentIntrest;
				localStorage.brokerData = JSON.stringify(brokerData);
				$("#broker-edgar-listing-modal").modal("hide");
				$("#broker-question").modal("show");
			} else {
				// $('#broker-edgar-listing-modal').modal('hide');
				toastr.warning(
					"You are continuing with out selecting any similar interest"
				);
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.mock_interest = this.agentIntrest;
				brokerData.interest = {
					primary_interest: brokerData.interest_id,
					secondary_interest: null
				};
				localStorage.brokerData = JSON.stringify(brokerData);
				$("#broker-edgar-listing-modal").modal("hide");
			}
		},
		formQuestion(no) {
			if (no == 0) {
				var agentData = {
					user_type: 2,
					user_id: this.userDetails.user_id,
					interest: this.agentIntrest
				};
				localStorage.removeItem("brokerData");
				localStorage.setItem("brokerData", JSON.stringify(brokerData));
			}
			if (no == 1) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				var arr = [];
				if (this.operateMultipleState.length != 0) {
					for (var i = 0; i < this.operateMultipleState.length; i++) {
						for (var j = 0; j < this.locationList.length; j++) {
							if (
								this.operateMultipleState[i] ==
								this.locationList[j].location_name
							) {
								arr.push(this.locationList[j].id);
							}
						}
					}
					brokerData.location = arr;
				}
				// brokerData.location= this.operateMultipleState
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 2) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				if (this.exclude_state == "1") {
					var data = {
						key: this.exclude_state,
						value: this.accountLocation
					};
				} else {
					var data = { key: this.exclude_state, value: null };
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.state = data;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 3) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.coastal_exposure = this.coastalExposure;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 4) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var arr = [];
				var comment = null;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.line_coverage.length != 0) {
					for (var i = 0; i < this.line_coverage.length; i++) {
						if (this.line_coverage[i] == 7) {
							comment = this.otherData;
						}
						arr.push({
							line_coverage_id: this.line_coverage[i],
							comments: comment
						});
						comment = null;
					}
				}
				brokerData.lines_coverages = arr;
				localStorage.brokerData = JSON.stringify(brokerData);
				this.$refs.slider_1.refresh();
			} else if (no == 5) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var datas;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.annualCost == "1") {
					if (this.value_sale[1] != null) {
						datas = numeral(this.value_sale[1]).value();
					}
					brokerData.minimum_annual_sale = {
						min: this.value_sale[0],
						max: datas
					};
				} else {
					brokerData.minimum_annual_sale = { min: null, max: null };
				}
				// brokerData.minimum_annual_sale= this.annualCostValue
				localStorage.brokerData = JSON.stringify(brokerData);
				this.$refs.slider_2.refresh();
			} else if (no == 6) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var datas;
				var brokerData = JSON.parse(localStorage.brokerData);
				if (this.annualPayroll == "1") {
					if (this.value_payroll[1] != null) {
						datas = numeral(this.value_payroll[1]).value();
					}
					brokerData.minimum_annual_payroll = {
						min: this.value_payroll[0],
						max: datas
					};
				} else {
					brokerData.minimum_annual_payroll = {
						min: null,
						max: null
					};
				}
				// brokerData.minimum_annual_payroll= this.annualPayrollValue
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 7) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.rush_request = this.rushRequests;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 8) {
				this.isActive = true;
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.target_new_venture = this.newVenture;
				localStorage.brokerData = JSON.stringify(brokerData);
				brokerData.flag = 1;
				brokerData.user_id = this.userDetails.user_id;
				postMethods
					.brokerLeadDataSubmit(brokerData, this.userDetails.token)
					.then(res => {
						if (res.error != true) {
							$("#broker-question").modal("hide");
							toastr.success(
								"Lead data added successfully. You can edit the data in dashboard section."
							);
							localStorage.removeItem("brokerData");
							if (
								this.$route.name == "getstarted" &&
								this.userDetails.user_type == 2
							) {
								this.isActive = false;
								router.push({
									name: "brokerdashboard",
									query: { route: "direct" }
								});
							} else if (
								this.$route.name == "getstarted" &&
								this.userDetails.user_type == 3
							) {
								this.isActive = false;
								router.push({
									name: "underwriterdashboard",
									query: { route: "direct" }
								});
							} else if (
								this.$route.name == "getstarted" &&
								this.userDetails.user_type == 4
							) {
								this.isActive = false;
								router.push({
									name: "marketingrepsdashboard",
									query: { route: "direct" }
								});
							} else {
								location.reload();
								this.isActive = false;
								bus.$emit("newBrokerLeadData", "test");
							}
						} else {
							toastr.error(res.message);
						}
					});
			} else if (no == 9) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.first_name = this.firstname;
				brokerData.last_name = this.lastname;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 10) {
				if (this.globalQuesNo < no) {
					this.globalQuesNo = no;
				}
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.email_address = this.email;
				localStorage.brokerData = JSON.stringify(brokerData);
			} else if (no == 11) {
				var brokerData = JSON.parse(localStorage.brokerData);
				brokerData.password = this.password;
				localStorage.brokerData = JSON.stringify(brokerData);
			}
		}
	}
};
</script>

<style>
.d_none {
	visibility: hidden;
}
</style>