<template>
	<div
		v-intro-autostart="autoStart"
		v-intro-autostart:on.complete="onComplete"
		v-intro-autostart:on.exit="onComplete"
	>
		<nexa-broker-dashboard-header
			:setActivedashboard="true"
			:setActicveMyTeam="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrap-content broker-dashboard">
			<div class="custom-container-fluid">
				<div class="agent-content-box">
					<div class="content-title">
						<div class="row">
							<div class="col-lg-9 col-sm-6 col-12">
								<div class="content-title">
									<h1>Opportunities that Match Your Filters</h1>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-12">
								<a href="#" class="btn btn-primary" @click="check()">
									Add new filter
									<span>
										<i class="fa fa-plus"></i>
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="broker-tabing">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a
									class="nav-link active"
									id="profile-tab"
									data-toggle="tab"
									href="#profile"
									role="tab"
									aria-controls="profile"
									aria-selected="false"
								>From your Team(s)</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									id="home-tab"
									data-toggle="tab"
									href="#home"
									role="tab"
									aria-controls="home"
									aria-selected="true"
								>From your Filter(s)</a>
							</li>
							<li class="nav-item">
								<a
									class="nav-link"
									id="filter-tab"
									data-toggle="tab"
									href="#filters"
									role="tab"
									aria-controls="home"
									aria-selected="true"
								>Active Filter</a>
							</li>
						</ul>
					</div>
					<!-- Pending -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<span
											v-if="brokerLeadDataListPending.length>0"
										>{{brokerLeadDataListPending.length}} Matches for you.</span>
										<span v-else>No Matches for you.</span>
									</div>
									<div class="col-lg-6 col-7">
										<div class="form-group form-inline">
											<label for="exampleFormControlInput1">Show</label>
											<select class="form-control" v-model="filterValue" id="exampleFormControlSelect2">
												<option value="0">All</option>
												<option v-tooltip="{content:'Full Market Participation'}" value="1">Full Market...</option>
												<option value="2">Rush Orders</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!-- box 1 -->
							<div v-if="brokerLeadDataListPending.length>0" class="content-box dashboard-content">
								<ul
									v-for="(data,i) in brokerLeadDataListPending"
									:key="i"
									:id="'agents_questions_id_'+data.id"
									:class="{'background-color-clicked':selectedClass == data.id}"
								>
									<li class="user-per">
										<a href="#" class="cursor-non-link">{{data.percentage}}%</a>
										<p>Match</p>
									</li>
									<li class="user-name">
										<h2 class="cursor-non-link">{{data.first_name}} {{data.last_name}}- {{data.interest}}</h2>
										<p class="cursor-non-link">{{data.created_at | moment("calendar")}}</p>
									</li>
									<li class="rush">
										<a
											v-if="data.response_brokers==4"
											class="full-market cursor-non-link"
										>Full Market Participation</a>
										<a v-if="data.rush_request!=null" class="cursor-non-link" href="#">Rush Order</a>
									</li>
									<li class="image-box"></li>
									<li class="view-button">
										<a @click="chatpage(data)" class="btn btn-info">Chat</a>
									</li>
								</ul>
							</div>
							<div v-else class="content-box dashboard-content">
								<ul>
									<h2 class="center-align-ul">No Matches found.</h2>
								</ul>
							</div>
						</div>

						<!-- connect -->
						<div
							class="tab-pane fade show active"
							id="profile"
							role="tabpanel"
							aria-labelledby="profile-tab"
						>
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<span
											v-if="brokerLeadDataListConnected.length>0"
										>{{brokerLeadDataListConnected.length}} Connections shared directly</span>
										<span v-else>No Connections shared directly</span>
									</div>
									<div class="col-lg-6 col-7"></div>
								</div>
							</div>
							<div v-if="brokerLeadDataListConnected.length>0" class="content-box dashboard-content">
								<ul
									v-for="(data,i) in brokerLeadDataListConnected"
									:key="i"
									:id="'agents_questions_id_'+data.id"
									:class="{'background-color-clicked':selectedClass == data.id}"
								>
									<li class="user-per">
										<img class="image-class" v-if="data.profile_pic!=null" :src="url+data.profile_pic" alt />
										<img
											class="image-class"
											v-else-if="data.profile_pic==null&&data.linkedin_pic!=null"
											:src="data.linkedin_pic"
											alt
										/>
										<img class="image-class" v-else src="@/assets/img/borker.png" alt />
									</li>
									<li class="user-name">
										<h2 class="cursor-non-link">{{data.first_name}} {{data.last_name}}- {{data.interest}}</h2>
										<p class="cursor-non-link">{{data.created_at | moment("calendar")}}</p>
									</li>
									<li class="rush">
										<a
											v-if="data.response_brokers==4"
											class="full-market cursor-non-link"
										>Full Market Participation</a>
										<a v-if="data.rush_request!=null" class="cursor-non-link" href="#">Rush Order</a>
									</li>
									<li class="image-box"></li>
									<li class="view-button">
										<a @click="chatpage(data)" class="btn btn-info">Chat</a>
									</li>
								</ul>
							</div>
							<div v-else class="content-box dashboard-content">
								<ul>
									<h2
										class="center-align-ul"
									>No one sends you a market search till now. Please wait for getting connection.</h2>
								</ul>
							</div>
						</div>
						<div class="tab-pane fade" id="filters" role="tabpanel" aria-labelledby="filter-tab">
							<div class="connection">
								<div class="row">
									<div class="col-lg-6 col-5">
										<span
											v-if="brokerLeadDataListConnected.length>0"
										>{{brokerLeadDataListConnected.length}} Active filter available</span>
										<span v-else>No filters created yet</span>
									</div>
									<div class="col-lg-6 col-7"></div>
								</div>
							</div>
							<div class="content-box">
								<ul v-for="(data,i) in brokerFilterLeadDataLists" :key="i">
									<li class="user-name" style="padding-top: 0px;width:35%;">
										<h2>{{data.interests}}</h2>
									</li>
									<li class="pending-button" style="padding-top: 0px;width:35%;">
										<div class="switch-icon" style="margin-bottom: 0px;">
											<button
												type="button"
												@click="triggerClick($event,data.id)"
												class="btn btn-lg btn-toggle btn-lead-data-status"
												:class="{'active':data.preference==1}"
												ref="pills_signup"
												data-toggle="button"
												aria-pressed="true"
												autocomplete="off"
											>
												<div class="handle"></div>
											</button>
										</div>
									</li>
									<li class="remove-button" style="padding-top: 0px;width:31.5%;">
										<a href="#" @click="deleteLeadData(data.id)" class="btn btn-danger">
											<span>
												<i class="fa fa-trash"></i>
											</span> Delete Filter
										</a>
									</li>
								</ul>
							</div>
							<div class="content-box" v-if="brokerFilterLeadDataLists==0">
								<ul>
									<h2>No active filter found</h2>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nexa-footer />
		<nexa-broker-dashboard-modal />
	</div>
</template>

<script>
import VueElementLoading from "vue-element-loading";
import "chat-engine-uploadcare";
import util from "@/util";
import { chatEngine, pubnub, bus, channel, pusher } from "@/main";
import { EventBus } from "@/event-bus";
import ChatEngineCore from "chat-engine";
import store from "@/store";
import "../../../../node_modules/chat-engine-typing-indicator/dist/chat-engine-typing-indicator.js";
import NexaBrokerDashboardHeader from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader";
import NexaBrokerDashboardModal from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardModal";
import NexaFooter from "@/components/NexaFooter";
import router from "@/router";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";
import push from "push.js";
export default {
	components: {
		NexaBrokerDashboardHeader,
		NexaBrokerDashboardModal,
		NexaFooter,
		VueElementLoading
	},
	data() {
		return {
			brokerLeadDataListConnected: [],
			brokerLeadDataListPending: [],
			url: process.env.VUE_IMAGE_URL,
			chatKey: null,
			myUuid: null,
			me: null,
			chatLoaded: true,
			filterValue: null,
			selectedClass: this.$route.params
				? this.$route.params.match_id
				: null,
			isActive: false,
			autoStart: false,
			brokerFilterLeadDataLists: []
		};
	},
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	watch: {
		filterValue(newval, oldval) {
			if (newval == 0) {
				this.getBrokerLeadData();
			} else if (newval == 1) {
				this.brokerLeadDataListPendingFullMarket();
			} else {
				this.brokerLeadDataListPendingRushOrders();
			}
		}
	},
	mounted() {
		this.onComplete();
		this.leadDatalists();
		bus.$on("notification-click-matches", res => {
			this.selectedClass = res.match_id;
		});
		this.getBrokerLeadData();
		this.myUuid = "chating-rooms-" + this.userDetails.user_id;
		this.me = this.userDetails;
		chatEngine.connect(this.myUuid, this.me);
		this.filterValue = "0";
		chatEngine.on("$.ready", function(data) {
			// store my new user as `me`
			var vm = this;
			let me = data.me;
			store.commit("setMe", { me });
			this.chatLoaded = false;
			me.direct.on("$.invite", event => {
				let uuids = [event.sender.uuid, store.state.me.uuid].sort();
				this.chatKey = uuids.join("-");
				// Don't make the same 1:1 chat if it already exists
				if (store.state.chats[this.chatKey]) {
					return;
				}
				// Make the new 1:1 private Chat
				util.newChatEngineChat(
					store,
					chatEngine,
					{
						chatKey: this.chatKey,
						uuid: event.sender.uuid
					},
					true
				);
			});
		});
		channel.bind(
			"matches",
			function(data) {
				if (this.userDetails.user_id == data.reciever_id) {
					push.create("Nexa", {
						body: data.message,
						icon: this.push_icon_url + "Nexa-80-80.png",
						timeout: 6000,
						onClick: function() {
							console.log(this);
						}
					});
					this.getBrokerLeadData();
				}
			}.bind(this)
		);
		channel.bind("chat-request", function(data) {
			if (this.userDetails.user_id == data.reciever_id) {
				push.create("Nexa", {
					body: data.message,
					icon: this.push_icon_url + "Nexa-80-80.png",
					timeout: 6000,
					onClick: function() {
						console.log(this);
					}
				});
				this.getBrokerLeadData();
			}
		});
		bus.$on("lead-data-search", res => {
			console.log(res);
			var data = {
				broker_id: this.userDetails.user_id,
				key: res
			};
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.brokerMatchingDataSearchPending(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
					}
				});
			// }else if(active=='connected'){
			//     getMethods.brokerMatchingDataSearchConnected(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }
			//         })
			// }
		});
	},
	methods: {
		check() {
			this.$router.push({ name: "brokermarketfiltercreation" });
		},
		leadDatalists() {
			var data = {
				broker_id: this.userDetails.user_id,
				user_type: this.userDetails.user_type
			};
			getMethods
				.getBrokerLeadDataFilterLists(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerFilterLeadDataLists = res.data;
						for (var i = 0; i < res.data.length; i++) {
							if (res.data[i].preference == 1) {
								res.data[i].color = "green";
							} else {
								res.data[i].color = "red";
							}
						}
					} else {
						toastr.error(res.message);
					}
				});
		},
		deleteLeadData(id) {
			var data = { id: id, user_type: this.userDetails.user_type };
			postMethods
				.brokerLeadDataDelete(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.leadDatalists();
						toastr.success(res.message);
					} else {
						toastr.error(res.message);
					}
				});
		},
		triggerClick($event, id) {
			var data = {
				id: id,
				user_type: this.userDetails.user_type
			};
			if ($($event.target).hasClass("active")) {
				data.preference = 0;
			} else {
				data.preference = 1;
			}
			postMethods
				.brokerLeadDataPreferenceEdit(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.leadDatalists();
						toastr.success(res.message);
					} else {
						toastr.error(res.message);
					}
				});
		},
		onComplete() {
			if (!localStorage.getItem("dashboard-set")) {
				this.$swal.fire({
					allowOutsideClick: false,
					title: "This is the Dashboard",
					text:
						"From your dashboard you can create new market searches, access your inventory, message your team, add new team members, and create sub teams."
				});
				var data = this.userDetails;
				data.new_user = "";
				store.commit("currentUserDetailsAdd", data);
				localStorage.setItem("dashboard-set", this.userDetails.user_id);
			} else {
				var value = localStorage.getItem("dashboard-set");
				if (value != this.userDetails.user_id) {
					this.$swal.fire({
						allowOutsideClick: false,
						title: "This is the Dashboard",
						text:
							"From your dashboard you can create new market searches, access your inventory, message your team, add new team members, and create sub teams."
					});
					var data = this.userDetails;
					data.new_user = "";
					store.commit("currentUserDetailsAdd", data);
					localStorage.setItem(
						"dashboard-set",
						this.userDetails.user_id
					);
				}
			}
		},
		getBrokerLeadData() {
			this.isActive = true;
			getMethods
				.getMatchingLeadDataConnected(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListConnected = [];
						// console.log(this.brokerLeadDataListConnected.length)
						var data = Object.keys(res.data).map(i => res.data[i]);
						// console.log(data)
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListConnected.push(data[i]);
						}
					} else {
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
					// console.log(res)
				});
			getMethods
				.getMatchingLeadDataPending(
					{ broker_id: this.userDetails.user_id },
					this.userDetails.token
				)
				.then(res => {
					this.isActive = false;
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
						this.isActive = false;
						if (data.length == 0) {
							if (
								!this.$cookies.isKey(
									"broker_lead_data_matching_not_found"
								)
							) {
								this.$cookies.set(
									"broker_lead_data_matching_not_found",
									this.randomNumber(),
									60 * 60 * 24
								);
								// this.$swal
								// 	.fire({
								// 		text:
								// 			"No matches is found yet. We will notify you when appropriate matches found. Or else you can create a new filter in the account section.",
								// 		type: "question",
								// 		confirmButtonColor: "#3085d6",
								// 		cancelButtonColor: "#d33",
								// 		confirmButtonText: "Create New Filter"
								// 	})
								// 	.then(result => {
								// 		if (result.value) {
								// 			router.push({
								// 				name: "accounts",
								// 				params: {
								// 					link: "lead_data_filter_add"
								// 				}
								// 			});
								// 		}
								// 	});
							}
						}
					} else {
						this.isActive = false;
						this.brokerLeadDataListConnected = [];
						toastr.error(res.message);
					}
				})
				.catch(res => {
					this.isActive = false;
				});
		},
		randomNumber() {
			var text = "";
			var possible =
				"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for (var i = 0; i < 5; i++)
				text += possible.charAt(
					Math.floor(Math.random() * possible.length)
				);

			return text;
		},
		brokerLeadDataListPendingRushOrders() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 2
			};
			var active = $("#myTab")
				.find(".active")
				.attr("id");
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }

			//             })
			// }else if(active=='connected'){
			//      getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMatchingLeadDataPendingFilter(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		brokerLeadDataListPendingFullMarket() {
			var data = {
				broker_id: this.userDetails.user_id,
				flag: 1
			};
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			//     getMethods.getMatchingLeadDataPendingFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//                 if(res.error==false){
			//                     this.brokerLeadDataListPending = res.data
			//                 }else{
			//                     toastr.error(res.message)
			//                 }
			//             })
			// }
			// var active = $('#myTab').find('.active').attr('id');
			// if(active=='pending'){
			getMethods
				.getMatchingLeadDataPendingFilter(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.brokerLeadDataListPending = [];
						var data = Object.keys(res.data).map(i => res.data[i]);
						for (var i = 0; i < data.length; i++) {
							this.brokerLeadDataListPending.push(data[i]);
						}
					} else {
						this.brokerLeadDataListPending = [];
						toastr.error(res.message);
					}
				});
			// }else if(active=='connected'){
			//     getMethods.getMatchingLeadDataConnectedFilter(data,this.userDetails.token)
			//         .then(res=>{
			//             if(res.error==false){
			//                 this.brokerLeadDataListConnected=[]
			//                 var data = Object.keys(res.data).map(i => res.data[i])
			//                 for(var i=0;i<data.length;i++){
			//                     this.brokerLeadDataListConnected.push(data[i])
			//                 }
			//             }else{
			//                 toastr.error(res.message)
			//             }

			//         })
			// }
		},
		chatpage(data) {
			console.log(data);
			if (data.brokers_questions_id) {
				var datas = {
					user_type: this.userDetails.user_type,
					broker_id: this.userDetails.user_id,
					agents_questions_id: data.id,
					brokers_questions_id: data.brokers_questions_id
				};
			} else {
				data.brokers_questions_id = this.userDetails.user_id;
				var datas = {
					user_type: this.userDetails.user_type,
					broker_id: this.userDetails.user_id,
					agents_questions_id: data.id,
					brokers_questions_id: this.userDetails.user_id
				};
			}
			postMethods
				.sendChatRequest(datas, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						toastr.success(res.message);
					} else {
						toastr.error(res.message);
					}
				});
			store.commit("changeQuestionId", data.id);
			store.commit("selected_interest_data", data);
			bus.$emit("chat_page_called", "test");
			router.push({
				name: "brokerchatpage",
				params: {
					id: data.id,
					brokers_questions_id: data.brokers_questions_id,
					agent_id: data.agent_id
				}
			});
		}
	}
};
</script>
<style scoped>
.center-align-ul {
	margin-top: 3%;
	margin-bottom: 3%;
	text-align: center;
}
.overflow-auto {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}
/* .request{ 
    font-size: 12px; 
    color: #4ecc9a; 
}
.request:before{ 
    font-size: 12px; 
    color: #4ecc9a; 
    position: absolute; 
    left: 0; 
    content: '\f00c';
    font-family: 'FontAwesome';
} */
.broker-dashboard .dropdown-toggle::after {
	display: contents;
	position: relative;
	top: 18%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.background-color-clicked {
	background-color: #d8e7fb;
}

.image-class {
	width: 60px !important;
	height: 60px !important;
	border-radius: 50px;
	padding-right: 0px !important;
	margin-left: 4px;
	border: 1px solid;
}
</style>
