<template>
	<div>
		<nexa-agent-dashboard-header
			v-if="userDetails.user_type==1"
			:setActicveMyTeam="true"
			:setActivedashboard="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<nexa-broker-dashboard-header
			v-if="userDetails.user_type==2"
			:setActicveMyTeam="true"
			:setActivedashboard="false"
			:setActiveBroker="false"
			:setActiveAccount="false"
		/>
		<div class="wrap-content">
			<div class="custom-container-fluid">
				<div class="content-title">
					<div class="row">
						<div class="col-lg-3 col-sm-3 col-3">
							<h1>Your Teams</h1>
						</div>
						<div class="col-lg-9 col-sm-9 col-9">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4"></div>
								<div class="col-lg-4 col-md-4 col-sm-4"></div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<a href="#" class="btn btn-primary" @click="CreateTeam()">Create Sub team</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="agent-content-box team-listing">
					<div class="content-box" v-if="globalTeamList.length>0">
						<ul v-for="(data,i) in globalTeamList" :key="i">
							<li class="user-name">
								<h2>My Global Team</h2>
							</li>
							<li class="image-box">
								<div v-for="(data,i) in data.member_images" :class="'img'+(i+1)" :key="i">
									<img v-if="i<=4" class="image_members" :src="prepareImageUrl(data)" alt />
								</div>
								<span class="member-font">{{data.pic_count}} Members</span>
							</li>
							<li class="view-button">
								<a
									href="#"
									@click="currentTeamName='My Global Team',currentSubTeamId=data.team_id,ViewGlobalTeam(data.team_id,true)"
									class="btn btn-info"
								>View/Update</a>
							</li>
							<li class="pending-button" style="padding-top:0px;"></li>
						</ul>
					</div>
					<div class="content-box" v-else>
						<ul>
							<li class="user-name">
								<h2>My Global Team</h2>
							</li>
							<li class="image-box"></li>
							<li class="view-button">
								<a
									href="#"
									@click="currentTeamName='My Global Team',currentSubTeamId=data.team_id,ViewGlobalTeam(data.team_id,true)"
									class="btn btn-info"
								>View/Update</a>
							</li>
							<li class="pending-button" style="padding-top:0px;"></li>
						</ul>
					</div>
					<div class="content-box" v-if="subTeamDetails.length>0">
						<ul v-for="(data,i) in subTeamDetails" :key="i">
							<li class="user-name">
								<h2>{{data.sub_team_name}}</h2>
							</li>
							<li class="image-box">
								<div v-for="(data,i) in data.member_images" :class="'img'+(i+1)" :key="i">
									<img v-if="i<=4" class="image_members" :src="prepareImageUrl(data)" alt />
								</div>
								<span class="member-font">{{data.pic_count}} Members</span>
							</li>
							<li class="view-button">
								<a
									href="#"
									@click="currentTeamName=data.sub_team_name,currentSubTeamId=data.sub_team_id,ViewTeam(data.sub_team_id,false)"
									class="btn btn-info"
								>View/Update</a>
							</li>
							<li class="pending-button">
								<a
									href="#"
									@click="removeSubTeams(data.sub_team_id)"
									class="btn btn-danger"
									style="width:auto;"
								>
									<span>
										<i class="fa fa-trash"></i>
									</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<nexa-footer />
	</div>
</template>

<script>
import NexaAgentDashboardHeader from "@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader";
import NexaBrokerDashboardHeader from "@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader";
import NexaFooter from "@/components/NexaFooter";
import store from "@/store";
import { bus } from "@/main";
import router from "@/router";
import getMethods from "@/services/api/getMethods.js";
import postMethods from "@/services/api/postMethods.js";

export default {
	components: {
		NexaAgentDashboardHeader,
		NexaBrokerDashboardHeader,
		// NexaAgentDashboardModal,
		NexaFooter
	},
	data: () => ({
		globalTeamList: [],
		url: process.env.VUE_IMAGE_URL,
		team_name: null,
		subTeamDetails: [],
		subTeamMembersDetails: [],
		currentTeamName: "",
		search_value: null,
		addMembersToTeam: true,
		currentSubTeamId: null,
		nameEdit: false,
		add_team_members: [],
		otherTeamMembers: [],
		selectAllSubTeamAdd: false,
		search_value_add_sub_members: null,
		teamsAmAddedDetails: [],
		globalTeamId: null,
		createTeamButton: true,
		globalUserCount: 0,
		subTeamCount: 0
	}),
	computed: {
		userDetails() {
			return store.state.currentUserDetails;
		}
	},
	mounted() {
		this.getTeamDetails();
		this.subTeamListing();
	},
	methods: {
		removeSubTeams(id) {
			var data = {
				sub_team_id: id,
				user_type: this.userDetails.user_type
			};
			postMethods
				.deleteSubTeam(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.subTeamListing();
					} else {
						toastr.error(res.message);
					}
				});
		},
		getCount(team_id) {
			var value;
			getMethods
				.teamMemberCount({
					user_type: this.userDetails.user_type,
					team_id: team_id,
					key: true
				})
				.then(res => {
					this.globalUserCount = res;
				});
		},
		getTeamDetails() {
			getMethods
				.globalTeamListing({
					user_type: this.userDetails.user_type,
					user_id: this.userDetails.user_id
				})
				.then(response => {
					this.globalTeamList = response.data;
					for (var i = 0; i < this.globalTeamList.length; i++) {
						if (this.globalTeamList[i].member_images != null) {
							var array = this.globalTeamList[i].member_images;
							this.globalTeamList[i].member_images = array.split(
								","
							);
						}
					}
					this.globalTeamId = response.data[0].team_id;
					this.getCount(response.data[0].team_id);
				})
				.catch(err => {
					console.log(err);
				});
		},
		subTeamListing() {
			var data = {
				user_id: this.userDetails.user_id,
				user_type: this.userDetails.user_type
			};
			getMethods
				.getSubTeamDetails(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						this.subTeamDetails = res.data;
						for (var i = 0; i < this.subTeamDetails.length; i++) {
							if (this.subTeamDetails[i].member_images != null) {
								var array = this.subTeamDetails[i]
									.member_images;
								this.subTeamDetails[
									i
								].member_images = array.split(",");
							}
						}
					} else {
						toastr.error(res.message);
					}
				});
		},
		prepareImageUrl(image) {
			image = image.trim();
			if (
				image.substring(0, 8) == "https://" ||
				image.substring(0, 7) == "http://"
			) {
				return image;
			}
			return this.url + image;
		},
		CreateTeam() {
			router.push({
				name: "createteam",
				params: { global_team_id: this.globalTeamId, user: "agent" }
			});
		},
		ViewGlobalTeam(team_id) {
			var data = {
				user_id: this.userDetails.user_id,
				user_type: this.userDetails.user_type,
				team_id: team_id
			};
			getMethods
				.getGlobalTeamDetails(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						// $('#teamListing').modal('show')
						// this.subTeamMembersDetails=res.data
						store.commit("setSubMemberDetails", res.data);
						router.push({
							name: "teamview",
							params: {
								user: "agent",
								team_id: this.currentSubTeamId,
								team_name: this.currentTeamName,
								list_details: res.data,
								global: true
							}
						});
					} else {
						toastr.error(res.message);
					}
				});
		},
		ViewTeam(sub_team_id, global) {
			var data = {
				user_id: this.userDetails.user_id,
				user_type: this.userDetails.user_type,
				sub_team_id: sub_team_id,
				global: global
			};
			getMethods
				.getSubTeamMembersDetails(data, this.userDetails.token)
				.then(res => {
					if (res.error == false) {
						// $('#teamListing').modal('show')
						// this.subTeamMembersDetails=res.data
						store.commit("setSubMemberDetails", res.data);
						router.push({
							name: "teamview",
							params: {
								user: "agent",
								team_id: this.currentSubTeamId,
								team_name: this.currentTeamName,
								list_details: res.data,
								global: false
							}
						});
					} else {
						toastr.error(res.message);
					}
				});
		}
	}
};
</script>


<style>
.user-image-linked-in2 {
	/* padding-right: 0px !important; */
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
li.member-details {
	display: flex;
	margin-bottom: 10px;
}
.not-joined {
	font-size: 14px;
	color: black;
	border: 1px solid #e5e5e5;
	background-color: #e5e5e5;
	border-radius: 5px;
	padding: 4px 5px;
	margin-left: 0px;
	float: left;
}
.image_members {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
.image-box span {
	display: flex;
	justify-content: center;
}
.favourite-button-custom {
	width: 25% !important;
	padding-top: 25px;
	text-align: unset !important;
}
.user-name-button-custom {
	width: 75% !important;
}
</style>