<template>
<div>
    <nexa-agent-dashboard-header v-if="userDetails.user_type==1" :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
    <nexa-broker-dashboard-header v-if="userDetails.user_type==2" :setActicveMyTeam="false" :setActivedashboard="false"  :setActiveBroker="false"  :setActiveAccount="false"/>
        <div class="wrap-content borker-content">
            <div class="custom-container-fluid">
                <div class="content-title">
                    <h3>Build a Sub-Team</h3>
                    <p>Let's Name Your New Team</p>
                    <div class="row" style="margin-bottom:2%;">
                        <div class="col-lg-6 col-md-4" style="display: inline-flex;margin-bottom:1%;" >
                            <input type="text" id="team_name" v-model="teamName" @change="tempTeamName=teamName,teamNameSubmit()" @enter="tempTeamName=teamName,teamNameSubmit()" class="form-control" placeholder='e.g "Texas APT Team"' maxLength="70">
                        </div>
                        <div class="col-lg-2 col-md-3" style="margin-bottom:1%;">
                            <h6 v-if="subTeamMembersDetails">{{subTeamMembersDetails.length}} Members</h6>
                            <div v-for="(data,i) in subTeamMembersDetails" :class="'img'+(i+1)" :key="i">
                                <img v-if="i<=4&&data.profile_pic!=null" class="image_members_top" :src="url+data.profile_pic" alt="" >
                                <img v-if="i<=4&&data.profile_pic==null" class="image_members_top" src="@/assets/img/borker.png" alt="" >
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-5" style="margin-bottom:1%;">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="col-lg-12 col-md-12" style="margin-bottom:1%;">
                                    <button style="max-width: 215px;" :disabled="teamNameLength" class="btn btn-primary" @click="Cuthalf=!Cuthalf">Add Team Member</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="agent-content-box">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="content-box" v-if="subTeamMembersDetails&&subTeamMembersDetails.length>0"> 
                                <ul  v-for="(data,i) in subTeamMembersDetails" :key="i">
                                    <li class="user-name">
                                        <img class="custom-image-style-form" v-if="data.profile_pic!=null" :src="url+data.profile_pic" alt="">
                                        <img class="custom-image-style-form" v-else-if="data.profile_pic==null&&data.linkedin_pic!=null" :src="data.linkedin_pic" alt="">
                                        <img class="custom-image-style-form" v-else src="@/assets/img/borker.png"  alt="">
                                        <div class="user-detail">
                                            <h2>{{data.first_name}} {{data.last_name}}</h2>
                                            <p class="elipsis-class" v-if="data.email_address"><b>Email address:-</b> {{data.email_address}} </p>
                                            <p class="elipsis-class" v-if="data.member_email"><b>Email address:-</b> {{data.member_email}} </p>
                                            <p class="elipsis-class">
                                                <b v-if="data.user_type!=1">Brokerage name:-</b>
                                                <b v-if="data.user_type==1">Agency name:-</b>
                                                {{data.designation}}
                                            </p>
                                            <p class="elipsis-class">
                                                <b>Phone Number:-</b>
                                                {{data.phone_number}}
                                            </p>
                                            <p class="elipsis-class">
                                                <b>City:-</b>
                                                {{data.city}}
                                            </p>
                                            <p class="elipsis-class">
                                                <b>State:-</b>
                                                {{data.state}}
                                            </p>
                                        </div>
                                    </li>
                                    <li class="profile">
                                        <button class="btn btn-danger" @click="deleteSubTeamMember($event,data.user_id)"><span><i class="fa fa-trash"></i></span></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="content-box" v-else>
                                <ul v-if="!teamNameLength">
                                    <h2 >Select a team member. (Remember all of your are only visible to you.)</h2>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-5" v-if="Cuthalf==true">
                            <div class="wrap-content borker-content " style="padding: 0;">
                                <div class="custom-container-fluid" style="padding-right: 0;">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-section" style="margin:unset;">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" v-model="search_value" placeholder="Search" aria-label="" aria-describedby="basic-addon1">
                                                            <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group" style="display: flex;justify-content: center;">
                                                    <select id="BrokerSelectPickerTeamView" title="Sort" v-model="SortSelection" class="selectpicker form-control" data-width="75%">
                                                        <option value="1">A-Z</option>
                                                        <option value="2">Z-A</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box"> 
                                        <ul v-for="(data,i) in globalTeamMembersList" :key="i" style="padding: 10px;">
                                            <li class="check-box cursor-hand">
                                                <i class="fa fa-arrow-circle-left fa-2x float-left base-color cursor-hand" @click="addUsersToGroup(data.user_id)" aria-hidden="true"></i>
                                            </li>
                                            <li class="user-name" style="width:90%;">
                                                <img class="image-for-team-selection" v-if="data.profile_pic!=null" :src="url+data.profile_pic" alt="">
                                                <img class="image-for-team-selection" v-else-if="data.profile_pic==null&&data.linkedin_pic!=null" :src="data.linkedin_pic" alt="">
                                                <img class="image-for-team-selection" v-else src="@/assets/img/borker.png"  alt="">
                                                <div class="user-detail">
                                                    <h2>{{data.first_name}} {{data.last_name}}</h2>
                                                    <p class="elipsis-class" v-tooltip="{content:data.email_address}" v-if="data.email_address" ><b>Email address:-</b> {{data.email_address}} </p>
                                                    <p class="elipsis-class" v-tooltip="{content:data.member_email}" v-if="data.member_email"><b>Email address:-</b> {{data.member_email}} </p>
                                                    <p class="elipsis-class">
                                                        <b v-if="data.user_type!=1">Brokerage name:-</b> 
                                                        {{data.designation}}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- <ul>
                                             <li class="check-box cursor-hand">
                                                <i class="fa fa-envelope fa-2x float-left base-color cursor-hand" @click="inviteNewUsers(1)" aria-hidden="true"></i>
                                            </li>
                                            <li class="user-name" style="width:90%;">
                                                <img class="image-for-team-invite" src="@/assets/img/invite.png"  alt="">
                                                <div class="user-detail">
                                                    <p>Do you need to invite {{someone}} to NEXA</p>
                                                </div>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nexa-footer />
    </div>
</template>

<script>

import NexaAgentDashboardHeader from '@/components/NexaDashboard/NexaAgent/NexaAgentDashboardHeader'
import NexaBrokerDashboardHeader from '@/components/NexaDashboard/NexaBroker/NexaBrokerDashboardHeader'
import NexaFooter from '@/components/NexaFooter'
import store from '@/store'
import {bus} from '@/main'
import router from '@/router'
import getMethods from '@/services/api/getMethods.js'
import postMethods from '@/services/api/postMethods.js'
export default {
    components:{
        NexaAgentDashboardHeader,
        NexaBrokerDashboardHeader,
        NexaFooter,
    },
    data(){
        return{
            globalTeamList:[],
            url:process.env.VUE_IMAGE_URL,
            selected_team_members:[],
            selectAll:false,
            team_name:null,
            subTeamDetails:[], 
            subTeamMembersDetails:[],
            currentTeamName:null,
            teamName:'',
            tempTeamName:'',
            search_value:null,
            addMembersToTeam:true,
            currentSubTeamId: this.$route.params.global_team_id,
            nameEdit:false,
            add_team_members:[],
            otherTeamMembers:[],
            selectAllSubTeamAdd:false,
            search_value_sub_team_members_listing:null,
            search_value_add_sub_members:null,
            teamsAmAddedDetails:[],
            globalTeamMembersList:[],
            teamNameLength:true,
            SortSelection:null,
            Cuthalf:false,
            someone: "someone"
        }
    },
    watch:{
        search_value(newval,oldval){
			if(newval!=null||newval!=""){
				var data = {'key':newval,'user_id':this.userDetails.user_id,'user_type':this.userDetails.user_type,'sub_team_id':this.currentSubTeamId,'global':false}
				getMethods.createTeamListingSearch(data,this.userDetails.token)
					.then((res)=>{
						if(res.error!=true){
                            this.globalTeamMembersList = res.data
						}else{
							toastr.error(res.message)
						}
					})
			}
        },
        SortSelection(newval,oldval){
            if(newval!=null){
                var data = {'filter':newval,'user_id':this.userDetails.user_id,'user_type':this.userDetails.user_type,'sub_team_id':this.currentSubTeamId,'global':false}
                getMethods.getGlobalTeamMemberDetailForSubteamFilter(data,this.userDetails.token)
                    .then(res=>{
                        if(res.error!=true){
                            this.globalTeamMembersList = res.data
                            for(var i=0;i<this.globalTeamMembersList.length;i++){
                                if(this.globalTeamMembersList[i].added_status==1){
                                    var error = false
                                    for(var j=0;j<this.selected_team_members.length;j++){
                                        if(this.selected_team_members[j]==this.globalTeamMembersList[i].global_id){
                                            error = true
                                        }
                                    }
                                    if(error==false){
                                        this.selected_team_members.push(this.globalTeamMembersList[i].global_id)
                                    }
                                }
                            }
                            this.someone = newval
						}else{
                            this.someone = "someone"
							toastr.error(res.message)
						}
                    })
            }
        },
    },
    updated(){
        $('#BrokerSelectPickerTeamView').selectpicker({refresh:true})
    },
    mounted(){
        $('#BrokerSelectPickerTeamView').selectpicker({refresh:true})
        this.getGlobalTeamMembersDetails(this.currentSubTeamId)
        $("#team_name").focus();
    },
    computed:{
        userDetails(){
            return store.state.currentUserDetails
        }
    },
    methods:{
        teamNameSubmit(){
            if(this.teamName.length>1 || /\s/.test(this.teamName)){
                this.teamNameLength=false
                var data = {
                    'global_team_id':this.$route.params.global_team_id,
                    'sub_team_name':this.teamName,
                    'user_type':this.userDetails.user_type,
                    'flag':1
                }
                postMethods.AddMembersToCreatedSubTeam(data,this.userDetails.token)
                        .then(res=>{
                            if(res.error==false){
                                toastr.success(res.message)
                                this.currentSubTeamId=res.data
                                this.currentTeamName=this.teamName
                            }else{  
                                toastr.error(res.message)
                            }
                        })
            }else{
                this.teamNameLength=true
                $("#team_name").focus();
            }
        },
        getGlobalTeamMembersDetails(team_id){
            var data = {
                'user_type': this.userDetails.user_type,
                'user_id': this.userDetails.user_id,
                'sub_team_id': team_id,
                'global': false
            }
            this.team_name=null
            this.search_value=null
            this.selectAll=null
            this.errors.clear()
            getMethods.createTeamListing(data,this.userDetails.token)
                .then(res=>{
                    if(res.error==false){
                        this.globalTeamMembersList=res.data
                    }else{
                        toastr.error(res.message)
                    }
                })
        },
        addUsersToGroup(user_id){
            var data = {
                'selected_members':user_id,
                'user_id':this.userDetails.user_id,
                'user_type':this.userDetails.user_type,
                'sub_team_id':this.currentSubTeamId,
                'global':false,
                'flag':3
            }
            postMethods.AddMembersToCreatedSubTeam(data,this.userDetails.token)
                .then(res=>{
                    if(res.error==false){
                        toastr.success(res.message)
                        this.getGlobalTeamMembersDetails(this.currentSubTeamId)
                        this.subTeamMembersListing(this.currentSubTeamId)
                    }else{  
                        toastr.error(res.message)
                    }
                })
        },
        subTeamMembersListing(sub_team_id){
            var data ={
                'user_id':this.userDetails.user_id,
                'user_type':this.userDetails.user_type,
                'sub_team_id':sub_team_id,
                'global':false
            }
            getMethods.getSubTeamMembersDetails(data,this.userDetails.token)
                .then(res=>{
                    if(res.error==false){
                        this.subTeamMembersDetails=res.data 
                    }
                })
        },
        deleteSubTeamMember($event,id){
            var data ={
                'global_user_id':id,
                'sub_team_id':this.currentSubTeamId,
                'sub_team_name':this.currentTeamName,
                'user_type':this.userDetails.user_type,
                'global':false,
            }
            postMethods.deleteSubTeamMember(data,this.userDetails.token)
                .then(res=>{
                    if(res.error==false){
                        toastr.success(res.message)
                        this.getGlobalTeamMembersDetails(this.currentSubTeamId)
                        this.subTeamMembersListing(this.currentSubTeamId)
                    }else{
                        toastr.error(res.message)
                    }
                })
        },
        inviteNewUsers (value) {
            if (value == 1) {
                $('#invitationModal').modal('show')
            } 
        }
    }
}
</script>

<style>
.user-image-linked-in2 {
	/* padding-right: 0px !important; */
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
li.member-details{
    display: flex;
    margin-bottom: 10px;
}
.not-joined {
    font-size: 14px;
    color: black;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 4px 5px;
    margin-left: 0px;
    float: left;
}
.image_members{
width: 35px;
    height: 35px;
    border-radius: 50%;
}
.image_members_top{
width: 25px;
    height: 25px;
    border-radius: 50%;
}
.favourite-button-custom{
    width: 25%!important;
    padding-top: 25px;
    text-align: unset!important;
}
.user-name-button-custom{
    width:75%!important;
}
.image-for-team-invite{
    width: 75px !important;
    height: 75px !important;
/*     border-radius: 50px; */
    padding-right: 0px !important;
    margin-left: 10px;
}
</style>
